{
  "host": "apimock.estaleiro.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1",
    "title": "API Consulta BPC",
    "description": "A API `Consulta BPC` é disponibilizada através de serviço `HTTP REST`, e tem o objetivo de apresentar o contexto funcional de Benefício da Previdência Social com as capacidades disponíveis para consumo.\n<br>\n## Campos Retornados \n| Nome  | Tipo | Conteúdo | \n| ---------------------- | ---------------------- | :------------------------------------------------------------- |\n| nit        | number        | NIT do titular do benefício, no formato 99999999999 |\n| nomeTitular     | string        | Nome do titular do benefício  |\n| dataNascimento | string | Data de nascimento do titular do benefício|\n| nomeMaeTitular | string | Nome da mãe do titular do benefício |\n| descricaoGenero | string | Gênero do titular do benefício |\n| numeroBeneficio | number | Número do benefício |\n| dataInicioBeneficio | string  | Data do início do benefício |\n| dataCessacaoBeneficio | string | Data de cessação do benefício |\n| codigoSituacaoBeneficio |number | Código de situação do benefício |\n| codigoEspecieBenefício | number | Código da espécie do benefício |\n| valorRendaMensalReajustada | number | Valor mensal do benefício |\n\n --------------------------\n\n\n## Tabela de Espécie de Benefício\n\n| Código da Espécie | Descrição da Espécie |\n| ---------------------- | :----------------------------------------------------------- |\n| 01 | PENSAO POR MORTE DE TRABALHADOR RURAL |\n| 02 | PENSAO POR MORTE ACIDENTARIA-TRAB. RURAL |\n| 03 | PENSAO POR MORTE DE EMPREGADOR RURAL |\n| 04 | APOSENTADORIA POR INVALIDEZ-TRAB. RURAL |\n| 05 | APOSENT. INVALIDEZ ACIDENTARIA-TRAB.RUR. |\n| 06 | APOSENT. INVALIDEZ EMPREGADOR RURAL |\n| 07 | APOSENTADORIA POR VELHICE - TRAB. RURAL |\n| 08 | APOSENT. POR IDADE - EMPREGADOR RURAL |\n| 09 | COMPL. ACIDENTE TRABALHO P/TRAB. (RURAL) |\n| 10 | AUXILIO DOENCA ACIDENTARIO - TRAB. RURAL |\n| 11 | AMPARO PREVIDENC. INVALIDEZ- TRAB. RURAL |\n| 12 | AMPARO PREVIDENC. IDADE - TRAB. RURAL |\n| 13 | AUXILIO DOENCA - TRABALHADOR RURAL |\n| 15 | AUXILIO RECLUSAO - TRABALHADOR RURAL |\n| 19 | PENSAO DE ESTUDANTE (LEI 7.004/82) |\n| 20 | PENSAO POR MORTE DE EX-DIPLOMATA |\n| 21 | PENSAO POR MORTE PREVIDENCIARIA |\n| 22 | PENSAO POR MORTE ESTATUTARIA |\n| 23 | PENSAO POR MORTE DE EX-COMBATENTE |\n| 24 | PENSAO ESPECIAL (ATO INSTITUCIONAL) |\n| 25 | AUXILIO RECLUSAO |\n| 26 | PENSAO POR MORTE ESPECIAL |\n| 27 | PENSAO MORTE SERVIDOR PUBLICO FEDERAL |\n| 28 | PENSAO POR MORTE REGIME GERAL |\n| 29 | PENSAO POR MORTE EX-COMBATENTE MARITIMO |\n| 30 | RENDA MENSAL VITALICIA POR INCAPACIDADE |\n| 31 | AUXILIO DOENCA PREVIDENCIARIO |\n| 32 | APOSENTADORIA INVALIDEZ PREVIDENCIARIA |\n| 33 | APOSENTADORIA INVALIDEZ AERONAUTA |\n| 34 | APOSENT. INVAL. EX-COMBATENTE MARITIMO |\n| 35 | AUXILIO-DOENCA DO EX-COMBATENTE |\n| 36 | AUXILIO ACIDENTE PREVIDENCIARIO |\n| 37 | APOSENTADORIA EXTRANUMERARIO CAPIN |\n| 38 | APOSENT. EXTRANUM. FUNCIONARIO PUBLICO |\n| 39 | AUXILIO INVALIDEZ ESTUDANTE |\n| 40 | RENDA MENSAL VITALICIA POR IDADE |\n| 41 | APOSENTADORIA POR IDADE |\n| 42 | APOSENTADORIA POR TEMPO DE CONTRIBUICAO |\n| 43 | APOSENT. POR TEMPO SERVICO EX-COMBATENTE |\n| 44 | APOSENTADORIA ESPECIAL DE AERONAUTA |\n| 45 | APOSENT. TEMPO SERVICO JORNALISTA |\n| 46 | APOSENTADORIA ESPECIAL |\n| 47 | ABONO PERMANENCIA EM SERVICO - 35 ANOS |\n| 48 | ABONO PERMANENCIA EM SERVICO - 30 ANOS |\n| 49 | APOSENTADORIA ORDINARIA |\n| 50 | AUXILIO DOENCA EXTINTO PLANO BASICO |\n| 51 | APOSENT. INVALIDEZ EXTINTO PLANO BASICO |\n| 52 | APOSENT. IDADE EXTINTO PLANO BASICO |\n| 53 | AUXILIO RECLUSAO EXTINTO PLANO BASICO |\n| 54 | PENSAO ESPECIAL VITALICIA - LEI 9793/99 |\n| 55 | PENSAO POR MORTE EXTINTO PLANO BASICO |\n| 56 | PENSAO VITALICIA SINDROME TALIDOMIDA |\n| 57 | APOSENT. TEMPO DE SERVICO DE PROFESSOR |\n| 58 | APOSENTADORIA DE ANISTIADOS |\n| 59 | PENSAO POR MORTE DE ANISTIADOS |\n| 60 | PENSAO ESPECIAL PORTADOR DE SIDA |\n| 61 | AUXILIO NATALIDADE |\n| 62 | AUXILIO FUNERAL |\n| 63 | AUXILIO-FUNERAL TRABALHADOR RURAL |\n| 64 | AUXILIO-FUNERAL EMPREGADOR RURAL |\n| 65 | PECULIO ESPECIAL SERVIDOR AUTARQUICO |\n| 66 | PEC. ESP. SERVIDOR AUTARQUICO |\n| 67 | PECULIO OBRIGATORIO EX-IPASE |\n| 68 | PECULIO ESPECIAL DE APOSENTADOS |\n| 69 | PECULIO DE ESTUDANTE |\n| 70 | RESTITUICAO CONTRIB. P/SEG. S/CARENCIA |\n| 71 | SALARIO-FAMILIA PREVIDENCIARIO |\n| 72 | APOSENT. TEMPO SERVICO - LEI DE GUERRA |\n| 73 | SALARIO FAMILIA ESTATUTARIO |\n| 74 | COMPLEMENTO DE PENSAO A CONTA DA UNIAO |\n| 75 | COMPLEMENTO DE APOSENT. A CONTA DA UNIAO |\n| 76 | SALARIO FAMILIA ESTATUTARIO |\n| 77 | SALARIO FAM. ESTATUTARIO SERVIDOR SINPAS |\n| 78 | APOSENTADORIA IDADE - LEI DE GUERRA |\n| 79 | VANTAGENS DE SERVIDOR APOSENTADO |\n| 80 | AUXILIO SALARIO MATERNIDADE |\n| 81 | APOSENTADORIA COMPULSORIA EX-SASSE |\n| 82 | APOSENTADORIA TEMPO DE SERVICO EX-SASSE |\n| 83 | APOSENTADORIA POR INVALIDEZ EX-SASSE |\n| 84 | PENSAO POR MORTE EX-SASSE |\n| 85 | PENSAO VITALICIA SERINGUEIROS |\n| 86 | PENSAO VITALICIA DEPENDENTES SERINGUEIRO |\n| 87 | AMP. SOCIAL PESSOA PORTADORA DEFICIENCIA |\n| 88 | AMPARO SOCIAL AO IDOSO |\n| 89 | PENSAO ESP. VITIMAS HEMODIALISE-CARUARU |\n| 90 | SIMPLES ASSIST. MEDICA P/ ACIDENTE TRAB. |\n| 91 | AUXILIO DOENCA POR ACIDENTE DO TRABALHO |\n| 92 | APOSENT. INVALIDEZ ACIDENTE TRABALHO |\n| 93 | PENSAO POR MORTE ACIDENTE DO TRABALHO |\n| 94 | AUXILIO ACIDENTE |\n| 95 | AUXILIO SUPLEMENTAR ACIDENTE TRABALHO |\n| 96 | PENSAO ESPECIAL HANSENIASE LEI 11520/07 |\n| 97 | PECULIO POR MORTE ACIDENTE DO TRABALHO |\n| 98 | BENEFICIO ASSIST.TRAB. PORTUARIO AVULSO |\n| 99 | AFASTAMENTO ATE 15 DIAS ACIDENTE TRAB. |\n \n --------------------------\n\n## Tabela de Situação de Benefício\n\n| Código da Situação | Descrição da Situação |\n| ---------------------- | :------------------------------------------------------------- |\n| 00 | ATIVO |\n| 01 | EXCLUÍDO |\n| 02 | CESSADO |\n| 03 | SUSPENSO |\n| 04 | SUSPENSO POR MARCA DE ERRO |\n| 05 | CESSADO POR CESS DO ORIGEM |\n| 06 | SUSPENSO P/ SUSP DO ORIGEM |\n| 07 | SUSPENSO PELO CONPAG |\n| 08 | CESSADO PELO SISOBI |\n| 09 | ESTAT TRANSF. ORGAO ORIGEM |\n| 10 | RECEBENDO MENSALID DE RECUPER 4 MESES |\n| 11 | RECEBENDO MENSALID DE RECUPER 18 MESES |\n| 12 | SUSPENSO REVISAO RUR/URB |\n| 13 | SUSPENSO POR ERRO DE NOME (POVOAMENTO) |\n| 14 | USPENSO - ORGAO PAGADOR DESCREDENCIADO |\n| 15 | SUSPENSO PELA INSPETORIA |\n| 16 | SUSPENSO PELA AUDITORIA |\n| 17 | CESSADO PELA INSPETORIA |\n| 18 | CESSADO PELA AUDITORIA |\n| 19 | RECEB MENSALID RECUP 4 MESES-INSPETORIA |\n| 20 | RECEB MENSALID RECUP 18 MESES-INSPETORIA |\n| 21 | SUSPENSO REVISAO RURAL/95 |\n| 22 | CESSADO REVISAO RURAL/95 |\n| 23 | SUSPENSO PELO SISOBI |\n| 24 | CANCELADO PELA AUDITORIA |"
  },
  "basePath": "/api",
  "paths": {
    "/consulta/bpc/{nit}": {
      "get": {
        "tags": [
          "Consultar BPC"
        ],
        "summary": "Consulta BPC",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "Apresenta o contexto funcional do Benefício da Previdência Social - BPC\n## CPFs para Degustação\n\n| Nit - ( cpf ) | Retorno | Observações |\n| ---------------------- | ---------------------- | :------------------------------------------------------------- |\n| 50836008383        | true |  |\n| 33391083409 | true | |\n| 10635333090 | true | |\n| 11297843479 | true | |\n| 45391982626 | true | |\n| 16779982296 | false | tem benefício na espécie 88 |\n| 72033893243 | false| tem benefício na espécie 88 |\n| 42441048520 | false | tem benefício na espécie 88 |\n| 10635333090 | false | tem benefício na espécie 41 |\n| 99632795202 | false | tem benefício na espécie 40 |\n| 47345461777 | false | tem benefício na espécie 91 |\n| 66429629902 | false | não tem benefício |\n| 48224856410 | false | não tem benefício |\n| 70763873870 | false | não tem benefício |\n\n --------------------------        \n  \n## Exemplo\n\n  #### Chamada\n  \n    https://apimock.estaleiro.serpro.gov.br/api/consulta/bpc/72033893243\n    \n  #### Retorno\n  \n    {\n      \"nit\":\"número do nit do titular do benefício\",\n      \"beneficios\": {\n          \"nome\":\"Nome do titular do benefício\",\n          \"dataNascimento\":\"Data de nascimento do titular do benefício\"\n          \"nomeMaeTitular\":\"Nome da mãe do titular do benefício\",\n          \"descricaoGenero\":\"Gênero do titular do benefício\",\n          \"numeroBeneficio\":\"Número do benefício\"\n          \"dataInicioBeneficio\":\"Data início do benefício\",\n          \"dataCessacaoBeneficio\":\"Data fim do benefício\",\n          \"codigoSituacaoBeneficio\":\"Codigo de situação do benefício\"\n          \"codigoEspecieBeneficio\":\"Código da espécie do benefício\",\n          \"valorRendaMensalReajustada\":\"Valor mensal do benefício\",\n       }\n    }        ",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "nit",
            "in": "path",
            "description": "Número do NIT (CPF)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados do BPC",
            "schema": {
              "$ref": "#/definitions/BPC"
            }
          },
          "400": {
            "description": "Para quaisquer erros do cliente."
          },
          "404": {
            "description": "Não existe BPC com o número do NIT informado."
          },
          "500": {
            "description": "Erros do backend e/ou dos servidores de dados"
          }
        }
      }
    }
  },
  "consumes": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "definitions": {
    "BPC": {
      "type": "object",
      "properties": {
        "nit": {
          "type": "number",
          "description": "Número do NIT - ( CPF )"
        },
        "beneficios": {
          "type": "object",
          "properties": {
            "nomeTitular": {
              "type": "string",
              "description": "Nome do titular do benefício"
            },
            "dataNascimento": {
              "type": "string",
              "description": "Data do nascimento do titular do benefício"
            },
            "nomeMaeTitular": {
              "type": "string",
              "description": "Nome da maẽ do titular do benefício"
            },
            "genero": {
              "type": "string",
              "description": "Gênero do titular do benefício"
            },
            "numeroBeneficio": {
              "type": "number",
              "description": "Número do benefício"
            },
            "dataInicioBeneficio": {
              "type": "string",
              "description": "Data do início do benefício"
            },
            "dataCessacaoBeneficio": {
              "type": "string",
              "description": "Data de cessação do benefício"
            },
            "codigoSituacaoBeneficio": {
              "type": "number",
              "description": "Código da situação do benefício"
            },
            "codigoEspecieBeneficio": {
              "type": "number",
              "description": "Código da espécie do benefício"
            },
            "valorRendaMensalReajustada": {
              "type": "number",
              "description": "Valor mensal do benefício"
            }
          }
        }
      }
    }
  }
}