{
  "host": "apimock.estaleiro.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1",
    "title": "API Consulta CEP",
    "description": "A API `Consulta CEP` é disponibilizada através de serviço `HTTP REST`. O objetivo da API Consulta CEP é disponibilizar um determinado endereço a partir do CEP"
  },
  "basePath": "/api",
  "paths": {
    "/consulta/cep/{cep}": {
      "get": {
        "tags": [
          "Consultar CEP"
        ],
        "summary": "Consulta CEP",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\nApresenta o endereço referente a um CEP\n## CEPs para Degustação\n| CEP | Retorno | Observações |\n| ---------------------- | ---------------------- | :------------------------------------------------------------- |\n| 31035536 | true |                 |\n| 66077830 | true |                 |\n| 80520170 | true |                 |\n| 88032000 | true |                 |\n| 90010390 | true |                 |\n| 52060901 | true |                 |\n| 41130530 | true |                 |\n--------------------------  \n## Exemplo\n\n  #### Chamada\n  \n    https://apimock.estaleiro.serpro.gov.br/api/consulta/cep/60130240\n    \n  #### Retorno\n  \n    {\n      \"bairro:\":\"São João do Tauape\",\n      \"cep:\":\"60130240\",\n      \"cidade:\":\"Fortaleza\",\n      \"complemento2:\":\"- até 1550 - lado par\",\n      \"end:\":\"Avenida Pontes Vieira\",\n      \"uf:\":\"CE\" ",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cep",
            "in": "path",
            "description": "Número do CEP",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados de endereço do referentes ao CEP",
            "schema": {
              "$ref": "#/definitions/ConsultaCep"
            }
          },
          "400": {
            "description": "CEP inválido."
          },
          "404": {
            "description": "CEP não encontrado"
          },
          "500": {
            "description": "Erros do backend e/ou dos servidores de dados"
          }
        }
      }
    }
  },
  "consumes": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "definitions": {
    "ConsultaCep": {
      "type": "object",
      "properties": {
        "bairro": {
          "type": "string"
        },
        "cep": {
          "type": "string"
        },
        "cidade": {
          "type": "string"
        },
        "complemento2": {
          "type": "string"
        },
        "end": {
          "type": "string"
        },
        "uf": {
          "type": "string"
        }
      }
    }
  }
}