{
  "host": "apigateway.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1",
    "title": "API Consulta CEP",
    "description": "A API `Consulta CEP` é disponibilizada através de serviço `HTTP REST`. O objetivo da API Consulta CEP é disponibilizar um determinado endereço a partir do CEP"
  },
  "basePath": "/consulta-cep/api",
  "paths": {
    "/consulta/cep/{cep}": {
      "get": {
        "tags": [
          "Consultar CEP"
        ],
        "summary": "Consulta CEP",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "Apresenta o endereço referente a um CEP\n## Exemplo\n\n  #### Chamada\n  \n    https://apigateway.serpro.gov.br/consulta-cep/api/consulta/cep/{cep}\n    \n  #### Retorno\n  \n    {\n      \"bairro:\":\"Setor Habitacional Vicente Pires\",\n      \"cep:\":\"72006075\",\n      \"cidade:\":\"Brasília\",\n      \"complemento2:\":\"{}\",\n      \"end:\":\"Rua 5 Chácara 101/1\",\n      \"uf:\":\"DF\" ",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cep",
            "in": "path",
            "description": "Número do CEP",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados de endereço do referentes ao CEP",
            "schema": {
              "$ref": "#/definitions/ConsultaCep"
            }
          },
          "400": {
            "description": "CEP inválido."
          },
          "404": {
            "description": "CEP não encontrado"
          },
          "500": {
            "description": "Erros do backend e/ou dos servidores de dados"
          }
        }
      }
    }
  },
  "consumes": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "definitions": {
    "ConsultaCep": {
      "type": "object",
      "properties": {
        "bairro": {
          "type": "string"
        },
        "cep": {
          "type": "string"
        },
        "cidade": {
          "type": "string"
        },
        "complemento2": {
          "type": "string"
        },
        "end": {
          "type": "string"
        },
        "uf": {
          "type": "string"
        }
      }
    }
  }
}