{
  "host": "apigateway.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Verificação de Carimbo de Tempo",
    "description": "O serviço `Verificação de Carimbo de Tempo` é disponibilizado através do `HTTP REST` oferencendo operação para validação de Carimbo de Tempo solicitado para outras API's do SERPRO.\n## Códigos de Retorno\n| Código de retorno | Resumido | Explicação |\n| ------------- |:--------------------|:-----------------------------------------------------------------------------|\n| 200           | OK                  | O carimbo de tempo é válido para o documento informado. |\n| 500           | Requisição inválida | O carimbo de tempo informado não é válido para o documento informado. Mensagem de erro pode ser enviada com informações adicionais. |\n\n## Endereço de Produção\n    https://apigateway.serpro.gov.br/checkstamp/1/check\n    \n## Endereço de degustação\n    https://apigateway.serpro.gov.br/checkstamp-trial/1/check\n    "
  },
  "basePath": "/checkstamp/1",
  "paths": {
    "/check": {
      "post": {
        "summary": "Verifica o carimbo de tempo para o documento informado",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n\n    [POST] https://apigateway.serpro.gov.br/checkstamp-trial/1/check\n\n<br>\n\n#### Conteudo do corpo (este conteúdo pode ser utilizado para degustação)\n#### Caso deseje uma resposta inválida, basta mudar o número do CPF do campo \"ni\"\n\n    { \n      \"document\":[\n        {\n          \"ni\": \"99999999999\",\n          \"nome\": \"Nome do CPF 999.999.999-99\",\n          \"nascimento\": \"01011994\",\n          \"situacao\": {\n            \"codigo\": \"0\",\n            \"descricao\": \"Regular\"\n          }\n      }],\n      \"timestamp\" : {\n        \"base64\" : \"QXF1aSB2YWkgYSBhc3NpbmF0dXJhLCBlbSBCYXNlNjQsIGRvIGNhcmltYm8gZGUgdGVtcG8gcmVjZWJpZG8gcGVsbyB1c3XDoXJpbywgbmFzIHJlcXVpc2nDp8O1ZXMgZGFzIG91dHJhcyBBUEkuIEVzdGEgYXNzaW5hdHVyYSBlc3TDoSBlbSB0YW1hbmhvIGJhc3RhbnRlIHJlZHV6aWRvLCB1dGlsaXphZG8gYXBlbmFzIHBhcmEgZmlucyBkaWTDoXRpY29zLg==\"\n      }\n    }\n  #### Retorno\n  \n    {\n      \"status\": \"Success\",\n      \"message\":\"Documento assinado em 08-Jan-2018 23:12:55:9 GMT\",\n    }      \n  \n  \n  #### Exemplo de conteúdo do corpo para Datavalid\n  #### Caso deseje uma resposta inválida, basta mudar os valores do campos \"nome\" e/ou \"nome_similaridade\"          \n    { \n      \"document\":[{\n        \"nome\": false,\n        \"nome_similaridade\": 0.2692307692307693,\n        \"sexo\": true,\n        \"data_nascimento\": false,\n        \"situacao_cpf\": true,\n        \"filiacao\": {\n            \"nome_mae\": false,\n            \"nome_mae_similaridade\": 0.2592592592592593,\n            \"nome_pai\": false,\n            \"nome_pai_similaridade\": 0.09523809523809523\n        },\n        \"nacionalidade\": true,\n        \"endereco\": {\n            \"logradouro\": false,\n            \"logradouro_similaridade\": 0.11111111111111116,\n            \"numero\": false,\n            \"numero_similaridade\": 0.16666666666666663,\n            \"complemento\": false,\n            \"complemento_similaridade\": 0.05882352941176472,\n            \"bairro\": false,\n            \"bairro_similaridade\": 0.16666666666666663,\n            \"cep\": false,\n            \"municipio\": false,\n            \"municipio_similaridade\": 0.15384615384615385,\n            \"uf\": false,\n            \"uf_similaridade\": 0\n        },\n        \"documento\": {\n            \"numero\": false,\n            \"orgao_expedidor\": false,\n            \"uf_expedidor\": true\n        },\n        \"cnh\": {\n            \"nome\": false,\n            \"nome_similaridade\": 0.2692307692307693\n        }\n    }],\n      \"timestamp\" : {\n        \"base64\" : \"QXF1aSB2YWkgYSBhc3NpbmF0dXJhLCBlbSBCYXNlNjQsIGRvIGNhcmltYm8gZGUgdGVtcG8gcmVjZWJpZG8gcGVsbyB1c3XDoXJpbywgbmFzIHJlcXVpc2nDp8O1ZXMgZGFzIG91dHJhcyBBUEkuIEVzdGEgYXNzaW5hdHVyYSBlc3TDoSBlbSB0YW1hbmhvIGJhc3RhbnRlIHJlZHV6aWRvLCB1dGlsaXphZG8gYXBlbmFzIHBhcmEgZmlucyBkaWTDoXRpY29zLg==\"\n      }\n    }\n  #### Retorno\n  \n    {\n      \"status\": \"Success\",\n      \"message\": \"Documento assinado em 28-Fev-2018 22:13:41:9 GMT\"\n    }    ",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Informações do documento e da assinatura a serem verificados.",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VerificaAssinatura"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A assinatura foi verificada",
            "schema": {
              "$ref": "#/definitions/RetornoAssinatura"
            }
          },
          "500": {
            "description": "Não foi possível verificar a assinatura",
            "schema": {
              "$ref": "#/definitions/AssinaturaInvalida"
            }
          }
        }
      }
    }
  },
  "schemes": [
    "https",
    "http"
  ],
  "definitions": {
    "VerificaAssinatura": {
      "properties": {
        "document": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Document"
          }
        },
        "timestamp": {
          "type": "object",
          "properties": {
            "base64": {
              "type": "string"
            }
          }
        }
      }
    },
    "RetornoAssinatura": {
      "properties": {
        "status": {
          "type": "string",
          "example": "Sucess"
        },
        "message": {
          "type": "string",
          "example": "Documento assinado em dd-MMM-yyyy HH:mm:ss:S z"
        }
      }
    },
    "AssinaturaInvalida": {
      "properties": {
        "status": {
          "type": "string",
          "example": "Warning"
        },
        "message": {
          "type": "string",
          "example": "O documento fornecido não corresponde ao do carimbo de tempo!"
        }
      }
    },
    "Document": {
      "properties": {
        "document": {
          "type": "object"
        }
      }
    }
  }
}