{
  "swagger": "2.0",
  "info": {
    "version": "api",
    "title": "Consulta Contracheque",
    "description": "\nPara informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em: http://devserpro.github.io/apis/ \n\n    \nA api `consulta-contracheque` permite a consulta de contracheques de servidores ativos/aposentados e pensionistas do Poder Executivo Federal via serviço `HTTP Rest`.\n## Endereços de Produção\n\n  https://gateway.apiserpro.serpro.gov.br/consulta-contracheque/api\n\n## Endereços de Degustação\n\n  https://gateway.apiserpro.serpro.gov.br/consulta-contracheque-trial/api\n  "
  },
  "host": "apigateway.serpro.gov.br",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "basePath": "/consulta-contracheque/api",
  "paths": {
    "/v1/contracheque/{matricula}/{tipoFolha}/{ano}/{mes}": {
      "get": {
        "tags": [
          "Contracheque"
        ],
        "summary": "Consultar Contracheque",
        "description": "\nRetorna o contracheque correspondente ao mês informado, referente ao Orgão e Matrícula do Servidor/Pensionista informado.\n\n## Exemplo\n#### Chamada\n      [GET] https://gateway.apiserpro.serpro.gov.br/consulta-contracheque-trial/api/v1/contracheque/123456789012/1/2018/1\n\n#### Retorno \n    {\n        \"ano\": 2018,\n        \"desconto\": 178.29,\n        \"rubricasRendimentos\": [\n          {\n            \"tipo\": \"R\",\n            \"valor\": 1150.8,\n            \"nome\": \"PROVENTO BASICO\",\n            \"valorFormatado\": \"1.150,80\"\n          },\n          {\n            \"tipo\": \"R\",\n            \"valor\": 1341.24,\n            \"nome\": \"ADIC.TEMPO SERV.L.8112/90-APOS\",\n            \"valorFormatado\": \"1.341,24\"\n          },\n          {\n            \"tipo\": \"R\",\n            \"valor\": 6.95,\n            \"nome\": \"VANT.PES.ART 13 LEI 8216 APOS.\",\n            \"valorFormatado\": \"6,95\"\n          },\n          {\n            \"tipo\": \"R\",\n            \"valor\": 670.62,\n            \"nome\": \"GRAT.DESEMP.ATIV.TRIBUTARIA AP\",\n            \"valorFormatado\": \"670,62\"\n          },\n          {\n            \"tipo\": \"R\",\n            \"valor\": 1622.4,\n            \"nome\": \"PENSAO CIVIL\",\n            \"valorFormatado\": \"1.622,40\"\n          },\n          {\n            \"tipo\": \"R\",\n            \"valor\": 1622.4,\n            \"nome\": \"PENSAO COMPLEMENTAR - CIVIL\",\n            \"valorFormatado\": \"1.622,40\"\n          }\n        ],\n        \"baseCalculoIR\": \"2.186,80\",\n        \"pensionista\": {\n          \"distribuicaoCotas\": \"1/4\",\n          \"inicioPensao\": \"17 NOV 1943\",\n          \"amparoLegal\": \"MONTEPIO CIVIL COMBINADA COM LEI 6782/80\",\n          \"percentualRemuneracao\": \"100 %\",\n          \"matriculaSiapeInstituidor\": \"00154587\",\n          \"cpf\": \"111.111.111-11\",\n          \"nomeInstituidor\": \"INSTITUIDOR DA SILVA\",\n          \"cargoInstituidor\": \"*** **** **\",\n          \"nome\": \"PENSIONISTA DA SILVA\",\n          \"naturezaPensao\": \"TEMPORÁRIA\"\n        },\n        \"liquido\": 3066.51,\n        \"baseCalculoPensaoSemTeto\": \"0,00\",\n        \"rubricasDescontos\": {\n          \"tipo\": \"D\",\n          \"valor\": 178.29,\n          \"nome\": \"IMPOSTO DE RENDA RETIDO FONTE\",\n          \"valorFormatado\": \"178,29\"\n        },\n        \"idTipoFolha\": 1,\n        \"consignavel5\": \"0,00\",\n        \"tipoFolha\": \"Normal\",\n        \"consignavel30\": \"0,00\",\n        \"baseCalculoTeto\": \"0,00\",\n        \"bruto\": 2231.8,\n        \"mes\": 1,\n        \"previa13\": false,\n        \"previa\": false\n      }\n<br/> \n#### Exemplos para retornos diferentes\n\n  Use os seguintes valores para obter códigos de retorno diferentes\n\n    (200) matricula: 123456789012 , tipoFolha: 1, ano: 2018, mes: 1\n    (403) matricula: 223456789012 , tipoFolha: 1, ano: 2018, mes: 1\n    (422) matricula: 123456789012 , tipoFolha: 1, ano: 2018, mes: 9\n    (500) matricula: 123456789012 , tipoFolha: 1, ano: 2019, mes: 1\n      ",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "matricula",
            "in": "path",
            "description": "Matricula do servidor/pensionista",
            "required": true,
            "type": "string"
          },
          {
            "name": "tipoFolha",
            "in": "path",
            "description": "Descrição do tipo da folha",
            "required": true,
            "type": "string"
          },
          {
            "name": "ano",
            "in": "path",
            "description": "Ano do contracheque",
            "required": true,
            "type": "string"
          },
          {
            "name": "mes",
            "in": "path",
            "description": "Mês do contracheque",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna o Contracheque correspondente aos dados informados."
          },
          "400": {
            "description": "Faixa correspondente a erros de validação dos parâmetros informado."
          },
          "403": {
            "description": "Indica que o usuário não autorizou a consulta ao contracheque."
          },
          "422": {
            "description": "Incapaz de processar todas as instruções contidas na camada de negócio da aplicação."
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Verifica status da API",
        "responses": {
          "200": {
            "description": "Serviço disponível"
          },
          "500": {
            "description": "Serviço indisponível"
          }
        }
      }
    }
  }
}
