host: apigateway.serpro.gov.br
security:
  - Bearer: []
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
swagger: '2.0'
info:
  version: api
  title: Integração SIAFI (api-siafi)
  description: >-
    Para informações de como se autenticar antes de consumir as API, por favor,
    consulte a documentação em: http://devserpro.github.io/apis/ 

        
    O serviço `Integração SIAFI` é disponibilizado através do `HTTP REST`
    oferencendo operações de lançamento ao SIAFI.

    <br>

    ## Horário de Funcionamento 
     A API Consulta Dívida Ativa funciona das 09:00 às 22:00 hs. Fora deste horário a API retornará o código 403, indicando que a API está fora do horário de funcionamento. 
    <br>

    ## Códigos de  Retorno não Tarifados 

    | Código de retorno | Resumido | Explicação | 

    | ------------- | :-------------------- |
    :-------------------------------------------------------------------------------
    |

    | 403           | Api Indisponível    | Api fora do horário de
    funcionamento  |

    | &nbsp;           | &nbsp;    | &nbsp;  |

    | 500 | Erro no Servidor | Ocorreu algum erro no servidor | 

    <br>
     ## Campo cabeçalho da requisição (X-Request-Tag)

      Este campo é opcional na utilização das chamadas às APIs / Datavalid e serve como identificador de requisições. Caso uma empresa necessite, por exemplo, agrupar a quantidade de requisições realizadas por cada departamento, poderá utilizar este campo de forma a identificar no faturamento a quantidade de requisições de cada item agrupador. 
    <br><br>
     O campo é de texto livre (string até 32 caracteres) e não possui validação de seu conteúdo. Cabe, portanto, ao cliente manter o controle das informações que são enviadas para esse campo de forma que o relatório de faturamento faça o agrupamento adequado. 
    <br><br>

    Este atributo pode ser usado pela entidade de classe e/ou grupo econômico na
    modalidade global com ônus entidade para fins de identificação do associado
    que realiza a requisição. No caso de entidades de classe ou grupos
    econômicos que realizem a contratação com ônus para o associado não é
    necessário realizar o agrupamento pois cada associado irá possuir sua
    própria chave de consumo. 

    <br>
     ## Degustação 
     ### Endereço base de Degustação 
        https://apigateway.serpro.gov.br/api-integra-siafi-trial/api 
    <br>
      ## Produção 
     ### Endereço de Produção 
        https://apigateway.serpro.gov.br/api-integra-siafi-trial/api 
        
basePath: /api-integra-siafi-trial/api
paths:
  /v1/ne/consultar:
    post:
      deprecated: true
      tags:
        - Nota de Empenho v1
      summary: Consulta Nota de Empenho
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      description: >-

        ## Os métodos referentes a Nota de Empenho V1 foram descontinuados,
        favor utilizar a  V2 
         ## Exemplo
        #### Chamada
            [POST] https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v1/ne/consultar
        #### Conteúdo do corpo 

            {
              "ano": "2018",
              "ug": "010001",
              "gestao": "00001",
              "numero": "800017"
            }
        #### Retorno 
            {
            codigo: 0
            mensagem:
              dataEmissao: 14Jun18
              saldoPagar: ''
              numeroNota: 2018NE800017
              ugEmitente: '010001'
              nomeUgEmitente: CAMARA DOS DEPUTADOS
              gestaoEmitente: '00001'
              nomeGestaoEmitente: TESOURO NACIONAL
              nomeFavorecido: CAMARA DOS DEPUTADOS
              tipoFavorecido: '4'
              codigoFavorecido: '01000100001'
              sicaf: ''
              operacaoCambial: '0000000000'
              observacao: TESTE NE-01
              evento: '401091'
              esfera: '1'
              ptres: '000001'
              fonte: '0100000000'
              codigoND: '339030'
              ugResponsavel: 010019
              planoInterno: AAA
              valorEmpenho: '00000000000000001'
              tipoEmpenho: ORDINARIO
              sistemaOrigem: APISIAFI
              docReferenciaOriginal: ''
              numDocReferencia: ''
              passivoAnterior: NAO
              contaPassivo: ''
              nomeModalidade: NAO SE APLICA
              nomeAmparo: ''
              inciso: ''
              numeroProcesso: 103.504/1999
              indicadorPagPrecatorio: ''
              siglaUF: DF
              codigoMunicipioBeneficiado: '9701'
              origemMaterial: NACIONAL
              referenciaDispensa: ''
              numeroOriginal: ''
              informacoesLancamentos: 'LANCADO POR : 60165570644 - ANDERSON          UG : 010001   14Jun18   14:33'
              contaCorrenteFinanceiro: F0100000000
              contasPermanentes: []
              numeroLista: 2018LI800043
              subItens:
                - numero: '00'
                  valor: '01'
                  seq: '000'
                  qtd: ''
                  valorTotal: '00000000000000001'
                  descricao: LISTA NE-01
                - numero: '1'
                  valor: ''
                  seq: '000'
                  qtd: ''
                  valorTotal: ''
                  descricao: ''
              subItensSaldo:
                - numero: '01'
                  valor: '00000000000000001'
              nsaldo: ''
            erros: []
            status: 200
            }      
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: Dados da Nota de Empenho a ser consultada
          name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConsultaNE'
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho
          schema:
            $ref: '#/definitions/DadosNE'
        '400':
          description: Algum campo enviado é inválido
        '403':
          description: Usuário não tem permissão para realizar esta operação
        '500':
          description: Erro interno do servidor
  /v1/ne/realizar:
    post:
      deprecated: true
      tags:
        - Nota de Empenho v1
      summary: Realiza Nota de Empenho
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      description: >-

        ## Os métodos referentes a Nota de Empenho V1 foram descontinuados,
        favor utilizar a V2 
         ## Exemplo
        #### Chamada
              [POST] https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v1/ne/realizar
        #### Conteúdo do corpo
            {
                "dataEmissao": "31DEZ17",
                "numeroDocumento": "",               
                "ugEmitente": "010001",
                "gestaoEmitente": "00001",
                "numeroLista": "",
                "taxaCambio": "",
                "observacao": "Inclusao de NE",
                "valorTotalEmpenho": "555555",
                "numeroProcesso": "0100",
                "numeroOriginalConvenio": "0010",
                "passivoAnterior": "N",
                "contaPassivo": "",
                "contaValor": [
                 {
                  "conta": "",
                  "valor": ""
                  }
                ],
                "contaPassivoFinanceiro": "string",
                "favorecido": "75793032720",
                "gestaoFavorecido": "",
                "esferaOrcamentaria": "3",
                "codigoUO": "",
                "codigoProgramaTrabalho": "000001",
                "fonteRecursos": "0100000000",
                "naturezaDespesa": "339030",
                "unidadeGestoraResponsavel": "",
                "planoInterno": "",
                "indicadorResultado": "",
                "indicadorTipoCredito": "",
                "planoOrcamentario": "",
                "codigoAutorEmenda": "",
                "tipoEmpenho": "1",                        
                "modalidadeLicitacao": "08",
                "amparoLegal": "",
                "inciso": "",
                "origemMaterial": "1",
                "municipioBeneficiado": "9701",
                "ufBeneficiada": "DF",
                "dataVencimento": [
                  "31DEZ17"
                ],
                "dataRecebimento": [
                  "31DEZ17"
                ],
                "valorCompromisso": [
                  "555555"
                ],
                "listaItens": [
                  {
                    "subItemNd": "01",
                    "quantidade": "1",
                    "valorUnitario": "555555",
                    "valorTotal": "555555",
                    "descricao": "Testando inclusao de NE"
                  }
                ],
                "numeroTransacaoCliente": "2017TR000033",
                "credencial": {
                    "cpf": "60165570644",
                    "ug": "010001",
                    "sistema": "SIAFI2017HM"
                }
            }
        #### Retorno
            { 
              "codigo": 0,
              "mensagem": "010001000012017NE800054 010001000012017LI800101",
              "erros": [],
              "status": 200
              }
            }
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: Dados da Nota de Empenho a ser adicionada
          name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RealizaNE'
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Adicionada
          schema:
            $ref: '#/definitions/NE'
        '400':
          description: Algum campo enviado é inválido
        '403':
          description: Usuário não tem permissão para realizar esta operação
        '500':
          description: Erro interno do servidor
  /v1/ne/alterar:
    post:
      deprecated: true
      tags:
        - Nota de Empenho v1
      summary: Altera Nota de Empenho
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      description: >-

        ## Os métodos referentes a Nota de Empenho V1 foram descontinuados,
        favor utilizar a V2 

        ## Exemplo

        #### Chamada
              [POST] https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v1/ne/alterar
        #### Conteúdo do corpo
            {
              "dataEmissao": "31DEZ17",
              "numeroDocumento": "",               
              "ugEmitente": "010001",
              "gestaoEmitente": "00001",
              "numeroLista": "",
              "taxaCambio": "",
              "observacao": "Cancelamento de NE",
              "valorTotalEmpenho": "555555",
              "numeroProcesso": "0100",
              "numeroOriginalConvenio": "0010",
              "passivoAnterior": "N",
              "contaPassivo": "",
              "contaValor": [
              {
                "conta": "",
                "valor": ""
              }
            ],
              "contaPassivoFinanceiro": "string",
              "especie": "02",
              "ugReferencia": "010001",
              "gestaoReferencia": "00001",
              "numeroEmpenhoReferencia": "2017NE800051",
              "numeroListaReferencia": "2017LI800097",
              "listaItens": [
              {
                "subItemNd": "01",
                "quantidade": "000000000000001",
                "valorUnitario": "00000000000555555",
                "valorTotal": "00000000000555555",
                "descricao": "Teste alteração"
              }
            ],
              "numeroTransacaoCliente": "2017TR000049",
              "credencial": {
              "cpf": "60165570644",
              "ug": "010001",
              "sistema": "SIAFI2017HM"
                }
             }
        #### Retorno
            { 
              "codigo": 0,
              "mensagem": "010001000012017NE800060 010001000012017LI800106",
              "erros": [],
              "status": 200
            }
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: Dados da Nota de Empenho a ser alterada
          name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AlteraNE'
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Alterada
          schema:
            $ref: '#/definitions/NE'
        '400':
          description: Algum campo enviado é inválido
        '403':
          description: Usuário não tem permissão para realizar esta operação
        '500':
          description: Erro interno do servidor
  /v1/ne/anular:
    post:
      deprecated: true
      tags:
        - Nota de Empenho v1
      summary: Anula Nota de Empenho
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      description: >-

        ## Os métodos referentes a Nota de Empenho V1 foram descontinuados,
        favor utilizar a V2
         ## Exemplo
        #### Chamada
              [POST] https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v1/ne/anular
        #### Conteúdo do corpo
            {
                "dataEmissao": "31DEZ17",
                "numeroDocumento": "",               
                "ugEmitente": "010001",
                "gestaoEmitente": "00001",
                "numeroLista": "",
                "taxaCambio": "",
                "observacao": "Anulação de NE",
                "valorTotalEmpenho": "555555",
                "numeroProcesso": "0100",
                "numeroOriginalConvenio": "0010",
                "passivoAnterior": "N",
                "contaPassivo": "",
                "contaValor": [
                {
                  "conta": "",
                  "valor": ""
                }
              ],
                "contaPassivoFinanceiro": "string",
                "especie": "03",
                "ugReferencia": "010001",
                "gestaoReferencia": "00001",
                "numeroEmpenhoReferencia": "2017NE800049",
                "numeroListaReferencia": "2017LI800095",
                "listaItens": [
               {
                  "subItemNd": "01",
                  "quantidade": "000000000000001",
                  "valorUnitario": "00000000000555555",
                  "valorTotal": "00000000000555555",
                  "descricao": "Teste Anulação"
                }
              ],
                "numeroTransacaoCliente": "2017TR000043",
                "credencial": {
                  "cpf": "60165570644",
                  "ug": "010001",
                  "sistema": "SIAFI2017HM"
              }
            }
        #### Retorno
            { 
              "codigo": 0,
              "mensagem": "010001000012017NE800058 010001000012017LI800104",
              "erros": [],
              "status": 200
            }
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: Dados da Nota de Empenho a ser anulada
          name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AnulaNE'
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Anulada
          schema:
            $ref: '#/definitions/NE'
        '400':
          description: Algum campo enviado é inválido
        '403':
          description: Usuário não tem permissão para realizar esta operação
        '500':
          description: Erro interno do servidor
  /v1/ne/reforcar:
    post:
      deprecated: true
      tags:
        - Nota de Empenho v1
      summary: Reforça Nota de Empenho
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      description: >-

        ## Os métodos referentes a Nota de Empenho V1 foram descontinuados,
        favor utilizar a V2 

        ## Exemplo

        #### Chamada
              [POST] https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v1/ne/reforcar
        #### Conteúdo do corpo
            {
              "dataEmissao": "31DEZ17",
              "numeroDocumento": "",               
              "ugEmitente": "010001",
              "gestaoEmitente": "00001",
              "numeroLista": "",
              "taxaCambio": "",
              "observacao": "Reforço de NE",
              "valorTotalEmpenho": "555555",
              "numeroProcesso": "0100",
              "numeroOriginalConvenio": "0010",
              "passivoAnterior": "N",
              "contaPassivo": "",
              "contaValor": [
              {
                "conta": "",
                "valor": ""
              }
            ],
              "contaPassivoFinanceiro": "string",
              "especie": "02",
              "ugReferencia": "010001",
              "gestaoReferencia": "00001",
              "numeroEmpenhoReferencia": "2017NE800050",
              "numeroListaReferencia": "2017LI800096",
              "listaItens": [
              {
                "subItemNd": "01",
                "quantidade": "000000000000001",
                "valorUnitario": "00000000000555555",
                "valorTotal": "00000000000555555",
                "descricao": "Teste Anulação"
              }
            ],
              "numeroTransacaoCliente": "2017TR000046",
              "credencial": {
                "cpf": "60165570644",
                "ug": "010001",
                "sistema": "SIAFI2017HM"
              }
            }
        #### Retorno
            { 
              "codigo": 0,
              "mensagem": "010001000012017NE800059 010001000012017LI800105",
              "erros": [],
              "status": 200
              }
            }
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: Dados da Nota de Empenho a ser reforçada
          name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ReforcaNE'
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Reforçada
          schema:
            $ref: '#/definitions/NE'
        '400':
          description: Algum campo enviado é inválido
        '403':
          description: Usuário não tem permissão para realizar esta operação
        '500':
          description: Erro interno do servidor
  /v1/ne/consultaTransacao:
    post:
      deprecated: true
      tags:
        - Nota de Empenho v1
      summary: Consulta Número da Transação
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      description: >-

        ## Os métodos referentes a Nota de Empenho V1 foram descontinuados,
        favor utilizar a V2 

        ## Exemplo

        #### Chamada
              [POST] https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v1/ne/consultaTransacao
        #### Conteúdo do corpo
            {
              "numeroTransacaoCliente": "2017TR000045",
              "credencial": {
                "cpf": "60165570644",
                "ug": "010001",
                "sistema": "SIAFI2017HM"
              }
            }
        #### Retorno
            { 
              "codigo": 0,
              "mensagem": "010001000012017NE800058 010001000012017LI800104",
              "erros": [],
              "status": 200
            }
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: Dados da Transação a ser Consultada
          name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConsultaTransacao'
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Retorna os dados referentes ao número da Transação informado
          schema:
            $ref: '#/definitions/NE'
        '400':
          description: Algum campo enviado é inválido
        '403':
          description: Usuário não tem permissão para realizar esta operação
        '500':
          description: Erro interno do servidor
  '/v2/nota-empenho/{ug}/{gestao}/{ano}/{numero}':
    get:
      tags:
        - Nota de Empenho v2
      summary: Consulta Nota de Empenho
      description: |-
        Consulta uma Nota de Empenho existente

        ## Exemplo
        #### Chamada

            https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v2/nota-empenho/170600/00001/2018/000001
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)
              
        #### Retorno 
            {
              "dataEmissao": "20Jun18",
              "saldoPagar": "",
              "numeroNota": "2018NE800001",
              "ugEmitente": "010001",
              "nomeUgEmitente": "COORD.GERAL DE CONTROLE DA DIVIDA PUBLICA",
              "gestaoEmitente": "170600",
              "nomeGestaoEmitente": "TESOURO NACIONAL",
              "nomeFavorecido": "COORD.GERAL DE CONTROLE DA DIVIDA PUBLICA",
              "tipoFavorecido": "4",
              "codigoFavorecido": "17060000001",
              "sicaf": "",
              "operacaoCambial": "0000000000",
              "observacao": "TESTE SID - VL",
              "evento": "401091",
              "esfera": "1",
              "ptres": "089139",
              "fonte": "0163719020",
              "codigoND": "469072",
              "ugResponsavel": "170600",
              "planoInterno": "2852DPMFIBC",
              "valorEmpenho": "00000150000000000",
              "tipoEmpenho": "ESTIMATIVO",
              "sistemaOrigem": "",
              "docReferenciaOriginal": "",
              "numDocReferencia": "",
              "passivoAnterior": "SIM",
              "contaPassivo": "212110201",
              "nomeModalidade": "NAO SE APLICA",
              "nomeAmparo": "",
              "inciso": "",
              "numeroProcesso": "",
              "indicadorPagPrecatorio": "",
              "siglaUF": "DF",
              "codigoMunicipioBeneficiado": "",
              origemMaterial: "",
              referenciaDispensa: "",
              numeroOriginal: "",
              "informacoesLancamentos": "LANCADO POR : 05550469669 - LEONARDO          UG : 170600   20Jun18   17:26",
              "contaCorrenteFinanceiro": "F0163719020",
              "contasPermanentes": [ 
                   { 
                      "conta": "P", 
                      "valor": "150000000000" 
                   } 
              ]
              "numeroLista": "2018LI000001",
              "subItens": [ 
                   { 
                      "numero": "00", 
                      "valor": "00000150000000000",
                      "seq": "001",
                      "qtd": "000000000100000",
                      "valorTotal": "00000150000000000" ,
                      "descricao": "TESTE SID - VL" 
                   } 
              ] 
              "subItensSaldo": [ 
                   { 
                      "numero": "01",
                      "valor": "00000150000000000"
                   } 
              ] 
              "nsaldo": ""
            }      
      produces:
        - application/json
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          type: string
        - name: ano
          in: path
          description: Ano da Nota de Crédito
          required: true
          type: string
        - name: numero
          in: path
          description: Número da Nota de Crédito
          required: true
          type: string
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          type: string
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho
          schema:
            $ref: '#/definitions/DadosNE'
        '400':
          description: Algum campo enviado é inválido
        '403':
          description: >-
            Credencial informada não possui permissão para consultar a Nota de
            Crédito
        '404':
          description: Nota de Empenho inexistente
        '500':
          description: Erro interno do servidor
  /v2/nota-empenho:
    post:
      tags:
        - Nota de Empenho v2
      summary: Realiza uma Nota de Empenho
      description: |-
        Gera uma Nota de Empenho 

        ## Exemplo
        #### Chamada

            https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v2/nota-empenho
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)
              
        ####  Conteúdo do corpo
            {
                "dataEmissao": "31DEZ19",
                "numeroDocumento": "",
                "ugEmitente": "135006",
                "gestaoEmitente": "13203",
                "numeroLista": "800070",
                "taxaCambio": "",
                "observacao": "Inclusao de NE",
                "valorTotalEmpenho": "555555",
                "numeroProcesso": "0100",
                "numeroOriginalConvenio": "0010",
                "passivoAnterior": "N",
                "contaPassivo": "",
                "contaValor": [
                     {
                        "conta": "",
                        "valor": ""
                     }
                ],
                "contaPassivoFinanceiro": " string",
                "favorecido": "75793032720",
                "gestaoFavorecido": "",
                "esferaOrcamentaria": "3",
                "codigoUO": "",
                "ptres": "000001",
                "fonteRecursos": "0100000000",
                "naturezaDespesa": "339030",
                "unidadeGestoraResponsavel": "",
                "planoInterno": "",
                "tipoEmpenho": "1",                        
                "modalidadeLicitacao": "08",
                "amparoLegal": "",
                "inciso": "",
                "origemMaterial": "1",
                "municipioBeneficiado": "9701",
                "ufBeneficiada": "DF",
                "dataVencimento": [
                     "31DEZ19"
                 ],
                "dataRecebimento": [
                     "31DEZ19"
                 ],
                "valorCompromisso": [
                      "555555"
                 ],
                "listaItens": [
                  {
                    "subItemNd": "01",
                    "quantidade": "1",
                    "valorUnitario": "555555",
                    "valorTotal": "555555",
                    "descricao": "TESTE SID - VL"
                  }
                ]
            }
          
        #### Retorno
            { 
              "numeroCliente": 135006132032019TRNE000087,
              "numeroListaEmpenho": "135006132032019LI800070",
              "numeroDocGerado": 135006132032019NE800008
            }
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: Dados da Nota de Empenho a ser Gerada
          name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RealizaNE'
        - in: header
          name: x-credencial
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          type: string
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Gerada
          schema:
            $ref: '#/definitions/NE'
        '400':
          description: Algum campo enviado é inválido
        '403':
          description: Usuário não tem permissão para realizar esta operação
        '500':
          description: Erro interno do servidor
    put:
      tags:
        - Nota de Empenho v2
      summary: Atualiza uma Nota de Empenho.
      description: >-
        O tipo de atualização depende do campo ' especie '

        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Alteração:
        &nbsp;&nbsp;&nbsp;&nbsp;especie = 01

        <br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reforço:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        especie = 02

        <br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anulação:
        &nbsp;&nbsp;&nbsp;&nbsp;especie = 03


        ## Exemplo

        #### Chamada

            https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v2/nota-empenho
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)
              
        ####  Conteúdo do corpo
            {
                "dataEmissao": "31DEZ19",
                "numeroDocumento": "",               
                "ugEmitente": "135006",
                "gestaoEmitente": "13203",
                "numeroLista": "800070",
                "taxaCambio": "",
                "observacao": "Alteracao de NE",
                "valorTotalEmpenho": "555555",
                "numeroProcesso": "0100",
                "numeroOriginalConvenio": "0010 ",
                "passivoAnterior": "N",
                "contaPassivo": "",
                "contaValor": [
                 {
                  "conta": "",
                  "valor": ""
                  }
                ],
                "contaPassivoFinanceiro": " ",
                "especie": "",
                "ugReferencia": "",
                "gestaoReferencia": "",
                "numeroEmpenhoReferencia": "",
                "numeroListaReferencia": "",
                "listaItens": [
                  {
                    "subItemNd": "01",
                    "quantidade": "1",
                    "valorUnitario": "555555",
                    "valorTotal": "555555",
                    "descricao": "Detalhamento do item da lista"
                  }
                ]
            }
         
        #### Retorno
            { 
              "numeroCliente": 135006132032019TRNE000087,
              "numeroListaEmpenho": "135006132032019LI800070",
              "numeroDocGerado": 135006132032019NE800008
            }
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: Dados da Nota de Empenho a ser atualizada
          name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AtualizaNE'
        - in: header
          name: x-credencial
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          type: string
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Atualizada
          schema:
            $ref: '#/definitions/NE'
        '400':
          description: Algum campo enviado é inválido
        '403':
          description: Usuário não tem permissão para realizar esta operação
        '500':
          description: Erro interno do servidor
  '/v2/nota-credito/{ug}/{gestao}/{ano}/{numero}':
    get:
      tags:
        - Nota de Crédito
      summary: Consulta Nota de Crédito
      description: |-
        Consulta uma Nota de Crédito existente

        ## Exemplo
        #### Chamada

            https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v2/nota-credito/010001/00001/2018/800001
            
            No header:
              x-credencial: MTExMTExMTExMTEuMDEwMDAxLlNJQUZJMjAxOA==
              (valor referente às credenciais 11111111111.010001.SIAFI2018 convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)
              
        #### Retorno
            {
              "dataEmissao": "14MAI18",
              "numero": "2018NC",
              "ugEmitente": "010001",
              "gestaoEmitente": "00001",
              "ugFavorecida": "10001",
              "gestaoFavorecida": "00001",
              "taxaCambio": "",
              "numeroTransferencia": "",
              "observacao": "TESTE",
              "listaEventos": [
                {
                  "evento": "300062",
                  "esferaOrcamentaria": "1",
                  "ptres": "1",
                  "fonteRecurso": "0100000000",
                  "naturezaDespesa": "339039",
                  "subitem": "",
                  "ugResponsavel": "010001",
                  "planoInterno": "",
                  "valor": "00000000000100000"
                }
              ]
            }
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          type: string
        - name: ano
          in: path
          description: Ano da Nota de Crédito
          required: true
          type: string
        - name: numero
          in: path
          description: Número da Nota de Crédito
          required: true
          type: string
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          type: string
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Nota de Crédito encontrada e retornada
          schema:
            $ref: '#/definitions/NotaCredito'
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: >-
            Credencial informada não possui permissão para consultar a Nota de
            Crédito
        '404':
          description: Nota de Crédito inexistente
        '500':
          description: Erro interno do servidor
  /v2/nota-credito:
    post:
      tags:
        - Nota de Crédito
      summary: Gera Nota de Crédito
      description: |-
        Gera uma Nota de Crédito com as informações passadas no JSON de entrada

        ## Exemplo
        #### Chamada

            https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v2/nota-credito
            
            No header:
              x-credencial: MTExMTExMTExMTEuMDEwMDAxLlNJQUZJMjAxOA==
              (valor referente às credenciais 11111111111.010001.SIAFI2018 convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        #### Conteúdo do corpo

            {
              "dataEmissao": "14MAI18",
              "numero": "2018NC",
              "ugEmitente": "010001",
              "gestaoEmitente": "00001",
              "ugFavorecida": "010001",
              "gestaoFavorecida": "00001",
              "taxaCambio": "",
              "numeroTransferencia": "",
              "observacao": "TESTE",
              "listaEventos": [
                {
                  "evento": "300062",
                  "esferaOrcamentaria": "1",
                  "ptres": "1",
                  "fonteRecurso": "0100000000",
                  "naturezaDespesa": "339039",
                  "subitem": "",
                  "ugResponsavel": "010001",
                  "planoInterno": "",   
                  "valor": "00000000000100000"
                }
              ]
            }
            
        #### Retorno

            {
              "ug": "010001",
              "gestao": "00001",
              "numero": "2018NC800017"
            }
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Dados da Nota de Crédito a ser gerada
          required: true
          schema:
            $ref: '#/definitions/GeraNC'
        - in: header
          name: x-credencial
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          type: string
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Nota de Crédito gerada com sucesso
          schema:
            $ref: '#/definitions/NCGerada'
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: >-
            Credencial informada não possui permissão para gerar a Nota de
            Cŕedito
        '500':
          description: Erro interno do servidor
  '/v2/nota-lancamento/{ug}/{gestao}/{ano}/{numero}':
    get:
      tags:
        - Nota de Lançamento
      summary: Consulta Nota de Lançamento
      description: >-
        Consulta uma Nota de Lançamento a partir dos parâmetros UG, Gestão, Ano
        e Número da NL


        ## Exemplo

        #### Chamada

            https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v2/nota-lancamento/010001/00001/2018/800001
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        #### Retorno
            {
              "dataEmissao": "14Mai18",
              "ugEmitente": "010001",
              "nomeUGEmitente": "",
              "gestaoEmitente": "00001",
              "nomeGestaoEmitente": "",
              "favorecido": "",
              "nomeFavorecido": "",
              "gestaoFavorecido": "",
              "nomeGestaoFavorecido": "",
              "numero": "",
              "dataValidacao": "14MAI18",
              "taxaCambio": "",
              "tituloCredito": "",
              "dataVencimento": "",
              "sistemaOrigem": " ", 
              "observacao": "TESTE", 
              "listaEventos": [
                {
                  "evento": "510669",
                  "inscricao1": "0114000000",
                  "inscricao2": "",
                  "classificacao1": "",
                  "classificacao2": "",
                  "classOrcamentaria1": "",
                  "classOrcamentaria2": "", 
                  "valor": "",  
                  "numeroReferencia": "10001"  
                } 
              ] 
            }
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          type: string
        - name: ano
          in: path
          description: Ano da Nota de Lançamento
          required: true
          type: string
        - name: numero
          in: path
          description: Número da Nota de Lançamento
          required: true
          type: string
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          type: string
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Nota de Lançamento encontrada e retornada
          schema:
            $ref: '#/definitions/NotaLancamento'
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: >-
            Credencial informada não possui permissão para consulta a Nota de
            Lançamento
        '404':
          description: Nota de Lançamento inexistente
        '500':
          description: Erro interno do servidor
  /v2/nota-lancamento:
    post:
      tags:
        - Nota de Lançamento
      summary: Gera Nota de Lançamento
      description: |-
        Gera uma Nota de Lançamento a partir de um Json de Entrada

        ## Exemplo
        #### Chamada

            https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v2/nota-lancamento
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        #### Conteúdo do corpo

            {
              "dataEmissao": "14MAI18",
              "ugEmitente": "010001",
              "gestaoEmitente": "00001",
              "favorecido": "010001",
              "gestaoFavorecido": "00001",
              "numero": "2018NL800017",
              "dataValidacao": "14mai18",
              "taxaCambio": "",
              "tituloCredito": "",
              "dataVencimento": "14MAI18",
              "observacao": "TESTE", 
              "listaEventos": [
                {
                  "evento": "300062",
                  "inscricao1": "22025711000153",
                  "inscricao2": "null",
                  "classificacao1": "111111111",
                  "classificacao2": "null",
                  "classOrcamentaria1": "111111111",
                  "classOrcamentaria2": "null", 
                  "valorEvento": "55555555",
                  "numeroReferencia": "55555555"  
                } 
              ]
            }
         #### Retorno

            {
              "ug": "010001",
              "gestao": "00001",
              "numero": "2018NL800017" 
            }
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Dados da Nota de Lançamento a ser gerada
          required: true
          schema:
            $ref: '#/definitions/GeraNL'
        - in: header
          name: x-credencial
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          type: string
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Nota de Lançamento gerada com sucesso
          schema:
            $ref: '#/definitions/NLGerada'
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: >-
            Credencial informada não possui permissão para gerar a Nota de
            Lançamento
        '500':
          description: Erro interno do servidor
  '/v2/nota-dotacao/{ug}/{gestao}/{ano}/{numero}':
    get:
      tags:
        - Nota de Dotação
      summary: Consulta Nota de Dotação
      description: >-
        Consulta uma Nota de Dotação a partir dos parâmetros UG, Gestão, Ano e
        Número da ND


        ## Exemplo

        #### Chamada

            https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v2/nota-dotacao/010001/00001/2018/800002
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        #### Retorno
            {
              "dataEmissao": "14MAI18",
              "numeroDocumento": "2018ND800003",
              "ugEmitente": "170999",
              "nomeUGEmitente": "COORDENACAO GERAL DE CONTABILIDADE",
              "gestaoEmitente": "00001",
              "favorecido": "",
              "nomeFavorecido": "",
              "taxaCambio": "",
              "observacao": "TESTE", 
              "listaEventos": [
                {
                  "evento": "200031",
                  "esferaOrcamentaria": "1",
                  "ptres": "000019",
                  "fonteRecurso": "0100000000",
                  "naturezaDespesa": "339030",
                  "subitemND": "",
                  "ugr": "",
                  "planoInterno": "", 
                  "valor": "100",  
                } 
              ]
            }
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          type: string
        - name: ano
          in: path
          description: Ano da Nota de Dotação
          required: true
          type: string
        - name: numero
          in: path
          description: Número da Nota de Dotação
          required: true
          type: string
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          type: string
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Nota de Dotação encontrada e retornada
          schema:
            $ref: '#/definitions/NotaDotacao'
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: >-
            Credencial informada não possui permissão para consulta a Nota de
            Dotação
        '404':
          description: Nota de Dotação inexistente
        '500':
          description: Erro interno do servidor
  /v2/nota-dotacao:
    post:
      tags:
        - Nota de Dotação
      summary: Gera uma Nota de Dotação
      description: |-
        Gera uma Nota de Dotação a partir de um Json de Entrada

        ## Exemplo
        #### Chamada

            https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v2/nota-dotacao
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        #### Conteúdo do corpo

            {
              "dataEmissao": "14MAI18",
              "numeroDocumento": "",
              "ugEmitente": "010001",
              "gestaoEmitente": "00001",
              "ugFavorecida": "",
              "gestaoFavorecido": "",
              "taxaCambio": "",
              "observacao": "TESTE", 
              "listaEventos": [
                {
                  "evento": "200031",
                  "esferaOrcamentaria": "1",
                  "unidadeOrcamentaria": "",
                  "ptres": "000019",
                  "fonteRecurso": "0100000000",
                  "naturezaDespesa": "339030",
                  "subitemND": "",
                  "ugr": "", 
                  "planoInterno": "", 
                  "valor": "100"  
                } 
              ] 
            }
         #### Retorno

            {
              "ug": "010001",
              "gestao": "00001",
              "numero": "2018ND800002"
            }
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Dados da Nota de Dotação a ser gerada
          required: true
          schema:
            $ref: '#/definitions/GeraND'
        - in: header
          name: x-credencial
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          type: string
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Nota de Dotação gerada com sucesso
          schema:
            $ref: '#/definitions/NDGerada'
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: >-
            Credencial informada não possui permissão para gerar a Nota de
            Dotação
        '500':
          description: Erro interno do servidor
  '/v2/nota-detaorc/{ug}/{gestao}/{ano}/{numero}':
    get:
      tags:
        - Nota de Dotação
      summary: Consulta uma Nota de Detalhamento Orçamentário
      description: >-
        Consulta uma Nota de Detalhamento Orçamentário a partir dos parâmetros
        UG, Gestão, Ano e Número da ND


        ## Exemplo

        #### Chamada

            https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v2/nota-detaorc/010001/00001/2018/000002
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        #### Retorno
            {
              "dataEmissao": "14MAI18",
              "especieND": "1",
              "numeroDocumento": "2018ND000002",
              "ugEmitente": "010001",
              "nomeUGEmitente": "CAMARA DOS DEPUTADOS 2018",
              "gestaoEmitente": "00001",
              "esferaOrcamentaria": "1",
              "fonteRecurso": "0100",
              "categoriaDespesa": "33",
              "codigoInstrumentoLegal": "",
              "numeroInstrumentoLegal": "",
              "dataPublicacao": "01ago18",
              "taxaCambio": "2",
              "ptres": "005714", 
              "idoc": "9999",
              "observacao": "TESTE", 
              "listaEventos": [
                {
                  "reducaoAcrescimos": "R",
                  "sequencialFonte": "000000",
                  "modalidadeAplicacao": "90",
                  "elementoDespesa": "00",
                  "subitemND": "",
                  "codigoUGResponsavel": "",
                  "planoInterno": "", 
                  "valor": "100000",  
                },
                {
                  "reducaoAcrescimos": "A",
                  "sequencialFonte": "000000",
                  "modalidadeAplicacao": "90",
                  "elementoDespesa": "14",
                  "subitemND": "",
                  "codigoUGResponsavel": "",
                  "planoInterno": "", 
                  "valor": "100000", 
                } 
              ]             
            }
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          type: string
        - name: ano
          in: path
          description: Ano da Nota de Dotação
          required: true
          type: string
        - name: numero
          in: path
          description: Número da Nota de Dotação
          required: true
          type: string
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          type: string
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Nota de Detalhamento Orçamentário encontrado e retornado com sucesso
          schema:
            $ref: '#/definitions/ConsultaNDDetOrc'
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: >-
            Credencial informada não possui permissão para consultar essa Nota
            de Detalhamento Orçamentário
        '500':
          description: Erro interno do servidor
  /v2/nota-detaorc:
    post:
      tags:
        - Nota de Dotação
      summary: Gera uma Nota de Detalhamento Orçamentário
      description: >-
        Gera uma Nota de Detalhamento Orçamentário a partir de um Json de
        Entrada


        ## Exemplo

        #### Chamada

            https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v2/nota-detaorc
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        ####  Conteúdo do corpo
            {
              "dataEmissao": "14MAI18",
              "especieND": "1",
              "numeroDocumento": "2018ND000002",
              "ugEmitente": "010001",
              "gestaoEmitente": "00001",
              "esferaOrcamentaria": "1",
              "unidadeOrcamentaria": "",
              "indicadorResultado": "",
              "indicadorCredito": "",
              "planoOrcamentario": "",
              "codigoAutorEmenda": "",
              "fonteRecurso": "0100",
              "categoriaDespesa": "33",
              "codigoInstrumentoLegal": "1",
              "numeroInstrumentoLegal": "0123",
              "dataPublicacao": "01ago18",
              "taxaCambio": "",
              "observacao": "TESTE", 
              "listaEventos": [
                {
                  "reducaoAcrescimos": "R",
                  "sequencialFonte": "000000",
                  "modalidadeAplicacao": "90",
                  "elementoDespesa": "00",
                  "subitemND": "",
                  "codigoUGResponsavel": "",
                  "planoInterno": "", 
                  "valor": "100000"  
                },
                {
                  "reducaoAcrescimos": "A",
                  "sequencialFonte": "000000",
                  "modalidadeAplicacao": "90",
                  "elementoDespesa": "14",
                  "subitemND": "",
                  "codigoUGResponsavel": "",
                  "planoInterno": "", 
                  "valor": "100000" 
                } 
              ],
              "ptres": "005714",
              "idoc": "9999"
            }
         #### Retorno

            {
              "ug": "010001",
              "gestao": "00001",
              "numero": "2018ND000002",
            }
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Dados de uma Nota de Detalhamento Orçamentário a ser gerada
          required: true
          schema:
            $ref: '#/definitions/GeraNDDetOrc'
        - in: header
          name: x-credencial
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          type: string
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Nota de Detalhamento Orçamentário gerada com sucesso
          schema:
            $ref: '#/definitions/NDDetaOrcGerada'
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: >-
            Credencial informada não possui permissão para gerar uma Nota de
            Detalhamento Orçamentário
        '500':
          description: Erro interno do servidor
  '/v2/nota-bloqueio/{ug}/{gestao}/{ano}/{numero}':
    get:
      tags:
        - Nota de Dotação
      summary: Consulta uma Nota de Bloqueio de Crédito
      description: >-
        Consulta uma Nota de Bloqueio de Crédito a partir dos parâmetros UG,
        Gestão, Ano e Número da ND


        ## Exemplo

        #### Chamada

            https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v2/nota-bloqueio/010001/00001/2018/000005
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        #### Retorno
            {
              "dataEmissao": "14MAI18",
              "numeroDocumento": "2018ND000005",
              "ugEmitente": "010001",
              "nomeUGEmitente": "CAMARA DOS DEPUTADOS 2018",
              "gestaoEmitente": "00001",
              "nomeGestaoEmitente": "TESOURO NACIONAL",
              "taxaCambio": "",
              "observacao": "TESTE", 
              "listaEventos": [
                {
                  "evento": "200020",
                  "esferaOrcamentaria": "1",
                  "ptres": "001000",
                  "idoc": "9999",
                  "naturezaDespesa": "339000",
                  "fonte": "0100", 
                  "valor": "20000",  
                }
              ]             
            }
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          type: string
        - name: ano
          in: path
          description: Ano da Nota de Bloqueio de Crédito
          required: true
          type: string
        - name: numero
          in: path
          description: Número da Nota de Bloqueio de Crédito
          required: true
          type: string
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          type: string
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Nota de bloqueio de Crédito encontrada e retornada com sucesso
          schema:
            $ref: '#/definitions/notaBloqueio'
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: >-
            Credencial informada não possui permissão para consultar a Nota de
            Bloqueio de Crédito
        '500':
          description: Erro interno do servidor
  /v2/nota-bloqueio:
    post:
      tags:
        - Nota de Dotação
      summary: Gera uma Nota de Bloqueio de Crédito
      description: |-
        Gera uma Nota de Bloqueio de Crédito a partir de um Json de Entrada

        ## Exemplo
        #### Chamada

            https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v2/nota-bloqueio
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        #### Conteúdo do corpo

            {
              "dataEmissao": "14MAI18",
              "numeroDocumento": "",
              "ugEmitente": "170999",
              "gestaoEmitente": "00001",
              "taxaCambio": "",
              "observacao": "TESTE", 
              "listaEventos": [
                {
                  "evento": "",
                  "esferaOrcamentaria": "",
                  "unidadeOrcamentaria": "",
                  "ptres": "",
                  "idoc": "",
                  "naturezaDespesa": "",
                  "grupoFonte": "",
                  "resultado": "",
                  "tipoCredito": "",
                  "planoOrcamentario": "",
                  "autorEmenda": "",
                  "valor": "2000"
                } 
              ] 
            }
         #### Retorno

            {
              "ug": "010001",
              "gestao": "00001",
              "numero": "2018ND000005"
            }
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Dados da Nota de Bloqueio de Crédito a ser gerada
          required: true
          schema:
            $ref: '#/definitions/notaBloqueio'
        - in: header
          name: x-credencial
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          type: string
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Nota de Bloqueio de Crédito gerada com sucesso
          schema:
            $ref: '#/definitions/NDBloqueioGerada'
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: >-
            Credencial informada não possui permissão para gerar a Nota de
            Bloqueio de Crédito
        '500':
          description: Erro interno do servidor
  '/v2/documentos/{ug}/{gestao}/{data}':
    get:
      tags:
        - Consulta Documentos
      summary: Consulta Documentos
      description: >-
        Consulta documentos de uma UG Emitente/Favorecida a partir de uma data
        específica


        ## Exemplo

        #### Chamada

            https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v2/documentos/020001/00001/10JAN19?tipo=ugfavorecida                                             https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v2/documentos/010001/00001/07JAN19?tipo=ugemitente 

            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        #### Retorno
            {
              "data": "14MAI18",
              "listaDocumentos": [
                {
                  "ugEmitente": "010001",
                  "gestaoEmitente": "00001",
                  "numeroDocumento": "2019ND000009",
                  "tipoNd": ""  
                },
                {
                  "ugEmitente": "010001",
                  "gestaoEmitente": "00001",
                  "numeroDocumento": "2019ND000010",
                  "tipoNd": ""  
                },
                {
                  "ugEmitente": "010001",
                  "gestaoEmitente": "00001",
                  "numeroDocumento": "2019ND000011",
                  "tipoNd": ""  
                },
                {
                  "ugEmitente": "010001",
                  "gestaoEmitente": "00001",
                  "numeroDocumento": "2019ND000012",
                  "tipoNd": ""  
                },
                {
                  "ugEmitente": "010001",
                  "gestaoEmitente": "00001",
                  "numeroDocumento": "2019ND000013",
                  "tipoNd": ""  
                },
                {
                  "ugEmitente": "010001",
                  "gestaoEmitente": "00001",
                  "numeroDocumento": "2019ND000014",
                  "tipoNd": ""  
                } 
              ]
            }
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          type: string
        - name: gestao
          in: path
          description: Código da Gestão emitente
          required: true
          type: string
        - name: data
          in: path
          description: Data referente ao pedido da consulta
          required: true
          type: string
        - name: tipo
          in: query
          description: Tipo da UG = ugemitente ou ugfavorecida
          required: true
          type: string
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          type: string
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Documentos encontrados e retornados com sucesso
          schema:
            $ref: '#/definitions/Documentos'
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: >-
            Credencial informada não possui permissão para consultar a
            Documentos
        '500':
          description: Erro interno do servidor
  '/v2/nota-dotacao-sof/{ug}/{gestao}/{ano}/{numero}':
    get:
      tags:
        - Nota de Dotação
      summary: Consulta uma Nota de Dotacao Sof
      description: >-
        Consulta uma Nota de Dotação Sof a partir dos parâmetros UG, Gestão, Ano
        e Número da ND-Sof


        ## Exemplo

        #### Chamada

            https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v2/nota-dotacao-sof/010001/00001/2019/000007
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        #### Retorno
            {
              "dataEmissao": "10Jun19",
              "numeroDocumento": "2019ND000007",
              "ugEmitente": "010001",
              "gestaoEmitente": "00001",
              "nomeUGEmitente": "CAMARA DOS DEPUTADOS 2019",
              "nomeGestaoEmitente": "TESOURO NACIONAL",
              "instrumentoLegal": "",
              "nomeInstrumentoLegal": "TEST",
              "numeroDecreto": "E",
              "dataPublicacao": "",
              "observacao": "20101010110101301", 
              "taxaCambial": "0553200456", 
              "listaEventos": [
                {
                  "evento": "641000",
                  "esferaOrcamentaria": "3",
                  "uo": "39000",
                  "ptres": "01000A00012019012",
                  "idoc": "3456",
                  "naturezaDespesa": "710000",
                  "fonteRecurso": "000", 
                  "resultado": "0",
                  "tipoCredito": "A",
                  "codigoFuncional": "0001",
                  "autorEmenda": "201901234567",
                  "valor": "10000000"  
                }
              ]             
            }
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          type: string
        - name: ano
          in: path
          description: Ano da Nota de Dotação Sof
          required: true
          type: string
        - name: numero
          in: path
          description: Número da Nota de Dotação Soft
          required: true
          type: string
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          type: string
        - description: >-
            Campo opcional para identificar requisições. O conteúdo é um texto
            livre para que o cliente possa identificar a origem da requisição,
            não há validação do seu conteúdo pela API. Máximo 32 caracteres.
            Máximo 32 caracteres. Máximo 32 caracteres.
          name: X-Request-Tag
          in: header
          type: string
      responses:
        '200':
          description: Nota de bloqueio de Dotação Sof encontrada e retornada com sucesso
          schema:
            $ref: '#/definitions/notaDotacaoSof'
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: >-
            Credencial informada não possui permissão para consultar a Nota de
            Dotação Sof
        '500':
          description: Erro interno do servidor
  /status:
    get:
      tags:
        - Status
      summary: Verifica status da API
      responses:
        '200':
          description: Serviço disponível
          schema:
            $ref: '#/definitions/Status'
          examples:
            lastUpdateAt: '2019-02-18T11:27:06-03:00'
        '500':
          description: Serviço indisponível
          schema:
            $ref: '#/definitions/Status'
          examples:
            lastUpdateAt: '2019-02-18T11:27:06-03:00'
schemes:
  - https
definitions:
  Status:
    type: object
    properties:
      lastUpdateAt:
        type: string
        format: date-time
  Documentos:
    properties:
      data:
        type: string
      listaDocumentos:
        type: array
        items:
          $ref: '#/definitions/ListaDocumentos'
  ListaDocumentos:
    properties:
      ugEmitente:
        type: string
      gestaoEmitente:
        type: string
      numeroDocumento:
        type: string
      tipoNd:
        type: string
  NotaDotacao:
    properties:
      dataEmissao:
        type: string
      numeroDocumento:
        type: string
      ugEmitente:
        type: string
      nomeUgEmitente:
        type: string
      gestaoEmitente:
        type: string
      favorecido:
        type: string
      nomeFavorecido:
        type: string
      taxaCambio:
        type: string
      observacao:
        type: string
      listaEventos:
        type: array
        items:
          $ref: '#/definitions/EventoND'
  notaDotacaoSof:
    properties:
      dataEmissao:
        type: string
      numeroDocumento:
        type: string
      ugEmitente:
        type: string
      gestaoEmitente:
        type: string
      nomeUGEmitente:
        type: string
      nomeGestaoEmitente:
        type: string
      instrumentoLegal:
        type: string
      nomeInstrumentoLegal:
        type: string
      numeroDecreto:
        type: string
      dataPublicacao:
        type: string
      observacao:
        type: string
      taxaCambial:
        type: string
      listaEventos:
        type: array
        items:
          $ref: '#/definitions/ConsultaEventoNDSof'
  ConsultaEventoNDSof:
    properties:
      evento:
        type: string
      esferaOrcamentaria:
        type: string
      uo:
        type: string
      ptres:
        type: string
      idoc:
        type: string
      naturezaDespesa:
        type: string
      fonteRecurso:
        type: string
      resultado:
        type: string
      tipoCredito:
        type: string
      codigoFuncional:
        type: string
      autorEmenda:
        type: string
      valor:
        type: string
  notaBloqueio:
    properties:
      dataEmissao:
        type: string
      numeroDocumento:
        type: string
      ugEmitente:
        type: string
      nomeUGEmitente:
        type: string
      gestaoEmitente:
        type: string
      NomeGestaoEmitente:
        type: string
      taxaCambio:
        type: string
      observacao:
        type: string
      listaEventos:
        type: array
        items:
          $ref: '#/definitions/ConsultaEventoNDBloqueio'
  GeraNotaBloqueio:
    properties:
      dataEmissao:
        type: string
      numeroDocumento:
        type: string
      ugEmitente:
        type: string
      gestaoEmitente:
        type: string
      taxaCambio:
        type: string
      observacao:
        type: string
      listaEventos:
        type: array
        items:
          $ref: '#/definitions/EventoNDBloqueio'
  ConsultaEventoNDBloqueio:
    properties:
      evento:
        type: string
      esferaOrcamentaria:
        type: string
      ptres:
        type: string
      idoc:
        type: string
      naturezaDespesa:
        type: string
      fonte:
        type: string
      valor:
        type: string
  NDBloqueioGerada:
    properties:
      ug:
        type: string
      gestao:
        type: string
      ano:
        type: string
      tipoDoc:
        type: string
      sequencialDoc:
        type: string
      numRequisicao:
        type: string
  EventoNDBloqueio:
    properties:
      evento:
        type: string
      esferaOrcamentaria:
        type: string
      unidadeOrcamentaria:
        type: string
      ptres:
        type: string
      idoc:
        type: string
      naturezaDespesa:
        type: string
      grupoFonte:
        type: string
      resultado:
        type: string
      tipoCredito:
        type: string
      planoOrcamentario:
        type: string
      autorEmenda:
        type: string
      valor:
        type: string
  GeraND:
    properties:
      dataEmissao:
        type: string
      numero:
        type: string
      ugEmitente:
        type: string
      gestaoEmitente:
        type: string
      ugFavorecida:
        type: string
      gestaoFavorecida:
        type: string
      taxaCambio:
        type: string
      observacao:
        type: string
      listaEventos:
        type: array
        items:
          $ref: '#/definitions/EventoND'
  EventoND:
    properties:
      evento:
        type: string
      esferaOrcamentaria:
        type: string
      unidadeOrcamentaria:
        type: string
      ptres:
        type: string
      fonteRecurso:
        type: string
      naturezaDespesa:
        type: string
      subitemND:
        type: string
      ugr:
        type: string
      planoInterno:
        type: string
      valor:
        type: string
  NDGerada:
    properties:
      ug:
        type: string
      gestao:
        type: string
      numero:
        type: string
  ConsultaNDDetOrc:
    properties:
      dataEmissao:
        type: string
      especieND:
        type: string
      numeroDocumento:
        type: string
      ugEmitente:
        type: string
      nomeUGEmitente:
        type: string
      gestaoEmitente:
        type: string
      esferaOrcamentaria:
        type: string
      fonteRecurso:
        type: string
      categoriaDespesa:
        type: string
      codigoInstrumentoLegal:
        type: string
      numeroInstrumentoLegal:
        type: string
      dataPublicacao:
        type: string
      taxaCambio:
        type: string
      ptres:
        type: string
      idoc:
        type: string
      observacao:
        type: string
      listaEventos:
        type: array
        items:
          $ref: '#/definitions/EventosNDDesOrc'
  GeraNDDetOrc:
    properties:
      dataEmissao:
        type: string
      especieND:
        type: string
      numeroDocumento:
        type: string
      ugEmitente:
        type: string
      gestaoEmitente:
        type: string
      esferaOrcamentaria:
        type: string
      unidadeOrcamentaria:
        type: string
      indicadorResultado:
        type: string
      indicadorCredito:
        type: string
      planoOrcamentario:
        type: string
      codigoAutorEmenda:
        type: string
      fonteRecurso:
        type: string
      categoriaDespesa:
        type: string
      codigoInstrumentoLegal:
        type: string
      numeroInstrumentoLegal:
        type: string
      dataPublicacao:
        type: string
      taxaCambio:
        type: string
      observacao:
        type: string
      listaEventos:
        type: array
        items:
          $ref: '#/definitions/EventosNDDesOrc'
      ptres:
        type: string
      idoc:
        type: string
  NDDetaOrcGerada:
    properties:
      ug:
        type: string
      gestao:
        type: string
      numero:
        type: string
  EventosNDDesOrc:
    properties:
      reducaoAcrescimos:
        type: string
      sequencialFonte:
        type: string
      modalidadeAplicacao:
        type: string
      elementoDespesa:
        type: string
      subitemND:
        type: string
      codigoUGResponsavel:
        type: string
      planoInterno:
        type: string
      valor:
        type: string
  NotaLancamento:
    properties:
      dataEmissao:
        type: string
      ugEmitente:
        type: string
      nomeUgEmitente:
        type: string
      gestaoEmitente:
        type: string
      nomeGestaoEmitente:
        type: string
      favorecido:
        type: string
      nomeFavorecido:
        type: string
      gestaoFavorecido:
        type: string
      nomeGestaoFavorecido:
        type: string
      numero:
        type: string
      dataValidacao:
        type: string
      taxaCambio:
        type: string
      tituloCredito:
        type: string
      dataVencimento:
        type: string
      sistemaOrigem:
        type: string
      observacao:
        type: string
      listaEventos:
        type: array
        items:
          $ref: '#/definitions/EventoNL'
  GeraNL:
    properties:
      dataEmissao:
        type: string
      ugEmitente:
        type: string
      gestaoEmitente:
        type: string
      favorecido:
        type: string
      gestaoFavorecido:
        type: string
      numero:
        type: string
      dataValidacao:
        type: string
      taxaCambio:
        type: string
      tituloCredito:
        type: string
      dataVencimento:
        type: string
      observacao:
        type: string
      listaEventos:
        type: array
        items:
          $ref: '#/definitions/EventoNL'
  EventoNL:
    properties:
      evento:
        type: string
      inscricao1:
        type: string
      inscricao2:
        type: string
      classificacao1:
        type: string
      classificacao2:
        type: string
      classOrcamentaria1:
        type: string
      classOrcamentaria2:
        type: string
      valor:
        type: string
      numeroReferencia:
        type: string
  NLGerada:
    properties:
      ug:
        type: string
      gestao:
        type: string
      numero:
        type: string
  NotaCredito:
    properties:
      dataEmissao:
        type: string
      numero:
        type: string
      ugEmitente:
        type: string
      gestaoEmitente:
        type: string
      ugFavorecida:
        type: string
      gestaoFavorecida:
        type: string
      taxaCambio:
        type: string
      numeroTransferencia:
        type: string
      observacao:
        type: string
      listaEventos:
        type: array
        items:
          $ref: '#/definitions/EventoNC'
  GeraNC:
    properties:
      dataEmissao:
        type: string
      numero:
        type: string
      ugEmitente:
        type: string
      gestaoEmitente:
        type: string
      ugFavorecida:
        type: string
      gestaoFavorecida:
        type: string
      taxaCambio:
        type: string
      numeroTransferencia:
        type: string
      observacao:
        type: string
      listaEventos:
        type: array
        items:
          $ref: '#/definitions/EventoNC'
  NCGerada:
    properties:
      ug:
        type: string
      gestao:
        type: string
      numero:
        type: string
  EventoNC:
    properties:
      evento:
        type: string
      esferaOrcamentaria:
        type: string
      ptres:
        type: string
      fonteRecurso:
        type: string
      naturezaDespesa:
        type: string
      subitem:
        type: string
      ugResponsavel:
        type: string
      planoInterno:
        type: string
      valor:
        type: string
  Credencial:
    properties:
      cpf:
        type: string
      ug:
        type: string
      sistema:
        type: string
  AlteraNE:
    properties:
      dataEmissao:
        type: string
      numeroDocumento:
        type: string
      ugEmitente:
        type: string
      gestaoEmitente:
        type: string
      numeroLista:
        type: string
      taxaCambio:
        type: string
      observacao:
        type: string
      valorTotalEmpenho:
        type: string
      numeroProcesso:
        type: string
      numeroOriginalConvenio:
        type: string
      passivoAnterior:
        type: string
      contaPassivo:
        type: string
      contaValor:
        $ref: '#/definitions/Conta'
      contaPassivoFinanceiro:
        type: string
      especie:
        type: string
      ugReferencia:
        type: string
      gestaoReferencia:
        type: string
      numeroEmpenhoReferencia:
        type: string
      listaItens:
        $ref: '#/definitions/listaItens'
      numeroTransacaoCliente:
        type: string
      credencial:
        $ref: '#/definitions/Credencial'
  AnulaNE:
    properties:
      dataEmissao:
        type: string
      numeroDocumento:
        type: string
      ugEmitente:
        type: string
      gestaoEmitente:
        type: string
      numeroLista:
        type: string
      taxaCambio:
        type: string
      observacao:
        type: string
      valorTotalEmpenho:
        type: string
      numeroProcesso:
        type: string
      numeroOriginalConvenio:
        type: string
      passivoAnterior:
        type: string
      contaPassivo:
        type: string
      contaValor:
        $ref: '#/definitions/Conta'
      contaPassivoFinanceiro:
        type: string
      especie:
        type: string
      ugReferencia:
        type: string
      gestaoReferencia:
        type: string
      numeroEmpenhoReferencia:
        type: string
      listaItens:
        $ref: '#/definitions/listaItens'
      numeroTransacaoCliente:
        type: string
      credencial:
        $ref: '#/definitions/Credencial'
  ConsultaTransacao:
    properties:
      numeroTransacaoCliente:
        type: string
      credencial:
        type: object
        properties:
          cpf:
            type: string
          ug:
            type: string
          sistema:
            type: string
  ConsultaNE:
    properties:
      ano:
        type: string
      ug:
        type: string
      gestao:
        type: string
      numero:
        type: string
  RealizaNE:
    properties:
      dataEmissao:
        type: string
      numeroDocumento:
        type: string
      ugEmitente:
        type: string
      gestaoEmitente:
        type: string
      numeroLista:
        type: string
      taxaCambio:
        type: string
      observacao:
        type: string
      valorTotalEmpenho:
        type: string
      numeroProcesso:
        type: string
      numeroOriginalConvenio:
        type: string
      passivoAnterior:
        type: string
      contaPassivo:
        type: string
      contaValor:
        type: array
        items:
          type: object
          properties:
            conta:
              type: string
            valor:
              type: string
      contaPassivoFinanceiro:
        type: string
      favorecido:
        type: string
      gestaoFavorecido:
        type: string
      esferaOrcamentaria:
        type: string
      codigoUO:
        type: string
      ptres:
        type: string
      fonteRecursos:
        type: string
      naturezaDespesa:
        type: string
      unidadeGestoraResponsavel:
        type: string
      planoInterno:
        type: string
      tipoEmpenho:
        type: string
      modalidadeLicitacao:
        type: string
      amparoLegal:
        type: string
      inciso:
        type: string
      origemMaterial:
        type: string
      municipioBeneficiado:
        type: string
      ufBeneficiada:
        type: string
      dataVencimento:
        type: array
        items:
          type: string
      dataRecebimento:
        type: array
        items:
          type: string
      valorCompromisso:
        type: array
        items:
          type: string
      listaItens:
        type: array
        items:
          type: object
          properties:
            subItemNd:
              type: string
            quantidade:
              type: string
            valorUnitario:
              type: string
            valorTotal:
              type: string
            descricao:
              type: string
  AtualizaNE:
    properties:
      dataEmissao:
        type: string
      numeroDocumento:
        type: string
      ugEmitente:
        type: string
      gestaoEmitente:
        type: string
      numeroLista:
        type: string
      taxaCambio:
        type: string
      observacao:
        type: string
      valorTotalEmpenho:
        type: string
      numeroProcesso:
        type: string
      numeroOriginalConvenio:
        type: string
      passivoAnterior:
        type: string
      contaPassivo:
        type: string
      contaValor:
        type: array
        items:
          type: object
          properties:
            conta:
              type: string
            valor:
              type: string
      contaPassivoFinanceiro:
        type: string
      especie:
        type: string
      ugReferencia:
        type: string
      gestaoReferencia:
        type: string
      numeroEmpenhoReferencia:
        type: string
      numeroListaReferencia:
        type: string
      listaItens:
        type: array
        items:
          type: object
          properties:
            subItemNd:
              type: string
            quantidade:
              type: string
            valorUnitario:
              type: string
            valorTotal:
              type: string
            descricao:
              type: string
  ReforcaNE:
    properties:
      dataEmissao:
        type: string
      numeroDocumento:
        type: string
      ugEmitente:
        type: string
      gestaoEmitente:
        type: string
      numeroLista:
        type: string
      taxaCambio:
        type: string
      observacao:
        type: string
      valorTotalEmpenho:
        type: string
      numeroProcesso:
        type: string
      numeroOriginalConvenio:
        type: string
      passivoAnterior:
        type: string
      contaPassivo:
        type: string
      contaValor:
        type: object
        properties:
          conta:
            type: string
          valor:
            type: string
      contaPassivoFinanceiro:
        type: string
      especie:
        type: string
      ugReferencia:
        type: string
      gestaoReferencia:
        type: string
      numeroEmpenhoReferencia:
        type: string
      numeroListaReferencia:
        type: string
      listaItens:
        type: object
        properties:
          subItemNd:
            type: string
          quantidade:
            type: string
          valorUnitario:
            type: string
          valorTotal:
            type: string
          descricao:
            type: string
      numeroTransacaoCliente:
        type: string
      credencial:
        type: object
        properties:
          cpf:
            type: string
          ug:
            type: string
          sistema:
            type: string
  NE:
    properties:
      numeroCliente:
        type: string
      numeroListaEmpenho:
        type: string
      numeroDocGerado:
        type: string
  DadosNE:
    properties:
      dataEmissao:
        type: string
      saldoPagar:
        type: string
      numeroNota:
        type: string
      ugEmitente:
        type: string
      nomeUgEmitente:
        type: string
      gestaoEmitente:
        type: string
      nomeGestaoEmitente:
        type: string
      nomeFavorecido:
        type: string
      tipoFavorecido:
        type: string
      codigoFavorecido:
        type: string
      sicaf:
        type: string
      operacaoCambial:
        type: string
      observacao:
        type: string
      evento:
        type: string
      esfera:
        type: string
      ptres:
        type: string
      fonte:
        type: string
      codigoND:
        type: string
      ugResponsavel:
        type: string
      planoInterno:
        type: string
      valorEmpenho:
        type: string
      tipoEmpenho:
        type: string
      sistemaOrigem:
        type: string
      docReferenciaOriginal:
        type: string
      numDocReferencia:
        type: string
      passivoAnterior:
        type: string
      contaPassivo:
        type: string
      nomeModalidade:
        type: string
      nomeAmparo:
        type: string
      inciso:
        type: string
      numeroProcesso:
        type: string
      indicadorPagPrecatorio:
        type: string
      siglaUF:
        type: string
      codigoMunicipioBeneficiado:
        type: string
      origemMaterial:
        type: string
      referenciaDispensa:
        type: string
      numeroOriginal:
        type: string
      informacoesLancamentos:
        type: string
      contaCorrenteFinanceiro:
        type: string
      contasPermanentes:
        type: array
        items:
          $ref: '#/definitions/Conta'
      numeroLista:
        type: string
      subItens:
        type: array
        items:
          $ref: '#/definitions/subItem'
      subItensSaldo:
        type: array
        items:
          $ref: '#/definitions/subItemSaldo'
      nsaldo:
        type: string
  listaItens:
    properties:
      subItemNd:
        type: string
      quantidade:
        type: string
      valorUnitario:
        type: string
      descricao:
        type: string
  subItemSaldo:
    properties:
      numero:
        type: string
      valor:
        type: string
  subItem:
    properties:
      numero:
        type: string
      valor:
        type: string
      seq:
        type: string
      qtd:
        type: string
      valorTotal:
        type: string
      descricao:
        type: string
  Conta:
    properties:
      conta:
        type: string
      valor:
        type: string
