{
  "host": "apigateway.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "api",
    "title": "Assinatura e Verificação de Carimbo de Tempo",
    "description": "\nPara informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em: http://devserpro.github.io/apis/ \n\n    \nO serviço `Assinatura e Verificação de Carimbo de Tempo` é disponibilizado através do `HTTP REST` oferencendo operação para assinatura e validação de Carimbo de Tempo gerado pelo serviço.\n\nO carimbo de tempo é uma assinatura/selo que atesta a data e hora que um documento foi gerado ou assinado. É utilizado para garantir a veracidade das informações apresentadas, e que não houve nenhuma alteração em seu conteúdo, após a data em que o carimbo de tempo foi aplicado.\n\n## Códigos de Retorno\n\n### Assinatura\n| Código de retorno | Resumido | Explicação |\n| ------------- |:--------------------|:-----------------------------------------------------------------------------|\n| 200           | OK                  | O documento é válido e o carimbo de tempo é retornado |\n| 400           | Erro de validação   | O documento não foi informado, ou possui alguma informação inválida |\n| 500           | Erro Interno        | O carimbo de tempo não foi gerado por alguma indisponibilidade temporária. |\n\n\n### Verificação\n| Código de retorno | Resumido | Explicação |\n| ------------- |:--------------------|:-----------------------------------------------------------------------------|\n| 200           | OK                  | O carimbo de tempo é válido para o documento informado. |\n| 400           | Requisição inválida                  | O carimbo de tempo informado não é válido para o documento informado. Mensagem de erro pode ser enviada com informações adicionais. |    \n| 500           | Erro Interno        |O carimbo de tempo não pode sert verificado por alguma indisponibilidade temporária . |\n\n## Endereço Base de Produção\n    https://apigateway.serpro.gov.br/carimbo-tempo/api/v1/timestamp/sign (assinatura)\n    https://apigateway.serpro.gov.br/carimbo-tempo/api/v1/timestamp/check (verificação)\n    \n## Endereço Base de degustação\n    https://apigateway.serpro.gov.br/carimbo-tempo-trial/api/v1/timestamp/sign (assinatura)\n    https://apigateway.serpro.gov.br/carimbo-tempo-trial/api/v1/timestamp/check (verificação)\n    "
  },
  "basePath": "/carimbo-tempo/api",
  "paths": {
    "/v1/timestamp/sign": {
      "post": {
        "summary": "Gera o carimbo de tempo para o documento informado",
        "tags": [
          "v1"
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n\n    [POST] https://apigateway.serpro.gov.br/carimbo-tempo-trial/api/v1/timestamp/sign\n\n<br>\n\n#### Conteudo do corpo (este conteúdo pode ser utilizado para degustação)\n\n    { \n      \"document\": \"Texto/documento a ser assinado\"\n    }\n\n  #### Retorno\n  \n    {\n      \"status\": \"Success\",\n      \"timestamp\":{\n        \"base64\": \"QXF1aSB2YWkgYSBhc3NpbmF0dXJhLCBlbSBCYXNlNjQsIGRvIGNhcmltYm8gZGUgdGVtcG8gcmVjZWJpZG8gcGVsbyB1c3XDoXJpbywgbmFzIHJlcXVpc2nDp8O1ZXMgZGFzIG91dHJhcyBBUEkuIEVzdGEgYXNzaW5hdHVyYSBlc3TDoSBlbSB0YW1hbmhvIGJhc3RhbnRlIHJlZHV6aWRvLCB1dGlsaXphZG8gYXBlbmFzIHBhcmEgZmlucyBkaWTDoXRpY29zLg==\"\n      }\n    }      ",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Texto/documento a ser carimbado.",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Document"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "O carimbo foi aplicado ao texto/documento informado",
            "schema": {
              "$ref": "#/definitions/VerificaAssinatura"
            }
          },
          "400": {
            "description": "O texto/documento informado é inválido",
            "schema": {
              "$ref": "#/definitions/Erro"
            }
          },
          "500": {
            "description": "Não foi possível aplicar o carimbo de tempo",
            "schema": {
              "$ref": "#/definitions/Erro"
            }
          }
        }
      }
    },
    "/v1/timestamp/check": {
      "post": {
        "summary": "Verifica o carimbo de tempo para o documento informado",
        "tags": [
          "v1"
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n\n    [POST] https://apigateway.serpro.gov.br/carimbo-tempo-trial/api/v1/timestamp/check\n\n<br>\n\n#### Conteudo do corpo (este conteúdo pode ser utilizado para degustação)\n#### Caso deseje uma resposta inválida, basta deixar o document em branco\n\n    { \n      \"document\": \"Texto/documento a ser verificado\",\n      \"timestamp\" : {\n        \"base64\" : \"QXF1aSB2YWkgYSBhc3NpbmF0dXJhLCBlbSBCYXNlNjQsIGRvIGNhcmltYm8gZGUgdGVtcG8gcmVjZWJpZG8gcGVsbyB1c3XDoXJpbywgbmFzIHJlcXVpc2nDp8O1ZXMgZGFzIG91dHJhcyBBUEkuIEVzdGEgYXNzaW5hdHVyYSBlc3TDoSBlbSB0YW1hbmhvIGJhc3RhbnRlIHJlZHV6aWRvLCB1dGlsaXphZG8gYXBlbmFzIHBhcmEgZmlucyBkaWTDoXRpY29zLg==\"\n      }\n    }\n  #### Retorno\n  \n    {\n      \"status\": \"Success\",\n      \"message\":\"Documento assinado em 08-Jan-2018 23:12:55:9 GMT\",\n    }      ",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Informações do documento e da assinatura a serem verificados.",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VerificaAssinatura"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A assinatura foi verificada",
            "schema": {
              "$ref": "#/definitions/RetornoAssinatura"
            }
          },
          "400": {
            "description": "A assinatura não corresponde ao texto/documento informado",
            "schema": {
              "$ref": "#/definitions/AssinaturaInvalida"
            }
          },
          "500": {
            "description": "Não foi possível verificar a assinatura",
            "schema": {
              "$ref": "#/definitions/Erro"
            }
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Verifica status da API",
        "responses": {
          "200": {
            "description": "Serviço disponível",
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "examples": {
              "lastUpdateAt": "2019-02-18T11:27:06-03:00"
            }
          },
          "500": {
            "description": "Serviço indisponível",
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "examples": {
              "lastUpdateAt": "2019-02-18T11:27:06-03:00"
            }
          }
        }
      }
    }
  },
  "schemes": [
    "https"
  ],
  "definitions": {
    "Status": {
      "type": "object",
      "properties": {
        "lastUpdateAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "VerificaAssinatura": {
      "properties": {
        "document": {
          "type": "string"
        },
        "timestamp": {
          "type": "object",
          "properties": {
            "base64": {
              "type": "string"
            }
          }
        }
      }
    },
    "RetornoAssinatura": {
      "properties": {
        "status": {
          "type": "string",
          "example": "Sucess"
        },
        "message": {
          "type": "string",
          "example": "Documento assinado em dd-MMM-yyyy HH:mm:ss:S z"
        }
      }
    },
    "AssinaturaInvalida": {
      "properties": {
        "status": {
          "type": "string",
          "example": "Warning"
        },
        "message": {
          "type": "string",
          "example": "O documento fornecido não corresponde ao do carimbo de tempo!"
        }
      }
    },
    "Erro": {
      "properties": {
        "status": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "Document": {
      "properties": {
        "document": {
          "type": "object"
        }
      }
    }
  }
}
