{
  "host": "apigateway.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "info": {
    "version": "1.0",
    "title": "Consulta NF-e",
    "description": "Para informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em: http://devserpro.github.io/apis/ \n\n    \nO serviço `Consulta Nota Fiscal Eletrônica (NF-e)` é disponibilizado através do `HTTP REST` oferencendo operação para consulta de informações referentes a uma determinada NF-e, através de sua chave de acesso.\n<br>\n ## Códigos de Retorno não Tarifados \n|  Código de retorno |  Resumido |  Explicação |\n| ------------- |:--------------------|:----------------------------------------------------------------------------- |\n| &nbsp;           | &nbsp;    | &nbsp;  | \n |400           | Requisição inválida    | O número da chave informado não é válido.       |\n| &nbsp;           | &nbsp;    | &nbsp;  |\n| 404           | Not found    | O número da chave informado não foi encontrado.  |\n| &nbsp;           | &nbsp;    | &nbsp;  |\n| 500           | Erro no Servidor | Ocorreu algum erro no servidor.      |\n<br>\n ## Leiautes e Formatos \n\n<br>As informações da NF-e disponibilizadas estão de acordo com o leiaute da NF-e, disponibilizado pelo Encontro Nacional de Coordenadores e Administradores Tributários Estaduais (ENCAT). \n<br><br>\n As Notas Técnicas com as informações de leiaute da NF-e estão disponíveis para *download* em http://www.nfe.fazenda.gov.br/portal/listaConteudo.aspx?tipoConteudo=tW+YMyk/50s= \n<br><br>\n A estrutura do JSON de retorno seguem as mesmas especificações dos esquemas XML dos Web Services, disponibilizados em http://www.nfe.fazenda.gov.br/portal/listaConteudo.aspx?tipoConteudo=/fwLvLUSmU8= \n<br><br>\n Os campos do `TIPO NUMÉRICO`, o JSON de retorno irá devolver o campo no `formato number` e caso o valor numérico do campo seja um valor muito grande, o retorno poderá aparecer no json no `formato de notação científica`. Cabe a aplicação que consome o serviço da API dar o tratamento adequado para campos numéricos. \n<br>\n## Solicitando assinatura com Carimbo de Tempo\n\n  Caso deseje que sua solicitação venha com uma assinatura de Carimbo de Tempo, basta incluir, no cabeçalho de sua requisição, a informação `x-signature: 1`.\n  \n  A assinatura será retornada no cabeçalho da resposta, com o nome `stamp`.\n<br>\n## Verificando assinatura com Carimbo de Tempo\n\n  Para verificar assinatura de carimbo de tempo, siga as instruções da documentação abaixo:\n  \n[Documentação - Verificação Carimbo de Tempo](https://rawgit.com/devserpro/apis/master/_layouts/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://rawgit.com/devserpro/apis/master/_layouts/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)\n<br>\n## Campo cabeçalho da requisição (X-Request-Tag)\n\n  Este campo é opcional na utilização das chamadas às APIs / Datavalid e serve como identificador de requisições. Caso uma empresa necessite, por exemplo, agrupar a quantidade de requisições realizadas por cada departamento, poderá utilizar este campo de forma a identificar no faturamento a quantidade de requisições de cada item agrupador. \n<br><br>\n O campo é de texto livre (string até 32 caracteres) e não possui validação de seu conteúdo. Cabe, portanto, ao cliente manter o controle das informações que são enviadas para esse campo de forma que o relatório de faturamento faça o agrupamento adequado. \n<br><br>\n Este atributo pode ser usado pela entidade de classe e/ou grupo econômico na modalidade global com ônus entidade para fins de identificação do associado que realiza a requisição. No caso de entidades de classe ou grupos econômicos que realizem a contratação com ônus para o associado não é necessário realizar o agrupamento pois cada associado irá possuir sua própria chave de consumo.\n<br>\n## Produção \n ### Endereço base de Produção\n    https://apigateway.serpro.gov.br/nfe/1 \n<br>\n ## Degustação \n ### Endereço base de Degustação\n    https://apigateway.serpro.gov.br/nfe-trial/1 \n<br>\n## Exemplo de Chamada e Retorno\n### Chamada\n    https://apigateway.serpro.gov.br/nfe-trial/1/35161147508411011603551000077959551093041003 \n<br>\n ### Retorno \n\n   O retorno poderá ser do tipo `arquivo.json` ou `arquivo.xml`"
  },
  "basePath": "/nfe-trial/1",
  "paths": {
    "/{chave}": {
      "get": {
        "tags": [
          "Consulta NF-e"
        ],
        "summary": "Consulta Nota Fiscal Eletrônica",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "Retorna as informações da NF-e com a chave de acesso informada. \n### Notas Fiscais Eletrônicas disponíveis para Degustação\n| Chave | Observação |\n| ---------------------- | ----------|\n| 35170608530528000184550000000154301000771561 | |\n| 35161147508411011603551000077959551093041003 | |\n| 53131205035672000156550010000004991543410167 | |\n| 42140612687276000179550010001505671172228752 | |\n| 35140903608306000202555000001100251571436929 | |\n| 53150337992500000167550010000029521000029516 | |\n| 31150917591579000107550010000014321081035918 | |\n| 35151200991908000104550020000063951000184833 | |\n| 31160906347409006953550110008369841081956475 | |\n| 31170309339936000973550250002397736362483965 | |\n| 35160900623904000335550010028792431858713854 | |\n| 35170300776574000156550020009091941178378523 | |\n| 53160911510448000171550010000106771000187760 | |\n| 52160819015622000111550010000007051300828370 | |\n| 53160621182711000102550010000012921000042921 | |\n| 52160609303953000101550010000008711000045330 | |\n| 53151205642646000196550010000287891000219878 | |\n| 53160713453539000148550010000009101000070190 | |\n| 52151013766790000162550010000028401250000010 | |\n| 53160705642646000196550010000298141000284189 | |\n| 52160400945852000151550010000041771020601080 | |\n| 24190201243220000109550010000007251000007252 | |\n| 24190420412822000197550010000004701000001816 | |\n| 25190400785860000188550010000000061000000868 | |\n| 29190332994770000193550020000000107000000124 | |\n| 33190403282458000179550010001434641841176079 | |\n| 87878774456468954646464654654546545446579312 | Essa NFe possui todos os array |\n|",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "chave",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Chave de acesso da NF-e (44 dígitos, sem espaços)"
          },
          {
            "description": "Solicitação de assinatura de carimbo de tempo. Informe 1 para assinar, ou deixe em branco para não assinar.",
            "name": "X-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Campo opcional para identificar requisições. O conteúdo é um texto livre para que o cliente possa identificar a origem da requisição, não há validação do seu conteúdo pela API. Máximo 32 caracteres",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados da NF-e correspondente à chave de acesso informada",
            "schema": {
              "$ref": "#/definitions/NFe"
            }
          },
          "400": {
            "description": "A chave de acesso informada não é válida."
          },
          "404": {
            "description": "Não existe NF-e com chave de acesso informada."
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/monitor/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Verifica status da API",
        "responses": {
          "200": {
            "description": "Serviço disponível",
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "examples": {
              "lastUpdateAt": "2019-02-18T11:27:06-03:00"
            }
          },
          "500": {
            "description": "Serviço indisponível",
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "examples": {
              "lastUpdateAt": "2019-02-18T11:27:06-03:00"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "NFe": {
      "type": "object",
      "properties": {
        "protNFe": {
          "type": "object",
          "properties": {
            "infProt": {
              "type": "object",
              "properties": {
                "nProt": {
                  "type": "integer",
                  "example": 55455534534
                },
                "digVal": {
                  "type": "string",
                  "example": "jfdgh76tr542786rteuhyfbwef8="
                },
                "dhRecbto": {
                  "type": "string",
                  "example": "2019-07-22T09:34:06-03:00"
                },
                "Id": {
                  "type": "string",
                  "example": "Id445345345"
                },
                "chNFe": {
                  "type": "string",
                  "example": "87878774456468954646464654654546545446579312"
                },
                "xMotivo": {
                  "type": "string",
                  "example": "Autorizado o uso da NF-e"
                },
                "cStat": {
                  "type": "number",
                  "example": 100
                }
              }
            }
          }
        },
        "NFe": {
          "type": "object",
          "properties": {
            "InfNFe": {
              "type": "object",
              "properties": {
                "InfAdic": {
                  "type": "object",
                  "properties": {
                    "infCpl": {
                      "type": "string",
                      "example": "Lorem ipsum dolor..."
                    },
                    "obsCont": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "xCampo": {
                            "type": "string",
                            "example": "Qualquer coisa 1"
                          },
                          "xTexto": {
                            "type": "string",
                            "example": "Qualquer coisa 2"
                          }
                        }
                      }
                    }
                  }
                },
                "det": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "nItem": {
                        "type": "integer",
                        "example": 1
                      },
                      "prod": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "cEAN": {
                              "type": "string",
                              "example": "SEM GTIN"
                            },
                            "cProd": {
                              "type": "string",
                              "example": "JC59-00035A-SI"
                            },
                            "qCom": {
                              "type": "number",
                              "example": 1
                            },
                            "cEANTrib": {
                              "type": "string",
                              "example": "SEM GTIN"
                            },
                            "vUnTrib": {
                              "type": "number",
                              "example": 265.79
                            },
                            "qTrib": {
                              "type": "number",
                              "example": 1
                            },
                            "vProd": {
                              "type": "number",
                              "example": 265.79
                            },
                            "xProd": {
                              "type": "string",
                              "example": "UNIDADE DE DISCO RIGIDO 320GB"
                            },
                            "vUnCom": {
                              "type": "number",
                              "example": 265.79
                            },
                            "indTot": {
                              "type": "integer",
                              "example": 1
                            },
                            "uTrib": {
                              "type": "string",
                              "example": "UN"
                            },
                            "NCM": {
                              "type": "integer",
                              "example": 84717012
                            },
                            "uCom": {
                              "type": "string",
                              "example": "UN"
                            },
                            "CFOP": {
                              "type": "integer",
                              "example": 5949
                            },
                            "CEST": {
                              "type": "integer",
                              "example": 2103300
                            },
                            "rastro": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "nLote": {
                                    "type": "string",
                                    "example": "Lote 1"
                                  },
                                  "qLote": {
                                    "type": "number",
                                    "example": 18
                                  },
                                  "dFab": {
                                    "type": "string",
                                    "example": "2019-07-22"
                                  },
                                  "dVal": {
                                    "type": "string",
                                    "example": "2020-06-22"
                                  },
                                  "cAgreg": {
                                    "type": "string",
                                    "example": "Agregador 1"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "imposto": {
                        "type": "object",
                        "properties": {
                          "ICMS": {
                            "type": "object",
                            "properties": {
                              "orig": {
                                "type": "integer",
                                "example": 1
                              },
                              "CST": {
                                "type": "integer",
                                "example": 41
                              }
                            }
                          },
                          "IPI": {
                            "type": "object",
                            "properties": {
                              "IPINT": {
                                "type": "object",
                                "properties": {
                                  "CST": {
                                    "type": "integer",
                                    "example": 53
                                  }
                                }
                              },
                              "cEnq": {
                                "type": "integer",
                                "example": 999
                              }
                            }
                          },
                          "COFINS": {
                            "type": "object",
                            "properties": {
                              "COFINSNT": {
                                "type": "object",
                                "properties": {
                                  "CST": {
                                    "type": "integer",
                                    "example": "07"
                                  }
                                }
                              }
                            }
                          },
                          "PIS": {
                            "type": "object",
                            "properties": {
                              "PISNT": {
                                "type": "object",
                                "properties": {
                                  "CST": {
                                    "type": "integer",
                                    "example": "07"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "total": {
                  "type": "object",
                  "properties": {
                    "ICMSTot": {
                      "type": "object",
                      "properties": {
                        "vCONFINS": {
                          "type": "number",
                          "example": 0
                        },
                        "vBCST": {
                          "type": "number",
                          "example": 0
                        },
                        "vICMSDeson": {
                          "type": "number",
                          "example": 0
                        },
                        "vProd": {
                          "type": "number",
                          "example": 265.79
                        },
                        "vSeq": {
                          "type": "number",
                          "example": 0
                        },
                        "vFCP": {
                          "type": "number",
                          "example": 0
                        },
                        "vFCPST": {
                          "type": "number",
                          "example": 0
                        },
                        "vNF": {
                          "type": "number",
                          "example": 0
                        },
                        "vPIS": {
                          "type": "number",
                          "example": 0
                        },
                        "vIPIDevol": {
                          "type": "number",
                          "example": 0
                        },
                        "vBC": {
                          "type": "number",
                          "example": 0
                        },
                        "vST": {
                          "type": "number",
                          "example": 0
                        },
                        "vICMS": {
                          "type": "number",
                          "example": 0
                        },
                        "vII": {
                          "type": "number",
                          "example": 0
                        },
                        "vFCPSTRet": {
                          "type": "number",
                          "example": 0
                        },
                        "vDESC": {
                          "type": "number",
                          "example": 0
                        },
                        "vOutro": {
                          "type": "number",
                          "example": 0
                        },
                        "vIPI": {
                          "type": "number",
                          "example": 0
                        },
                        "vFrete": {
                          "type": "number",
                          "example": 0
                        }
                      }
                    }
                  }
                },
                "pag": {
                  "type": "object",
                  "properties": {
                    "detPag": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "vPag": {
                            "type": "number",
                            "example": 265.79
                          },
                          "tpag": {
                            "type": "number",
                            "example": 99
                          }
                        }
                      }
                    }
                  }
                },
                "Id": {
                  "type": "string",
                  "example": "NFe87878774456468954646464654654546545446579312"
                },
                "ide": {
                  "type": "object",
                  "properties": {
                    "tpNF": {
                      "type": "integer",
                      "example": 1
                    },
                    "mod": {
                      "type": "integer",
                      "example": 55
                    },
                    "indPres": {
                      "type": "integer",
                      "example": 0
                    },
                    "tpImp": {
                      "type": "integer",
                      "example": 1
                    },
                    "nNF": {
                      "type": "integer",
                      "example": 1353368
                    },
                    "cMunFG": {
                      "type": "integer",
                      "example": 3534401
                    },
                    "procEmi": {
                      "type": "integer",
                      "example": 0
                    },
                    "finNFe": {
                      "type": "integer",
                      "example": 1
                    },
                    "dhEmi": {
                      "type": "string",
                      "example": "2019-07-22T09:33:31-03:00"
                    },
                    "tpAmb": {
                      "type": "integer",
                      "example": 1
                    },
                    "indFinal": {
                      "type": "integer",
                      "example": 1
                    },
                    "dhSaiEnt": {
                      "type": "string",
                      "example": "2019-07-22T09:33:31-03:00"
                    },
                    "idDest": {
                      "type": "integer",
                      "example": 1
                    },
                    "tpEmis": {
                      "type": "integer",
                      "example": 1
                    },
                    "cDV": {
                      "type": "integer",
                      "example": 0
                    },
                    "cUF": {
                      "type": "integer",
                      "example": 35
                    },
                    "serie": {
                      "type": "integer",
                      "example": 3
                    },
                    "natOp": {
                      "type": "string",
                      "example": "Outra saida merc./prestacao serv. nao espec."
                    },
                    "cNF": {
                      "type": "string",
                      "example": "00012763"
                    },
                    "verProc": {
                      "type": "string",
                      "example": "5.0.1500.2985"
                    }
                  }
                },
                "emit": {
                  "type": "object",
                  "properties": {
                    "CNAE": {
                      "type": "integer",
                      "example": 34324
                    },
                    "xNome": {
                      "type": "string",
                      "example": "ACME SERVICOS LTDA"
                    },
                    "IM": {
                      "type": "integer",
                      "example": 96852
                    },
                    "CRT": {
                      "type": "integer",
                      "example": 3
                    },
                    "xFant": {
                      "type": "string",
                      "example": "ACME SERVICOS LTDA"
                    },
                    "CNPJ": {
                      "type": "string",
                      "example": "ACME SERVICOS LTDA"
                    },
                    "enderEmit": {
                      "type": "object",
                      "properties": {
                        "fone": {
                          "type": "integer",
                          "example": 4534534534
                        },
                        "UF": {
                          "type": "string",
                          "example": "SP"
                        },
                        "xPais": {
                          "type": "string",
                          "example": "Brasil"
                        },
                        "cPais": {
                          "type": "integer",
                          "example": 1058
                        },
                        "xLgr": {
                          "type": "string",
                          "example": "SP"
                        },
                        "xMun": {
                          "type": "string",
                          "example": "Brasil"
                        },
                        "nro": {
                          "type": "integer",
                          "example": 628
                        },
                        "cMun": {
                          "type": "integer",
                          "example": 454545
                        },
                        "xBairro": {
                          "type": "string",
                          "example": "Bairro do Chaves"
                        },
                        "CEP": {
                          "type": "string",
                          "example": "06200000"
                        }
                      }
                    },
                    "IE": {
                      "type": "integer",
                      "example": 8465465454
                    }
                  }
                },
                "dest": {
                  "type": "object",
                  "properties": {
                    "xNome": {
                      "type": "string",
                      "example": "ACME SERVICOS LTDA"
                    },
                    "CNPJ": {
                      "type": "string",
                      "example": "4545345345345"
                    },
                    "enderDest": {
                      "type": "object",
                      "properties": {
                        "xCpl": {
                          "type": "string",
                          "example": "GALP 1 E 2"
                        },
                        "fone": {
                          "type": "integer",
                          "example": 4534534534
                        },
                        "UF": {
                          "type": "string",
                          "example": "SP"
                        },
                        "xPais": {
                          "type": "string",
                          "example": "Brasil"
                        },
                        "cPais": {
                          "type": "integer",
                          "example": 1058
                        },
                        "xLgr": {
                          "type": "string",
                          "example": "AV Paulista"
                        },
                        "xMun": {
                          "type": "string",
                          "example": "Oscasco"
                        },
                        "nro": {
                          "type": "integer",
                          "example": 628
                        },
                        "cMun": {
                          "type": "integer",
                          "example": 454545
                        },
                        "xBairro": {
                          "type": "string",
                          "example": "Bairro do Chaves"
                        },
                        "CEP": {
                          "type": "string",
                          "example": "06200000"
                        }
                      }
                    },
                    "IE": {
                      "type": "integer",
                      "example": 8465465454
                    },
                    "indIEDest": {
                      "type": "integer",
                      "example": 9
                    },
                    "email": {
                      "type": "string",
                      "example": "acme@acme.com"
                    }
                  }
                },
                "transp": {
                  "type": "object",
                  "properties": {
                    "modFrete": {
                      "type": "integer",
                      "example": 0
                    },
                    "vol": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "pesoL": {
                            "type": "number",
                            "example": 0.03
                          },
                          "qVol": {
                            "type": "integer",
                            "example": 1
                          },
                          "pesoBt": {
                            "type": "number",
                            "example": 0.033
                          }
                        }
                      }
                    },
                    "transporta": {
                      "type": "object",
                      "properties": {
                        "xNone": {
                          "type": "string",
                          "example": "John Doe da Silva"
                        },
                        "UF": {
                          "type": "string",
                          "example": "SP"
                        },
                        "xEnder": {
                          "type": "string",
                          "example": "Rua 1"
                        },
                        "xMun": {
                          "type": "string",
                          "example": "Sao Paulo"
                        },
                        "CNPJ": {
                          "type": "string",
                          "example": "4654654654654"
                        },
                        "IE": {
                          "type": "integer",
                          "example": 8789789789
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "Versao": {
          "type": "string"
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "lastUpdateAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    }
  }
}
