openapi: 3.0.1
info:
  title: Consulta NF-e
  version: '1.0'
  description: |-
    O serviço &nbsp; *Consulta Nota Fiscal Eletrônica (NF-e)* &nbsp; é disponibilizado através do &nbsp; *HTTP REST* &nbsp; oferencendo operação para consulta de informações referentes a uma determinada NF-e, através de sua chave de acesso.
    
    As informações da NF-e disponibilizadas estão de acordo com o leiaute da NF-e, disponibilizado pelo Encontro Nacional de Coordenadores e Administradores Tributários Estaduais (ENCAT). 
    
    Para verificação das Notas Técnicas com as informações de leiaute da NF-e acesse o link: [Notas Técnicas](http://www.nfe.fazenda.gov.br/portal/listaConteudo.aspx?tipoConteudo=tW+YMyk/50s=)  
        
    A estrutura do JSON de retorno segue as mesmas especificações dos esquemas XML dos Web Services: [Esquemas XML](http://www.nfe.fazenda.gov.br/portal/listaConteudo.aspx?tipoConteudo=/fwLvLUSmU8=)    
    ### API Serpro - Plataforma de Habilitação  
    O contratante terá acesso a todas as informações relacionadas ao modelo de sustentação comercial e técnica dos serviços API por meio do portal de relacionamento com o cliente Minha Conta, onde as principais funcionalidades são detalhadas no tutorial Área do Cliente.
    
    Para informações de como se autenticar antes de consumir a API, por favor, consulte a documentação em [Autenticação](http://devserpro.github.io/apis/)    
    ### Códigos de Retorno não Bilhetados 
    | Código de retorno | Resumido | Explicação |
    | ------------- |--------------------|-----------------------------------------------------------------------------|
    | 400 | Requisição inválida | O número da chave informado não é válido. |
    | 404 | Not Found | O número da chave informado não foi encontrado. |
    | 500  | Erro no servidor    | Ocorreu algum erro interno.      |    
    ### Solicitando assinatura com Carimbo de Tempo
      Caso deseje que sua solicitação venha com uma assinatura de Carimbo de Tempo, basta incluir, no cabeçalho de sua requisição, a informação &nbsp; *x-signature: 1* &nbsp;.
      A assinatura será retornada no cabeçalho da resposta, com o nome &nbsp; *stamp* &nbsp;.
    ### Verificando assinatura com Carimbo de Tempo
      Para verificar assinatura de carimbo de tempo, siga as instruções da documentação abaixo:
    [Documentação - Verificação Carimbo de Tempo](https://rawgit.com/devserpro/apis/master/_layouts/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://rawgit.com/devserpro/apis/master/_layouts/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)    
servers:
  - url: 'https://apigateway.serpro.gov.br/nfe-trial/1'
    description: Trial
  - url: 'https://apigateway.serpro.gov.br/nfe/1'
    description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []
externalDocs:
  description: "Detalhamento das Notas Fiscais Eletrônicas"
  url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/Informacoes-NFe.pdf    
paths:
  '/{chave}':
    get:
      tags:
        - Consulta NF-e
      summary: Consulta Nota Fiscal Eletrônica
      x-auth-type: Bearer
      x-throttling-tier: Unlimited
      description: |+
        Retorna as informações da NF-e com a chave de acesso informada. 
        ### Notas Fiscais Eletrônicas disponíveis para Degustação
        | Chave |
        | -------------------------------------------- |
        | 35170608530528000184550000000154301000771561 |
        | 35161147508411011603551000077959551093041003 |
        | 53131205035672000156550010000004991543410167 |
        | 42140612687276000179550010001505671172228752 |
        | 35140903608306000202555000001100251571436929 |
        | 53150337992500000167550010000029521000029516 |
        | 31150917591579000107550010000014321081035918 |
        | 35151200991908000104550020000063951000184833 |
        | 31160906347409006953550110008369841081956475 |
        | 31170309339936000973550250002397736362483965 |
        | 35160900623904000335550010028792431858713854 |
        | 35170300776574000156550020009091941178378523 |
        | 53160911510448000171550010000106771000187760 |
        | 52160819015622000111550010000007051300828370 |
        | 53160621182711000102550010000012921000042921 |
        | 52160609303953000101550010000008711000045330 |
        | 53151205642646000196550010000287891000219878 |
        | 53160713453539000148550010000009101000070190 |
        | 52151013766790000162550010000028401250000010 |
        | 53160705642646000196550010000298141000284189 |
        | 52160400945852000151550010000041771020601080 | 
        | 24190201243220000109550010000007251000007252 |
        | 24190420412822000197550010000004701000001816 | 
        | 25190400785860000188550010000000061000000868 | 
        | 29190332994770000193550020000000107000000124 | 
        | 33190403282458000179550010001434641841176079 |
      parameters:
        - name: chave
          in: path
          description: 'Chave de acesso da NF-e (44 dígitos, sem espaços)'
          required: true
          schema:
            type: string
        - name: X-signature
          in: header
          description: 'Solicitação de assinatura de carimbo de tempo. Informe 1 para assinar, ou deixe em branco para não assinar.'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Retorna os dados da NF-e correspondente à chave de acesso informada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NFE'
              example: 
                nfeProc:
                  protNFe:
                    infProt:
                      chNFe: '35170608530528000184550000000154301000771561'
                  NFe:
                    infNFe:
                      infAdic:
                        infCpl: 'N/PED.: 051542;VL. APRX. TRIB.(FONTE IBPT): ****254.19  **34.12 %'
                      det:
                        - nItem: 1
                          prod:
                            cEAN: ''
                            cProd: 346
                            qCom: 5
                            cEANTrib: ''
                            vUnTrib: 149
                            qTrib: 5
                            vProd: 745
                            xProd: SULFITE A4 75GR BOREAL (5000FLS)
                            vUnCom: 149
                            indTot: 1
                            uTrib: RS
                            NCM: 48025610
                            uCom: RS
                            CFOP: 5102
                            CEST: 9999999
                          imposto:
                            vTotTrib: 254.19
                            ICMS:
                              ICMS00:
                                modBC: 0
                                orig: 0
                                CST: '00'
                                vBC: 745
                                vICMS: 134.1
                                pICMS: 18
                            COFINS:
                              COFINSAliq:
                                vCOFINS: 22.35
                                CST: '01'
                                vBC: 745
                                pCOFINS: 3
                            PIS:
                              PISAliq:
                                vPIS: 4.84
                                CST: '01'
                                vBC: 745
                                pPIS: 0.65
                      total:
                        ICMSTot:
                          vCOFINS: 22.35
                          vBCST: 0
                          vICMSDeson: 0
                          vProd: 745
                          vSeg: 0
                          vNF: 745
                          vTotTrib: 254.19
                          vPIS: 4.84
                          vBC: 745
                          vST: 0
                          vICMS: 134.1
                          vII: 0
                          vDesc: 0
                          vOutro: 0
                          vIPI: 0
                          vFrete: 0
                      cobr:
                        dup:
                          - dVenc: '2017-07-05'
                            nDup: 015430/A
                            vDup: 372.5
                          - dVenc: '2017-07-20'
                            nDup: 015430/B
                            vDup: 372.5
                      Id: NFe35170608530528000184550000000154301000771561
                      ide:
                        tpNF: 1
                        mod: 55
                        indPres: 0
                        tpImp: 1
                        nNF: 15430
                        cMunFG: 3550308
                        procEmi: 0
                        finNFe: 1
                        dhEmi: '2017-06-05T08:31:06-03:00'
                        tpAmb: 1
                        indFinal: 1
                        idDest: 1
                        tpEmis: 1
                        cDV: 9
                        cUF: 35
                        serie: 0
                        natOp: VENDA
                        cNF: '00077156'
                        verProc: 3.10.31
                        indPag: 1
                      emit:
                        xNome: COMERCIO DE TESTE LTDA EPP
                        CRT: 3
                        xFant: comerciodeteste@comerciodeteste.com.br
                        CNPJ: '56776378000136'
                        enderEmit:
                          fone: 995551234
                          UF: SP
                          xPais: BRASIL
                          cPais: 1058
                          xLgr: AV FICTICIA
                          xMun: SAO PAULO
                          nro: 80
                          cMun: 3550308
                          xBairro: VILA FICTICIA
                          CEP: '00012345'
                        IE: 123456789123
                      dest:
                        xNome: MARIA FICTICIA DOS SANTOS
                        CPF: 67879577696
                        enderDest:
                          fone: 995551234
                          UF: SP
                          xPais: BRASIL
                          cPais: 1058
                          xLgr: 'AV FICTICIA, 1579'
                          xMun: SAO PAULO
                          nro: .
                          cMun: 3550308
                          xBairro: SANTO AMARO FICTICIO
                          CEP: '00033200'
                        indIEDest: 9
                      versao: 3.1
                      transp:
                        modFrete: 0
                        vol:
                          pesoL: 116.944
                          esp: RESMAS
                          qVol: 5
                          pesoB: 116.944
                        transporta:
                          xNome: TRANSPORTADORA FICTICIA
                  versao: 3.1  
        '400':
          description: A chave de acesso informada não é válida.
        '404':
          description: Não existe NF-e com chave de acesso informada.
        '500':
          description: Erro interno do servidor
      operationId: https://apigateway.serpro.gov.br/nfe-trial/1/35161147508411011603551000077959551093041003
      externalDocs:
        description: "NFes disponíveis para degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/NFe-Degustacao.pdf
  '/monitor/status':
    get:
      tags:
        - Status
      summary: Verifica status da API
      responses:
        '200':
          description: Serviço disponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00"
        '500':
          description: Serviço indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00" 
components:
  schemas:
    NFE:
      type: object
      properties:
        nfeProc:
          type: object
          properties:
            protNFe:
              type: object
              properties:
                infProt:
                  type: object
                  properties:
                    nProt:
                      type: string
                    digVal:
                      type: string
                    dhRecbto:
                      type: string
                    Id:
                      type: string
                    chNFe:
                      type: string
                    xMotivo:
                      type: string
                    cStat:
                      type: number
            NFe:
              type: object
              properties:
                infNFe:
                  type: object
                  description: Informações da Nota Fiscal Eletrônica
                  properties:
                    infAdic:
                      type: object
                      description: Informações Adicionais da NF-e
                      properties:
                        infCpl:
                          type: string
                        infAdFisco:
                          type: string
                    compra:
                      type: object
                      properties:
                          xPed:
                            type: string
                    det:
                      type: array
                      items:
                        type: object
                        properties:
                          nItem:
                            type: number
                          prod:
                            type: object
                            properties:
                              xPed:
                                type: number
                              cEAN:
                                type: number
                              cProd:
                                type: string
                              qCom:
                                type: number
                              cEANTrib:
                                type: number
                              vUnTrib:
                                type: number
                              qTrib: 
                                type: number
                              vProd:
                                type: number
                              nFCI:
                                type: string
                              xProd:
                                type: string
                              vUnCom:
                                type: number
                              nItemPed:
                                type: string
                              indTot:
                                type: number
                              uTrib:
                                type: string
                              NCM:
                                type: number
                              uCom:
                                type: string
                              CFOP:
                                type: number
                          imposto:
                            type: object
                            properties:
                              ICMS:
                                type: object
                                properties:
                                  ICMS500:
                                    type: object
                                    properties:
                                      ICMS00:
                                        type: object
                                        properties:
                                          modBC:
                                            type: number
                                          orig:
                                            type: number
                                          CST:
                                            type: string
                                          vBC:
                                            type: number
                                          vICMS:
                                            type: number
                                          pICMS:
                                            type: number
                              IPI:
                                type: object
                                properties:
                                  IPINT:
                                    type: object
                                    properties:
                                      CST:
                                        type: number
                                  cEnq:
                                    type: number
                              COFINS:
                                type: object
                                properties:
                                  COFINSAliq:
                                    type: object
                                    properties:
                                      vCOFINS:
                                        type: number
                                      CST:
                                        type: string
                                      vBC:
                                        type: number
                                      pCOFINS:
                                        type: number
                              PIS:
                                type: object
                                properties:
                                  PISAliq:
                                    type: object
                                    properties:
                                      vPIS:
                                        type: number
                                      CST:
                                        type: string
                                      vBC:
                                        type: number
                                      pPIS:
                                        type: number
                          infAdProd:
                            type: string
                    total:
                      type: object
                      properties:
                        retTrib:
                          type: string
                        ICMSTot:
                          type: object
                          properties:
                            vCOFINS:
                              type: number
                            vBCST:
                              type: number                              
                            vICMSDeson:
                              type: number
                            vProd:
                              type: number
                            vSeg:
                              type: number
                            vNF:
                              type: number
                            vPIS:
                              type: number
                            vBC:
                              type: number
                            vST:
                              type: number
                            vICMS:
                              type: number
                            vII:
                              type: number
                            vDesc:
                              type: number
                            vOutro:
                              type: number
                            vIPI:
                              type: number
                            vFrete:
                              type: number
                    cobr:
                      type: object
                      properties:
                        dup:
                          type: array
                          items:
                            type: object
                            properties:
                              dVenc:
                                type: string
                                format: date
                              nDup:
                                type: string
                              vDup:
                                type: string
                    Id:
                      type: string
                    ide:
                      type: object
                      description: "Identificação da NF-e"
                      properties:
                        tpNF:
                          type: number
                          description: "Tipo do Documento Fiscal (0 - entrada; 1 - saída)"
                        mod:
                          type: number
                          description: "Código do modelo do Documento Fiscal. 55 = NF-e"
                        indPres:
                          type: number
                          description: "Indicador de presença do comprador no estabelecimento comercial no momento da oepração (0-Não se aplica (ex.: Nota Fiscal complementar ou de ajuste;1-Operação presencial;2-Não presencial"
                        tpImp:
                          type: number
                          description: "Formato de impressão do DANFE (0-sem DANFE;1-DANFe Retrato; 2-DANFe Paisagem;3-DANFe Simplificado; 4-DANFe NFC-e;5-DANFe NFC-e em mensagem eletrônica)"
                        nNF:
                          type: number
                          description: "Número do Documento Fiscal"
                        cMunFG:
                          type: number
                          description: "Código do Município de Ocorrência do Fato Gerador (utilizar a tabela do IBGE)"
                        procEmi:
                          type: number
                          description: "Processo de emissão utilizado com a seguinte codificação: 0 - emissão de NF-e com aplicativo do contribuinte; 1 - emissão de NF-e avulsa pelo Fisco; 2 - emissão de NF-e avulsa"
                        finNFe:
                          type: number
                          description: "Finalidade da emissão da NF-e: 1 - NFe normal 2 - NFe complementar 3 - NFe de ajuste 4 - Devolução/Retorno"
                        dhEmi:
                          type: string
                          format: date-time
                          description: "Data e Hora de emissão do Documento Fiscal (AAAA-MM-DDThh:mm:ssTZD) ex.: 2012-09-01T13:00:00-03:00"
                        tpAmb:
                          type: number
                          description: "Identificação do Ambiente: 1 - Produção 2 - Homologação"
                        indFinal:
                          type: number
                          description: "Indica Operação com consumidor final (0-Não;1-Consumidor Final)"
                        dhSaiEnt:
                          type: string
                          format: date-time
                          description: "Data e Hora da saída ou de entrada da mercadoria / produto (AAAA-MM-DDTHH:mm:ssTZD)"
                        idDest:
                          type: number
                          description: "Identificador de Local de destino da Operação (1-Interna;2-Interestadual;3-Exterior)"
                        tpEmis:
                          type: number
                          description: "Forma de emissão da NF-e 1 - Normal; 2 - Contingência FS 3 - Contingência SCAN 4 - Contingência DPEC 5 - Contingência FSDA 6 - Contingência SVC - AN 7 - Contingência SVC - RS 9 - Contingência off-line NFC-e"
                        cDV:
                          type: number
                          description: "Digito Verificador da Chave de Acesso da NF-e"
                        cUF:
                          type: number
                          description: "Código da UF do emitente do Documento Fiscal. Utilizar a Tabela do IBGE."
                        serie:
                          type: number
                          description: "Série do Documento Fiscal série normal 0-889 Avulsa Fisco 890-899 SCAN 900-999"
                        natOp:
                          type: string
                          description: "Descrição da Natureza da Operação"
                        cNF:
                          type: number
                          description: "Código numérico que compõe a Chave de Acesso. Número aleatório gerado pelo emitente para cada NF-e."
                        verProc:
                          type: string
                          description: "versão do aplicativo utilizado no processo de emissão"
                        indPag:
                          type: number
                          description: "Indicador da forma de pagamento: 0 -pagamento à  vista; 1 -pagamento à  prazo; 2 -outros."
                    emit:
                      type: object
                      properties:
                        xNome:
                          type: string
                        CRT:
                          type: number
                        xFant:
                          type: string
                        CNPJ:
                          type: string
                        enderEmit:
                          type: object
                          properties:
                            fone:
                              type: number
                            UF:
                              type: string
                            xPais:
                              type: string
                            cPais:
                              type: number
                            xLgr:
                              type: string
                            xMun:
                              type: string
                            nro:
                              type: number
                            cMun:
                              type: number
                            xBairro:
                              type: string
                            CEP:
                              type: number
                        IE:
                          type: number
                    dest:
                      type: object
                      properties:
                        xNome:
                          type: string
                        CNPJ:
                          type: string
                        enderDest:
                          type: object
                          properties:
                            UF:
                              type: string
                            xPais:
                              type: string
                            cPais:
                              type: number
                            xLgr:
                              type: string
                            xMun:
                              type: string
                            nro:
                              type: number
                            cMun:
                              type: number
                            xBairro:
                              type: string
                            CEP:
                              type: number
                        IE:
                          type: number                        
                        indIEDest:
                          type: number
                    transp:
                      type: object
                      properties:
                        modFrete:
                          type: number
                        vol:
                          type: object
                          properties:
                            marca:
                              type: string
                            pesoL:
                              type: number
                            esp:
                              type: string
                            qVol:
                              type: number
                            nVol:
                              type: string
                            pesoB:
                              type: number
                        transporta:
                          type: object
                          properties:
                            xNome:
                              type: string
                            UF:
                              type: string
                            xEnder:
                              type: string
                            xMun:
                              type: string
                            CNPJ:
                              type: string
                            IE:
                              type: number                          
            versao:
              type: number
        procEventoNFe:
          type: array
          items:
            type: object
            properties:
              evento:
                type: object
                properties:
                  infEvento:
                    type: object
                    properties:
                      cOrgao:
                        type: number
                      dhEvento:
                        type: string
                        format: date-time
                      detEvento:
                        type: object
                        properties:
                          descEvento:
                            type: string
                      tpEvento:
                        type: number
              retEvento:
                type: object
                properties:
                  infEvento:
                    type: object
                    properties:
                      cOrgao:
                        type: number
                      nProt:
                        type: number
                      dhRegEvento:
                        type: string
                        format: date-time
                      tpEvento:
                        type: number                        
    Status:
      type: object
      properties:
        lastUpdateAt:
          type: string
          format: date-time   
  securitySchemes:
    APIKEY:
      type: apiKey
      name: x-jwt-assertion
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://apigateway.serpro.gov.br/token'
    Authorization:
      type: http
      description: Autenticação para ambiente trial
      scheme: bearer
