openapi: 3.0.1
info:
  title: Consulta DUE
  version: v1
  description: |-
    ## Descrição da API - DUE 
    O serviço `Consulta DUE` é disponibilizado através do `HTTP REST` oferencendo operação de consulta às informações cadastrais de Pessoas Físicas no Brasil. <br><br>
    Consolidamos aqui as informações técnicas para a integração dos sistemas das empresas com os serviços do Portal Único do Comércio Exterior, baseado nas instruções de uso e contratação conforme a plataforma de habilitação API Serpro. A API DUE foi desenvolvida baseada na arquitetura REST/JSON no formato UTF-8. <br><br> 
    ## API Serpro - Plataforma de Habilitação  
    Todas as empresas que possuem perfil de acesso para realizar a consulta DUE em tela no Portal Único do Comércio Exterior já estão aptas a celebrar o contrato comercial com o Serpro para consumo da API DUE. <br><br>
    O contratante terá acesso a todas as informações relacionadas ao modelo de sustentação comercial e técnica dos serviços API por meio do portal de relacionamento com o cliente Minha Conta, onde as principais funcionalidades são detalhadas no tutorial Área do Cliente. <br><br>
    Para informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em: https://servicos.serpro.gov.br/api-serpro/biblioteca/arquivos/como-autenticar-documentacao-api.pdf <br><br>
     ## Códigos de Retorno não Bilhetados 
    | Código de retorno | Resumido | Explicação |
    | ------------- |--------------------|-----------------------------------------------------------------------------|
    | &nbsp           | &nbsp    | &nbsp  | 
     | 400 | Requisição inválida | Requisição mal formatada (Nº da DUE / Chave) |
    | &nbsp           | &nbsp    | &nbsp  | 
     | 404 | Not Found | Nenhum registro encontrado com os parâmetros informados (Nº da DUE / Chave) |
    | &nbsp           | &nbsp    | &nbsp  | 
      | 500  | Erro no servidor    | Ocorreu algum erro interno.      |
     -------------------------- <br><br>    
    ## Solicitando assinatura com Carimbo de Tempo

      Caso deseje que sua solicitação venha com uma assinatura de Carimbo de Tempo, basta incluir, no cabeçalho de sua requisição, a informação `x-signature: 1`.
      
      A assinatura será retornada no cabeçalho da resposta, com o nome `stamp`. <br><br>
    ## Verificando assinatura com Carimbo de Tempo
      Para verificar assinatura de carimbo de tempo, siga as instruções da documentação abaixo:
    [Documentação - Verificação Carimbo de Tempo](https://rawgit.com/devserpro/apis/master/_layouts/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://rawgit.com/devserpro/apis/master/_layouts/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check) <br><br>
    ## Formatos e Tipos
    Os seguintes tipos de dados são utilizados pela API Loja Franca. <br><br>
        | Tipos | Descrição | Formato
        | ---------------------- | :------------------------------------------------------------- | ------------------ |
        | string        | Cadeia de caracteres |
        | string - data     | String com formato de data  | yyyy-MM-dd
        | string - data/hora | String com formato de data e hora | yyyy-MM-ddTHH:mm:ss
        | integer | Número inteiro que representa códigos e identificadores |
        | number | Número inteiro em situações que pode passar do valor 2^31-1 |
        | decimal | Número fracionado, sempre com duas casas após o decimal, separado por "." | Ex: 123456789012.22 (Exceto cotação do dólar, que pode ter até 3 casas após o decimal). <br><br>
        
    ## Tabela de mensagens
    As seguintes mensagens de sucesso e erros são retornadas pela API - DUE. <br><br>
        | Código | Mensagem
        | ------ | --------
        | 200   | Operação realizada com sucesso
        | 400   | Requisição mal formatada
        | 404   | Registro não encontrado
        | 500   | Erro interno do servidor
servers:
  - url: 'https://gateway.apiserpro.serpro.gov.br/consulta-due-trial/api'
    description: Trial
  - url: 'https://gateway.apiserpro.serpro.gov.br/consulta-due/api'
    description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []
paths:
  '/v2/due/{numero}/{chave}':
    get:
      tags:
        - 1 Métodos e Testes Consulta
      summary: Consulta a DUE
      description: |-
        Retorna todas as informações vinculadas à DUE - Declaração Única de Exportação de acordo com o perfil de cada empresa.
        ## Exemplo
        #### Chamada
              [GET] https://apigateway.serpro.gov.br/api-consulta-due-trial/api/v2/due/{numero]/{chave}
        ## Parâmetros de Entrada
        |Nome|Descrição|Tipo|Detalhes
        |----|---------|----|--------
        |numero|Número da DUE|string|Obrigatório
        |chave|Chave de acesso|string|Obrigatório
        ## Atributos de Resposta
        |Nome|Descrição|Tipo
        |----|---------|----
        |numero|Número da DUE|string
        |ruc|Registro Único de Carga|string
        |chaveDeAcesso|Identificação da Chave de acesso|string
        |situacao|Situação|string
        |canal|Meio|string
        |exigencia|Obrigatoriedade|boolean
        |retificada|Quando houve alterações|boolean
        |tratamentoAdministrativo|Se a declaração possui algum tratamento|string
        |tratamentoAdministrativoComImpedimentoDeEmbarque|Se a declaração possui algum impedimento administrativo|boolean
        |tratamentoAdministrativoComRequerimentoDeInspecao|Se a declaração possui algum requerimento de inspeção|boolean
        |situacaoDaCarga|Situação da Carga|string
        |bloqueadaParaEmbarque|Condição de bloqueio para o embarque|boolean
        |tipoDeDocumentoFiscal|Qual o documento informado|string
        |motivoDeDispensaDeNotaFiscal|O motivo da dispensa da NF|string
        |Declarante|Dados como nome, nacionalidade e documentação|object
        |operadorEconomicoAutorizado|Indicador de autorização de operdor econômico|boolean
        |formaDeExportacao|A maneira como o produto será exportado|string
        |situacaoEspecial|Se existe alguma condição especial|string
        |exportacaoConsorciada|Se a exportação é consorciada|boolean
        |paisDoImportador|Dados como nome, código e nome resumido do pais importador|object
        |pesoLiquidoTotal|Peso liquido total|number
        |tratamentoPrioritario|Se há tramento prioritario|boolean
        |valorTotalDasMercadorias|Valor total|number
        |moeda|Dados como código e descrição da moeda|object
        |valorDaMercadoriaNoLocalDeEmbarque|Valor da mercadoria no local de embarque|number
        |contato|Dados como nome, fone e email|object
        |localDeDespacho|Dados como unidade RFB, recinto aduaneiro e cnpj do estabelecimento|object
        |localDeEmbarque|Dados como unidade RFB, recinto aduaneiro e cnpj do estabelecimento|object
        |viasEspecialDeTransporte|Se há alguma via especial de transporte|string
        |usoObrigatorioDeTransito|Se há obrigatoriedade no trânsito|boolean
        |informacoesComplementares|Quaisquer informações adicionais|string
        |itens|Itens constante na DUE|object
        |eventosDoHistorico|Dados históricos|object
        ### Dados para testes no trial
            (HTTP 200) numero: 18BR0000151067 - chave: 18NYJ151060
            (HTTP 400) numero: 18BR000015106  - chave: 18NYJ15106
            (HTTP 404) numero: 17BR0000015111 - chave: 17NYJ125811
      parameters:
        - name: numero
          in: path
          description: Número da DUE
          required: true
          schema:
            type: string
        - name: chave
          in: path
          description: Chave de Acesso
          required: true
          schema:
            type: string      
      responses:
        '200':
          description: Retorna os dados da DUE.
          headers:
            stamp:
              description: Carimbo de Tempo. Só aparecerá se o cabeçalho x-signature for igual a 1
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultaDUE-V2'
        '400':
          description: Requisição mal formatada.
        '404':
          description: Registro não encontado.
        '500':
          description: Erro interno do servidor
  '/status':
    get:
      tags:
        - Status
      summary: Verifica status da API
      responses:
        '200':
          description: Serviço disponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00"
        '500':
          description: Serviço indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00" 
components:
  schemas:
    Status:
      type: object
      properties:
        lastUpdateAt:
          type: string
          format: date-time   
    ConsultaDUE-V2:
      type: object
      properties:
        numero:
          type: string
          example: 18BR0000133506
        ruc:
          type: string
          example: 8BR00000000100000000000000000013602
        chaveDeAcesso:
          type: string
          example: 18ERM135006
        situacao:
          type: string
          example: CARGA_APRESENTADA_PARA_DESPACHO
        canal:
          type: string
          example: 'null'
        exigencia:
          type: boolean
          example: 'false'
        retificada:
          type: boolean
          example: 'false'
        tratamentoAdministrativo:
          type: string
          example: DISPENSADO
        tratamentoAdministrativoComImpedimentoDeEmbarque:
          type: boolean
          example: 'false'
        tratamentoAdministrativoComRequerimentoDeInspecao:
          type: boolean
          example: 'false'
        situacaoDaCarga:
          type: string
          example: 'null'
        bloqueadaParaEmbarque:
          type: boolean
          example: 'false'
        tipoDeDocumentoFiscal:
          type: string
          example: NOTA_FISCAL_ELETRONICA
        motivoDeDispensaDaNotaFiscal:
          type: string
          example: 'null'
        declarante:
          type: object
          properties:
            nome:
              type: string
              example: OWMKX NX OIWUQD UW
            tipoDoDocumento:
              type: string
              example: CNPJ
            estrangeiro:
              type: boolean
              example: 'false'
            nacionalidade:
              type: object
              properties:
                codigo:
                  type: integer
                  example: '105'
                nome:
                  type: string
                  example: BRASIL
                nomeResumido:
                  type: string
                  example: BRA
            numeroDoDocumento:
              type: string
              example: 00000000000191
        operadorEconomicoAutorizado:
          type: boolean
          example: 'false'
        formaDeExportacao:
          type: string
          example: POR_CONTA_PROPRIA
        situacaoEspecial:
          type: string
          example: 'null'
        exportacaoConsorciada:
          type: boolean
          example: 'false'
        paisDoImportador:
          type: object
          properties:
            codigo:
              type: integer
              example: '676'
            nome:
              type: string
              example: 'RUSSIA, FEDERACAO DA'
            nomeResumido:
              type: string
              example: 'null'
        pesoLiquidoTotal:
          type: number
          example: '49'
        tratamentoPrioritario:
          type: boolean
          example: 'true'
        valorTotalDasMercadorias:
          type: number
          example: '3000'
        moeda:
          type: object
          properties:
            codigo:
              type: integer
              example: '220'
            descricao:
              type: string
              example: DOLAR DOS EUA
        valorDasMercadoriasNoLocalDeEmbarque:
          type: number
          example: '2000.1'
        contato:
          type: object
          properties:
            nome:
              type: string
              example: 'null'
            telefone:
              type: string
              example: 'null'
            email:
              type: string
              example: 'null'
        localDeDespacho:
          type: object
          properties:
            unidadeRFB:
              type: object
              properties:
                codigo:
                  type: string
                  example: '717600'
                descricao:
                  type: string
                  example: PORTO DO RIO
            recintoAduaneiro:
              type: object
              properties:
                codigo:
                  type: string
                  example: '7929301'
                descricao:
                  type: string
                  example: PORTO DO RIO DE JANEIRO - CODERJ - RIO DE JANEIRO/RJ - PORTO MARIT.ALFAND.-USO PUBLICO-CIA.DOCAS DO EST.DO RIO DE JANEIR
                latitude:
                  type: string
                  example: '-20.812222'
                longitude:
                  type: string
                  example: '-40.248333'
            cnpjDoEstabelecimento:
              type: string
              example: 'null'
            endereco:
              type: string
              example: 'null'
            latitude:
              type: string
              example: 'null'
            longitude:
              type: string
              example: 'null'
        localDeEmbarque:
          type: object
          properties:
            unidadeRFB:
              type: object
              properties:
                codigo:
                  type: string
                  example: '717600'
                descricao:
                  type: string
                  example: PORTO DO RIO
            recintoAduaneiro:
              type: object
              properties:
                codigo:
                  type: string
                  example: '7929301'
                descricao:
                  type: string
                  example: PORTO DO RIO DE JANEIRO - CODERJ - RIO DE JANEIRO/RJ - PORTO MARIT.ALFAND.-USO PUBLICO-CIA.DOCAS DO EST.DO RIO DE JANEIR
                latitude:
                  type: string
                  example: '-20.812222'
                longitude:
                  type: string
                  example: '-40.248333'
            cnpjDoEstabelecimento:
              type: string
              example: 'null'
            endereco:
              type: string
              example: 'null'
            latitude:
              type: string
              example: 'null'
            longitude:
              type: string
              example: 'null'
        viaEspecialDeTransporte:
          type: string
          example: 'null'
        usoObrigatorioDeTransito:
          type: boolean
          example: 'false'
        informacoesComplementares:
          type: string
          example: Observações Gerais
        itens:
          type: array
          items:
            type: object
            properties:
              numero:
                type: integer
                example: '1'
              exportador:
                type: object
                properties:
                  nome:
                    type: string
                    example: OWMKX NX OIWUQD UW
                  tipoDoDocumento:
                    type: string
                    example: CNPJ
                  estrangeiro:
                    type: boolean
                    example: 'false'
                  nacionalidade:
                    type: object
                    properties:
                      codigo:
                        type: integer
                        example: '105'
                      nome:
                        type: string
                        example: BRASIL
                      nomeResumido:
                        type: string
                        example: BRA
                  numeroDoDocumento:
                    type: string
                    example: '00000000002720'
              itemDaNotaFiscalDeExportacao:
                type: object
                properties:
                  numeroDoItem:
                    type: integer
                    example: '1'
                  chaveDeAcesso:
                    type: string
                    example: '35180500000000002720550900006843201000000009'
                  serie:
                    type: integer
                    example: '90'
                  numeroDoDocumento:
                    type: integer
                    example: '684320'
                  finalidade:
                    type: string
                    example: normal
                  notaFiscalEletronica:
                    type: boolean
                    example: 'true'
                  cfop:
                    type: integer
                    example: '7101'
                  codigoDoProduto:
                    type: string
                    example: '000000000000021600001'
              ncm:
                type: object
                properties:
                  codigo:
                    type: string
                    example: '12011000'
                  descricao:
                    type: string
                    example: 'SOJA, MESMO TRITURADA.'
                  UnidadeEstatistica:
                    type: string
                    example: UNIDADE
                  atributos:
                    type: array
                    items:
                      properties:
                        codigo:
                          type: string
                          example: '001'
                        conteudo:
                          type: string
                          example: estampado
                        descricao:
                          type: string
                          example: Tipo de tecido
              descricaoDaMercadoria:
                type: string
                example: PRODUTO GENERICO TESTE - GRADE COMPOSTA 34.
              motivoDoTratamentoPrioritario:
                type: string
                example: CARGA VIVA
              descricaoComplementar:
                type: string
                example: Descrição Complementar
              quantidadeNaUnidadeEstatistica:
                type: number
                example: '1'
              pesoLiquidoTotal:
                type: number
                example: '49'
              unidadeComercializada:
                type: string
                example: UN
              quantidadeNaUnidadeComercializada:
                type: number
                example: '1'
              valorTotal:
                type: number
                example: '1000'
              percentualDeComissaoDoAgente:
                type: number
                example: 'null'
              condicaoDeVenda:
                type: object
                properties:
                  codigo:
                    type: string
                    example: DDP
                  descricao:
                    type: string
                    example: DELIVERED DUTY PAID
              valorDaMercadoriaNaCondicaoDeVenda:
                type: number
                example: '3000'
              valorDaMercadoriaNoLocalDeEmbarque:
                type: number
                example: '200,1'
              valorDaMercadoriaNoLocalDeEmbarqueEmReais:
                type: number
                example: '7143.55716'
              dataDeConversao:
                type: string
                example: '2018-05-01T05:57:00.000+0000'
              importador:
                type: object
                properties:
                  nome:
                    type: string
                    example: NF-E EMITIDA EM AMBIENTE DE HOMOLOGACAO - SEM VALOR FISCAL
                  endereco:
                    type: string
                    example: RUA ELISA SILVERIO - 45 - CENTRO - EXTERIOR - 86800270 - RUSSIA
                  pais:
                    type: object
                    properties:
                      codigo:
                        type: integer
                        example: '676'
                      nome:
                        type: string
                        example: 'RUSSIA, FEDERACAO DA'
                      nomeResumido:
                        type: string
                        example: 'null'
              depuracaoEstatistica:
                type: object
                properties:
                  justificativaDeValor:
                    type: string
                    example: 'null'
                  justificativaDeQuantidade:
                    type: string
                    example: 'null'
                  possuiDepuracao:
                    type: boolean
                    example: 'false'
              enquadramentos:
                type: array
                items:
                  properties:
                    codigo:
                      type: string
                      example: '80000'
                    descricao:
                      type: string
                      example: EXPORTACAO NORMAL
              paisesDeDestino:
                type: array
                items:
                  properties:
                    pais:
                      type: object
                      properties:
                        codigo:
                          type: integer
                          example: '249'
                        nome:
                          type: string
                          example: ESTADOS UNIDOS
                        nomeResumido:
                          type: string
                          example: 'null'
                    quantidadeNaUnidadeEstatistica:
                      type: number
                      example: '1'
              tratamentosAdministrativos:
                type: array
                items:
                  properties:
                    codigoLPCO:
                      type: string
                      example: 'null'
                    orgao:
                      type: array
                      items:
                        type: string
                        example: 'null'
                    situacao:
                      type: string
                      example: 'null'
                    mensagem:
                      type: string
                      example: 'null'
        eventosDoHistorico:
          type: array
          items:
            properties:
              dataEHoraDoEvento:
                type: string
                example: '2018-05-02T07:07:47.002+0000'
              evento:
                type: string
                example: Registro
              responsavel:
                type: string
                example: '07073311703'
              informacoesAdicionais:
                type: string
                example: 'null'
  securitySchemes:
    APIKEY:
      type: apiKey
      name: x-jwt-assertion
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://apigateway.serpro.gov.br/token'
    Authorization:
      type: http
      description: Autenticação para ambiente trial
      scheme: bearer
