openapi: 3.0.1
info:
  title: Consulta Massiva CNPJ
  version: v1
  description: |-

    Para informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em: https://servicos.serpro.gov.br/api-serpro/biblioteca/arquivos/como-autenticar-documentacao-api.pdf
      
    O serviço `Consulta Massiva CNPJ` é disponibilizado através do `HTTP REST` oferencendo operação de consulta às informações cadastrais de Pessoas Jurídicas no Brasil.
    <br>
      ## Detalhamento do CNPJ

      Para um detalhamento do CNPJ acesse o link:
      https://github.com/devserpro/apis/raw/master/_layouts/swaggers/cnpj/detalhamento-CNPJ.pdf
     <br>
    ## Códigos de Retorno não Bilhetados
    | Código de retorno | Resumido | Explicação |
    | ------------- |:--------------------|:----------------------------------------------------------------------------- |
    | &nbsp           | &nbsp    | &nbsp  | 
     | 400  | Requisição inválida    | O número de inscrição do CNPJ informado não é válido.       |
    | &nbsp           | &nbsp    | &nbsp  |
    | 500           | Erro no servidor    | Ocorreu algum erro interno.      |
    | &nbsp           | &nbsp    | &nbsp  |
    | 503           | Serviço Indisponível     |  Algum serviço integrado ao Consulta Massiva CNPJ está indisponível no momento.                         |<br>
    ## Solicitando assinatura com Carimbo de Tempo

      Caso deseje que sua solicitação venha com uma assinatura de Carimbo de Tempo, basta incluir, no cabeçalho de sua requisição, a informação `x-signature: 1`.
      
      A assinatura será retornada no cabeçalho da resposta, com o nome `stamp`.
    <br>
    ## Verificando assinatura com Carimbo de Tempo

      Para verificar assinatura de carimbo de tempo, siga as instruções da documentação abaixo:
      
    [Documentação - Verificação Carimbo de Tempo](https://rawgit.com/devserpro/apis/master/_layouts/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://rawgit.com/devserpro/apis/master/_layouts/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)
    <br>     
servers:
  - url: 'https://gateway.apiserpro.serpro.gov.br/consulta-cnpj-trial/api'
    description: Trial
  - url: 'https://gateway.apiserpro.serpro.gov.br/consulta-cnpj/api/api'
    description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []
paths:
  '/v1/cnpj/{ni}':
    get:
      tags:
        - Consulta CNPJ
      summary: Consulta o CNPJ
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      description: |-
        Retorna os dados do Cadastro Nacional de Pessoa Jurídica (CNPJ)
        ### NI para Degustação
        | NI |
        | ---------------------- |
        | 34238864000168 |
        | 54447820000155 |
        | 46768703000165 |
        | 31151791000184 |
        | 34428654000132 |
        | 06115832000130 |
        | 78078291000128 |
        | 52293473000128 |
        | 07781066000105 |
        | 60367129000164 |
         --------------------------     

        ## Exemplo

          #### Chamada
          
            [GET] https://apigateway.serpro.gov.br/consulta-cnpj-trial/v1/cnpj/34238864000168
            
          #### Retorno
          
            {
               "ni":"34238864000168",
               "data_abertura":"1967-06-30",
               "nome_empresarial":"SERVICO DE E-COMERCE LTDA",
               "nome_fantasia":"E-COMERCE",
               "cnae_principal":{
                  "codigo":"6204000",
                  "descricao":"Consultoria em e-comerce"
               },
               "natureza_juridica":{
                  "codigo":"2011",
                  "descricao":"Empresa Privada"
               },
               "endereco":{
                  "logradouro":"ST DE GRANDE AREA NORTE",
                  "numero":"Q.601",
                  "complemento":"LOTE V",
                  "cep":"70836900",
                  "bairro":"ASA NORTE",
                  "municipio":"BRASILIA",
                  "uf":"DF"
               },
               "situacao_especial":"",
               "situacao_cadastral":{
                  "codigo":"2",
                  "data":"2004-05-22",
                  "motivo":""
               },
               "orgao":"0110100",
               "tipo_estabelecimento":"1",
               "correio_eletronico":"",
               "capital_social":0,
               "porte":"05",
               "telefones":[
                  {
                     "ddd":"061",
                     "numero":"4338456"
                  }
               ],
               "nome_orgao":"BRASILIA",
               "ente_federativo":"BR"
            }        
      parameters:
        - name: ni
          in: path
          description: Número de Inscrição do CPF
          required: true
          schema:
            type: number
        - name: x-signature
          in: header
          required: false
          description: 'Solicitação de assinatura de carimbo de tempo. Informe 1 para assinar, ou deixe em branco para não assinar.'
          schema:
            type: integer
      responses:
        '200':
          description: Retorna os dados da Pessoa Jurídica
          headers:
            stamp:
              description: Carimbo de Tempo. Só aparecerá se o cabeçalho x-signature for igual a 1
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CNPJ'  
        '400':
          description: O Número de Inscrição informado não é válido 
        '404':
          description: Não existe Pessoa Jurídica com o Número de Inscrição informado
        '500':
          description: Erro interno do servidor' 
  '/status':
    get:
      tags:
        - Status
      summary: Verifica status da API
      responses:
        '200':
          description: Serviço disponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00"
        '500':
          description: Serviço indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00" 
components:
  schemas:
    Status:
      type: object
      properties:
        lastUpdateAt:
          type: string
          format: date-time   
    CNPJ:
      properties:
        ni:
          type: string
        data_abertura:
          type: string
        nome_empresarial:
          type: string
        nome_fantasia:
          type: string
        cnae_principal:
          $ref: '#/components/schemas/CodigoDescricao'
        natureza_juridica:
          $ref: '#/components/schemas/CodigoDescricao'
        endereco:
          $ref: '#/components/schemas/Endereco'
        situacao_especial:
          type: string
        situacao_cadastral:
          $ref: '#/components/schemas/SituacaoCadastral'
        orgao:
          type: string
        tipo_estabelecimento:
          type: string
        correio_eletronico:
          type: string
        capital_social:
          type: string
        porte:
          type: string
        telefones:
          items:
            $ref: '#/components/schemas/Telefone'
          type: array
        nome_orgao:
          type: string
        ente_federativo:
          type: string
        data_situacao_especial:
          type: string
      type: object
    CodigoDescricao:
      properties:
        codigo:
          type: string
        descricao:
          type: string
      type: object
    Endereco:
      properties:
        bairro:
          type: string
        complemento:
          type: string
        cep:
          type: string
        municipio:
          type: string
        uf:
          type: string
        logradouro:
          type: string
        numero:
          type: string
      type: object
    SituacaoCadastral:
      properties:
        codigo:
          type: string
        motivo:
          type: string
        data:
          type: string
      type: object
    Telefone:
      properties:
        ddd:
          type: string
        numero:
          type: string
      type: object
  securitySchemes:
    APIKEY:
      type: apiKey
      name: x-jwt-assertion
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://apigateway.serpro.gov.br/token'
    Authorization:
      type: http
      description: Autenticação para ambiente trial
      scheme: bearer
