{
  "host": "gateway.apiserpro.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "api",
    "title": "API do Microempreendedor (api-mei)",
    "description": "\nPara informações de como se autenticar antes de consumir a API, por favor, consulte a documentação em: http://devserpro.github.io/apis/ \n\n    \nA api-mei é disponibilizado através do `HTTP REST` oferencendo as operações de 'Listar CNPJs', 'Consultar Certificados' e 'Consultar Certificados Específicos'.\n## Códigos de Retorno não Tarifados \n| Código de retorno | Resumido | Explicação |\n| ------|------|------|\n| &nbsp | &nbsp | &nbsp | \n |400 | Requisição inválida | O número de CPF/CNPJ informado não é válido. |\n| &nbsp | &nbsp | &nbsp  |\n| 500 | Erro no Servidor | Ocorreu algum erro no servidor.|\n\n## Endereço de Produção\n    https://gateway.apiserpro.serpro.gov.br/consulta-mei/api/v1/mei\n    \n## Endereço de Degustação\n    https://gateway.apiserpro.serpro.gov.br/consulta-mei-trial/api/v1/mei\n    "
  },
  "basePath": "/consulta-mei/api",
  "paths": {
    "/v1/mei/cnpjs/{cpf}": {
      "get": {
        "tags": [
          "MEI"
        ],
        "summary": "Listar os CNPJs de um CPF",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n      [GET] https://gateway.apiserpro.gov.br/consulta-mei/api/v1/mei/cnpjs/71066868409\n#### Parâmetros de Entrada\n    {\n      \"CPF\": \"71066868409\" }\n#### Retorno\n    { \n      \"cnpj\": \"22025711000153\",\n      \"situacao\": \"SUSPENSO\"\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "description": "cpf do responsável",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Processamento ok",
            "schema": {
              "$ref": "#/definitions/CNPJs"
            }
          },
          "400": {
            "description": "Requisição com erro"
          },
          "404": {
            "description": "Nenhum registro encontrado"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v1/mei/certificado/{cpf}": {
      "get": {
        "tags": [
          "MEI"
        ],
        "summary": "Consultar Certificados Ativos de um CPF",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n      [GET] https://gateway.apiserpro.gov.br/consulta-mei/v1/mei/certificado/71066868409?ativo=true/ (traz apenas os CNPJs ativos) \n#### Parâmetros de Entrada\n    {\n      \"CPF\": \"71066868409\"\n    }      \n#### Retorno\n    {\n      \"nomeEmpresarial\": \"DGKQWMX CHMIQAGH WXMVHU 71066868409\",\n      \"nomeEmpresario\": \"MARIA MARIA\",               \n      \"nomeFantasia\": \"@2 INSTITUTO DE ENSINO TEOLOGICO BIBLICO DO BRASIL\",\n      \"capitalSocial\": 4500,\n      \"identidade\": {\n        \"numero\": \"\",\n        \"orgaoEmissor\": \"\",\n        \"ufEmissor\": \"\",\n        \"cpf\": \"80454348053\"\n      },\n      \"situacaoCadastral\": \"ATIVO\",\n      \"dataSituacaoCadastral\": \"2011-01-23\",\n      \"cnpj\": \"13143379000130\",\n      \"nire\": \"35801597535\",\n      \"enderecoComercial\": {\n        \"cep\": \"07600000\",\n        \"logradouro\": \"RUA Jandira de lima Camargo\",\n        \"numero\": \"515\",\n        \"bairro\": \"Colina 2\",\n        \"municipio\": \"MAIRIPORA\",\n        \"uf\": \"SP\"\n      },\n      \"dataInicioAtividades\": \"2011-01-23\",\n      \"formaAtuacao\": [\n        \"Estabelecimento Fixo\",\n        \"Internet\",\n        \"Correio\"\n        ],\n      \"ocupacaoPrincipal\": {\n        \"nome\": \"\",\n        \"cnae\": {\n          \"codigo\": 8599604,\n          \"descricao\": \"Treinamento em desenvolvimento profissional e gerencial\"\n        }\n      },\n      \"ocupacoesSecundarias\": {\n        \"nome\": \"\",\n        \"cnae\": {\n          \"codigo\": 8599605,\n          \"descricao\": \"Cursos preparatórios para concursos\"\n        },\n        \"nome\": \"\",\n        \"cnae\": {\n          \"codigo\": 4789099,\n          \"descricao\": \"Comércio varejista de outros produtos Não especificados anteriormente\"\n        },\n        \"nome\": \"\",\n        \"cnae\": {\n          \"codigo\": 4762800,\n          \"descricao\": \"Comércio varejista de discos, CDs, DVDs e fitas\"\n        },\n        \"nome\": \"\",\n        \"cnae\": {\n          \"codigo\": 5811500,\n          \"descricao\": \"Edição de livros\"\n        },\n        \"nome\": \"\",\n        \"cnae\": {\n          \"codigo\": 5819100,\n          \"descricao\": \"Edição de cadastros, listas e outros produtos gráficos\"\n        },\n        \"nome\": \"\",\n        \"cnae\": {\n          \"codigo\": 4782201,\n          \"descricao\": \"Comércio varejista de calçados\"\n        },\n        \"nome\": \"\",\n        \"cnae\": {\n          \"codigo\": 5813100,\n          \"descricao\": \"Edição de revistas\"\n        }\n      },\n      \"numeroRecibo\": \"\",\n      \"numeroIdentificador\": \"\",\n      \"dataEmissao\": \"2018-05-19\"\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "description": "cpf do responsável",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Processamento ok",
            "schema": {
              "$ref": "#/definitions/dadosCNPJs"
            }
          },
          "400": {
            "description": "Requisição com erro"
          },
          "404": {
            "description": "Nenhum registro encontrado"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v1/mei/certificado/{cpf}/{cnpj}": {
      "get": {
        "tags": [
          "MEI"
        ],
        "summary": "Consultar Certificado Específico de um CPF",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n      [GET] GET] https://gateway.apiserpro.gov.br/consulta-mei/v1/mei/certificado/71066868409/22025711000153\n#### Parâmetros de Entrada\n    {\n      \"CPF\": \"71066868409\",\n      \"CNPJ\": \"22025711000153\"\n    \n#### Retorno\n    {\n      \"nomeEmpresarial\": \"MARIA MARIA 21348244844\",\n      \"nomeEmpresario\": \"MARIA MARIA\",               \n      \"nomeFantasia\": \"@2 INSTITUTO DE ENSINO TEOLOGICO BIBLICO DO BRASIL\",\n      \"capitalSocial\": 4500,\n      \"identidade\": {\n        \"numero\": \"\",\n        \"orgaoEmissor\": \"\",\n        \"ufEmissor\": \"\",\n        \"cpf\": \"80454348053\"\n      },\n      \"situacaoCadastral\": \"ATIVO\",\n      \"dataSituacaoCadastral\": \"2011-01-23\",\n      \"cnpj\": \"13143379000130\",\n      \"nire\": \"35801597535\",\n      \"enderecoComercial\": {\n        \"cep\": \"07600000\",\n        \"logradouro\": \"RUA Jandira de lima Camargo\",\n        \"numero\": \"515\",\n        \"bairro\": \"Colina 2\",\n        \"municipio\": \"MAIRIPORA\",\n        \"uf\": \"SP\"\n      },\n      \"dataInicioAtividades\": \"2011-01-23\",\n      \"formaAtuacao\": [\n        \"Estabelecimento Fixo\",\n        \"Internet\",\n        \"Correio\"\n        ],\n      \"ocupacaoPrincipal\": {\n        \"nome\": \"\",\n        \"cnae\": {\n          \"codigo\": 8599604,\n          \"descricao\": \"Treinamento em desenvolvimento profissional e gerencial\"\n        }\n      },\n      \"ocupacoesSecundarias\": {\n        \"nome\": \"\",\n        \"cnae\": {\n          \"codigo\": 8599605,\n          \"descricao\": \"Cursos preparatórios para concursos\"\n        },\n        \"nome\": \"\",\n        \"cnae\": {\n          \"codigo\": 4789099,\n          \"descricao\": \"Comércio varejista de outros produtos Não especificados anteriormente\"\n        },\n        \"nome\": \"\",\n        \"cnae\": {\n          \"codigo\": 4762800,\n          \"descricao\": \"Comércio varejista de discos, CDs, DVDs e fitas\"\n        },\n        \"nome\": \"\",\n        \"cnae\": {\n          \"codigo\": 5811500,\n          \"descricao\": \"Edição de livros\"\n        },\n        \"nome\": \"\",\n        \"cnae\": {\n          \"codigo\": 5819100,\n          \"descricao\": \"Edição de cadastros, listas e outros produtos gráficos\"\n        },\n        \"nome\": \"\",\n        \"cnae\": {\n          \"codigo\": 4782201,\n          \"descricao\": \"Comércio varejista de calçados\"\n        },\n        \"nome\": \"\",\n        \"cnae\": {\n          \"codigo\": 5813100,\n          \"descricao\": \"Edição de revistas\"\n        }\n      },\n      \"numeroRecibo\": \"\",\n      \"numeroIdentificador\": \"\",\n      \"dataEmissao\": \"2018-05-19\"\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "description": "cpf do responsável",
            "required": true,
            "type": "string"
          },
          {
            "name": "cnpj",
            "in": "path",
            "description": "cpf do responsável",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Processamento ok",
            "schema": {
              "$ref": "#/definitions/dadosCNPJs"
            }
          },
          "400": {
            "description": "Requisição com erro"
          },
          "404": {
            "description": "Nenhum registro encontrado"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Verifica status da API",
        "responses": {
          "200": {
            "description": "Serviço disponível",
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "examples": {
              "lastUpdateAt": "2019-02-18T11:27:06-03:00"
            }
          },
          "500": {
            "description": "Serviço indisponível",
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "examples": {
              "lastUpdateAt": "2019-02-18T11:27:06-03:00"
            }
          }
        }
      }
    }
  },
  "schemes": [
    "https"
  ],
  "definitions": {
    "Status": {
      "type": "object",
      "properties": {
        "lastUpdateAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "CNPJs": {
      "properties": {
        "cnpj": {
          "type": "string"
        },
        "situacao": {
          "type": "string"
        }
      }
    },
    "dadosCNPJs": {
      "properties": {
        "nomeEmpresarial": {
          "type": "string"
        },
        "nomeEmpresario": {
          "type": "string"
        },
        "nomeFantasia": {
          "type": "string"
        },
        "capitalSocial": {
          "type": "string"
        },
        "identidade": {
          "type": "object",
          "properties": {
            "numero": {
              "type": "string"
            },
            "orgaoEmissor": {
              "type": "string"
            },
            "ufEmissor": {
              "type": "string"
            },
            "cpf": {
              "type": "string"
            }
          }
        },
        "situacaoCadastral": {
          "type": "string"
        },
        "dataSituacaoCadastral": {
          "type": "string"
        },
        "cnpj": {
          "type": "string"
        },
        "nire": {
          "type": "string"
        },
        "enderecoComercial": {
          "type": "object",
          "properties": {
            "cep": {
              "type": "string"
            },
            "logradouro": {
              "type": "string"
            },
            "numero": {
              "type": "string"
            },
            "bairro": {
              "type": "string"
            },
            "municipio": {
              "type": "string"
            },
            "uf": {
              "type": "string"
            }
          }
        },
        "dataInicioAtividades": {
          "type": "string"
        },
        "formaAtuacao": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ocupacaoPrincipal": {
          "type": "object",
          "properties": {
            "codigo": {
              "type": "string"
            },
            "cna": {
              "type": "string"
            }
          }
        },
        "ocupacoesSecundarias": {
          "type": "object",
          "properties": {
            "codigo": {
              "type": "string"
            },
            "cna": {
              "type": "string"
            }
          }
        },
        "numeroRecibo": {
          "type": "string"
        },
        "numeroIdentificador": {
          "type": "string"
        },
        "dataEmissao": {
          "type": "string"
        }
      }
    }
  }
}
