{
  "host": "apigateway.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "API do Microempreendedor (api-mei)",
    "description": "\nPara informações de como se autenticar antes de consumir a API, por favor, consulte a documentação em: http://devserpro.github.io/apis/ \n\n    \nA api-mei é disponibilizado através do `HTTP REST` oferencendo as operações de 'Listar CNPJs', 'Consultar Certificados' e 'Consultar Certificados Específicos'.\n## Códigos de Retorno não Tarifados \n| Código de retorno | Resumido | Explicação |\n| ------|------|------|\n| &nbsp | &nbsp | &nbsp | \n |400 | Requisição inválida | O número de CPF/CNPJ informado não é válido. |\n| &nbsp | &nbsp | &nbsp  |\n| 500 | Erro no Servidor | Ocorreu algum erro no servidor.|\n\n## Endereço de Produção\n    https://apigateway.serpro.gov.br/consulta-mei/api\n    \n## Endereço de Degustação\n    https://apigateway.serpro.gov.br/consulta-mei-trial/api\n    "
  },
  "basePath": "/consulta-mei-trial/api",
  "paths": {
    "/v1/mei/cnpjs/{cpf}": {
      "get": {
        "tags": [
          "MEI"
        ],
        "summary": "Listar os CNPJs de um CPF",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n      [GET] https://apigateway.serpro.gov.br/consulta-mei-trial/api/v1/mei/cnpjs/71066868409\n#### Parâmetros de Entrada\n    {\n      \"CPF\": \"71066868409\" \n    }\n#### Retorno\n    [\n      { \n        \"cnpj\": \"22025711000153\",\n        \"situacao\": \"SUSPENSO\"\n      },\n      {\n        \"cnpj\": \"22025711000154\",\n        \"situacao\": \"ATIVO\"\n      }\n    ]",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "description": "cpf do responsável",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Processamento ok",
            "schema": {
              "$ref": "#/definitions/CNPJs"
            }
          },
          "400": {
            "description": "Requisição com erro"
          },
          "404": {
            "description": "Nenhum registro encontrado"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v1/mei/certificado/{cpf}": {
      "get": {
        "tags": [
          "MEI"
        ],
        "summary": "Consultar Certificados Ativos de um CPF",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n      [GET] https://apigateway.serpro.gov.br/consulta-mei-trial/v1/mei/certificado/71066868409?ativo=true/ (traz apenas os CNPJs ativos) \n#### Parâmetros de Entrada\n    {\n      \"CPF\": \"71066868409\"\n    }      \n#### Retorno\n    {\n      \"nomeEmpresarial\": \"DGKQWMX CHMIQAGH WXMVHU 71066868409\",\n      \"nomeEmpresario\": \"\",               \n      \"nomeFantasia\": \"DCW PHNQKXHU\",\n      \"capitalSocial\": 500000,\n      \"identidade\": {\n        \"numero\": \"\",\n        \"orgaoEmissor\": \"\",\n        \"ufEmissor\": \"\",\n        \"cpf\": \"71066868409\"\n      },\n      \"situacaoCadastral\": \"ATIVO\",\n      \"dataSituacaoCadastral\": \"2015-03-11\",\n      \"cnpj\": \"21025711000154\",\n      \"nire\": \"32814140480\",\n      \"enderecoComercial\": {\n        \"cep\": \"71400050\",\n        \"logradouro\": \"RUA OHMRWPQM KXMUVWMV\",\n        \"numero\": \"171\",\n        \"bairro\": \"SETOR O\",\n        \"municipio\": \"CEILANDIA\",\n        \"uf\": \"DF\"\n      },\n      \"dataInicioAtividades\": \"2015-03-11\",\n      \"formaAtuacao\": [\n        \"Em Local Fixo Fora da Loja\"],\n      \"ocupacaoPrincipal\": {\n        \"nome\": \"\",\n        \"cnae\": {\n          \"codigo\": 7439098,\n          \"descricao\": \"Aluguel de carros importados para competição automobilística\"\n        }\n      },\n      \"ocupacoesSecundarias\": \"[]\",\n      \"numeroRecibo\": \"ME80700244\",\n      \"numeroIdentificador\": \"71066868409\",\n      \"dataEmissao\": \"2018-05-04\"\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "description": "cpf do responsável",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Processamento ok",
            "schema": {
              "$ref": "#/definitions/dadosCNPJs"
            }
          },
          "400": {
            "description": "Requisição com erro"
          },
          "404": {
            "description": "Nenhum registro encontrado"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v1/mei/certificado/{cpf}/{cnpj}": {
      "get": {
        "tags": [
          "MEI"
        ],
        "summary": "Consultar Certificado Específico de um CPF",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n      [GET] GET] https://apigateway.serpro.gov.br/consulta-mei-trial/v1/mei/certificado/71066868409/22025711000153\n#### Parâmetros de Entrada\n    {\n      \"CPF\": \"71066868409\",\n      \"CNPJ\": \"22025711000153\"\n    }\n    \n#### Retorno\n    {\n      \"nomeEmpresarial\": \"DGKQWMX CHMIQAGH WXMVHU 71066868409\",\n      \"nomeEmpresario\": \"\",               \n      \"nomeFantasia\": \"DCW PHNQKXHU\",\n      \"capitalSocial\": 30000,\n      \"identidade\": {\n        \"numero\": \"\",\n        \"orgaoEmissor\": \"\",\n        \"ufEmissor\": \"\",\n        \"cpf\": \"71066868409\"\n      },\n      \"situacaoCadastral\": \"SUSPENSO\",\n      \"dataSituacaoCadastral\": \"2015-03-11\",\n      \"cnpj\": \"22025711000153\",\n      \"nire\": \"35814140440\",\n      \"enderecoComercial\": {\n        \"cep\": \"13400050\",\n        \"logradouro\": \"RUA OHMRWPQM KXMUVWMV\",\n        \"numero\": \"1031\",\n        \"bairro\": \"CENTRO\",\n        \"municipio\": \"PIRACICABA\",\n        \"uf\": \"SP\"\n      },\n      \"dataInicioAtividades\": \"2015-03-11\",\n      \"formaAtuacao\": [\n        \"Em Local Fixo Fora da Loja\",\n      ],\n      \"ocupacaoPrincipal\": {\n        \"nome\": \"\",\n        \"cnae\": {\n          \"codigo\": 7739099,\n          \"descricao\": \"Aluguel de outras máquinas e equipamentos comerciais e industriais Não especificados anteriormente, sem operador\"\n        }\n      },\n      \"ocupacoesSecundarias\": \" [ ] \",\n      \"NumeroRecibo\": \"ME80700244\",\n      \"numeroIdentificador\": \"71066868409\",\n      \"dataEmissao\": \"2018-06-04\"\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "description": "cpf do responsável",
            "required": true,
            "type": "string"
          },
          {
            "name": "cnpj",
            "in": "path",
            "description": "cpf do responsável",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Processamento ok",
            "schema": {
              "$ref": "#/definitions/dadosCNPJs"
            }
          },
          "400": {
            "description": "Requisição com erro"
          },
          "404": {
            "description": "Nenhum registro encontrado"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Verifica status da API",
        "responses": {
          "200": {
            "description": "Serviço disponível",
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "examples": {
              "lastUpdateAt": "2019-02-18T11:27:06-03:00"
            }
          },
          "500": {
            "description": "Serviço indisponível",
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "examples": {
              "lastUpdateAt": "2019-02-18T11:27:06-03:00"
            }
          }
        }
      }
    }
  },
  "schemes": [
    "https"
  ],
  "definitions": {
    "Status": {
      "type": "object",
      "properties": {
        "lastUpdateAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "CNPJs": {
      "properties": {
        "cnpj": {
          "type": "string"
        },
        "situacao": {
          "type": "string"
        }
      }
    },
    "dadosCNPJs": {
      "properties": {
        "nomeEmpresarial": {
          "type": "string"
        },
        "nomeEmpresario": {
          "type": "string"
        },
        "nomeFantasia": {
          "type": "string"
        },
        "capitalSocial": {
          "type": "string"
        },
        "identidade": {
          "type": "object",
          "properties": {
            "numero": {
              "type": "string"
            },
            "orgaoEmissor": {
              "type": "string"
            },
            "ufEmissor": {
              "type": "string"
            },
            "cpf": {
              "type": "string"
            }
          }
        },
        "situacaoCadastral": {
          "type": "string"
        },
        "dataSituacaoCadastral": {
          "type": "string"
        },
        "cnpj": {
          "type": "string"
        },
        "nire": {
          "type": "string"
        },
        "enderecoComercial": {
          "type": "object",
          "properties": {
            "cep": {
              "type": "string"
            },
            "logradouro": {
              "type": "string"
            },
            "numero": {
              "type": "string"
            },
            "bairro": {
              "type": "string"
            },
            "municipio": {
              "type": "string"
            },
            "uf": {
              "type": "string"
            }
          }
        },
        "dataInicioAtividades": {
          "type": "string"
        },
        "formaAtuacao": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ocupacaoPrincipal": {
          "type": "object",
          "properties": {
            "codigo": {
              "type": "string"
            },
            "cna": {
              "type": "string"
            }
          }
        },
        "ocupacoesSecundarias": {
          "type": "object",
          "properties": {
            "codigo": {
              "type": "string"
            },
            "cna": {
              "type": "string"
            }
          }
        },
        "numeroRecibo": {
          "type": "string"
        },
        "numeroIdentificador": {
          "type": "string"
        },
        "dataEmissao": {
          "type": "string"
        }
      }
    }
  }
}
