{
  "host": "apigateway.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Consulta Massiva CNPJ DF (consulta-cnpj)",
    "description": "\n Para informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em: http://devserpro.github.io/apis/ \n\n  \nO serviço `Consulta Massiva CNPJ` é disponibilizado através do `HTTP REST` oferencendo operação de consulta às informações cadastrais de Pessoas Jurídicas no Brasil.\n<br>\n  ## Detalhamento do CNPJ\n\n  Para um detalhamento do CNPJ acesse o link:\n  https://github.com/devserpro/apis/raw/master/_layouts/swaggers/cnpj/detalhamento-CNPJ.pdf\n <br>\n## Códigos de Retorno não Bilhetados\n| Código de retorno | Resumido | Explicação |\n| ------------- |:--------------------|:----------------------------------------------------------------------------- |\n| 400           | Requisição inválida    | O número de inscrição do CNPJ informado não é válido.       |\n| 500           | Erro no servidor    | Ocorreu algum erro interno.      |\n| 503           | Serviço Indisponível     |  Algum serviço integrado ao Consulta Massiva CNPJ está indisponível no momento.                         |\n<br>\n## Solicitando assinatura com Carimbo de Tempo\n\n  Caso deseje que sua solicitação venha com uma assinatura de Carimbo de Tempo, basta incluir, no cabeçalho de sua requisição, a informação `x-signature: 1`.\n  \n  A assinatura será retornada no cabeçalho da resposta, com o nome `stamp`.\n<br>\n## Verificando assinatura com Carimbo de Tempo\n\n  Para verificar assinatura de carimbo de tempo, siga as instruções da documentação abaixo:\n  \n[Documentação - Verificação Carimbo de Tempo](https://rawgit.com/devserpro/apis/master/_layouts/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://rawgit.com/devserpro/apis/master/_layouts/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)\n<br>     \n \n## Campo cabeçalho da requisição (X-Request-Tag)\n\n  Este campo é opcional na utilização das chamadas às APIs / Datavalid e serve como identificador de requisições. Caso uma empresa necessite, por exemplo, agrupar a quantidade de requisições realizadas por cada departamento, poderá utilizar este campo de forma a identificar no faturamento a quantidade de requisições de cada item agrupador. \n<br><br>\n O campo é de texto livre (string até 32 caracteres) e não possui validação de seu conteúdo. Cabe, portanto, ao cliente manter o controle das informações que são enviadas para esse campo de forma que o relatório de faturamento faça o agrupamento adequado. \n<br><br>\n Este atributo pode ser usado pela entidade de classe e/ou grupo econômico na modalidade global com ônus entidade para fins de identificação do associado que realiza a requisição. No caso de entidades de classe ou grupos econômicos que realizem a contratação com ônus para o associado não é necessário realizar o agrupamento pois cada associado irá possuir sua própria chave de consumo.\n<br>\n ## Produção ### \n ### Endereço base de Produção\n \n    https://apigateway.serpro.gov.br/consulta-cnpj-df/v1\n   \n<br>\n## Degustação \n ### Endereço base de Degustação\n\n    https://apigateway.serpro.gov.br/consulta-cnpj-df-trial/v1\n    \n<br>"
  },
  "basePath": "/consulta-cnpj-df/v1",
  "paths": {
    "/cnpj/{ni}": {
      "get": {
        "tags": [
          "Consulta CNPJ DF"
        ],
        "summary": "Consulta o CNPJ DF",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "Retorna os dados do Cadastro Nacional de Pessoa Jurídica (CNPJ)\n### NI para Degustação\n| NI |\n| ---------------------- |\n| 34238864000168 |\n| 54447820000155 |\n| 46768703000165 |\n| 31151791000184 |\n| 34428654000132 |\n| 06115832000130 |\n| 78078291000128 |\n| 52293473000128 |\n| 07781066000105 |\n| 60367129000164 |\n --------------------------     \n\n## Exemplo\n\n  #### Chamada\n  \n    [GET] https://apigateway.serpro.gov.br/consulta-cnpj-df-trial/v1/cnpj/34238864000168\n    \n  #### Retorno\n  \n    {\n       \"ni\":\"34238864000168\",\n       \"data_abertura\":\"1967-06-30\",\n       \"nome_empresarial\":\"SERVICO DE E-COMERCE LTDA\",\n       \"nome_fantasia\":\"E-COMERCE\",\n       \"cnae_principal\":{\n          \"codigo\":\"6204000\",\n          \"descricao\":\"Consultoria em e-comerce\"\n       },\n       \"natureza_juridica\":{\n          \"codigo\":\"2011\",\n          \"descricao\":\"Empresa Privada\"\n       },\n       \"endereco\":{\n          \"logradouro\":\"ST DE GRANDE AREA NORTE\",\n          \"numero\":\"Q.601\",\n          \"complemento\":\"LOTE V\",\n          \"cep\":\"70836900\",\n          \"bairro\":\"ASA NORTE\",\n          \"municipio\":\"BRASILIA\",\n          \"uf\":\"DF\"\n       },\n       \"situacao_especial\":\"\",\n       \"situacao_cadastral\":{\n          \"codigo\":\"2\",\n          \"data\":\"2004-05-22\",\n          \"motivo\":\"\"\n       },\n       \"orgao\":\"0110100\",\n       \"tipo_estabelecimento\":\"1\",\n       \"correio_eletronico\":\"\",\n       \"capital_social\":0,\n       \"porte\":\"05\",\n       \"telefones\":[\n          {\n             \"ddd\":\"061\",\n             \"numero\":\"4338456\"\n          }\n       ],\n       \"nome_orgao\":\"BRASILIA\",\n       \"ente_federativo\":\"BR\"\n    }        ",
        "parameters": [
          {
            "description": "Número de inscrição no CNPJ",
            "name": "ni",
            "type": "string",
            "required": true,
            "in": "path"
          },
          {
            "description": "Solicitação de assinatura de carimbo de tempo. Informe 1 para assinar, ou deixe em branco para não assinar.",
            "name": "x-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Campo opcional para identificar requisições. O conteúdo é um texto livre para que o cliente possa identificar a origem da requisição, não há validação do seu conteúdo pela API. Máximo 32 caracteres",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CNPJ"
            },
            "description": "Retorna os dados da Pessoa Jurídica"
          },
          "400": {
            "description": "O Número de Inscrição informado não é válido"
          },
          "404": {
            "description": "Não existe Pessoa Jurídica com o Número de Inscrição informado"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Verifica status da API",
        "responses": {
          "200": {
            "description": "Serviço disponível"
          },
          "500": {
            "description": "Serviço indisponível"
          }
        }
      }
    }
  },
  "schemes": [
    "https"
  ],
  "definitions": {
    "CNPJ": {
      "properties": {
        "ni": {
          "type": "string"
        },
        "data_abertura": {
          "type": "string"
        },
        "nome_empresarial": {
          "type": "string"
        },
        "nome_fantasia": {
          "type": "string"
        },
        "cnae_principal": {
          "$ref": "#/definitions/CodigoDescricao"
        },
        "natureza_juridica": {
          "$ref": "#/definitions/CodigoDescricao"
        },
        "endereco": {
          "$ref": "#/definitions/Endereco"
        },
        "situacao_especial": {
          "type": "string"
        },
        "situacao_cadastral": {
          "$ref": "#/definitions/SituacaoCadastral"
        },
        "orgao": {
          "type": "string"
        },
        "tipo_estabelecimento": {
          "type": "string"
        },
        "correio_eletronico": {
          "type": "string"
        },
        "capital_social": {
          "type": "string"
        },
        "porte": {
          "type": "string"
        },
        "telefones": {
          "items": {
            "$ref": "#/definitions/Telefone"
          },
          "type": "array"
        },
        "nome_orgao": {
          "type": "string"
        },
        "ente_federativo": {
          "type": "string"
        },
        "data_situacao_especial": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "CodigoDescricao": {
      "properties": {
        "codigo": {
          "type": "string"
        },
        "descricao": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Endereco": {
      "properties": {
        "bairro": {
          "type": "string"
        },
        "complemento": {
          "type": "string"
        },
        "cep": {
          "type": "string"
        },
        "municipio": {
          "type": "string"
        },
        "uf": {
          "type": "string"
        },
        "logradouro": {
          "type": "string"
        },
        "numero": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SituacaoCadastral": {
      "properties": {
        "codigo": {
          "type": "string"
        },
        "motivo": {
          "type": "string"
        },
        "data": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Telefone": {
      "properties": {
        "ddd": {
          "type": "string"
        },
        "numero": {
          "type": "string"
        }
      },
      "type": "object"
    }
  }
}
