{
  "host": "gateway.apiserpro.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "tags": [
    {
      "name": "1 Introdução"
    },
    {
      "name": "2 Padrões"
    },
    {
      "name": "3 Tabelas"
    }
  ],
  "info": {
    "version": "1",
    "title": "API DUE",
    "description": "## Códigos de Retorno não Bilhetados \n| Código de retorno | Resumido | Explicação |\n| ------------- |--------------------|-----------------------------------------------------------------------------|\n| 400 | Requisição inválida | Requisição mal formatada (Nº da DUE / Chave) |\n| 404 | Not Found | Nenhum registro encontrado com os parâmetros informados (Nº da DUE / Chave) |\n  | 500  | Erro no servidor    | Ocorreu algum erro interno.      | \n<br>\n ## Campo cabeçalho da requisição (X-Request-Tag)\n\n  Este campo é opcional na utilização das chamadas às APIs / Datavalid e serve como identificador de requisições. Caso uma empresa necessite, por exemplo, agrupar a quantidade de requisições realizadas por cada departamento, poderá utilizar este campo de forma a identificar no faturamento a quantidade de requisições de cada item agrupador. \n<br><br>\n O campo é de texto livre (string até 32 caracteres) e não possui validação de seu conteúdo. Cabe, portanto, ao cliente manter o controle das informações que são enviadas para esse campo de forma que o relatório de faturamento faça o agrupamento adequado. \n<br><br>\n Este atributo pode ser usado pela entidade de classe e/ou grupo econômico na modalidade global com ônus entidade para fins de identificação do associado que realiza a requisição. No caso de entidades de classe ou grupos econômicos que realizem a contratação com ônus para o associado não é necessário realizar o agrupamento pois cada associado irá possuir sua própria chave de consumo.\n<br>\n ## Produção \n ### Endereço Base de Produção\n    https://gateway.apiserpro.serpro.gov.br/consulta-due/api \n<br>\n ## Degustação    \n ### Endereço de Degustação\n    https://gateway.apiserpro.serpro.gov.br/consulta-due-trial/api \n<br>\n   "
  },
  "basePath": "/consulta-due/api",
  "paths": {
    "Descrição": {
      "head": {
        "tags": [
          "1 Introdução"
        ],
        "summary": "API DUE - Declaração Unica de Exportação",
        "description": "Para informações de como se autenticar antes de consumir as API, por favor,\nconsulte a documentação em:\n http://devserpro.github.io/apis/  \n\n### Bem vindo a API DUE. \n    Consolidamos aqui as informações técnicas para a integração dos sistemas das empresas com os serviços do Portal Único do Comércio Exterior, baseado nas instruções de uso e contratação conforme a plataforma de habilitação API Serpro. A API DUE foi desenvolvida baseada na arquitetura REST/JSON no formato UTF-8.\n\n### <br> API Serpro - Plataforma de Habilitação \n  Todas as empresas que possuem perfil de acesso para realizar a consulta DUE em tela no Portal Único do Comércio Exterior já estão aptas a celebrar o contrato comercial com o Serpro para consumo da API DUE.\n\n  <br> O contratante terá acesso a todas as informações relacionadas ao modelo de sustentação comercial e técnica dos serviços API por meio do portal de relacionamento com o cliente Minha Conta, onde as principais funcionalidades são detalhadas no tutorial Área do Cliente. <br>\n  "
      }
    },
    "Formatos e Tipos": {
      "head": {
        "tags": [
          "2 Padrões"
        ],
        "summary": "Formatos e Tipos",
        "description": "\nOs seguintes tipos de dados são utilizados pela API Loja Franca:\n\n| Tipos | Descrição | Formato\n| ---------------------- | :------------------------------------------------------------- | ------------------ |\n| string        | Cadeia de caracteres |\n| string - data     | String com formato de data  | yyyy-MM-dd\n| string - data/hora | String com formato de data e hora | yyyy-MM-ddTHH:mm:ss\n| integer | Número inteiro que representa códigos e identificadores |\n| number | Número inteiro em situações que pode passar do valor 2^31-1 |\n| decimal | Número fracionado, sempre com duas casas após o decimal, separado por \".\" | Ex: 123456789012.22 (Exceto cotação do dólar, que pode ter até 3 casas após o decimal).\n\n --------------------------"
      },
      "responses": {}
    },
    "Tabela de mensagens": {
      "head": {
        "tags": [
          "3 Tabelas"
        ],
        "summary": "Tabela com as mensagens de sucesso e erros",
        "description": "\n| Código | Mensagem\n| ------ | --------\n| 200   | Operação realizada com sucesso\n| 400   | Requisição mal formatada\n| 404   | Registro não encontrado\n| 500   | Erro interno do servidor\n"
      }
    },
    "null": null,
    "/v2/due/{numero}/{chave}": {
      "get": {
        "tags": [
          "4 Métodos e Testes Consulta"
        ],
        "summary": "Consulta a DUE",
        "description": "Retorna todas as informações vinculadas à DUE - Declaração Única de Exportação de acordo com o perfil de cada empresa.\n\n## Exemplo\n#### Chamada\n      [GET] https://gateway.apiserpro.serpro.gov.br/consulta-due/api/v2/due/{numero]/{chave} \n## Parâmetros de Entrada\n|Nome|Descrição|Tipo|Detalhes\n|----|---------|----|--------\n|numero|Número da DUE|string|Obrigatório\n|chave|Chave de acesso|string|Obrigatório\n\n\n## Atributos de Resposta\n|Nome|Descrição|Tipo\n|----|---------|----\n|numero|Número da DUE|string\n|ruc|Registro Único de Carga|string\n|chaveDeAcesso|Identificação da Chave de acesso|string\n|situacao|Situação|string\n|canal|Meio|string\n|exigencia|Obrigatoriedade|boolean\n|retificada|Quando houve alterações|boolean\n|tratamentoAdministrativo|Se a declaração possui algum tratamento|string\n|tratamentoAdministrativoComImpedimentoDeEmbarque|Se a declaração possui algum impedimento administrativo|boolean\n|tratamentoAdministrativoComRequerimentoDeInspecao|Se a declaração possui algum requerimento de inspeção|boolean\n|situacaoDaCarga|Situação da Carga|string\n|bloqueadaParaEmbarque|Condição de bloqueio para o embarque|boolean\n|tipoDeDocumentoFiscal|Qual o documento informado|string\n|motivoDeDispensaDeNotaFiscal|O motivo da dispensa da NF|string\n|Declarante|Dados como nome, nacionalidade e documentação|object\n|operadorEconomicoAutorizado|Indicador de autorização de operdor econômico|boolean\n|formaDeExportacao|A maneira como o produto será exportado|string\n|situacaoEspecial|Se existe alguma condição especial|string\n|exportacaoConsorciada|Se a exportação é consorciada|boolean\n|paisDoImportador|Dados como nome, código e nome resumido do pais importador|object\n|pesoLiquidoTotal|Peso liquido total|number\n|tratamentoPrioritario|Se há tramento prioritario|boolean\n|valorTotalDasMercadorias|Valor total|number\n|moeda|Dados como código e descrição da moeda|object\n|valorDaMercadoriaNoLocalDeEmbarque|Valor da mercadoria no local de embarque|number\n|contato|Dados como nome, fone e email|object\n|localDeDespacho|Dados como unidade RFB, recinto aduaneiro e cnpj do estabelecimento|object\n|localDeEmbarque|Dados como unidade RFB, recinto aduaneiro e cnpj do estabelecimento|object\n|viasEspecialDeTransporte|Se há alguma via especial de transporte|string\n|usoObrigatorioDeTransito|Se há obrigatoriedade no trânsito|boolean\n|informacoesComplementares|Quaisquer informações adicionais|string\n|itens|Itens constante na DUE|object\n|eventosDoHistorico|Dados históricos|object\n### Dados para testes no trial\n    (HTTP 200) numero: 18BR0000151067 - chave: 18NYJ151060\n    (HTTP 400) numero: 18BR000015106  - chave: 18NYJ15106\n    (HTTP 404) numero: 17BR0000015111 - chave: 17NYJ125811\n        ",
        "parameters": [
          {
            "in": "path",
            "name": "numero",
            "type": "string",
            "description": "Número da DUE",
            "required": true
          },
          {
            "in": "path",
            "name": "chave",
            "type": "string",
            "description": "Chave de Acesso",
            "required": true
          },
          {
            "description": "Campo opcional para identificar requisições. O conteúdo é um texto livre para que o cliente possa identificar a origem da requisição, não há validação do seu conteúdo pela API. Máximo 32 caracteres",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsultaDUE-V2"
            }
          },
          "Erros": {
            "description": "Veja os códigos de erros no item 3 - Tabelas"
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Verifica status da API",
        "responses": {
          "200": {
            "description": "Serviço disponível",
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "examples": {
              "lastUpdateAt": "2019-02-18T11:27:06-03:00"
            }
          },
          "500": {
            "description": "Serviço indisponível",
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "examples": {
              "lastUpdateAt": "2019-02-18T11:27:06-03:00"
            }
          }
        }
      }
    }
  },
  "consumes": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "definitions": {
    "Status": {
      "type": "object",
      "properties": {
        "lastUpdateAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ConsultaDUE-V2": {
      "type": "object",
      "properties": {
        "numero": {
          "type": "string",
          "example": "18BR0000133506"
        },
        "ruc": {
          "type": "string",
          "example": "8BR00000000100000000000000000013602"
        },
        "chaveDeAcesso": {
          "type": "string",
          "example": "18ERM135006"
        },
        "situacao": {
          "type": "string",
          "example": "CARGA_APRESENTADA_PARA_DESPACHO"
        },
        "canal": {
          "type": "string",
          "example": "null"
        },
        "exigencia": {
          "type": "boolean",
          "example": "false"
        },
        "retificada": {
          "type": "boolean",
          "example": "false"
        },
        "tratamentoAdministrativo": {
          "type": "string",
          "example": "DISPENSADO"
        },
        "tratamentoAdministrativoComImpedimentoDeEmbarque": {
          "type": "boolean",
          "example": "false"
        },
        "tratamentoAdministrativoComRequerimentoDeInspecao": {
          "type": "boolean",
          "example": "false"
        },
        "situacaoDaCarga": {
          "type": "string",
          "example": "null"
        },
        "bloqueadaParaEmbarque": {
          "type": "boolean",
          "example": "false"
        },
        "tipoDeDocumentoFiscal": {
          "type": "string",
          "example": "NOTA_FISCAL_ELETRONICA"
        },
        "motivoDeDispensaDaNotaFiscal": {
          "type": "string",
          "example": "null"
        },
        "declarante": {
          "type": "object",
          "properties": {
            "nome": {
              "type": "string",
              "example": "OWMKX NX OIWUQD UW"
            },
            "tipoDoDocumento": {
              "type": "string",
              "example": "CNPJ"
            },
            "estrangeiro": {
              "type": "boolean",
              "example": "false"
            },
            "nacionalidade": {
              "type": "object",
              "properties": {
                "codigo": {
                  "type": "integer",
                  "example": "105"
                },
                "nome": {
                  "type": "string",
                  "example": "BRASIL"
                },
                "nomeResumido": {
                  "type": "string",
                  "example": "BRA"
                }
              }
            },
            "numeroDoDocumento": {
              "type": "string",
              "example": "00000000000191"
            }
          }
        },
        "operadorEconomicoAutorizado": {
          "type": "boolean",
          "example": "false"
        },
        "formaDeExportacao": {
          "type": "string",
          "example": "POR_CONTA_PROPRIA"
        },
        "situacaoEspecial": {
          "type": "string",
          "example": "null"
        },
        "exportacaoConsorciada": {
          "type": "boolean",
          "example": "false"
        },
        "paisDoImportador": {
          "type": "object",
          "properties": {
            "codigo": {
              "type": "integer",
              "example": "676"
            },
            "nome": {
              "type": "string",
              "example": "RUSSIA, FEDERACAO DA"
            },
            "nomeResumido": {
              "type": "string",
              "example": "null"
            }
          }
        },
        "pesoLiquidoTotal": {
          "type": "number",
          "example": "49"
        },
        "tratamentoPrioritario": {
          "type": "boolean",
          "example": "true"
        },
        "valorTotalDasMercadorias": {
          "type": "number",
          "example": "3000"
        },
        "moeda": {
          "type": "object",
          "properties": {
            "codigo": {
              "type": "integer",
              "example": "220"
            },
            "descricao": {
              "type": "string",
              "example": "DOLAR DOS EUA"
            }
          }
        },
        "valorDasMercadoriasNoLocalDeEmbarque": {
          "type": "number",
          "example": "2000.1"
        },
        "contato": {
          "type": "object",
          "properties": {
            "nome": {
              "type": "string",
              "example": "null"
            },
            "telefone": {
              "type": "string",
              "example": "null"
            },
            "email": {
              "type": "string",
              "example": "null"
            }
          }
        },
        "localDeDespacho": {
          "type": "object",
          "properties": {
            "unidadeRFB": {
              "type": "object",
              "properties": {
                "codigo": {
                  "type": "string",
                  "example": "717600"
                },
                "descricao": {
                  "type": "string",
                  "example": "PORTO DO RIO"
                }
              }
            },
            "recintoAduaneiro": {
              "type": "object",
              "properties": {
                "codigo": {
                  "type": "string",
                  "example": "7929301"
                },
                "descricao": {
                  "type": "string",
                  "example": "PORTO DO RIO DE JANEIRO - CODERJ - RIO DE JANEIRO/RJ - PORTO MARIT.ALFAND.-USO PUBLICO-CIA.DOCAS DO EST.DO RIO DE JANEIR"
                },
                "latitude": {
                  "type": "string",
                  "example": "-20.812222"
                },
                "longitude": {
                  "type": "string",
                  "example": "-40.248333"
                }
              }
            },
            "cnpjDoEstabelecimento": {
              "type": "string",
              "example": "null"
            },
            "endereco": {
              "type": "string",
              "example": "null"
            },
            "latitude": {
              "type": "string",
              "example": "null"
            },
            "longitude": {
              "type": "string",
              "example": "null"
            }
          }
        },
        "localDeEmbarque": {
          "type": "object",
          "properties": {
            "unidadeRFB": {
              "type": "object",
              "properties": {
                "codigo": {
                  "type": "string",
                  "example": "717600"
                },
                "descricao": {
                  "type": "string",
                  "example": "PORTO DO RIO"
                }
              }
            },
            "recintoAduaneiro": {
              "type": "object",
              "properties": {
                "codigo": {
                  "type": "string",
                  "example": "7929301"
                },
                "descricao": {
                  "type": "string",
                  "example": "PORTO DO RIO DE JANEIRO - CODERJ - RIO DE JANEIRO/RJ - PORTO MARIT.ALFAND.-USO PUBLICO-CIA.DOCAS DO EST.DO RIO DE JANEIR"
                },
                "latitude": {
                  "type": "string",
                  "example": "-20.812222"
                },
                "longitude": {
                  "type": "string",
                  "example": "-40.248333"
                }
              }
            },
            "cnpjDoEstabelecimento": {
              "type": "string",
              "example": "null"
            },
            "endereco": {
              "type": "string",
              "example": "null"
            },
            "latitude": {
              "type": "string",
              "example": "null"
            },
            "longitude": {
              "type": "string",
              "example": "null"
            }
          }
        },
        "viaEspecialDeTransporte": {
          "type": "string",
          "example": "null"
        },
        "usoObrigatorioDeTransito": {
          "type": "boolean",
          "example": "false"
        },
        "informacoesComplementares": {
          "type": "string",
          "example": "Observações Gerais"
        },
        "itens": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "numero": {
                "type": "integer",
                "example": "1"
              },
              "exportador": {
                "type": "object",
                "properties": {
                  "nome": {
                    "type": "string",
                    "example": "OWMKX NX OIWUQD UW"
                  },
                  "tipoDoDocumento": {
                    "type": "string",
                    "example": "CNPJ"
                  },
                  "estrangeiro": {
                    "type": "boolean",
                    "example": "false"
                  },
                  "nacionalidade": {
                    "type": "object",
                    "properties": {
                      "codigo": {
                        "type": "integer",
                        "example": "105"
                      },
                      "nome": {
                        "type": "string",
                        "example": "BRASIL"
                      },
                      "nomeResumido": {
                        "type": "string",
                        "example": "BRA"
                      }
                    }
                  },
                  "numeroDoDocumento": {
                    "type": "string",
                    "example": "00000000002720"
                  }
                }
              },
              "itemDaNotaFiscalDeExportacao": {
                "type": "object",
                "properties": {
                  "numeroDoItem": {
                    "type": "integer",
                    "example": "1"
                  },
                  "chaveDeAcesso": {
                    "type": "string",
                    "example": "35180500000000002720550900006843201000000009"
                  },
                  "serie": {
                    "type": "integer",
                    "example": "90"
                  },
                  "numeroDoDocumento": {
                    "type": "integer",
                    "example": "684320"
                  },
                  "finalidade": {
                    "type": "string",
                    "example": "normal"
                  },
                  "notaFiscalEletronica": {
                    "type": "boolean",
                    "example": "true"
                  },
                  "cfop": {
                    "type": "integer",
                    "example": "7101"
                  },
                  "codigoDoProduto": {
                    "type": "string",
                    "example": "000000000000021600001"
                  }
                }
              },
              "ncm": {
                "type": "object",
                "properties": {
                  "codigo": {
                    "type": "string",
                    "example": "12011000"
                  },
                  "descricao": {
                    "type": "string",
                    "example": "SOJA, MESMO TRITURADA."
                  },
                  "UnidadeEstatistica": {
                    "type": "string",
                    "example": "UNIDADE"
                  },
                  "atributos": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "codigo": {
                          "type": "string",
                          "example": "001"
                        },
                        "conteudo": {
                          "type": "string",
                          "example": "estampado"
                        },
                        "descricao": {
                          "type": "string",
                          "example": "Tipo de tecido"
                        }
                      }
                    }
                  }
                }
              },
              "descricaoDaMercadoria": {
                "type": "string",
                "example": "PRODUTO GENERICO TESTE - GRADE COMPOSTA 34."
              },
              "motivoDoTratamentoPrioritario": {
                "type": "string",
                "example": "CARGA VIVA"
              },
              "descricaoComplementar": {
                "type": "string",
                "example": "Descrição Complementar"
              },
              "quantidadeNaUnidadeEstatistica": {
                "type": "number",
                "example": "1"
              },
              "pesoLiquidoTotal": {
                "type": "number",
                "example": "49"
              },
              "unidadeComercializada": {
                "type": "string",
                "example": "UN"
              },
              "quantidadeNaUnidadeComercializada": {
                "type": "number",
                "example": "1"
              },
              "valorTotal": {
                "type": "number",
                "example": "1000"
              },
              "percentualDeComissaoDoAgente": {
                "type": "number",
                "example": "null"
              },
              "condicaoDeVenda": {
                "type": "object",
                "properties": {
                  "codigo": {
                    "type": "string",
                    "example": "DDP"
                  },
                  "descricao": {
                    "type": "string",
                    "example": "DELIVERED DUTY PAID"
                  }
                }
              },
              "valorDaMercadoriaNaCondicaoDeVenda": {
                "type": "number",
                "example": "3000"
              },
              "valorDaMercadoriaNoLocalDeEmbarque": {
                "type": "number",
                "example": "200,1"
              },
              "valorDaMercadoriaNoLocalDeEmbarqueEmReais": {
                "type": "number",
                "example": "7143.55716"
              },
              "dataDeConversao": {
                "type": "string",
                "example": "2018-05-01T05:57:00.000+0000"
              },
              "importador": {
                "type": "object",
                "properties": {
                  "nome": {
                    "type": "string",
                    "example": "NF-E EMITIDA EM AMBIENTE DE HOMOLOGACAO - SEM VALOR FISCAL"
                  },
                  "endereco": {
                    "type": "string",
                    "example": "RUA ELISA SILVERIO - 45 - CENTRO - EXTERIOR - 86800270 - RUSSIA"
                  },
                  "pais": {
                    "type": "object",
                    "properties": {
                      "codigo": {
                        "type": "integer",
                        "example": "676"
                      },
                      "nome": {
                        "type": "string",
                        "example": "RUSSIA, FEDERACAO DA"
                      },
                      "nomeResumido": {
                        "type": "string",
                        "example": "null"
                      }
                    }
                  }
                }
              },
              "depuracaoEstatistica": {
                "type": "object",
                "properties": {
                  "justificativaDeValor": {
                    "type": "string",
                    "example": "null"
                  },
                  "justificativaDeQuantidade": {
                    "type": "string",
                    "example": "null"
                  },
                  "possuiDepuracao": {
                    "type": "boolean",
                    "example": "false"
                  }
                }
              },
              "enquadramentos": {
                "type": "array",
                "items": {
                  "properties": {
                    "codigo": {
                      "type": "string",
                      "example": "80000"
                    },
                    "descricao": {
                      "type": "string",
                      "example": "EXPORTACAO NORMAL"
                    }
                  }
                }
              },
              "paisesDeDestino": {
                "type": "array",
                "items": {
                  "properties": {
                    "pais": {
                      "type": "object",
                      "properties": {
                        "codigo": {
                          "type": "integer",
                          "example": "249"
                        },
                        "nome": {
                          "type": "string",
                          "example": "ESTADOS UNIDOS"
                        },
                        "nomeResumido": {
                          "type": "string",
                          "example": "null"
                        }
                      }
                    },
                    "quantidadeNaUnidadeEstatistica": {
                      "type": "number",
                      "example": "1"
                    }
                  }
                }
              },
              "tratamentosAdministrativos": {
                "type": "array",
                "items": {
                  "properties": {
                    "codigoLPCO": {
                      "type": "string",
                      "example": "null"
                    },
                    "orgao": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "null"
                      }
                    },
                    "situacao": {
                      "type": "string",
                      "example": "null"
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "null"
                    }
                  }
                }
              }
            }
          }
        },
        "eventosDoHistorico": {
          "type": "array",
          "items": {
            "properties": {
              "dataEHoraDoEvento": {
                "type": "string",
                "example": "2018-05-02T07:07:47.002+0000"
              },
              "evento": {
                "type": "string",
                "example": "Registro"
              },
              "responsavel": {
                "type": "string",
                "example": "07073311703"
              },
              "informacoesAdicionais": {
                "type": "string",
                "example": "null"
              }
            }
          }
        }
      }
    }
  }
}
