openapi: 3.0.1
info:
  title: Integra Loja Franca
  version: "1"
  description: |- 
    O serviço &nbsp; *Integra Loja Franca* &nbsp; é disponibilizado através do &nbsp; *HTTP REST* &nbsp; oferencendo operações para o processo de vendas das Lojas Francas de Fronteira.
    ### API Serpro - Plataforma de Habilitação  
    O contratante terá acesso a todas as informações relacionadas ao modelo de sustentação comercial e técnica dos serviços API por meio do portal de relacionamento com o cliente Minha Conta, onde as principais funcionalidades são detalhadas no tutorial Área do Cliente.
    
    Para informações de como se autenticar antes de consumir a API, por favor, consulte a documentação em [Autenticação](http://devserpro.github.io/apis/)    
    ### Métodos da API Loja Franca    
    | Tipo | Nome | Descrição |
    | -----|:-----|:----------|
    | Post | Consulta de Cota | Retorna a cota disponível para um determinado viajante. |
    | Post | Consulta de Viajante | Retorna o nome, data de nascimento e a data da última venda de um viajante. |
    | Post | Consulta Cotação do Dólar | Retorna a cotação do dólar de uma determinada data. |
    | Post | Processa Venda de Viajante | Efetua uma operação de processamento de venda. |
    | Post | Entrega Venda para Viajante | Efetua uma operação de entrega de venda. |
    | Post | Cancela Venda de Viajante | Efetua uma operação de cancelamento de venda. | 
    | Post | Devolução Parcial de Venda | Efetua uma operação de devolução parcial de venda. |
    | Post | Devolução Total de Venda | Efetua uma operação de devolução total de venda. |
    | Post | Troca Item Idêntico de Venda | Efetua uma operação de troca de item idêntico de venda. |
    ### Códigos de Retorno não Bilhetados 
    | Código de retorno | Resumido | Descrição |
    | ------------- |:--------------------|:-----------------------------------------------------------------------------|
    | 400           | Requisição inválida | O parâmetro de entrada informado não é válido. |
    | 404           | Not found           | O parâmetro de entrada informado não foi encontrado.
    | 500           | Erro no servidor    | Ocorreu algum erro interno.      |     
    ### Solicitando assinatura com Carimbo de Tempo
      Caso deseje que sua solicitação venha com uma assinatura de Carimbo de Tempo, basta incluir, no cabeçalho de sua requisição, a informação: &nbsp; *x-signature:1*. &nbsp; A assinatura será retornada no cabeçalho da resposta, com o nome: &nbsp; *stamp* .
    ### Verificando assinatura com Carimbo de Tempo - Teste
      Para verificar assinatura de carimbo de tempo, siga as instruções da documentação abaixo:     
    [Documentação - Verificação de Carimbo de Tempo](https://rawgit.com/devserpro/apis/master/_layouts/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://rawgit.com/devserpro/apis/master/_layouts/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)
servers:
  - url: https://apigateway.serpro.gov.br/api-loja-franca-trial/api
    description: Trial
  - url: https://apigateway.serpro.gov.br/api-loja-franca/api
    description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []
externalDocs:
  description: "Detalhamento da API Loja Franca de Fronteiras"
  url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/Informacoes-LojaFranca.pdf
paths:
  '/':
    post:
      summary: Realiza as operações da API
      description: "Métodos da API" 
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntradaCota'
            example: Payload em base 64.
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaidaCota'
              example:
                idVenda: '2017000000020992653'
                dataHoraVenda: '2017-12-11T17:27:41'
                darf:
                  valor: 31.24
                  codigoReceita: 1258
                  numero: 7011734500514907
                  dataVencimento: '2017-12-12'
                  pdf: Base64EncodedString
        400: 
          description: Payload inválido.
        404:
          description: O payload informado não foi encontrado.  
        422:
          description: |-
            Códigos dos erros de negócio:
            13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 52, 54, 55, 56, 57, 58, 99, -99
          content: {}
        500:
          description: Erro interno do servidor.
      operationId: https://apigateway.serpro.gov.br/api-loja-franca-trial/api/{payload em base 64}
      externalDocs:
        description: "Payloads para degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/LojaFranca-Degustacao.pdf
components:
  schemas:
    EntradaCota:
      type: string
      properties:
        payload:
          description: Json de entrada codificado em base 64.
          type: string
          example: Payload Base 64.  
    SaidaCota:
      type: string
      properties:
        json:
          type: string
          description: Json de saída referente ao método consultado - (Venda Viajante com Darf)
  securitySchemes:
    APIKEY:
      type: apiKey
      name: x-jwt-assertion
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://apigateway.serpro.gov.br/token'
    Authorization:
        type: http
        description: Autenticação para ambiente trial
        scheme: bearer

