{
  "swagger": "2.0",
  "info": {
    "description": "Serviço de Consultas On-line, que consiste em prover acesso aos dados não protegidos por sigilo fiscal constantes de base de dados da Secretaria da Receita Federal do Brasil (RFB).",
    "version": "1.0.0",
    "title": "API Light",
    "termsOfService": "http://normas.receita.fazenda.gov.br/sijut2consulta/link.action?idAto=77256",
    "contact": {
      "email": "carlos-henrique.sousa@serpro.gov.br"
    }
  },
  "host": "d-cpflight-conectagov.estaleiro.serpro.gov.br",
  "basePath": "/v0",
  "tags": [
    {
      "name": "cpf",
      "description": "Cadastro de Pessoas Físicas"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/cpf": {
      "post": {
        "tags": [
          "cpf"
        ],
        "summary": "Consulta uma lista de CPFs",
        "description": "",
        "operationId": "addPet",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "listaCpf",
            "description": "Lista com o CPFs a serem consultados",
            "required": true,
            "schema": {
              "$ref": "#/definitions/listaCpf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/listaCpfCompleto"
            }
          },
          "400": {
            "description": "Invalid username supplied"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "petstore_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://petstore.swagger.io/oauth/dialog",
      "flow": "implicit",
      "scopes": {
        "write:pets": "modify pets in your account",
        "read:pets": "read your pets"
      }
    },
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  },
  "definitions": {
    "listaCpf": {
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "listaCpfCompleto": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/CPF"
      }
    },
    "CPF": {
      "type": "object",
      "properties": {
        "cpf": {
          "type": "integer",
          "format": "int64"
        },
        "Nome": {
          "type": "string"
        },
        "ResidenteExterior": {
          "type": "string",
          "enum": [
            "S",
            "N"
          ]
        },
        "NomeMae": {
          "type": "string"
        },
        "DataNascimento": {
          "type": "string",
          "format": "date-time"
        },
        "Sexo": {
          "type": "integer"
        },
        "Logradouro": {
          "type": "string"
        },
        "NumeroLogradouro": {
          "type": "string"
        },
        "Bairro": {
          "type": "string"
        },
        "Cep": {
          "type": "integer"
        },
        "UF": {
          "type": "string",
          "enum": [
            "AC",
            "AL",
            "AP",
            "AM",
            "BA",
            "CE",
            "DF",
            "ES",
            "GO",
            "MA",
            "MT",
            "MS",
            "MG",
            "PA",
            "PB",
            "PR",
            "PE",
            "PI",
            "RJ",
            "RN",
            "RS",
            "RO",
            "RR",
            "SC",
            "SP",
            "SE",
            "TO"
          ]
        },
        "CodigoMunicipio": {
          "type": "integer"
        },
        "Municipio": {
          "type": "string"
        },
        "DDD": {
          "type": "integer"
        },
        "Telefone": {
          "type": "integer"
        },
        "Unidade Administrativa": {
          "type": "integer"
        },
        "Estrangeiro": {
          "type": "string",
          "enum": [
            "S",
            "N"
          ]
        },
        "DataAtualizacao": {
          "type": "string",
          "format": "date-time"
        },
        "DataInscricao": {
          "type": "string",
          "format": "date-time"
        }
      },
      "xml": {
        "name": "CPF"
      }
    }
  }
}