openapi: 3.0.1
info:
  title: Integração SIAFI (api-siafi)
  version: '2.0'
  description: |-

    Para informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em: https://servicos.serpro.gov.br/api-serpro/biblioteca/arquivos/como-autenticar-documentacao-api.pdf

        
    O serviço `Integração SIAFI` é disponibilizado através do `HTTP REST` oferencendo operações de lançamento ao SIAFI.
    ## Códigos de  Retorno não Tarifados 
    | Código de retorno | Resumido | Explicação | 
    | ------------- | :-------------------- | :------------------------------------------------------------------------------- | 
     
     |500 | Erro no Servidor | Ocorreu algum erro no servidor.| 
    <br> 
servers:
  - url: 'https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api'
    description: Trial
  - url: 'https://gateway.apiserpro.serpro.gov.br/integra-siafi/api'
    description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []
paths:
  /v1/ne/alterar:
    post:
      tags:
        - Nota de Empenho v1
      summary: Altera Nota de Empenho
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      description: |-

        ## Exemplo
        #### Chamada
              [POST] https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/alterar
        #### Conteúdo do corpo
            {
              "dataEmissao": "31DEZ17",
              "numeroDocumento": "",               
              "ugEmitente": "010001",
              "gestaoEmitente": "00001",
              "numeroLista": "",
              "taxaCambio": "",
              "observacao": "Cancelamento de NE",
              "valorTotalEmpenho": "555555",
              "numeroProcesso": "0100",
              "numeroOriginalConvenio": "0010",
              "passivoAnterior": "N",
              "contaPassivo": "",
              "contaValor": [
              {
                "conta": "",
                "valor": ""
              }
            ],
              "contaPassivoFinanceiro": "string",
              "especie": "02",
              "ugReferencia": "010001",
              "gestaoReferencia": "00001",
              "numeroEmpenhoReferencia": "2017NE800051",
              "numeroListaReferencia": "2017LI800097",
              "listaItens": [
              {
                "subItemNd": "01",
                "quantidade": "000000000000001",
                "valorUnitario": "00000000000555555",
                "valorTotal": "00000000000555555",
                "descricao": "Teste alteração"
              }
            ],
              "numeroTransacaoCliente": "2017TR000049",
              "credencial": {
              "cpf": "60165570644",
              "ug": "010001",
              "sistema": "SIAFI2017HM"
                }
              }
        #### Retorno
            { 
              "codigo": 0,
              "mensagem": "010001000012017NE800059 010001000012017LI800105",
              "erros": [],
              "status": 200
            }

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlteraNE'
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Alterada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
        '400':
          description: Algum campo enviado é inválido
        '403':
          description: Usuário não tem permissão para realizar esta operação
        '500':
          description: Erro interno do servidor
  /v1/ne/anular:
    post:
      tags:
        - Nota de Empenho v1
      summary: Anula Nota de Empenho
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      description: |-

        ## Exemplo
        #### Chamada
              [POST] https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/anular
        #### Conteúdo do corpo
            {
                "dataEmissao": "31DEZ17",
                "numeroDocumento": "",               
                "ugEmitente": "010001",
                "gestaoEmitente": "00001",
                "numeroLista": "",
                "taxaCambio": "",
                "observacao": "Anulação de NE",
                "valorTotalEmpenho": "555555",
                "numeroProcesso": "0100",
                "numeroOriginalConvenio": "0010",
                "passivoAnterior": "N",
                "contaPassivo": "",
                "contaValor": [
                {
                  "conta": "",
                  "valor": ""
                }
              ],
                "contaPassivoFinanceiro": "string",
                "especie": "03",
                "ugReferencia": "010001",
                "gestaoReferencia": "00001",
                "numeroEmpenhoReferencia": "2017NE800049",
                "numeroListaReferencia": "2017LI800095",
                "listaItens": [
               {
                  "subItemNd": "01",
                  "quantidade": "000000000000001",
                  "valorUnitario": "00000000000555555",
                  "valorTotal": "00000000000555555",
                  "descricao": "Teste Anulação"
                }
              ],
                "numeroTransacaoCliente": "2017TR000043",
                "credencial": {
                  "cpf": "60165570644",
                  "ug": "010001",
                  "sistema": "SIAFI2017HM"
              }
            }
        #### Retorno
            { 
              "codigo": 0,
              "mensagem": "010001000012017NE800059 010001000012017LI800105",
              "erros": [],
              "status": 200
            }
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnulaNE'
      responses:
        '200':
          description: Retorna informações da Nota de Empenho Anulada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'            
        '400':
          description: Algum campo enviado é inválido
        '403':
          description: Usuário não tem permissão para realizar esta operação
        '500':
          description: Erro interno do servidor
  /v1/ne/consultaTransacao:
    post:
      tags:
        - Nota de Empenho v1
      summary: Consulta Número da Transação
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      description: |-

        ## Exemplo
        #### Chamada
              [POST] https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/consultaTransacao
        #### Conteúdo do corpo
            {
              "numeroTransacaoCliente": "2017TR000045",
              "credencial": {
                "cpf": "60165570644",
                "ug": "010001",
                "sistema": "SIAFI2017HM"
              }
            }
        #### Retorno
            { 
              "codigo": 0,
              "mensagem": "010001000012017NE800058 010001000012017LI800104",
              "erros": [],
              "status": 200
            }
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaTransacao'
      responses:
        '200':
          description: Retorna informações da Nota de Empenho 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
        '400':
          description: Algum campo enviado é inválido
        '403':
          description: Usuário não tem permissão para realizar esta operação
        '500':
          description: Erro interno do servidor
  /v1/ne/consultar:
    post:
      tags:
        - Nota de Empenho v1
      summary: Consulta Nota de Empenho
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      description: |-

        ## Exemplo
        #### Chamada
            [POST] https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/consultar
        #### Conteúdo do corpo 

            {
              "ano": "2018",
              "ug": "010001",
              "gestao": "00001",
              "numero": "800017"
            }
        #### Retorno 
            {
            codigo: 0
            mensagem:
              dataEmissao: 14Jun18
              saldoPagar: ''
              numeroNota: 2018NE800017
              ugEmitente: '010001'
              nomeUgEmitente: CAMARA DOS DEPUTADOS
              gestaoEmitente: '00001'
              nomeGestaoEmitente: TESOURO NACIONAL
              nomeFavorecido: CAMARA DOS DEPUTADOS
              tipoFavorecido: '4'
              codigoFavorecido: '01000100001'
              sicaf: ''
              operacaoCambial: '0000000000'
              observacao: TESTE NE-01
              evento: '401091'
              esfera: '1'
              ptres: '000001'
              fonte: '0100000000'
              codigoND: '339030'
              ugResponsavel: 010019
              planoInterno: AAA
              valorEmpenho: '00000000000000001'
              tipoEmpenho: ORDINARIO
              sistemaOrigem: APISIAFI
              docReferenciaOriginal: ''
              numDocReferencia: ''
              passivoAnterior: NAO
              contaPassivo: ''
              nomeModalidade: NAO SE APLICA
              nomeAmparo: ''
              inciso: ''
              numeroProcesso: 103.504/1999
              indicadorPagPrecatorio: ''
              siglaUF: DF
              codigoMunicipioBeneficiado: '9701'
              origemMaterial: NACIONAL
              referenciaDispensa: ''
              numeroOriginal: ''
              informacoesLancamentos: 'LANCADO POR : 60165570644 - ANDERSON          UG : 010001   14Jun18   14:33'
              contaCorrenteFinanceiro: F0100000000
              contasPermanentes: []
              numeroLista: 2018LI800043
              subItens:
                - numero: '00'
                  valor: '01'
                  seq: '000'
                  qtd: ''
                  valorTotal: '00000000000000001'
                  descricao: LISTA NE-01
                - numero: '1'
                  valor: ''
                  seq: '000'
                  qtd: ''
                  valorTotal: ''
                  descricao: ''
              subItensSaldo:
                - numero: '01'
                  valor: '00000000000000001'
              nsaldo: ''
            erros: []
            status: 200
            }      
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaNE'
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho consultada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DadosNE'
        '400':
          description: Algum campo enviado é inválido
        '403':
          description: Usuário não tem permissão para realizar esta operação
        '500':
          description: Erro interno do servidor
  /v1/ne/realizar:
    post:
      tags:
        - Nota de Empenho v1
      summary: Adiciona Nota de Empenho
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      description: |-

        ## Exemplo
        #### Chamada
              [POST] https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/realizar
        #### Conteúdo do corpo
            {
                "dataEmissao": "31DEZ17",
                "numeroDocumento": "",               
                "ugEmitente": "010001",
                "gestaoEmitente": "00001",
                "numeroLista": "",
                "taxaCambio": "",
                "observacao": "Inclusao de NE",
                "valorTotalEmpenho": "555555",
                "numeroProcesso": "0100",
                "numeroOriginalConvenio": "0010",
                "passivoAnterior": "N",
                "contaPassivo": "",
                "contaValor": [
                 {
                  "conta": "",
                  "valor": ""
                  }
                ],
                "contaPassivoFinanceiro": "string",
                "favorecido": "75793032720",
                "gestaoFavorecido": "",
                "esferaOrcamentaria": "3",
                "codigoUO": "",
                "codigoProgramaTrabalho": "000001",
                "fonteRecursos": "0100000000",
                "naturezaDespesa": "339030",
                "unidadeGestoraResponsavel": "",
                "planoInterno": "",
                "indicadorResultado": "",
                "indicadorTipoCredito": "",
                "planoOrcamentario": "",
                "codigoAutorEmenda": "",
                "tipoEmpenho": "1",                        
                "modalidadeLicitacao": "08",
                "amparoLegal": "",
                "inciso": "",
                "origemMaterial": "1",
                "municipioBeneficiado": "9701",
                "ufBeneficiada": "DF",
                "dataVencimento": [
                  "31DEZ17"
                ],
                "dataRecebimento": [
                  "31DEZ17"
                ],
                "valorCompromisso": [
                  "555555"
                ],
                "listaItens": [
                  {
                    "subItemNd": "01",
                    "quantidade": "1",
                    "valorUnitario": "555555",
                    "valorTotal": "555555",
                    "descricao": "Testando inclusao de NE"
                  }
                ],
                "numeroTransacaoCliente": "2017TR000033",
                "credencial": {
                    "cpf": "60165570644",
                    "ug": "010001",
                    "sistema": "SIAFI2017HM"
                }
            }
        #### Retorno
            { 
              "codigo": 0,
              "mensagem": "010001000012017NE800054 010001000012017LI800101",
              "erros": [],
              "status": 200
              }
            }
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealizaNE'
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Criada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
        '400':
          description: Algum campo enviado é inválido
        '403':
          description: Usuário não tem permissão para realizar esta operação
        '500':
          description: Erro interno do servidor
  /v1/ne/reforcar:
    post:
      tags:
        - Nota de Empenho v1
      summary: Reforça Nota de Empenho
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      description: |-

        ## Exemplo
        #### Chamada
              [POST] https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/reforcar
        #### Conteúdo do corpo
            {
              "dataEmissao": "31DEZ17",
              "numeroDocumento": "",               
              "ugEmitente": "010001",
              "gestaoEmitente": "00001",
              "numeroLista": "",
              "taxaCambio": "",
              "observacao": "Reforço de NE",
              "valorTotalEmpenho": "555555",
              "numeroProcesso": "0100",
              "numeroOriginalConvenio": "0010",
              "passivoAnterior": "N",
              "contaPassivo": "",
              "contaValor": [
              {
                "conta": "",
                "valor": ""
              }
            ],
              "contaPassivoFinanceiro": "string",
              "especie": "02",
              "ugReferencia": "010001",
              "gestaoReferencia": "00001",
              "numeroEmpenhoReferencia": "2017NE800050",
              "numeroListaReferencia": "2017LI800096",
              "listaItens": [
              {
                "subItemNd": "01",
                "quantidade": "000000000000001",
                "valorUnitario": "00000000000555555",
                "valorTotal": "00000000000555555",
                "descricao": "Teste Anulação"
              }
            ],
              "numeroTransacaoCliente": "2017TR000046",
              "credencial": {
                "cpf": "60165570644",
                "ug": "010001",
                "sistema": "SIAFI2017HM"
              }
            }
        #### Retorno
            { 
              "codigo": 0,
              "mensagem": "010001000012017NE800059 010001000012017LI800105",
              "erros": [],
              "status": 200
              }
            }
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReforcaNE'
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Reforçada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
        '400':
          description: Algum campo enviado é inválido
        '403':
          description: Usuário não tem permissão para realizar esta operação
        '500':
          description: Erro interno do servidor
  '/v2/nota-empenho/{ug}/{gestao}/{ano}/{numero}':
    get:
      tags:
        - Nota de Empenho v2
      summary: Consulta Nota de Empenho
      description: |-
        Consulta uma Nota de Empenho existente

        ## Exemplo
        #### Chamada

            https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-empenho/010001/00001/2018/800017
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)
              
        #### Retorno 
            {
            codigo: 0
            mensagem:
              dataEmissao: 14Jun18
              saldoPagar: ''
              numeroNota: 2018NE800017
              ugEmitente: '010001'
              nomeUgEmitente: CAMARA DOS DEPUTADOS
              gestaoEmitente: '00001'
              nomeGestaoEmitente: TESOURO NACIONAL
              nomeFavorecido: CAMARA DOS DEPUTADOS
              tipoFavorecido: '4'
              codigoFavorecido: '01000100001'
              sicaf: ''
              operacaoCambial: '0000000000'
              observacao: TESTE NE-01
              evento: '401091'
              esfera: '1'
              ptres: '000001'
              fonte: '0100000000'
              codigoND: '339030'
              ugResponsavel: 010019
              planoInterno: AAA
              valorEmpenho: '00000000000000001'
              tipoEmpenho: ORDINARIO
              sistemaOrigem: APISIAFI
              docReferenciaOriginal: ''
              numDocReferencia: ''
              passivoAnterior: NAO
              contaPassivo: ''
              nomeModalidade: NAO SE APLICA
              nomeAmparo: ''
              inciso: ''
              numeroProcesso: 103.504/1999
              indicadorPagPrecatorio: ''
              siglaUF: DF
              codigoMunicipioBeneficiado: '9701'
              origemMaterial: NACIONAL
              referenciaDispensa: ''
              numeroOriginal: ''
              informacoesLancamentos: 'LANCADO POR : 60165570644 - ANDERSON          UG : 010001   14Jun18   14:33'
              contaCorrenteFinanceiro: F0100000000
              contasPermanentes: []
              numeroLista: 2018LI800043
              subItens:
                - numero: '00'
                  valor: '01'
                  seq: '000'
                  qtd: ''
                  valorTotal: '00000000000000001'
                  descricao: LISTA NE-01
                - numero: '1'
                  valor: ''
                  seq: '000'
                  qtd: ''
                  valorTotal: ''
                  descricao: ''
              subItensSaldo:
                - numero: '01'
                  valor: '00000000000000001'
              nsaldo: ''
            erros: []
            status: 200
            }      
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          schema:    
            type: string
        - name: ano
          in: path
          description: Ano da Nota de Crédito
          required: true
          schema:
            type: string
        - name: numero
          in: path
          description: Número da Nota de Crédito
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: 'Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DadosNE'
        '400':
          description: Algum campo enviado é inválido
        '403':
          description: Credencial informada não possui permissão para consultar a Nota de Crédito
        '404':
          description: Nota de Empenho inexistente
        '500':
          description: Erro interno do servidor
  /v2/nota-empenho:
    post:
      tags:
        - Nota de Empenho v2
      summary: Realiza uma Nota de Empenho
      description: |-
        Gera uma Nota de Empenho 

        ## Exemplo
        #### Chamada

            https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-empenho
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)
              
        ####  Conteúdo do corpo
            {
                "dataEmissao": "14JUN18",
                "numeroDocumento": "800017",
                "ugEmitente": "010001",
                "gestaoEmitente": "00001",
                "numeroLista": "",
                "taxaCambio": "",
                "observacao": "Teste NE-01",
                "valorTotalEmpenho": "001",
                "numeroProcesso": "103.504/1999",
                "numeroOriginalConvenio": " ",
                "passivoAnterior": "N",
                "contaPassivo": "",
                "contaValor": [
                 {
                  "conta": "",
                  "valor": ""
                  }
                ],
                "contaPassivoFinanceiro": " ",
                "favorecido": "010001",
                "gestaoFavorecido": "00001",
                "esferaOrcamentaria": "1",
                "ptres": "000001",
                "fonteRecursos": "0100000000",
                "naturezaDespesa": "339030",
                "unidadeGestoraResponsavel": "010019",
                "planoInterno": "aaa",
                "tipoEmpenho": "1",                        
                "modalidadeLicitacao": "08",
                "amparoLegal": "",
                "inciso": "",
                "origemMaterial": "1",
                "municipioBeneficiado": "9701",
                "ufBeneficiada": "DF",
                "dataVencimento": [
                  "26JUN2018"
                ],
                "dataRecebimento": [
                  "26JUN2018"
                ],
                "valorCompromisso": [
                  "001"
                ],
                "listaItens": [
                  {
                    "subItemNd": "01",
                    "quantidade": "1",
                    "valorUnitario": "001",
                    "valorTotal": "001",
                    "descricao": "Lista NE-01"
                  }
                ]
            }
          
        #### Retorno
            { 
              "codigo": 0,
              "mensagem": "010001000012018NE800017 010001000012018LI800105",
              "erros": [],
              "status": 200
              }
            }
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealizaNE'
      parameters:
        - in: header
          name: x-credencial
          description: 'Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Reforçada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'      
        '400':
          description: Algum campo enviado é inválido
        '403':
          description: Usuário não tem permissão para realizar esta operação
        '500':
          description: Erro interno do servidor
    put:
      tags:
        - Nota de Empenho v2
      summary: Atualiza uma Nota de Empenho.
      description: |-
        O tipo de atualização depende do campo ' especie '
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Alteração: &nbsp;&nbsp;&nbsp;&nbsp;especie = 01
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reforço:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; especie = 02
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anulação: &nbsp;&nbsp;&nbsp;&nbsp;especie = 03

        ## Exemplo
        #### Chamada

            https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-empenho
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)
              
        ####  Conteúdo do corpo
            {
                "dataEmissao": "14JUN18",
                "numeroDocumento": "800017",               
                "ugEmitente": "010001",
                "gestaoEmitente": "00001",
                "numeroLista": "",
                "taxaCambio": "",
                "observacao": "Teste NE de reforço",
                "valorTotalEmpenho": "002",
                "numeroProcesso": "103.504/1999",
                "numeroOriginalConvenio": " ",
                "passivoAnterior": "N",
                "contaPassivo": "",
                "contaValor": [
                 {
                  "conta": "",
                  "valor": ""
                  }
                ],
                "contaPassivoFinanceiro": " ",
                "especie": "02",
                "ugReferencia": "010001",
                "gestaoReferencia": "00001",
                "numeroEmpenhoReferencia": "2018NE800032",
                "numeroListaReferencia": "2018LI800091",
                "listaItens": [
                  {
                    "subItemNd": "01",
                    "quantidade": "1",
                    "valorUnitario": "001",
                    "valorTotal": "001",
                    "descricao": "Lista NE-01"
                  }
                ]
            }
         
        #### Retorno
            { 
              "codigo": 0,
              "mensagem": "010001000012018NE800017 010001000012018LI800105",
              "erros": [],
              "status": 200
              }
            }
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtualizaNE'
      parameters:
        - in: header
          name: x-credencial
          description: 'Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Atualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'     
        '400':
          description: Algum campo enviado é inválido
        '403':
          description: Usuário não tem permissão para realizar esta operação
        '500':
          description: Erro interno do servidor
  '/v2/nota-credito/{ug}/{gestao}/{ano}/{numero}':
    get:
      tags:
        - Nota de Crédito
      summary: Consulta Nota de Crédito
      description: |-
        Consulta uma Nota de Crédito existente

        ## Exemplo
        #### Chamada

            https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-credito/010001/00001/2018/800001
            
            No header:
              x-credencial: MTExMTExMTExMTEuMDEwMDAxLlNJQUZJMjAxOA==
              (valor referente às credenciais 11111111111.010001.SIAFI2018 convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)
              
        #### Retorno
            {
              "dataEmissao": "23Fev18",
              "ugFavorecida": "010001",
              "gestaoFavorecida": "00001",
              "opCambial": "2",
              "txObservacao": "10001 1    0        0                  TESTE",
              "mesLancamento": "",
              "qtdLancamento": "",
              "numOriginal": "",
              "sistemaOrigem": "",
              "numTransferencia": "",
              "listaEventos": [
                {
                  "evento": "30006",
                  "esferaOrcamentaria": "2",
                  "unidadeOrcamentaria": null,
                  "programaTrabalho": "11",
                  "resultado": null,
                  "tipoCredito": null,
                  "planoOrcamentario": null,
                  "autorEmenda": null,
                  "fonteRecurso": "",
                  "naturezaDespesa": "",
                  "contaPassivo": "null",
                  "subitem": "",
                  "ugResponsavel": "01000",
                  "planoInterno": "00000339039",
                  "valorTransacao": "10001"
                }
              ]
            }
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          schema:
            type: string
        - name: ano
          in: path
          description: Ano da Nota de Crédito
          required: true
          schema:
            type: string
        - name: numero
          in: path
          description: Número da Nota de Crédito
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: 'Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Retorna os dados da Nota de Crédito Consultada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotaCredito'      
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: Credencial informada não possui permissão para consultar a Nota de Crédito
        '404':
          description: Nota de Crédito inexistente
        '500':
          description: Erro interno do servidor
  /v2/nota-credito:
    post:
      tags:
        - Nota de Crédito
      summary: Gera Nota de Crédito
      description: |-
        Gera uma Nota de Crédito com as informações passadas no JSON de entrada

        ## Exemplo
        #### Chamada

            https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-credito
            
            No header:
              x-credencial: MTExMTExMTExMTEuMDEwMDAxLlNJQUZJMjAxOA==
              (valor referente às credenciais 11111111111.010001.SIAFI2018 convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        #### Conteúdo do corpo

            {
              "dataEmissao": "14MAI18",
              "numero": "2018NC",
              "ugEmitente": "010001",
              "gestaoEmitente": "00001",
              "ugFavorecida": "010001",
              "gestaoFavorecida": "00001",
              "taxaCambio": "",
              "numeroTransferencia": "",
              "observacao": "TESTE INCLUSAO NC",
              "listaEventos": [
                {
                  "evento": "300062",
                  "esferaOrcamentaria": "1",
                  "ptres": "1",
                  "fonteRecurso": "0100000000",
                  "naturezaDespesa": "339039",
                  "subitem": "",
                  "ugResponsavel": "010001",
                  "planoInterno": "",   
                  "valor": "00000000000100000"
                }
              ]
            }
            
        #### Retorno

            {
              "ug": "010001",
              "gestao": "00001",
              "ano": "2018",
              "tipoDoc": "NC",
              "sequencialDoc": "800017"
            }
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeraNC'   
      parameters:        
        - in: header
          name: x-credencial
          description: 'Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Retorna os dados da Nota de Crédito Gerada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NCGerada'      
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: Credencial informada não possui permissão para gerar a Nota de Cŕedito
        '500':
          description: Erro interno do servidor
  '/v2/nota-lancamento/{ug}/{gestao}/{ano}/{numero}':
    get:
      tags:
        - Nota de Lançamento
      summary: Consulta Nota de Lançamento
      description: |-
        Consulta uma Nota de Lançamento a partir dos parâmetros UG, Gestão, Ano e Número da NL

        ## Exemplo
        #### Chamada

            https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-lancamento/010001/00001/2018/800001
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        #### Retorno
            {
              "dataEmissao": "20Fev18",
              "ugEmitente": "170999",
              "nomeUGEmitente": "",
              "gestaoEmitente": "00001",
              "nomeGestaoEmitente": "",
              "favorecido": "",
              "nomeFavorecido": "",
              "gestaoFavorecido": "",
              "nomeGestaoFavorecido": "",
              "numero": "",
              "dataValorizacao": "20Fev18",
              "taxaCambio": "2",
              "tituloCredito": "",
              "dataVencimento": "",
              "sistemaOrigem": " ", 
              "observacao": "TESTE", 
              "listaEventos": [
                {
                  "evento": "510669",
                  "inscricao1": "0114000000",
                  "inscricao2": "",
                  "classificacao1": "",
                  "classificacao2": "",
                  "classOrcamentaria1": "",
                  "classOrcamentaria2": "", 
                  "valor": "",  
                  "numeroReferencia": "10001"  
                } 
              ] 
            }
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          schema:
            type: string
        - name: ano
          in: path
          description: Ano da Nota de Lançamento
          required: true
          schema:
            type: string
        - name: numero
          in: path
          description: Número da Nota de Lançamento
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: 'Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Retorna os dados da Nota de Lançamento Consultada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotaLancamento'      
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: Credencial informada não possui permissão para consulta a Nota de Lançamento
        '404':
          description: Nota de Lançamento inexistente
        '500':
          description: Erro interno do servidor
  /v2/nota-lancamento:
    post:
      tags:
        - Nota de Lançamento
      summary: Gera Nota de Lançamento
      description: |-
        Gera uma Nota de Lançamento a partir de um Json de Entrada

        ## Exemplo
        #### Chamada

            https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-lancamento
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        #### Conteúdo do corpo

            {
              "dataEmissao": "14MAI18",
              "ugEmitente": "010001",
              "gestaoEmitente": "00001",
              "favorecido": "010001",
              "gestaoFavorecido": "00001",
              "numero": "2018NL800017",
              "dataValorizacao": "14mai18",
              "taxaCambio": "",
              "tituloCredito": "",
              "dataVencimento": "14MAI18",
              "observacao": "INCLUSAO NL", 
              "listaEventos": [
                {
                  "evento": "300062",
                  "inscricao1": "22025711000153",
                  "inscricao2": "null",
                  "classificacao1": "111111111",
                  "classificacao2": "null",
                  "classOrcamentaria1": "111111111",
                  "classOrcamentaria2": "null", 
                  "valorEvento": "55555555"  
                } 
              ],
              "listaReferencias": [ 
                  "00001" 
              ] 
            }
         #### Retorno

            {
              "ug": "010001",
              "gestao": "00001",
              "ano": "2018",
              "tipoDoc": "NL",
              "sequencialDoc": "800017"
            }       
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeraNL'           
      parameters:
        - in: header
          name: x-credencial
          description: 'Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Nota de Lançamento gerada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NLGerada'
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: Credencial informada não possui permissão para gerar a Nota de Lançamento
        '500':
          description: Erro interno do servidor
  '/v2/nota-dotacao/{ug}/{gestao}/{ano}/{numero}':
    get:
      tags:
        - Nota de Dotação
      summary: Consulta Nota de Dotação
      description: |-
        Consulta uma Nota de Dotação a partir dos parâmetros UG, Gestão, Ano e Número da ND

        ## Exemplo
        #### Chamada

            https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao/010001/00001/2018/800002
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        #### Retorno
            {
              "dataEmissao": "10ago18",
              "especieND": "1",
              "numeroDocumento": "2018ND800002",
              "ugEmitente": "010001",
              "nomeUGEmitente": "CAMARA DOS DEPUTADOS 2018",
              "gestaoEmitente": "00001",
              "esferaOrcamentaria": "1",
              "unidadeOrcamentaria": "",
              "indicadorResultado": "",
              "indicadorCredito": "",
              "planoOrcamentario": "",
              "codigoAutorEmenda": "",
              "fonteRecurso": "01000",
              "categoriaDespesa": "33",
              "codigoInstrumentoLegal": "1",
              "numeroInstrumentoLegal": "0123",
              "dataPublicacao": "01Ago18",
              "taxaCambio": "",
              "ptres": "005714",
              "idoc": "9999",
              "observacao": "teste Nota Dotação DETAORC", 
              "listaEventos": [
                {
                  "reducaoAcrescimo": "R",
                  "sequencialFonte": "000000",
                  "modalidadeAplicacao": "90",
                  "elementoDespesa": "00",
                  "subitemND": "",
                  "codigoUGResponsavel": "",
                  "planoInterno": "", 
                  "valor": "100000",  
                }, {
                  "reducaoAcrescimo": "A",
                  "sequencialFonte": "000000",
                  "modalidadeAplicacao": "90",
                  "elementoDespesa": "14",
                  "subitemND": "",
                  "codigoUGResponsavel": "",
                  "planoInterno": "", 
                  "valor": "100000",  
                } 
              ]
            }
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          schema:
            type: string
        - name: ano
          in: path
          description: Ano da Nota de Dotação
          required: true
          schema:
            type: string
        - name: numero
          in: path
          description: Número da Nota de Dotação
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: 'Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Reforçada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotaDotacao'
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: Credencial informada não possui permissão para consulta a Nota de Dotação
        '404':
          description: Nota de Dotação inexistente
        '500':
          description: Erro interno do servidor
  /v2/nota-dotacao:
    post:
      tags:
        - Nota de Dotação
      summary: Gera uma Nota de Dotação
      description: |-
        Gera uma Nota de Dotação a partir de um Json de Entrada

        ## Exemplo
        #### Chamada

            https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        #### Conteúdo do corpo

            {
              "dataEmissao": "10AGO18",
              "numeroDocumento": "",
              "ugEmitente": "010001",
              "gestaoEmitente": "00001",
              "ugFavorecida": "",
              "gestaoFavorecido": "",
              "taxaCambio": "",
              "observacao": "teste Nota Dotação Gestor", 
              "listaEventos": [
                {
                  "evento": "200031",
                  "esferaOrcamentaria": "1",
                  "unidadeOrcamentaria": "",
                  "PTRES": "000019",
                  "fonteRecurso": "0100000000",
                  "naturezaDespesa": "339030",
                  "subitemND": "",
                  "UGR": "", 
                  "planoInterno": "", 
                  "valor": "100"  
                } 
              ] 
            }
         #### Retorno

            {
              "ug": "010001",
              "gestao": "00001",
              "ano": "2018",
              "tipoDoc": "ND",
              "sequencialDoc": "800002",
              "numRequisicao": "2018TRND000001"
            }
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeraND'            
      parameters:
        - in: header
          name: x-credencial
          description: 'Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Nota de Dotação gerada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NDGerada'    
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: Credencial informada não possui permissão para gerar a Nota de Dotação
        '500':
          description: Erro interno do servidor
  '/v2/nota-detaorc/{ug}/{gestao}/{ano}/{numero}':
    get:
      tags:
        - Nota de Dotação
      summary: Consulta uma Nota de Detalhamento Orçamentário
      description: |-
        Consulta uma Nota de Detalhamento Orçamentário a partir dos parâmetros UG, Gestão, Ano e Número da ND

        ## Exemplo
        #### Chamada

            https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao/det-orc/010001/00001/2018/000002
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        #### Retorno
            {
              "dataEmissao": "10ago18",
              "especieND": "1",
              "numeroDocumento": "2018ND000002",
              "ugEmitente": "010001",
              "nomeUGEmitente": "CAMARA DOS DEPUTADOS 2018",
              "gestaoEmitente": "00001",
              "esferaOrcamentaria": "1",
              "fonteRecurso": "0100",
              "categoriaDespesa": "33",
              "codigoInstrumentoLegal": "1",
              "numeroInstrumentoLegal": "0123",
              "dataPublicacao": "01ago18",
              "taxaCambio": "",
              "ptres": "005714", 
              "idoc": "9999",
              "observacao": "teste Nota Docação DETAORC", 
              "listaEventos": [
                {
                  "reducaoAcrescimos": "R",
                  "sequencialFonte": "000000",
                  "modalidadeAplicacao": "90",
                  "elementoDespesa": "00",
                  "subitemND": "",
                  "codigoUGResponsavel": "",
                  "planoInterno": "", 
                  "valor": "100000",  
                },
                {
                  "reducaoAcrescimos": "A",
                  "sequencialFonte": "000000",
                  "modalidadeAplicacao": "90",
                  "elementoDespesa": "14",
                  "subitemND": "",
                  "codigoUGResponsavel": "",
                  "planoInterno": "", 
                  "valor": "100000", 
                } 
              ]             
            }
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          schema:
           type: string
        - name: ano
          in: path
          description: Ano da Nota de Dotação
          required: true
          schema:
            type: string
        - name: numero
          in: path
          description: Número da Nota de Dotação
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: 'Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Reforçada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultaNDDetOrc'
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: Credencial informada não possui permissão para consultar essa Nota de Detalhamento Orçamentário
        '500':
          description: Erro interno do servidor
  /v2/nota-detaorc:
    post:
      tags:
        - Nota de Dotação
      summary: Gera uma Nota de Detalhamento Orçamentário
      description: |-
        Gera uma Nota de Detalhamento Orçamentário a partir de um Json de Entrada

        ## Exemplo
        #### Chamada

            https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao/det-orc
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        ####  Conteúdo do corpo
            {
              "dataEmissao": "10AGO18",
              "especieND": "1",
              "numeroDocumento": "2018ND000002",
              "ugEmitente": "010001",
              "gestaoEmitente": "00001",
              "esferaOrcamentaria": "1",
              "fonteRecurso": "0100",
              "categoriaDespesa": "33",
              "codigoInstrumentoLegal": "1",
              "numeroInstrumentoLegal": "0123",
              "dataPublicacao": "01ago18",
              "taxaCambio": "",
              "ptres": "005714",
              "idoc": "9999",
              "observacao": "Teste Nota Dotação DETAORC", 
              "listaEventos": [
                {
                  "reducaoAcrescimos": "R",
                  "sequencialFonte": "000000",
                  "modalidadeAplicacao": "90",
                  "elementoDespesa": "00",
                  "subitemND": "",
                  "codigoUGResponsavel": "",
                  "planoInterno": "", 
                  "valor": "100000"  
                },
                {
                  "reducaoAcrescimos": "A",
                  "sequencialFonte": "000000",
                  "modalidadeAplicacao": "90",
                  "elementoDespesa": "14",
                  "subitemND": "",
                  "codigoUGResponsavel": "",
                  "planoInterno": "", 
                  "valor": "100000" 
                } 
              ]
            }
         #### Retorno

            {
              "ug": "010001",
              "gestao": "00001",
              "ano": "2018",
              "tipoDoc": "ND",
              "sequencialDoc": "000002",
              "numRequisicao": "2018TRND000002"
            }
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeraNDDetOrc'            
      parameters:
        - in: header
          name: x-credencial
          description: 'Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.'
          required: true
          schema:  
            type: string
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Reforçada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NDDetaOrcGerada'
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: Credencial informada não possui permissão para gerar uma Nota de Detalhamento Orçamentário
        '500':
          description: Erro interno do servidor
  '/v2/nota-bloqueio/{ug}/{gestao}/{ano}/{numero}':
    get:
      tags:
        - Nota de Dotação
      summary: Consulta uma Nota de Bloqueio de Crédito
      description: |-
        Consulta uma Nota de Bloqueio de Crédito a partir dos parâmetros UG, Gestão, Ano e Número da ND

        ## Exemplo
        #### Chamada

            https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao/bloqueio/010001/00001/2018/000005
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        #### Retorno
            {
              "dataEmissao": "06nov18",
              "numeroDocumento": "2018ND000005",
              "ugEmitente": "010001",
              "nomeUGEmitente": "CAMARA DOS DEPUTADOS 2018",
              "gestaoEmitente": "00001",
              "nomeGestaoEmitente": "TESOURO NACIONAL",
              "taxaCambio": "",
              "observacao": "TESTE API SIAFI", 
              "listaEventos": [
                {
                  "evento": "200020",
                  "esferaOrcamentaia": "1",
                  "PTRES": "001000",
                  "IDOC": "9999",
                  "naturezaDespesa": "339000",
                  "fonte": "0100", 
                  "valor": "20000",  
                }
              ]             
            }
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          schema:  
            type: string
        - name: ano
          in: path
          description: Ano da Nota de Bloqueio de Crédito
          required: true
          schema:
            type: string
        - name: numero
          in: path
          description: Número da Nota de Bloqueio de Crédito
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: 'Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.'
          required: true
          schema:  
            type: string
      responses:
        '200':
          description: Nota de bloqueio de Crédito encontrada e retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notaBloqueio'
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: Credencial informada não possui permissão para consultar a Nota de Bloqueio de Crédito
        '500':
          description: Erro interno do servidor
  /v2/nota-bloqueio:
    post:
      tags:
        - Nota de Dotação
      summary: Gera uma Nota de Bloqueio de Crédito
      description: |-
        Gera uma Nota de Bloqueio de Crédito a partir de um Json de Entrada

        ## Exemplo
        #### Chamada

            https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao/bloqueio
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        #### Conteúdo do corpo

            {
              "dataEmissao": "06NOV18",
              "numeroDocumento": "2018ND000005",
              "ugEmitente": "010001",
              "nomeUGEmitente": "CAMARA DOS DEPUTADOS 2018",
              "gestaoEmitente": "00001",
              "nomeGestaoEmitente": "TESOURO NACIONAL",
              "taxaCambio": "",
              "observacao": "TESTE API SIAFI", 
              "listaEventos": [
                {
                  "evento": "200020",
                  "esferaOrcamentaria": "1",
                  "PTRES": "001000",
                  "IDOC": "9999",
                  "naturezaDespesa": "339000",
                  "fonte": "0100",
                  "valor": "20000"
                } 
              ] 
            }
         #### Retorno

            {
              "ug": "010001",
              "gestao": "00001",
              "ano": "2018",
              "tipoDoc": "ND",
              "sequencialDoc": "000005",
              "numRequisicao": "2018TRND000005"
            }
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/notaBloqueio'            
      parameters:
        - in: header
          name: x-credencial
          description: 'Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Reforçada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NDBloqueioGerada'
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: Credencial informada não possui permissão para gerar a Nota de Bloqueio de Crédito
        '500':
          description: Erro interno do servidor
  '/v2/documentos/{ug}/{gestao}/{data}':
    get:
      tags:
        - Consulta Documentos
      summary: Consulta Documentos
      description: |-
        Consulta documentos a partir de uma data específica

        ## Exemplo
        #### Chamada

            https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/documentos/010001/00001/10FEV18
            
            No header:
              x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) 

        #### Retorno
            {
              "data": "10FEV18",
              "ugEmitente": "010001",
              "gestaoEmitente": "00001",
              "listaDocumentos": [
                {
                  "2018ND000001",
                  "2017NL000083",
                  "2018NE000017",
                  "2017ND000025",
                  "2017NL000081",
                  "2018NC000167"  
                }
                     
              ]
                     
            }
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão emitente
          required: true
          schema:
            type: string
        - name: data
          in: path
          description: Data referente ao pedido da consulta
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: 'Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Reforçada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documentos'
        '400':
          description: Algum campo possui informações inválidas
        '403':
          description: Credencial informada não possui permissão para consultar a Nota de Bloqueio de Crédito
        '500':
          description: Erro interno do servidor
  '/status':
    get:
      tags:
        - Status
      summary: Verifica status da API
      responses:
        '200':
          description: Serviço disponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00"
        '500':
          description: Serviço indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00"           
components:
  schemas:
    Status:
      type: object
      properties:
        lastUpdateAt:
          type: string
          format: date-time
    Documentos:
      properties:
        data:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        listaDocumentos:
          type: array
          items:
            $ref: '#/components/schemas/ListaDocumentos'
    ListaDocumentos:
      properties:
        Nota Empenho:
          type: string
        Nota Crédito:
          type: string
        Nota Lançamento:
          type: string
        Nota Dotação:
          type: string
    NotaDotacao:
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        nomeUgEmitente:
          type: string
        gestaoEmitente:
          type: string
        favorecido:
          type: string
        nomeFavorecido:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoND'
    notaBloqueio:
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        nomeUGEmitente:
          type: string
        gestaoEmitente:
          type: string
        nomeGestaEmitente:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNDBloqueio'
    NDBloqueioGerada:
      properties:
        ug:
          type: string
        gestao:
          type: string
        ano:
          type: string
        tipoDoc:
          type: string
        sequencialDoc:
          type: string
        numRequisicao:
          type: string
    EventoNDBloqueio:
      properties:
        evento:
          type: string
        esferaOrcamentaria:
          type: string
        PTRES:
          type: string
        IDOC:
          type: string
        naturezaDespesa:
          type: string
        fonte:
          type: string
        valor:
          type: string
    GeraND:
      properties:
        dataEmissao:
          type: string
        numero:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        ugFavorecida:
          type: string
        gestaoFavorecida:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoND'
    EventoND:
      properties:
        evento:
          type: string
        esferaOrcamentaria:
          type: string
        unidadeOrcamentaria:
          type: string
        PTRES:
          type: string
        fonteRecurso:
          type: string
        naturezaDespesa:
          type: string
        subitemND:
          type: string
        UGR:
          type: string
        planoInterno:
          type: string
        valor:
          type: string
    NDGerada:
      properties:
        ug:
          type: string
        gestao:
          type: string
        ano:
          type: string
        tipoDoc:
          type: string
        sequencialDoc:
          type: string
        numRequisicao:
          type: string
    ConsultaNDDetOrc:
      properties:
        dataEmissao:
          type: string
        especieND:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        nomeUGEmitente:
          type: string
        gestaoEmitente:
          type: string
        esferaOrcamentaria:
          type: string
        fonteRecurso:
          type: string
        categoriaDespesa:
          type: string
        codigoInstrumentoLegal:
          type: string
        numeroInstrumentoLegal:
          type: string
        dataPublicacao:
          type: string
        taxaCambio:
          type: string
        ptres:
          type: string
        idoc:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventosNDDesOrc'
    GeraNDDetOrc:
      properties:
        dataEmissao:
          type: string
        especieND:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        nomeUGEmitente:
          type: string
        gestaoEmitente:
          type: string
        esferaOrcamentaria:
          type: string
        fonteRecurso:
          type: string
        categoriaDespesa:
          type: string
        codigoInstrumentoLegal:
          type: string
        numeroInstrumentoLegal:
          type: string
        dataPublicacao:
          type: string
        taxaCambio:
          type: string
        ptres:
          type: string
        idoc:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventosNDDesOrc'
    NDDetaOrcGerada:
      properties:
        ug:
          type: string
        gestao:
          type: string
        ano:
          type: string
        tipoDoc:
          type: string
        sequencialDoc:
          type: string
        numRequisicao:
          type: string
    EventosNDDesOrc:
      properties:
        reducaoAcrescimos:
          type: string
        sequencialFonte:
          type: string
        modalidadeAplicacao:
          type: string
        elementoDespesa:
          type: string
        subitemND:
          type: string
        codigoUGResponsavel:
          type: string
        planoInterno:
          type: string
        valor:
          type: string
    NotaLancamento:
      properties:
        dataEmissao:
          type: string
        ugEmitente:
          type: string
        nomeUgEmitente:
          type: string
        gestaoEmitente:
          type: string
        nomeGestaoEmitente:
          type: string
        favorecido:
          type: string
        nomeFavorecido:
          type: string
        gestaoFavorecido:
          type: string
        nomeGestaoFavorecido:
          type: string
        numero:
          type: string
        dataValorizacao:
          type: string
        taxaCambio:
          type: string
        tituloCredito:
          type: string
        dataVencimento:
          type: string
        sistemaOrigem:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNL'
    GeraNL:
      properties:
        dataEmissao:
          type: string
        numero:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        ugFavorecida:
          type: string
        gestaoFavorecida:
          type: string
        taxaCambio:
          type: string
        numeroTransferencia:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNL'
    EventoNL:
      properties:
        evento:
          type: string
        inscricao1:
          type: string
        inscricao2:
          type: string
        classificacao1:
          type: string
        classificacao2:
          type: string
        classOrcamentaria1:
          type: string
        classOrcamentaria2:
          type: string
        valor:
          type: string
        numeroReferencia:
          type: string
    NLGerada:
      properties:
        ug:
          type: string
        gestao:
          type: string
        ano:
          type: string
        tipoDoc:
          type: string
        sequencialDoc:
          type: string
    NotaCredito:
      properties:
        dataEmissao:
          type: string
        numero:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        ugFavorecida:
          type: string
        gestaoFavorecida:
          type: string
        taxaCambio:
          type: string
        numeroTransferencia:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNC'
    GeraNC:
      properties:
        dataEmissao:
          type: string
        numero:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        ugFavorecida:
          type: string
        gestaoFavorecida:
          type: string
        taxaCambio:
          type: string
        numeroTransferencia:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNC'
    NCGerada:
      properties:
        ug:
          type: string
        gestao:
          type: string
        ano:
          type: string
        tipoDoc:
          type: string
        sequencialDoc:
          type: string
    EventoNC:
      properties:
        evento:
          type: string
        esferaOrcamentaria:
          type: string
        ptres:
          type: string
        fonteRecurso:
          type: string
        naturezaDespesa:
          type: string
        subitem:
          type: string
        ugResponsavel:
          type: string
        planoInterno:
          type: string
        valor:
          type: string
    Credencial:
      properties:
        cpf:
          type: string
        ug:
          type: string
        sistema:
          type: string
    AlteraNE:
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          $ref: '#/components/schemas/Conta'
        contaPassivoFinanceiro:
          type: string
        especie:
          type: string
        ugReferencia:
          type: string
        gestaoReferencia:
          type: string
        numeroEmpenhoReferencia:
          type: string
        listaItens:
          $ref: '#/components/schemas/listaItens'
        numeroTransacaoCliente:
          type: string
        credencial:
          $ref: '#/components/schemas/Credencial'
    AnulaNE:
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          $ref: '#/components/schemas/Conta'
        contaPassivoFinanceiro:
          type: string
        especie:
          type: string
        ugReferencia:
          type: string
        gestaoReferencia:
          type: string
        numeroEmpenhoReferencia:
          type: string
        listaItens:
          $ref: '#/components/schemas/listaItens'
        numeroTransacaoCliente:
          type: string
        credencial:
          $ref: '#/components/schemas/Credencial'
    ConsultaTransacao:
      properties:
        numeroTransacaoCliente:
          type: string
        credencial:
          type: object
          properties:
            cpf:
              type: string
            ug:
              type: string
            sistema:
              type: string
    ConsultaNE:
      properties:
        ano:
          type: string
        ug:
          type: string
        gestao:
          type: string
        numero:
          type: string
    RealizaNE:
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          type: object
          properties:
            conta:
              type: string
            valor:
              type: string
        contaPassivoFinanceiro:
          type: string
        favorecido:
          type: string
        gestaoFavorecido:
          type: string
        esferaOrcamentaria:
          type: string
        codigoUO:
          type: string
        codigoProgramaTrabalho:
          type: string
        fonteRecursos:
          type: string
        naturezaDespesa:
          type: string
        unidadeGestoraResponsavel:
          type: string
        planoInterno:
          type: string
        indicadorResultado:
          type: string
        indicadorTipoCredito:
          type: string
        planoOrcamentario:
          type: string
        codigoAutorEmenda:
          type: string
        tipoEmpenho:
          type: string
        modalidadeLicitacao:
          type: string
        amparoLegal:
          type: string
        inciso:
          type: string
        origemMaterial:
          type: string
        municipioBeneficiado:
          type: string
        ufBeneficiada:
          type: string
        dataVencimento:
          type: string
        dataRecebimento:
          type: string
        valorCompromisso:
          type: string
        listaItens:
          type: object
          properties:
            subItemNd:
              type: string
            quantidade:
              type: string
            valorUnitario:
              type: string
            valorTotal:
              type: string
            descricao:
              type: string
        numeroTransacaoCliente:
          type: string
        credencial:
          type: object
          properties:
            cpf:
              type: string
            ug:
              type: string
            sistema:
              type: string
    AtualizaNE:
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          type: object
          properties:
            conta:
              type: string
            valor:
              type: string
        contaPassivoFinanceiro:
          type: string
        especie:
          type: string
        ugReferencia:
          type: string
        gestaoReferencia:
          type: string
        numeroEmpenhoReferencia:
          type: string
        numeroListaReferencia:
          type: string
        listaItens:
          type: object
          properties:
            subItemNd:
              type: string
            quantidade:
              type: string
            valorUnitario:
              type: string
            valorTotal:
              type: string
            descricao:
              type: string
        numeroTransacaoCliente:
          type: string
        credencial:
          type: object
          properties:
            cpf:
              type: string
            ug:
              type: string
            sistema:
              type: string
    ReforcaNE:
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          type: object
          properties:
            conta:
              type: string
            valor:
              type: string
        contaPassivoFinanceiro:
          type: string
        especie:
          type: string
        ugReferencia:
          type: string
        gestaoReferencia:
          type: string
        numeroEmpenhoReferencia:
          type: string
        numeroListaReferencia:
          type: string
        listaItens:
          type: object
          properties:
            subItemNd:
              type: string
            quantidade:
              type: string
            valorUnitario:
              type: string
            valorTotal:
              type: string
            descricao:
              type: string
        numeroTransacaoCliente:
          type: string
        credencial:
          type: object
          properties:
            cpf:
              type: string
            ug:
              type: string
            sistema:
              type: string
    NE:
      properties:
        codigo:
          type: integer
        mensagem:
          type: string
        erros:
          type: array
          items:
            type: string
        status:
          type: integer
    DadosNE:
      properties:
        dataEmissao:
          type: string
        saldoPagar:
          type: string
        numeroNota:
          type: string
        ugEmitente:
          type: string
        nomeUgEmitente:
          type: string
        gestaoEmitente:
          type: string
        nomeGestaoEmitente:
          type: string
        nomeFavorecido:
          type: string
        tipoFavorecido:
          type: string
        codigoFavorecido:
          type: string
        sicaf:
          type: string
        operacaoCambial:
          type: string
        observacao:
          type: string
        evento:
          type: string
        esfera:
          type: string
        ptres:
          type: string
        fonte:
          type: string
        codigoND:
          type: string
        ugResponsavel:
          type: string
        planoInterno:
          type: string
        valorEmpenho:
          type: string
        tipoEmpenho:
          type: string
        sistemaOrigem:
          type: string
        docReferenciaOriginal:
          type: string
        numDocReferencia:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        nomeModalidade:
          type: string
        nomeAmparo:
          type: string
        inciso:
          type: string
        numeroProcesso:
          type: string
        indicadorPagPrecatorio:
          type: string
        siglaUF:
          type: string
        codigoMunicipioBeneficiado:
          type: string
        origemMaterial:
          type: string
        referenciaDispensa:
          type: string
        numeroOriginal:
          type: string
        informacoesLancamentos:
          type: string
        contaCorrenteFinanceiro:
          type: string
        contasPermanentes:
          type: array
          items:
            $ref: '#/components/schemas/Conta'
        numeroLista:
          type: string
        subItens:
          type: array
          items:
            $ref: '#/components/schemas/subItem'
        subItensSaldo:
          type: array
          items:
            $ref: '#/components/schemas/subItemSaldo'
        nsaldo:
          type: string
    listaItens:
      properties:
        subItemNd:
          type: string
        quantidade:
          type: string
        valorUnitario:
          type: string
        descricao:
          type: string
    subItemSaldo:
      properties:
        numero:
          type: string
        valor:
          type: string
    subItem:
      properties:
        numero:
          type: string
        valor:
          type: string
        seq:
          type: string
        qtd:
          type: string
        valorTotal:
          type: string
        descricao:
          type: string
    Conta:
      properties:
        conta:
          type: string
        valor:
          type: string
  securitySchemes:
    APIKEY:
      type: apiKey
      name: x-jwt-assertion
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://apigateway.serpro.gov.br/token'
    Authorization:
      type: http
      description: Autenticação para ambiente trial
      scheme: bearer
