openapi: 3.0.1
info:
  title: Integração SIAFI (api-siafi)
  version: v1 - v2
  description: >-

    Para informações de como se autenticar antes de consumir a API, por favor,
    consulte a documentação em
    [Autenticação](http://devserpro.github.io/apis/)    


    O serviço &nbsp; *Integração SIAFI* &nbsp; é disponibilizado através do
    &nbsp; *HTTP REST* &nbsp; oferencendo operações de lançamento ao SIAFI.

    ### Códigos de  Retorno não Tarifados 

    | Código de retorno | Resumido | Explicação |

    | ------|------|------|

    | 500 | Erro no Servidor | Ocorreu algum erro no servidor.| 

    ### Solicitando assinatura com Carimbo de Tempo

    Caso deseje que sua solicitação venha com uma assinatura de Carimbo de
    Tempo, basta incluir, no cabeçalho de sua requisição, a informação: &nbsp;
    *x-signature:1*. &nbsp; A assinatura será retornada no cabeçalho da
    resposta, com o nome: &nbsp; *stamp*        

    ### Verificando assinatura com Carimbo de Tempo

    Para verificar assinatura de carimbo de tempo, siga as instruções da
    documentação abaixo:     

    [Documentação - Verificação de Carimbo de
    Tempo](https://rawgit.com/devserpro/apis/master/_layouts/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://rawgit.com/devserpro/apis/master/_layouts/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)
servers:
  - url: 'https://apigateway.serpro.gov.br/integra-siafi-trial/api'
    description: Trial
  - url: 'https://apigateway.serpro.gov.br/integra-siafi/api'
    description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []
externalDocs:
  description: Detalhamento da API SIAFI
  url: >-
    https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/Informacoes-IntegraSIAFI.pdf
paths:
  /v1/ne/alterar:
    post:
      deprecated: true
      tags:
        - Nota de Empenho v1
      summary: Altera Nota de Empenho
      description: >-
        Altera uma Nota de Empenho a partir de um json de entrada.
        
        ### Chamada
        
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/alterar
        
      requestBody:
        description: Dados da Nota de Empenho a ser alterada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlteraNE'
            example: Json de entrada
        required: true
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Alterada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
              example:
                codigo: 0
                mensagem: 010001000012017NE800060 010001000012017LI800106
                erros: []
                status: 200
        '400':
          description: Algum campo enviado é inválido
          content: {}
        '403':
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        '500':
          description: Erro interno do servidor
          content: {}
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/alterar
      externalDocs:
        description: NE para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
  /v1/ne/anular:
    post:
      deprecated: true
      tags:
        - Nota de Empenho v1
      summary: Anula Nota de Empenho
      description: >-
        Anula uma Nota de Empenho a partir de um json de entrada.
        
        ### Chamada
        
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/anular
      requestBody:
        description: Dados da Nota de Empenho a ser anulada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnulaNE'
            example: Json de entrada
        required: true
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Anulada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
              example:
                codigo: 0
                mensagem: 010001000012017NE800058 010001000012017LI800104
                erros: []
                status: 200
        '400':
          description: Algum campo enviado é inválido
          content: {}
        '403':
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        '500':
          description: Erro interno do servidor
          content: {}
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/anular
      externalDocs:
        description: NE para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
  /v1/ne/consultaTransacao:
    post:
      deprecated: true
      tags:
        - Nota de Empenho v1
      summary: Consulta Número da Transação
      description: >-
        Consulta uma Transação a partir de um json de entrada.
        
        ### Chamada
        
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/consultaTransacao
      requestBody:
        description: Dados da Transação a ser Consultada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaTransacao'
            example: Json de entrada
        required: true
      responses:
        '200':
          description: Retorna os dados referentes ao número da Transação informado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
              example:
                codigo: 0
                mensagem: 010001000012017NE800058 010001000012017LI800104
                erros: []
                status: 200
        '400':
          description: Algum campo enviado é inválido
          content: {}
        '403':
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        '500':
          description: Erro interno do servidor
          content: {}
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/consultaTransacao
      externalDocs:
        description: NE para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
  /v1/ne/consultar:
    post:
      deprecated: true
      tags:
        - Nota de Empenho v1
      summary: Consulta Nota de Empenho
      description: >-
        Consulta uma Nota de Empenho a partir de um json de entrada.
        
        ### Chamada
        
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/consultar
      requestBody:
        description: Dados da Nota de Empenho a ser consultada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaNE'
            example: Json de entrada
        required: true
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DadosNE'
              example:
                codigo: 0
                mensagem:
                  dataEmissao: 14Jun18
                  saldoPagar: ''
                  numeroNota: 2018NE800017
                  ugEmitente: '010001'
                  nomeUgEmitente: CAMARA DOS DEPUTADOS
                  gestaoEmitente: '00001'
                  nomeGestaoEmitente: TESOURO NACIONAL
                  nomeFavorecido: CAMARA DOS DEPUTADOS
                  tipoFavorecido: '4'
                  codigoFavorecido: '01000100001'
                  sicaf: ''
                  operacaoCambial: '0000000000'
                  observacao: TESTE NE-01
                  evento: '401091'
                  esfera: '1'
                  ptres: '000001'
                  fonte: '0100000000'
                  codigoND: '339030'
                  ugResponsavel: 010019
                  planoInterno: AAA
                  valorEmpenho: '00000000000000001'
                  tipoEmpenho: ORDINARIO
                  sistemaOrigem: APISIAFI
                  docReferenciaOriginal: ''
                  numDocReferencia: ''
                  passivoAnterior: NAO
                  contaPassivo: ''
                  nomeModalidade: NAO SE APLICA
                  nomeAmparo: ''
                  inciso: ''
                  numeroProcesso: 103.504/1999
                  indicadorPagPrecatorio: ''
                  siglaUF: DF
                  codigoMunicipioBeneficiado: '9701'
                  origemMaterial: NACIONAL
                  referenciaDispensa: ''
                  numeroOriginal: ''
                  informacoesLancamentos: >-
                    LANCADO POR : 60165570644 - ANDERSON          UG : 010001  
                    14Jun18   14:33
                  contaCorrenteFinanceiro: F0100000000
                  contasPermanentes: []
                  numeroLista: 2018LI800043
                  subItens:
                    - numero: '00'
                      valor: '01'
                      seq: '000'
                      qtd: ''
                      valorTotal: '00000000000000001'
                      descricao: LISTA NE-01
                    - numero: '1'
                      valor: ''
                      seq: '000'
                      qtd: ''
                      valorTotal: ''
                      descricao: ''
                  subItensSaldo:
                    - numero: '01'
                      valor: '00000000000000001'
                  nsaldo: ''
                erros: []
                status: 200
        '400':
          description: Algum campo enviado é inválido
          content: {}
        '403':
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        '500':
          description: Erro interno do servidor
          content: {}
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/consultar
      externalDocs:
        description: NE para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
  /v1/ne/realizar:
    post:
      deprecated: true
      tags:
        - Nota de Empenho v1
      summary: Adiciona Nota de Empenho
      description: >-
        Realiza uma Nota de Empenho a partir de um json de entrada.
        
        ### Chamada
        
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/realizar
      requestBody:
        description: Dados da Nota de Empenho a ser adicionada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealizaNE'
            example: Json de entrada
        required: true
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Adicionada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
              example:
                codigo: 0
                mensagem: 010001000012017NE800054 010001000012017LI800101
                erros: []
                status: 200
        '400':
          description: Algum campo enviado é inválido
          content: {}
        '403':
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        '500':
          description: Erro interno do servidor
          content: {}
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/realizar
      externalDocs:
        description: NE para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
  /v1/ne/reforcar:
    post:
      deprecated: true
      tags:
        - Nota de Empenho v1
      summary: Reforça Nota de Empenho
      description: >-
        Reforça uma Nota de Empenho a partir de um json de entrada.
        
        ### Chamada
        
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/reforcar
      requestBody:
        description: Dados da Nota de Empenho a ser reforçada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReforcaNE'
            example: Json de entrada
        required: true
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Reforçada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
              example:
                codigo: 0
                mensagem: 010001000012017NE800059 010001000012017LI800105
                erros: []
                status: 200
        '400':
          description: Algum campo enviado é inválido
          content: {}
        '403':
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        '500':
          description: Erro interno do servidor
          content: {}
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/reforcar
      externalDocs:
        description: NE para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
  '/v2/nota-empenho/{ug}/{gestao}/{ano}/{numero}':
    get:
      tags:
        - Nota de Empenho v2
      summary: Consulta Nota de Empenho
      description: >-
        Consulta uma Nota de Empenho a partir da ug/gestao/ano/numero.
        ### Chamada
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-empenho/010001/00001/2018/800017
        ### No header 
        x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64.
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          schema:
            type: string
        - name: ano
          in: path
          description: Ano da Nota de Crédito
          required: true
          schema:
            type: string
        - name: numero
          in: path
          description: Número da Nota de Crédito
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DadosNE'
              example:
                dataEmissao: '20Jun18'
                saldoPagar: ''
                numeroNota: '2018NE800001'
                ugEmitente: '010001'
                nomeUgEmitente: 'COORD.GERAL DE CONTROLE DA DIVIDA PUBLICA'
                gestaoEmitente: '170600'
                nomeGestaoEmitente: 'TESOURO NACIONAL'
                nomeFavorecido: 'COORD.GERAL DE CONTROLE DA DIVIDA PUBLICA'
                tipoFavorecido: '4'
                codigoFavorecido: '17060000001'
                sicaf: ''
                operacaoCambial: '0000000000'
                observacao: 'TESTE SID - VL'
                evento: '401091'
                esfera: '1'
                ptres: '08139'
                fonte: '0163719020'
                codigoND: '469072'
                ugResponsavel: '170600'
                planoInterno: '2852DPMFIBC'
                valorEmpenho: '00000150000000000'
                tipoEmpenho: 'ESTIMATIVO'
                sistemaOrigem: ''
                docReferenciaOriginal: ''
                numDocReferencia: ''
                passivoAnterior: 'SIM'
                contaPassivo: '212110201'
                nomeModalidade: 'NAO SE APLICA'
                nomeAmparo: ''
                inciso: ''
                numeroProcesso: '' 
                indicadorPagPrecatorio: '' 
                siglaUF: 'DF'
                codigoMunicipioBeneficiado: '' 
                origemMaterial: ''
                referenciaDispensa: '' 
                numeroOriginal: ''
                informacoesLancamentos: 'LANCADO POR : 05550469669 - LEONARDO UG: 170600 20Jun18 17:26'
                contaCorrenteFinanceiro: 'F0163719020'
                contasPermanentes:
                  - conta: 'P'
                    valor: '150000000000'
                numeroLista: '2018LI00001'
                subItens:
                  - numero: '00'
                    valor: '00000150000000000'
                    seq: '001'
                    qtd: '000000000100000' 
                    valorTotal: '00000150000000000'
                    descricao: 'TESTE SID - VL'
                subItensSaldo:
                  - numero: '01'
                    valor: '00000150000000000'
                nsaldo: ''
        '400':
          description: Algum campo enviado é inválido
        '403':
          description: >-
            Credencial informada não possui permissão para consultar a Nota de
            Crédito
        '404':
          description: Nota de Empenho inexistente
        '500':
          description: Erro interno do servidor
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-empenho/"ug"/"gestao"/"ano"/"numero"
      externalDocs:
        description: NE para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
  /v2/nota-empenho:
    post:
      tags:
        - Nota de Empenho v2
      summary: Realiza uma Nota de Empenho
      description: >-
        Gera uma Nota de Empenho a partir de um json de entrada.

        ### Chamada
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-empenho
        ### No header  
        x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)
      parameters:
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      requestBody:
        description: Dados da Nota de Empenho a ser Gerada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealizaNE'
            example: Json de entrada
        required: true
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Gerada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
              example:
                numeroCliente: '135006132032019TRNE000087'
                numeroListaEmpenho: '135006132032019LI800070'
                numeroDocGerado: '135006132032019NE800008'
        '400':
          description: Algum campo enviado é inválido
          content: {}
        '403':
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        '500':
          description: Erro interno do servidor
          content: {}
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-empenho/"Json de entrada"
      externalDocs:
        description: NE para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
    put:
      tags:
        - Nota de Empenho v2
      summary: Atualiza uma Nota de Empenho a partir de um json de entrada.
      description: >-
        O tipo de atualização depende do campo ' especie '

        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Alteração:
        &nbsp;&nbsp;&nbsp;&nbsp;especie = 01

        <br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reforço:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        especie = 02

        <br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anulação:
        &nbsp;&nbsp;&nbsp;&nbsp;especie = 03


        ### Chamada
        
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-empenho
            
        ### No header
        
        x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN
              (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)
      parameters:
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      requestBody:
        description: Dados da Nota de Empenho a ser atualizada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtualizaNE'
            example: Json de entrada
        required: true
      responses:
        '200':
          description: Retorna os dados da Nota de Empenho Atualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
              example:
                numeroCliente: '135006132032019TRNE000087'
                numeroListaEmpenho: '135006132032019LI800070'
                numeroDocGerado: '135006132032019NE800008'
        '400':
          description: Algum campo enviado é inválido
          content: {}
        '403':
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        '500':
          description: Erro interno do servidor
          content: {}
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-empenho/"Json
        de atualização"
      externalDocs:
        description: NE para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
  '/v2/nota-credito/{ug}/{gestao}/{ano}/{numero}':
    get:
      tags:
        - Nota de Crédito
      summary: Consulta Nota de Crédito
      description: >-
        Consulta uma Nota de Crédito a partir da ug/gestao/ano/numero. 
        
        ### Chamada

        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-credito/010001/00001/2018/800001

        ### No header
        
        x-credencial: MTExMTExMTExMTEuMDEwMDAxLlNJQUZJMjAxOA== (valor referente às credenciais 11111111111.010001.SIAFI2018 convertido em Base64. 
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          schema:
            type: string
        - name: ano
          in: path
          description: Ano da Nota de Crédito
          required: true
          schema:
            type: string
        - name: numero
          in: path
          description: Número da Nota de Crédito
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Nota de Crédito encontrada e retornada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotaCredito'
              example:
                dataEmissao: 14MAI18
                numero: 2018NC
                ugEmitente: '010001'
                gestaoEmitente: '00001'
                ugFavorecida: '10001'
                gestaoFavorecida: '00001'
                taxaCambio: ''
                numeroTransferencia: ''
                observacao: TESTE
                listaEventos:
                  - evento: '300062'
                    esferaOrcamentaria: '1'
                    ptres: '1'
                    fonteRecurso: '0100000000'
                    naturezaDespesa: '339039'
                    subitem: ''
                    ugResponsavel: '10001'
                    planoInterno: ''
                    valorTransacao: '00000000000100000'
        '400':
          description: Algum campo possui informações inválidas
          content: {}
        '403':
          description: >-
            Credencial informada não possui permissão para consultar a Nota de
            Crédito
          content: {}
        '404':
          description: Nota de Crédito inexistente
          content: {}
        '500':
          description: Erro interno do servidor
          content: {}
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-credito/"ug"/"gestao"/"ano"/"numero"
      externalDocs:
        description: NC para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
  /v2/nota-credito:
    post:
      tags:
        - Nota de Crédito
      summary: Gera Nota de Crédito
      description: >-
        Gera uma Nota de Crédito a partir de um json de entrada.
        
        ### Chamada   
        
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-credito

        ### No header
        
        x-credencial: MTExMTExMTExMTEuMDEwMDAxLlNJQUZJMjAxOA== (valor referente às credenciais 11111111111.010001.SIAFI2018 convertido em Base64. 
      parameters:
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      requestBody:
        description: Dados da Nota de Crédito a ser gerada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeraNC'
            example: Json de entrada
        required: true
      responses:
        '200':
          description: Nota de Crédito gerada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NCGerada'
              example:
                ug: '010001'
                gestao: '00001'
                numero: '2018NC800017'
        '400':
          description: Algum campo possui informações inválida
          content: {}
        '403':
          description: >-
            Credencial informada não possui permissão para gerar a Nota de
            Crédito
          content: {}
        '500':
          description: Erro interno do servidor
          content: {}
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-credito/"json
        de entrada"
      externalDocs:
        description: NC para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
  '/v2/nota-lancamento/{ug}/{gestao}/{ano}/{numero}':
    get:
      tags:
        - Nota de Lançamento
      summary: Consulta Nota de Lançamento
      description: >-
        Consulta uma Nota de Lançamento a partir da ug/gestao/ano/numero.
        
        ### Chamada
        
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-lancamento/010001/00001/2018/800001

        ### No header
        
        x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64)
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          schema:
            type: string
        - name: ano
          in: path
          description: Ano da Nota de Crédito
          required: true
          schema:
            type: string
        - name: numero
          in: path
          description: Número da Nota de Crédito
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Nota de Lançamento encontrada e retornada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotaLancamento'
              example:
                dataEmissao: '14MAI18'
                ugEmitente: '010001'
                nomeUGEmitente: '1'
                gestaoEmitente: '00001'
                nomeGestaoEmitente: ''
                favorecido: ''
                nomeFavorecido: ''
                gestaoFavorecido: ''
                nomeGestaoFavorecido: ''
                numero: ''
                dataValidacao: '14mai18'
                taxaCambio: ''
                tituloCredito: ''
                dataVencimento: ''
                sistemaOrigem: ''
                observacao: 'TESTE'
                listaEventos:
                  - evento: '510669'
                    inscricao1: '0114000000'
                    inscricao2: ''
                    classificacao1: ''
                    classificacao2: ''
                    classOrcamentaria1: ''
                    classOrcamentaria2: ''
                    valor: ''
                    numeroReferencia: '10001'
        '400':
          description: Algum campo possui informações inválidas
          content: {}
        '403':
          description: >-
            Credencial informada não possui permissão para consulta a Nota de
            Lançamento
          content: {}
        '404':
          description: Nota de Lançamento inexistente
          content: {}
        '500':
          description: Erro interno do servidor
          content: {}
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-lancamento/"ug"/"gestao"/"ano"/"numero"
      externalDocs:
        description: NL para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
  /v2/nota-lancamento:
    post:
      tags:
        - Nota de Lançamento
      summary: Gera Nota de Lançamento
      description: >-
        Gera uma Nota de Lançamento a partir de um json de entrada.

        ### Chamada
        
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-lancamento
        
        ### No header 
        
        x-credencial:  NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN (valor referente às credenciais 60165570644.010001.SIAFI2018HM  convertido em Base64) 
      parameters:
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      requestBody:
        description: Dados da Nota de Lançamento a ser gerada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeraNL'
            example: Json de entrada
        required: true
      responses:
        '200':
          description: Nota de Lançamento gerada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NLGerada'
              example:
                ug: '010001'
                gestao: '00001'
                numeroo: '2018NL800017'
        '400':
          description: Algum campo possui informações inválidas
          content: {}
        '403':
          description: >-
            Credencial informada não possui permissão para gerar a Nota de
            Lançamento
          content: {}
        '500':
          description: Erro interno do servidor
          content: {}
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-lancamento
      externalDocs:
        description: NL para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
  '/v2/nota-dotacao/{ug}/{gestao}/{ano}/{numero}':
    get:
      tags:
        - Nota de Dotação
      summary: Consulta Nota de Dotação
      description: >-
        Consulta uma Nota de Dotação a partir da ug/gestao/ano/numero.
        
        ### Chamada  
        
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao/010001/00001/2018/800002

        
        ### No header
        
        x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64) 
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          schema:
            type: string
        - name: ano
          in: path
          description: Ano da Nota de Dotação
          required: true
          schema:
            type: string
        - name: numero
          in: path
          description: Número da Nota de Dotação
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Nota de Dotação encontrada e retornada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotaDotacao'
              example:
                dataEmissao: '14MAI18'
                numeroDocumento: '2018ND800003'
                ugEmitente: '170999'
                nomeUGEmitente: 'COORDENACAO GERAL DE CONTABILIDADE'
                gestaoEmitente: '00001'
                favorecido: ''
                nomeFavorecido: ''
                taxaCambio: ''
                observacao: 'TESTE'
                listaEventos:
                  - evento: '200031'
                    esferaOrcamentaria: '1'
                    unidadeOrcamentaria: ''
                    ptres: '000019'
                    fonteRecurso: '0100000000'
                    naturezaDespesa: '339030'
                    subitemND: ''
                    ugr: ''
                    planoInterno: ''
                    valor: '100'
        '400':
          description: Algum campo possui informações inválidas
          content: {}
        '403':
          description: >-
            Credencial informada não possui permissão para consulta a Nota de
            Dotação
          content: {}
        '404':
          description: Nota de Dotação inexistente
          content: {}
        '500':
          description: Erro interno do servidor
          content: {}
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao/"ug"/"gestao"/"ano"/"numero"
      externalDocs:
        description: ND para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
  /v2/nota-dotacao:
    post:
      tags:
        - Nota de Dotação
      summary: Gera uma Nota de Dotação
      description: >-
        Gera uma Nota de Dotação a partir de um json de entrada.

        ### Chamada
        
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao

        ## No header
        
        x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64)
      parameters:
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      requestBody:
        description: Dados da Nota de Dotação a ser gerada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeraND'
            example: Json de entrada
        required: true
      responses:
        '200':
          description: Nota de Dotação gerada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NDGerada'
              example:
                ug: '010001'
                gestao: '00001'
                numero: '2018ND800002'
        '400':
          description: Algum campo possui informações inválidas
          content: {}
        '403':
          description: >-
            Credencial informada não possui permissão para gerar a Nota de
            Dotação
          content: {}
        '500':
          description: Erro interno do servidor
          content: {}
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao
      externalDocs:
        description: ND para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
  '/v2/nota-detaorc/{ug}/{gestao}/{ano}/{numero}':
    get:
      tags:
        - Nota de Dotação
      summary: Consulta uma Nota de Detalhamento Orçamentário
      description: >-
        Consulta uma Nota de Detalhamento Orçamentário a partir da ug/gestao/ano/numero.
        
        ### Chamada 
        
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao/det-orc/010001/00001/2018/000002

        ### No header
        
        x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64)
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          schema:
            type: string
        - name: ano
          in: path
          description: Ano da Nota de Dotação
          required: true
          schema:
            type: string
        - name: numero
          in: path
          description: Número da Nota de Dotação
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Nota de Detalhamento Orçamentário encontrado e retornado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultaNDDetOrc'
              example:
                dataEmissao: '14MAI18'
                especieND: '1'
                numeroDocumento: '2018ND000002'
                ugEmitente: '010001'
                nomeUGEmitente: 'CAMARA DOS DEPUTADOS 2018'
                gestaoEmitente: '00001'
                esferaOrcamentaria: '1'
                fonteRecurso: '0100'
                categoriaDespesa: '33'
                codigoInstrumentoLegal: ''
                numeroInstrumentoLegal: ''
                dataPublicacao: '01AGO18'
                taxaCambio: '2'
                ptres: '005714'
                idoc: '9999'
                observacao: 'TESTE'
                listaEventos:
                  - reducaoAcrescimos: 'R'
                    sequencialFonte: '000000'
                    modalidadeAplicacao: '90'
                    elementoDespesa: '00'
                    subitemND: ''
                    codigoUGResponsavel: ''
                    planoInterno: ''
                    valor: '100000'
                  - reducaoAcrescimos: 'A'
                    sequencialFonte: '000000'
                    modalidadeAplicacao: '90'
                    elementoDespesa: '14'
                    subitemND: ''
                    codigoUGResponsavel: ''
                    planoInterno: ''
                    valor: '100000'
        '400':
          description: Algum campo possui informações inválidas
          content: {}
        '403':
          description: >-
            Credencial informada não possui permissão para consultar essa Nota
            de Detalhamento Orçamentário
          content: {}
        '500':
          description: Erro interno do servidor
          content: {}
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-detaorc/"ug"/"gestao"/"ano"/"numero"
      externalDocs:
        description: Nota Detaorc para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
  /v2/nota-detaorc:
    post:
      tags:
        - Nota de Dotação
      summary: Gera uma Nota de Detalhamento Orçamentário
      description: >-
        Gera uma Nota de Detalhamento Orçamentário a partir de um json de entrada.

        ### Chamada   
        
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao/det-orc

        ### No header
        
        x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64.
      parameters:
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      requestBody:
        description: Dados de uma Nota de Detalhamento Orçamentário a ser gerada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeraNDDetOrc'
            example: Json de entrada
        required: true
      responses:
        '200':
          description: Nota de Detalhamento Orçamentário gerada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NDDetOrcGerada'
              example:
                ug: '010001'
                gestao: '00001'
                numero: '2018ND000002'
        '400':
          description: Algum campo possui informações inválidas
          content: {}
        '403':
          description: >-
            Credencial informada não possui permissão para gerar uma Nota de
            Detalhamento Orçamentário
          content: {}
        '500':
          description: Erro interno do servidor
          content: {}
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-detaorc
      externalDocs:
        description: Nota Detaorc para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
  '/v2/nota-bloqueio/{ug}/{gestao}/{ano}/{numero}':
    get:
      tags:
        - Nota de Dotação
      summary: Consulta uma Nota de Bloqueio de Crédito
      description: >-
        Consulta uma Nota de Bloqueio de Crédito a partir da ug/gestao/ano/numero. 

        ### Chamada 
        
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao/bloqueio/010001/00001/2018/000005

        ### No header
        
        x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. 
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          schema:
            type: string
        - name: ano
          in: path
          description: Ano da Nota de Bloqueio de Crédito
          required: true
          schema:
            type: string
        - name: numero
          in: path
          description: Número da Nota de Bloqueio de Crédito
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Nota de bloqueio de Crédito encontrada e retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notaBloqueioConsulta'
              example:
                dataEmissao: '14MAI18'
                numeroDocumento: '2018ND000005'
                ugEmitente: '010001'
                nomeUGEmitente: 'CAMARA DOS DEPUTADOS 2018'
                gestaoEmitente: '00001'
                nomeGestaoEmitente: 'TESOURO NACIONAL'
                taxaCambio: ''
                observacao: 'TESTE'
                listaEventos:
                  - evento: '200020'
                    esferaOrcamentaia: '1'
                    ptres: '001000'
                    idoc: '9999'
                    naturezaDespesa: '339000'
                    fonte: '0100'
                    valor: '20000'
        '400':
          description: Algum campo possui informações inválidas
          content: {}
        '403':
          description: >-
            Credencial informada não possui permissão para consultar a Nota de
            Bloqueio de Crédito
          content: {}
        '500':
          description: Erro interno do servidor
          content: {}
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-bloqueio/"ug"/"gestao"/"ano"/"numero"
      externalDocs:
        description: NB para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
  /v2/nota-bloqueio:
    post:
      tags:
        - Nota de Dotação
      summary: Gera uma Nota de Bloqueio de Crédito
      description: >-
        Gera uma Nota de Bloqueio de Crédito a partir de um json de entrada. 

        ### Chamada
        
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao/bloqueio

        ### No header
        
        x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64) 
      parameters:
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      requestBody:
        description: Dados da Nota de Bloqueio de Crédito a ser gerada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/notaBloqueioInclusao'
            example: Json de entrada
        required: true
      responses:
        '200':
          description: Nota de Bloqueio de Crédito gerada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NDBloqueioGerada'
              example:
                ug: '010001'
                gestao: '00001'
                numero: '2018ND000005'
        '400':
          description: Algum campo possui informações inválidas
          content: {}
        '403':
          description: >-
            Credencial informada não possui permissão para gerar a Nota de
            Bloqueio de Crédito
          content: {}
        '500':
          description: Erro interno do servidor
          content: {}
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-bloqueio
      externalDocs:
        description: NB para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
  '/v2/nota-dotacao-sof/{ug}/{gestao}/{ano}/{numero}':
    get:
      tags:
        - Nota de Dotação
      summary: Consulta uma Nota de Dotacao Sof
      description: >-
        Consulta uma Nota de Dotação Sof a partir da ug/gestao/ano/numero.

        ### Chamada

          https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v2/nota-dotacao-sof/010001/00001/2019/000007
            
        ### No header
        
          x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64)
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          schema:
            type: string
        - name: ano
          in: path
          description: Ano da Nota de Dotação Sof
          required: true
          schema:
            type: string
        - name: numero
          in: path
          description: Número da Nota de Dotação Soft
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Nota de bloqueio de Dotação Sof encontrada e retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notaDotacaoSof' 
              example:
                dataEmissao: '10Jun19'
                numeroDocumento: '2019ND000007'
                ugEmitente: '010001'
                gestaoEmitente: '00001'
                nomeUGEmitente: 'CAMARA DOS DEPUTADOS 2019'
                nomeGestaoEmitente: 'TESOURO NACIONAL'
                instrumentoLegal: ''
                nomeInstrumentoLegal: 'TEST'
                numeroDecreto: 'E'
                dataPublicacao: ''
                observacao: '20101010110101301' 
                taxaCambial: '0553200456' 
                listaEventos: 
                  - evento: '641000'
                    esferaOrcamentaria: '3'
                    uo: '39000'
                    ptres: '01000A00012019012'
                    idoc: '3456'
                    naturezaDespesa: '710000'
                    fonteRecurso: '000' 
                    resultado: '0'
                    tipoCredito: 'A'
                    codigoFuncional: '0001'
                    autorEmenda: '201901234567'
                    valor: '10000000'                 
        '400':
          description: Algum campo possui informações inválidas
          content: {}
        '403':
          description: >-
            Credencial informada não possui permissão para consultar a Nota de
            Dotação Sof
          content: {}
        '500':
          description: Erro interno do servidor
          content: {}
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao-sof/"ug"/"gestao"/"ano"/"numero"
      externalDocs:
        description: NB para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
  '/v2/documentos/{ug}/{gestao}/{data}':
    get:
      tags:
        - Consulta Documentos
      summary: Consulta Documentos
      description: >-
        Consulta documentos de uma UG Emitente/Favorecida a partir de uma data
        específica.
        
        ### Chamada
            
          https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/documentos/010001/00001/10FEV18?tipo={ugfavorecida/ugemitente}
            
        ### No header
          
          x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64)  
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão emitente
          required: true
          schema:
            type: string
        - name: data
          in: path
          description: Data referente ao pedido da consulta
          required: true
          schema:
            type: string
        - name: tipo
          in: query
          description: Tipo da UG = ugemitente ou ugfavorecida
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: >-
            Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Documentos encontrados e retornados com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documentos'
              example:
                data: '14MAI18'
                listaDocumentos:
                  - ugEmitente: '010001'
                    gestaoEmitente: '00001'
                    numeroDocumento: '2019ND000009'
                    tipoNd: ''
                  - ugEmitente: '010001'
                    gestaoEmitente: '00001'
                    numeroDocumento: '2019ND000010'
                    tipoNd: ''
                  - ugEmitente: '010001'
                    gestaoEmitente: '00001'
                    numeroDocumento: '2019ND000011'
                    tipoNd: ''
                  - ugEmitente: '010001'
                    gestaoEmitente: '00001'
                    numeroDocumento: '2019ND000012'
                    tipoNd: ''
                  - ugEmitente: '010001'
                    gestaoEmitente: '00001'
                    numeroDocumento: '2019ND000013'
                    tipoNd: ''
                  - ugEmitente: '010001'
                    gestaoEmitente: '00001'
                    numeroDocumento: '2019ND000014'
                    tipoNd: ''
        '400':
          description: Algum campo possui informações inválidas
          content: {}
        '403':
          description: >-
            Credencial informada não possui permissão para consultar a
            Documentos
          content: {}
        '500':
          description: Erro interno do servidor
          content: {}
      operationId: >-
        https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/documentos/{ug}/{gestao}/{data}?tipo={ugemitente/ugfavorecida}
      externalDocs:
        description: NE para Degustação
        url: >-
          https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/IntegraSIAFI-Degustacao.pdf
  /status:
    get:
      tags:
        - Status
      summary: Verifica status da API
      responses:
        '200':
          description: Serviço disponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: '2019-02-18T11:27:06-03:00'
        '500':
          description: Serviço indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: '2019-02-18T11:27:06-03:00'
components:
  schemas:
    DadosNE:
      type: object
      properties:
        dataEmissao:
          type: string
        saldoPagar:
          type: string
        numeroNota:
          type: string
        ugEmitente:
          type: string
        nomeUgEmitente:
          type: string
        gestaoEmitente:
          type: string
        nomeGestaoEmitente:
          type: string
        nomeFavorecido:
          type: string
        tipoFavorecido:
          type: string
        codigoFavorecido:
          type: string
        sicaf:
          type: string
        operacaoCambial:
          type: string
        observacao:
          type: string
        evento:
          type: string
        esfera:
          type: string
        ptres:
          type: string
        fonte:
          type: string
        codigoND:
          type: string
        ugResponsavel:
          type: string
        planoInterno:
          type: string
        valorEmpenho:
          type: string
        tipoEmpenho:
          type: string
        sistemaOrigem:
          type: string
        docReferenciaOriginal:
          type: string
        numDocReferencia:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        nomeModalidade:
          type: string
        nomeAmparo:
          type: string
        inciso:
          type: string
        numeroProcesso:
          type: string
        indicadorPagPrecatorio:
          type: string
        siglaUF:
          type: string
        codigoMunicipioBeneficiado:
          type: string
        origemMaterial:
          type: string
        referenciaDispensa:
          type: string
        numeroOriginal:
          type: string
        informacoesLancamentos:
          type: string
        contaCorrenteFinanceiro:
          type: string
        contasPermanentes:
          type: array
          items:
            $ref: '#/components/schemas/Conta'
        numeroLista:
          type: string
        subItens:
          type: array
          items:
            $ref: '#/components/schemas/subItem'
        subItensSaldo:
          type: array
          items:
            $ref: '#/components/schemas/subItemSaldo'
        nsaldo:
          type: string
    RealizaNE:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          type: object
          properties:
            conta:
              type: string
            valor:
              type: string
        contaPassivoFinanceiro:
          type: string
        favorecido:
          type: string
        gestaoFavorecido:
          type: string
        esferaOrcamentaria:
          type: string
        codigoUO:
          type: string
        ptres:
          type: string
        fonteRecursos:
          type: string
        naturezaDespesa:
          type: string
        unidadeGestoraResponsavel:
          type: string
        planoInterno:
          type: string
        indicadorResultado:
          type: string
        indicadorTipoCredito:
          type: string
        planoOrcamentario:
          type: string
        codigoAutorEmenda:
          type: string
        tipoEmpenho:
          type: string
        modalidadeLicitacao:
          type: string
        amparoLegal:
          type: string
        inciso:
          type: string
        origemMaterial:
          type: string
        municipioBeneficiado:
          type: string
        ufBeneficiada:
          type: string
        dataVencimento:
          type: string
        dataRecebimento:
          type: string
        valorCompromisso:
          type: string
        listaItens:
          type: object
          properties:
            subItemNd:
              type: string
            valorTotal:
              type: string
            quantidade:
              type: string
            valorUnitario:
              type: string
            descricao:
              type: string
    AtualizaNE:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          type: object
          properties:
            conta:
              type: string
            valor:
              type: string
        contaPassivoFinanceiro:
          type: string
        especie:
          type: string
        ugReferencia:
          type: string
        gestaoReferencia:
          type: string
        numeroEmpenhoReferencia:
          type: string
        numeroListaReferencia:
          type: string
        listaItens:
          type: object
          properties:
            subItemNd:
              type: string
            quantidade:
              type: string
            valorUnitario:
              type: string
            valorTotal:
              type: string
            descricao:
              type: string
    AlteraNE:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          $ref: '#/components/schemas/Conta'
        contaPassivoFinanceiro:
          type: string
        especie:
          type: string
        ugReferencia:
          type: string
        gestaoReferencia:
          type: string
        numeroEmpenhoReferencia:
          type: string
        listaItens:
          $ref: '#/components/schemas/listaItens'
        numeroTransacaoCliente:
          type: string
        credencial:
          $ref: '#/components/schemas/Credencial'
    ReforcaNE:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          type: object
          properties:
            conta:
              type: string
            valor:
              type: string
        contaPassivoFinanceiro:
          type: string
        especie:
          type: string
        ugReferencia:
          type: string
        gestaoReferencia:
          type: string
        numeroEmpenhoReferencia:
          type: string
        numeroListaReferencia:
          type: string
        listaItens:
          type: object
          properties:
            subItemNd:
              type: string
            valorTotal:
              type: string
            quantidade:
              type: string
            valorUnitario:
              type: string
            descricao:
              type: string
        numeroTransacaoCliente:
          type: string
        credencial:
          type: object
          properties:
            ug:
              type: string
            sistema:
              type: string
            cpf:
              type: string
    AnulaNE:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          $ref: '#/components/schemas/Conta'
        contaPassivoFinanceiro:
          type: string
        especie:
          type: string
        ugReferencia:
          type: string
        gestaoReferencia:
          type: string
        numeroEmpenhoReferencia:
          type: string
        listaItens:
          $ref: '#/components/schemas/listaItens'
        numeroTransacaoCliente:
          type: string
        credencial:
          $ref: '#/components/schemas/Credencial'
    ConsultaTransacao:
      type: object
      properties:
        numeroTransacaoCliente:
          type: string
        credencial:
          type: object
          properties:
            ug:
              type: string
            sistema:
              type: string
            cpf:
              type: string
    ConsultaNE:
      type: object
      properties:
        ano:
          type: string
        ug:
          type: string
        gestao:
          type: string
        numero:
          type: string
    NE:
      type: object
      properties:
        numeroCliente:
          type: integer
        numeroListaEmpenho:
          type: string
        numeroDocGerado:
          type: string
    subItemSaldo:
      type: object
      properties:
        numero:
          type: string
        valor:
          type: string
    subItem:
      type: object
      properties:
        numero:
          type: string
        valor:
          type: string
        seq:
          type: string
        qtd:
          type: string
        valorTotal:
          type: string
        descricao:
          type: string    
    listaItens:
      type: object
      properties:
        subItemNd:
          type: string
        quantidade:
          type: string
        valorUnitario:
          type: string
        descricao:
          type: string
    Conta:
      type: object
      properties:
        conta:
          type: string
        valor:
          type: string
    Credencial:
      type: object
      properties:
        cpf:
          type: string
        ug:
          type: string
        sistema:
          type: string
          
          
          
    NotaCredito:
      type: object
      properties:
        dataEmissao:
          type: string
        numero:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        ugFavorecida:
          type: string
        gestaoFavorecida:
          type: string
        taxaCambio:
          type: string
        numeroTransferencia:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNC'
    GeraNC:
      type: object
      properties:
        dataEmissao:
          type: string
        numero:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        ugFavorecida:
          type: string
        gestaoFavorecida:
          type: string
        taxaCambio:
          type: string
        numeroTransferencia:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNC'
    EventoNC:
      type: object
      properties:
        evento:
          type: string
        esferaOrcamentaria:
          type: string
        ptres:
          type: string
        fonteRecurso:
          type: string
        naturezaDespesa:
          type: string
        subitem:
          type: string
        ugResponsavel:
          type: string
        planoInterno:
          type: string
        valor:
          type: string   
    NCGerada:
      type: object
      properties:
        ug:
          type: string
        gestao: 
          type: string 
        numero:
          type: string
          
          
          
    NotaDotacao:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        nomeUgEmitente:
          type: string
        gestaoEmitente:
          type: string
        favorecido:
          type: string
        nomeFavorecido:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoND'
    GeraND:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        ugFavorecida:
          type: string
        gestaoFavorecido:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoND'
    EventoND:
      type: object
      properties:
        evento:
          type: string
        esferaOrcamentaria:
          type: string
        unidadeOrcamentaria:
          type: string  
        ptres:
          type: string
        fonteRecurso:
          type: string
        naturezaDespesa:
          type: string
        subitemND:
          type: string
        ugr:
          type: string
        planoInterno:
          type: string
        valor:
          type: string
    NDGerada:
      type: object
      properties:
        ug:
          type: string
        gestao:
          type: string
        numero:
          type: string
          
          
          
    NotaLancamento:
      type: object
      properties:
        dataEmissao:
          type: string
        ugEmitente:
          type: string
        nomeUgEmitente:
          type: string
        gestaoEmitente:
          type: string
        nomeGestaoEmitente:
          type: string
        favorecido:
          type: string
        nomeFavorecido:
          type: string
        gestaoFavorecido:
          type: string
        nomeGestaoFavorecido:
          type: string
        numero:
          type: string
        dataValidacao:
          type: string
        taxaCambio:
          type: string
        tituloCredito:
          type: string
        dataVencimento:
          type: string
        sistemaOrigem:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNL'
    GeraNL:
      type: object
      properties:
        dataEmissao:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        favorecido:
          type: string
        gestaoFavorecido:
          type: string
        numero:
          type: string
        dataValidacao:
          type: string
        taxaCambio:
          type: string
        tituloCredito:
          type: string
        dataVencimento:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNL'
    NLGerada:
      type: object
      properties:
        ug:
          type: string
        gestao:
          type: string
        numero:
          type: string
    EventoNL:
      type: object
      properties:
        evento:
          type: string
        inscricao1:
          type: string
        inscricao2:
          type: string
        classificacao1:
          type: string
        classificacao2:
          type: string
        classOrcamentaria1:
          type: string
        classOrcamentaria2:
          type: string
        valor:
          type: string
        numeroReferencia:
          type: string
          
          
          
    notaBloqueioConsulta:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        nomeUGEmitente:
          type: string
        gestaoEmitente:
          type: string
        nomeGestaoEmitente:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNDBloqueioConsulta'
    notaBloqueioInclusao:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNDBloqueioInclusao'
    EventoNDBloqueioConsulta:
      type: object
      properties:
        evento:
          type: string
        esferaOrcamentaria:
          type: string
        ptres:
          type: string
        idoc:
          type: string
        naturezaDespesa:
          type: string
        fonte:
          type: string
        valor:
          type: string
    EventoNDBloqueioInclusao:
      type: object
      properties:
        evento:
          type: string
        esferaOrcamentaria:
          type: string
        unidadeOrcamentaria:
          type: string
        ptres:
          type: string
        idoc:
          type: string
        naturezaDespesa:
          type: string
        grupoFonte:
          type: string
        resultado:
          type: string
        tipoCredito:
          type: string
        planoOrcamentario:
          type: string
        autorEmenda:
          type: string
        valor:
          type: string    
    NDBloqueioGerada:
      type: object
      properties:
        ug:
          type: string
        gestao:
          type: string
        numero:
          type: string
            
            
            
    notaDotacaoSof:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        nomeUGEmitente:
          type: string
        nomeGestaoEmitente:
          type: string
        instrumentoLegal:
          type: string
        nomeInstrumentoLegal:
          type: string
        numeroDecreto:
          type: string
        dataPublicacao:
          type: string
        observacao:
          type: string
        taxaCambial:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/ConsultaEventoNDSof'
    ConsultaEventoNDSof:
      type: object
      properties:
        evento:
          type: string
        esferaOrcamentaria:
          type: string
        uo:
          type: string
        ptres:
          type: string
        idoc:
          type: string
        naturezaDespesa:
          type: string
        fonteRecurso:
          type: string
        resultado:
          type: string
        tipoCredito:
          type: string
        codigoFuncional:
          type: string
        autorEmenda:
          type: string
        valor:
          type: string
          
          
          
    GeraNDDetOrc:
      type: object
      properties:
        dataEmissao:
          type: string
        especieND:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        nomeUGEmitente:
          type: string
        gestaoEmitente:
          type: string
        esferaOrcamentaria:
          type: string
        unidadeOrcamentaria:
          type: string
        indicadorResultado:
          type: string
        indicadorCredito:
          type: string
        planoOrcamentario:
          type: string
        codigoAutorEmenda:
          type: string
        fonteRecurso:
          type: string
        categoriaDespesa:
          type: string
        codigoInstrumentoLegal:
          type: string
        numeroInstrumentoLegal:
          type: string
        dataPublicacao:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventosNDDetOrc'
    EventosNDDetOrc:
      type: object
      properties:
        reducaoAcrescimos:
          type: string
        sequencialFonte:
          type: string
        modalidadeAplicacao:
          type: string
        elementoDespesa:
          type: string
        subitemND:
          type: string
        codigoUGResponsavel:
          type: string
        planoInterno:
          type: string
        valor:
          type: string
    NDDetOrcGerada:
      type: object
      properties:
        ug:
          type: string
        gestao:
          type: string
        numero:
          type: string
    ConsultaNDDetOrc:
      type: object
      properties:
        dataEmissao:
          type: string
        especieND:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        nomeUGEmitente:
          type: string
        gestaoEmitente:
          type: string
        esferaOrcamentaria:
          type: string
        fonteRecurso:
          type: string
        categoriaDespesa:
          type: string
        codigoInstrumentoLegal:
          type: string
        numeroInstrumentoLegal:
          type: string
        dataPublicacao:
          type: string
        taxaCambio:
          type: string
        ptres:
          type: string
        idoc:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventosNDDetOrc'
            
            
            
    Documentos:
      type: object
      properties:
        data:
          type: string
        listaDocumentos:
          type: array
          items:
            $ref: '#/components/schemas/ListaDocumentos'          
    ListaDocumentos:
      type: object
      properties:
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroDocumento:
          type: string
        tipoNd:
          type: string
          
          
          
    Status:
      type: object
      properties:
        lastUpdateAt:
          type: string
          format: date-time
          

  securitySchemes:
    APIKEY:
      type: apiKey
      name: x-jwt-assertion
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://apigateway.serpro.gov.br/token'
    Authorization:
      type: http
      description: Autenticação para ambiente trial
      scheme: bearer
