openapi: 3.0.2
info:
  title: Timestamp Check
  version: '1.0.0'
  description: |- 
    O serviço `Verificação de Carimbo de Tempo` é disponibilizado através do `HTTP REST` oferencendo operação para validação de Carimbo de Tempo solicitado para outras API's do SERPRO.
    ## Códigos de Retorno
    | Código de retorno | Resumido | Explicação |
    | ------------- |:--------------------|:-----------------------------------------------------------------------------|
    | 200           | OK                  | O carimbo de tempo é válido para o documento informado. |
    | 500           | Requisição inválida | O carimbo de tempo informado não é válido para o documento informado. Mensagem de erro pode ser enviada com informações adicionais. |
servers:
  - url: 'https://apigateway.serpro.gov.br/checkstamp-trial/1'
    description: Trial
  - url: 'https://apigateway.serpro.gov.br/checkstamp/1'
    description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []
paths:
  /check:
    post:
      summary: Verifica o carimbo de tempo para o documento informado
      description: |-

        ## Exemplo
        #### Chamada

            [POST] https://apigateway.serpro.gov.br/checkstamp-trial/1/check

        <br>

        #### Conteudo do corpo (este conteúdo pode ser utilizado para degustação)
        #### Caso deseje uma resposta inválida, basta mudar o número do CPF do campo "ni"

            { 
              "document":[
                {
                  "ni": "99999999999",
                  "nome": "Nome do CPF 999.999.999-99",
                  "nascimento": "01011994",
                  "situacao": {
                    "codigo": "0",
                    "descricao": "Regular"
                  }
              }],
              "timestamp" : {
                "base64" : "QXF1aSB2YWkgYSBhc3NpbmF0dXJhLCBlbSBCYXNlNjQsIGRvIGNhcmltYm8gZGUgdGVtcG8gcmVjZWJpZG8gcGVsbyB1c3XDoXJpbywgbmFzIHJlcXVpc2nDp8O1ZXMgZGFzIG91dHJhcyBBUEkuIEVzdGEgYXNzaW5hdHVyYSBlc3TDoSBlbSB0YW1hbmhvIGJhc3RhbnRlIHJlZHV6aWRvLCB1dGlsaXphZG8gYXBlbmFzIHBhcmEgZmlucyBkaWTDoXRpY29zLg=="
              }
            }
          #### Retorno
          
            {
              "status": "Success",
              "message":"Documento assinado em 08-Jan-2018 23:12:55:9 GMT",
            }      
          
          
          #### Exemplo de conteúdo do corpo para Datavalid
          #### Caso deseje uma resposta inválida, basta mudar os valores do campos "nome" e/ou "nome_similaridade"          
            { 
              "document":[{
                "nome": false,
                "nome_similaridade": 0.2692307692307693,
                "sexo": true,
                "data_nascimento": false,
                "situacao_cpf": true,
                "filiacao": {
                    "nome_mae": false,
                    "nome_mae_similaridade": 0.2592592592592593,
                    "nome_pai": false,
                    "nome_pai_similaridade": 0.09523809523809523
                },
                "nacionalidade": true,
                "endereco": {
                    "logradouro": false,
                    "logradouro_similaridade": 0.11111111111111116,
                    "numero": false,
                    "numero_similaridade": 0.16666666666666663,
                    "complemento": false,
                    "complemento_similaridade": 0.05882352941176472,
                    "bairro": false,
                    "bairro_similaridade": 0.16666666666666663,
                    "cep": false,
                    "municipio": false,
                    "municipio_similaridade": 0.15384615384615385,
                    "uf": false,
                    "uf_similaridade": 0
                },
                "documento": {
                    "numero": false,
                    "orgao_expedidor": false,
                    "uf_expedidor": true
                },
                "cnh": {
                    "nome": false,
                    "nome_similaridade": 0.2692307692307693
                }
            }],
              "timestamp" : {
                "base64" : "QXF1aSB2YWkgYSBhc3NpbmF0dXJhLCBlbSBCYXNlNjQsIGRvIGNhcmltYm8gZGUgdGVtcG8gcmVjZWJpZG8gcGVsbyB1c3XDoXJpbywgbmFzIHJlcXVpc2nDp8O1ZXMgZGFzIG91dHJhcyBBUEkuIEVzdGEgYXNzaW5hdHVyYSBlc3TDoSBlbSB0YW1hbmhvIGJhc3RhbnRlIHJlZHV6aWRvLCB1dGlsaXphZG8gYXBlbmFzIHBhcmEgZmlucyBkaWTDoXRpY29zLg=="
              }
            }
          #### Retorno
          
            {
              "status": "Success",
              "message": "Documento assinado em 28-Fev-2018 22:13:41:9 GMT"
            } 
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificaAssinatura'
            example: Informe a assinatura
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetornoAssinatura'
        '500':
          description: Não foi possível verificar a assinatura
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssinaturaInvalida' 

  '/status':
    get:
      tags:
        - Status
      summary: Verifica status da API
      responses:
        '200':
          description: Serviço disponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00"
        '500':
          description: Serviço indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00" 
components:
  schemas:
    Status:
      type: object
      properties:
        lastUpdateAt:
          type: string
          format: date-time   
    VerificaAssinatura:
      properties:
        document:
          type: array
          items:
            $ref: '#/components/schemas/Document'
        timestamp:
          type: object
          properties:
            base64:
              type: string
    RetornoAssinatura:
      properties:
        status:
          type: string
          example: Sucess
        message:
          type: string
          example: 'Documento assinado em dd-MMM-yyyy HH:mm:ss:S z'
    AssinaturaInvalida:
      properties:
        status:
          type: string
          example: Warning
        message:
          type: string
          example: O documento fornecido não corresponde ao do carimbo de tempo!
    Document:
      properties:
        document:
          type: object
  securitySchemes:
    APIKEY:
      type: apiKey
      name: x-jwt-assertion
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://apigateway.serpro.gov.br/token'
    Authorization:
      type: http
      description: Autenticação para ambiente trial
      scheme: bearer
