openapi: 3.0.1
info:
  title: Consulta Dívida Ativa
  version: api
  description: |-  
        A api &nbsp; *consulta-divida-ativa* &nbsp; viabiliza a consulta de débitos na dívida ativa da união via serviço &nbsp; *HTTP REST* &nbsp;.
        ### API Serpro - Plataforma de Habilitação  
        O contratante terá acesso a todas as informações relacionadas ao modelo de sustentação comercial e técnica dos serviços API por meio do portal de relacionamento com o cliente Minha Conta, onde as principais funcionalidades são detalhadas no tutorial Área do Cliente.
    
        Para informações de como se autenticar antes de consumir a API, por favor, consulte a documentação em [Autenticação](http://devserpro.github.io/apis/) 
        ### Códigos de Retorno não Tarifados 
        |  Código de retorno |  Resumido |  Explicação |
        | ------------- |:--------------------|:----------------------------------------------------------------------------- |
        | 400           | Requisição inválida    | O número de inscrição informado não é válido.       |
        | 404           | Not found    | O número de inscrição informado não foi encontrado.  |
        | 500           | Erro no Servidor | Ocorreu algum erro no servidor.      | 
        ### Solicitando assinatura com Carimbo de Tempo
        Caso deseje que sua solicitação venha com uma assinatura de Carimbo de Tempo, basta incluir, no cabeçalho de sua requisição, a informação: &nbsp; *x-signature:1*. &nbsp; A assinatura será retornada no cabeçalho da resposta, com o nome: &nbsp; *stamp* .
        ### Verificando assinatura com Carimbo de Tempo
        Para verificar assinatura de carimbo de tempo, siga as instruções da documentação abaixo:     
        [Documentação - Verificação de Carimbo de Tempo](https://rawgit.com/devserpro/apis/master/_layouts/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://rawgit.com/devserpro/apis/master/_layouts/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)
servers:
  - url: https://apigateway.serpro.gov.br/consulta-divida-ativa-trial/api
    description: Trial
  - url: https://apigateway.serpro.gov.br/consulta-divida-ativa/api
    description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []
externalDocs:
  description: "Detalhamento da API Loja Franca de Fronteiras"
  url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/Informacoes-DividaAtiva.pdf
paths:
  '/v1/inscricao/{numeroInscricao}':
    get:
      tags:
        - Dívida Ativa
      summary: Consulta dados de inscrição 
      description: |-
        ## Exemplo
        #### Chamada
              [GET] https://apigateway.serpro.gov.br/consulta-divida-ativa-trial/api/v1/inscricao/9061700096419 
        #### Retorno
                {
                  "inscricao": "90 6 17 000964-19",
                  "processoAdministrativo": "46206 099222/99-01",
                  "situacao": "ATIVA NAO PRIORIZADA PARA AJUIZAMENTO",
                  "dataInscricao": "16/12/2003",
                  "numeroPFNResponsavel": "1000",
                  "nomePFNResponsavel": "PRIMEIRA REGIAO",
                  "numeroPFNInscricao": "1000",
                  "nomePFNInscricao": "PRIMEIRA REGIAO",
                  "numeroProcessoJudicial": "",
                  "numeroProcessoJudicialNovo": "",
                  "orgaoOrigem": "DRT/DF",
                  "codigoNaturezaReceita": "0002",
                  "nomeNaturezaReceita": "NAO TRIBUTARIA",
                  "codigoReceitaPrincipal": "3623",
                  "nomeReceita": "DIV.ATIVA-CLT",
                  "codigoSerie": "5",
                  "nomeSerie": "CONSOLIDACAO DAS LEIS TRABALHISTAS",
                  "codigoOrgaoJustica": "100030",
                  "nomeOrgaoJustica": "VARA DO TRABALHO - BRASILIA",
                  "numeroJuizo": "000000",
                  "descricaoJuizo": "Número da Vara Desconhecido",
                  "dataProtocoloJudExecucao": "",
                  "dataDistribuicaoJudicial": "",
                  "indicadorMoedaTotalInscrito": "R$",
                  "valorTotalInscritoMoeda": "805,06",
                  "valorTotalInscritoIndex": "756,56",
                  "indicadorMoedaTotalConsolidado": "R$",
                  "valorTotalConsolidadoMoeda": "2.403,59",
                  "indicadorMoedaTotalRemanescente": "R$",
                  "valorRemanescenteMoeda": "805,06",
                  "valorRemanescenteIndex": "756,56",
                  "dataDevolucaoProcesso": "",
                  "numeroAutoInfracao": "",
                  "indicadorPrescricaoSV8": "NAO",
                  "dataDecretacaoFalencia": "",
                  "dataFimProcurador": "",
                  "numeroImovelITR": "",
                  "dataExtincaoInscricao": "",
                  "motivoSuspensaoExigilidade": "",
                  "numeroRipSpu": "",
                  "indicadorAnaliseOrgaoOrigem": "NAO",
                  "motivoExtincaoInscricao": "",
                  "indicadorProtImpedAjuiz": "",
                  "numeroAgrupamento": "",
                  "numeroInscricaoOriginal": "00 0 00 000000-00",
                  "numeroInscricaoDerivada1": "00 0 00 000000-00",
                  "numeroInscricaoDerivada2": "00 0 00 000000-00",
                  "numeroInscricaoDerivada3": "00 0 00 000000-00",
                  "numeroInscricaoDerivada4": "00 0 00 000000-00",
                  "numeroInscricaoDerivada5": "00 0 00 000000-00",
                  "numeroInscricaoDerivada6": "00 0 00 000000-00",
                  "numeroInscricaoDerivada7": "00 0 00 000000-00",
                  "dcomp": "",
                  "descricaoNaoCalculado": "",
                  "codigoMunicipioSPU": 0,
                  "codigoSistemaOrigem": "M",
                  "descricaoSistemaOrigem": "Manual"
                }
        #### <br>Chaves para retornos diferentes
            (200) numeroInscricao: 9061700096419
            (200) numeroInscricao: 4483300091135
            (404) numeroInscricao: qualquer outro número       
      parameters:
        - name: numeroInscricao
          in: path
          description: Número de inscrição
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Retorna o objeto json com o resultado da consulta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numeroInscricao' 
              example:
                inscricao: 90 6 17 000964-19
                processoAdministrativo: 46206 099222/99-01
                situacao: ATIVA NAO PRIORIZADA PARA AJUIZAMENTO
                dataInscricao: 16/12/2003
                numeroPFNResponsavel: '1000'
                nomePFNResponsavel: PRIMEIRA REGIAO
                numeroPFNInscricao: '1000'
                nomePFNInscricao: PRIMEIRA REGIAO
                numeroProcessoJudicial: ''
                numeroProcessoJudicialNovo: ''
                orgaoOrigem: DRT/DF
                codigoNaturezaReceita: '0002'
                nomeNaturezaReceita: NAO TRIBUTARIA
                codigoReceitaPrincipal: '3623'
                nomeReceita: DIV.ATIVA-CLT
                codigoSerie: '5'
                nomeSerie: CONSOLIDACAO DAS LEIS TRABALHISTAS
                codigoOrgaoJustica: '100030'
                nomeOrgaoJustica: VARA DO TRABALHO - BRASILIA
                numeroJuizo: '000000'
                descricaoJuizo: Número da Vara Desconhecido
                dataProtocoloJudExecucao: ''
                dataDistribuicaoJudicial: ''
                indicadorMoedaTotalInscrito: R$
                valorTotalInscritoMoeda: '805,06'
                valorTotalInscritoIndex: '756,56'
                indicadorMoedaTotalConsolidado: R$
                valorTotalConsolidadoMoeda: '2.403,59'
                indicadorMoedaTotalRemanescente: R$
                valorRemanescenteMoeda: '805,06'
                valorRemanescenteIndex: '756,56'
                dataDevolucaoProcesso: ''
                numeroAutoInfracao: ''
                indicadorPrescricaoSV8: NAO
                dataDecretacaoFalencia: ''
                dataFimProcurador: ''
                numeroImovelITR: ''
                dataExtincaoInscricao: ''
                motivoSuspensaoExigilidade: ''
                numeroRipSpu: ''
                indicadorAnaliseOrgaoOrigem: NAO
                motivoExtincaoInscricao: ''
                indicadorProtImpedAjuiz: ''
                numeroAgrupamento: ''
                numeroInscricaoOriginal: 00 0 00 000000-00
                numeroInscricaoDerivada1: 00 0 00 000000-00
                numeroInscricaoDerivada2: 00 0 00 000000-00
                numeroInscricaoDerivada3: 00 0 00 000000-00
                numeroInscricaoDerivada4: 00 0 00 000000-00
                numeroInscricaoDerivada5: 00 0 00 000000-00
                numeroInscricaoDerivada6: 00 0 00 000000-00
                numeroInscricaoDerivada7: 00 0 00 000000-00
                dcomp: ''
                descricaoNaoCalculado: ''
                codigoMunicipioSPU: 0
                codigoSistemaOrigem: M
                descricaoSistemaOrigem: Manual
        "400":
          description: Número de Inscrição inválido.
        "404":
          description: Inscrição não encontrada.
        "500":
          description: Erro interno do servidor
      operationId: https://apigateway.serpro.gov.br/api-divida-ativa-trial/api/{numeroInscricao}
      externalDocs:
        description: "Payloads para degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/DividaAtiva-Degustacao.pdf
  '/v1/devedor/{numeroInscricaoDevedor}':
    get:
      tags:
        - Dívida Ativa
      summary: 'Consulta dados do devedor, seja pessoa física ou jurídica'
      description: |-
        ## Exemplo
        #### Chamada
              [GET] https://apigateway.serpro.gov.br/consulta-divida-ativa-trial/api/v1/devedor/09781911768
        #### <br> Retorno
                [
                  {
                    "numeroInscricao": "10 5 03 003880-14",
                    "numeroProcesso": "10166 677771/2014-12",
                    "situacaoInscricao": "121105",
                    "situacaoDescricao": "ATIVA NAO PRIORIZADA PARA AJUIZAMENTO",
                    "nomeDevedor": "DEVEDOR DA SILVA",
                    "tipoDevedor": "PRINCIPAL",
                    "valorTotalConsolidadoMoeda": "4.457,56",
                    "cpfCnpj": "097.819.117-68",
                    "codigoSida": "1000",
                    "nomeUnidade": "PROCURADORIA REGIONAL DA FAZENDA NACIONAL DA 1A REGIAO",
                    "codigoComprot": "1101951",
                    "codigoUorg": "0005786"
                  }
                ]     
        #### Chaves para retornos diferentes
            (200) numeroInscricaoDevedor: 09781911768 (CPF)
            (200) numeroInscricaoDevedor: 01415666000181 (CNPJ)
            (404) numeroInscricaoDevedor: qualquer outro número
      parameters:
        - name: numeroInscricaoDevedor
          in: path
          description: Número de inscrição (cpf ou cnpj) do devedor
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Retorna o objeto json com o resultado da consulta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numeroInscricaoDevedor' 
              example:
                numeroInscricao: 10 5 03 003880-14
                numeroProcesso: 10166 677771/2014-12
                situacaoInscricao: '121105'
                situacaoDescricao: ATIVA NAO PRIORIZADA PARA AJUIZAMENTO
                nomeDevedor: DEVEDOR DA SILVA
                tipoDevedor: PRINCIPAL
                valorTotalConsolidadoMoeda: '4.457,56'
                cpfCnpj: 097.819.117-68
                codigoSida: '1000'
                nomeUnidade: PROCURADORIA REGIONAL DA FAZENDA NACIONAL DA 1A REGIAO
                codigoComprot: '1101951'
                codigoUorg: 0005786
        "400":
          description: 'O valor do parâmetro ''numeroInscricaoDevedor'' inválido: {numeroInscricaoDevedor}'
        "404":
          description: Inscrição não encontrada.
        "500":
          description: Erro interno do servidor
      operationId: https://apigateway.serpro.gov.br/api-divida-ativa-trial/api/{numeroInscricaoDevedor}
      externalDocs:
        description: "Payloads para degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/DividaAtiva-Degustacao.pdf
  '/status':
    get:
      tags:
        - Status
      summary: Verifica status da API
      responses:
        "200":
          description: Serviço disponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00"
        "500":
          description: Serviço indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00" 
components:
  schemas:
    numeroInscricao:
      type: object
      properties:
        inscricao:
          type: string
        processoAdministrativo:
          type: string
        situacao:
          type: string
        dataInscricao:
          type: string
        numeroPFNResponsavel:
          type: string
        nomePFNResponsavel:
          type: string
        numeroPFNInscricao:
          type: string
        nomePFNInscricao:
          type: string
        numeroProcessoJudicial:
          type: string
        numeroProcessoJudicialNovo:
          type: string
        orgaoOrigem:
          type: string
        codigoNaturezaReceita:
          type: string
        nomeNaturezaReceita:
          type: string
        codigoReceitaPrincipal:
          type: string
        nomeReceita:
          type: string
        codigoSerie:
          type: string
        nomeSerie:
          type: string
        codigoOrgaoJustica:
          type: string
        nomeOrgaoJustica:
          type: string
        numeroJuizo:
          type: string
        descricaoJuizo:
          type: string
        dataProtocoloJudExecucao:
          type: string
        dataDistribuicaoJudicial:
          type: string
        indicadorMoedaTotalInscrito:
          type: string
        valorTotalInscritoMoeda:
          type: string
        valorTotalInscritoIndex:
          type: string
        indicadorMoedaTotalConsolidado:
          type: string
        valorTotalConsolidadoMoeda:
          type: string
        indicadorMoedaTotalRemanescente:
          type: string
        valorRemanescenteMoeda:
          type: string
        valorRemanescenteIndex:
          type: string
        dataDevolucaoProcesso:
          type: string
        numeroAutoInfracao:
          type: string
        indicadorPrescricaoSV8:
          type: string
        dataDecretacaoFalencia:
          type: string
        dataFimProcurador:
          type: string
        numeroImovelITR:
          type: string
        dataExtincaoInscricao:
          type: string
        motivoSuspensaoExigilidade:
          type: string
        numeroRipSpu:
          type: string
        indicadorAnaliseOrgaoOrigem:
          type: string
        motivoExtincaoInscricao:
          type: string
        indicadorProtImpedAjuiz:
          type: string
        numeroAgrupamento:
          type: string
        numeroInscricaoOriginal:
          type: string
        numeroInscricaoDerivada1:
          type: string
        numeroInscricaoDerivada2:
          type: string
        numeroInscricaoDerivada3:
          type: string
        numeroInscricaoDerivada4:
          type: string
        numeroInscricaoDerivada5:
          type: string
        numeroInscricaoDerivada6:
          type: string
        numeroInscricaoDerivada7:
          type: string
        dcomp:
          type: string
        descricaoNaoCalculado:
          type: string
        codigoMunicipioSPU:
          type: string
        codigoSistemaOrigem:
          type: string
        descricaoSistemaOrigem:
          type: string 
    numeroInscricaoDevedor:
      type: object
      properties:
        numeroInscricao:
          type: string
        numeroProcesso:
          type: string
        situacaoInscricao:
          type: string
        situacaoDescricao:
          type: string
        nomeDevedor:
          type: string
        tipoDevedor:
          type: string
        valorTotalConsolidadoMoeda:
          type: string
        cpfCnpj:
          type: string
        codigoSida:
          type: string
        nomeUnidade:
          type: string
        codigoComprot:
          type: string
        codigoUorg:
          type: string          
    Status:
      type: object
      properties:
        lastUpdateAt:
          type: string
          format: date-time   
  securitySchemes:
    APIKEY:
      type: apiKey
      name: x-jwt-assertion
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://apigateway.serpro.gov.br/token'
    Authorization:
      type: http
      description: Autenticação para ambiente trial
      scheme: bearer
