openapi: 3.0.1
info:
  title: Consulta Massiva CNPJ DF (consulta-cnpj)
  version: 1.0.0
  description: "\nPara informações de como se autenticar antes de consumir as API,\
    \ por favor, consulte a documentação em: http://devserpro.github.io/apis/ \n\n\
    \  \nO serviço `Consulta Massiva CNPJ` é disponibilizado através do `HTTP REST`\
    \ oferencendo operação de consulta às informações cadastrais de Pessoas Jurídicas\
    \ no Brasil.\n<br>\n  ## Detalhamento do CNPJ\n\n  Para um detalhamento do CNPJ\
    \ acesse o link:\n  https://github.com/devserpro/apis/raw/master/_layouts/swaggers/cnpj/detalhamento-CNPJ.pdf\n\
    \ <br>\n## Códigos de Retorno não Bilhetados\n| Código de retorno | Resumido |\
    \ Explicação |\n| ------------- |:--------------------|:-----------------------------------------------------------------------------\
    \ |\n| &nbsp           | &nbsp    | &nbsp  | \n | 400  | Requisição inválida \
    \   | O número de inscrição do CNPJ informado não é válido.       |\n| &nbsp \
    \          | &nbsp    | &nbsp  |\n| 500           | Erro no servidor    | Ocorreu\
    \ algum erro interno.      |\n| &nbsp           | &nbsp    | &nbsp  |\n| 503 \
    \          | Serviço Indisponível     |  Algum serviço integrado ao Consulta Massiva\
    \ CNPJ está indisponível no momento.                         |<br>\n## Solicitando\
    \ assinatura com Carimbo de Tempo\n\n  Caso deseje que sua solicitação venha com\
    \ uma assinatura de Carimbo de Tempo, basta incluir, no cabeçalho de sua requisiç\
    ão, a informação `x-signature: 1`.\n  \n  A assinatura será retornada no cabeç\
    alho da resposta, com o nome `stamp`.\n<br>\n## Verificando assinatura com Carimbo\
    \ de Tempo\n\n  Para verificar assinatura de carimbo de tempo, siga as instruç\
    ões da documentação abaixo:\n  \n[Documentação - Verificação Carimbo de Tempo](https://rawgit.com/devserpro/apis/master/_layouts/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://rawgit.com/devserpro/apis/master/_layouts/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)\n\
    <br>     \n \n## Endereço de Produção\n \n    https://apigateway.serpro.gov.br/consulta-cnpj-df/v1\n\
    \   \n<br>\n## Endereço de Degustação\n\n    https://apigateway.serpro.gov.br/consulta-cnpj-df-trial/v1\n\
    \    \n<br>"
servers:
- url: https://apigateway.serpro.gov.br/consulta-cnpj-df-trial/v1
  description: Trial
- url: https://apigateway.serpro.gov.br/consulta-cnpj-df/v1
  description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []
externalDocs:
  description: "Detalhamento da Situação Cadastral do CNPJ DF"
  url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/Informacoes-CNPJ.pdf
paths:
  /cnpj/{ni}:
    get:
      tags:
      - Consulta CNPJ DF
      summary: Consulta o CNPJ DF
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      description: |-
        Retorna os dados do Cadastro Nacional de Pessoa Jurídica DF (CNPJ)
      parameters:
      - name: ni
        in: path
        description: Número de inscrição no CNPJ
        required: true
        schema:
          type: string
      - name: x-signature
        in: header
        description: Solicitação de assinatura de carimbo de tempo. Informe 1 para
          assinar, ou deixe em branco para não assinar.
        schema:
          type: string
      responses:
        200:
          description: Retorna os dados da Pessoa Jurídica
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CNPJ'
        400:
          description: O Número de Inscrição informado não é válido
          content: {}
        404:
          description: Não existe Pessoa Jurídica com o Número de Inscrição informado
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://apigateway.serpro.gov.br/consulta-cnpj-trial/v1/cnpj/34238864000168
      externalDocs:
        description: "CNPJs para degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/CNPJ-Degustacao.pdf
  /status:
    get:
      tags:
      - Status
      summary: Verifica status da API
      responses:
        200:
          description: Serviço disponível
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
            lastUpdateAt:
              example: 2019-02-18T11:27:06-03:00
        500:
          description: Serviço indisponível
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
            lastUpdateAt:
              example: 2019-02-18T11:27:06-03:00
components:
  schemas:
    Status:
      type: object
      properties:
        lastUpdateAt:
          type: string
          format: date-time
    CodigoDescricao:
      type: object
      properties:
        codigo:
          type: string
        descricao:
          type: string
    Telefone:
      type: object
      properties:
        ddd:
          type: string
        numero:
          type: string
    SituacaoCadastral:
      type: object
      properties:
        codigo:
          type: string
        motivo:
          type: string
        data:
          type: string
    CNPJ:
      type: object
      properties:
        ni:
          type: string
        data_abertura:
          type: string
        nome_empresarial:
          type: string
        nome_fantasia:
          type: string
        cnae_principal:
          $ref: '#/components/schemas/CodigoDescricao'
        natureza_juridica:
          $ref: '#/components/schemas/CodigoDescricao'
        endereco:
          $ref: '#/components/schemas/Endereco'
        situacao_especial:
          type: string
        situacao_cadastral:
          $ref: '#/components/schemas/SituacaoCadastral'
        orgao:
          type: string
        tipo_estabelecimento:
          type: string
        correio_eletronico:
          type: string
        capital_social:
          type: string
        porte:
          type: string
        telefones:
          type: array
          items:
            $ref: '#/components/schemas/Telefone'
        nome_orgao:
          type: string
        ente_federativo:
          type: string
        data_situacao_especial:
          type: string
    Endereco:
      type: object
      properties:
        bairro:
          type: string
        complemento:
          type: string
        cep:
          type: string
        municipio:
          type: string
        uf:
          type: string
        logradouro:
          type: string
        numero:
          type: string
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
