openapi: 3.0.1
info:
  title: Consulta Dívida Ativa
  version: api
  description: |-
    A api `consulta-divida-ativa` viabiliza a consulta de débitos na dívida ativa da união via serviço `HTTP REST`. <br><br>
    Para informações de como se autenticar antes de consumir as API, por favor, consulte a documentação no link: [Autenticação](https://servicos.serpro.gov.br/api-serpro/biblioteca/arquivos/como-autenticar-documentacao-api.pdf) <br><br>
    ## Códigos de Retorno não Tarifados 
    |  Código de retorno |  Resumido |  Explicação |
    | ------------- |:--------------------|:----------------------------------------------------------------------------- |
    | &nbsp           | &nbsp    | &nbsp  | 
     |400           | Requisição inválida    | O número de inscrição informado não é válido.       |
    | &nbsp           | &nbsp    | &nbsp  |
    | 404           | Not found    | O número de inscrição informado não foi encontrado.  |
    | &nbsp           | &nbsp    | &nbsp  |
    | 500           | Erro no Servidor | Ocorreu algum erro no servidor.      | 
servers:
  - url: https://gateway.apiserpro.serpro.gov.br/consulta-divida-ativa-trial/api
    description: Trial
  - url: https://gateway.apiserpro.serpro.gov.br/consulta-divida-ativa/api
    description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []
paths:
  '/v1/inscricao/{numeroInscricao}':
    get:
      tags:
        - Dívida Ativa
      summary: Consulta dados de inscrição
      description: |-
        ## Exemplo
        #### Chamada
              [GET] https://apigateway.serpro.gov.br/consulta-divida-ativa-trial/api/v1/inscricao/9061700096419 
        #### <br> Retorno
              [
                {
                  "inscricao": "90 6 17 000964-19",
                  "processoAdministrativo": "46206 099222/99-01",
                  "situacao": "ATIVA NAO PRIORIZADA PARA AJUIZAMENTO",
                  "dataInscricao": "16/12/2003",
                  "numeroPFNResponsavel": "1000",
                  "nomePFNResponsavel": "PRIMEIRA REGIAO",
                  "numeroPFNInscricao": "1000",
                  "nomePFNInscricao": "PRIMEIRA REGIAO",
                  "numeroProcessoJudicial": "",
                  "numeroProcessoJudicialNovo": "",
                  "orgaoOrigem": "DRT/DF",
                  "codigoNaturezaReceita": "0002",
                  "nomeNaturezaReceita": "NAO TRIBUTARIA",
                  "codigoReceitaPrincipal": "3623",
                  "nomeReceita": "DIV.ATIVA-CLT",
                  "codigoSerie": "5",
                  "nomeSerie": "CONSOLIDACAO DAS LEIS TRABALHISTAS",
                  "codigoOrgaoJustica": "100030",
                  "nomeOrgaoJustica": "VARA DO TRABALHO - BRASILIA",
                  "numeroJuizo": "000000",
                  "descricaoJuizo": "Número da Vara Desconhecido",
                  "dataProtocoloJudExecucao": "",
                  "dataDistribuicaoJudicial": "",
                  "indicadorMoedaTotalInscrito": "R$",
                  "valorTotalInscritoMoeda": "805,06",
                  "valorTotalInscritoIndex": "756,56",
                  "indicadorMoedaTotalConsolidado": "R$",
                  "valorTotalConsolidadoMoeda": "2.403,59",
                  "indicadorMoedaTotalRemanescente": "R$",
                  "valorRemanescenteMoeda": "805,06",
                  "valorRemanescenteIndex": "756,56",
                  "dataDevolucaoProcesso": "",
                  "numeroAutoInfracao": "",
                  "indicadorPrescricaoSV8": "NAO",
                  "dataDecretacaoFalencia": "",
                  "dataFimProcurador": "",
                  "numeroImovelITR": "",
                  "dataExtincaoInscricao": "",
                  "motivoSuspensaoExigilidade": "",
                  "numeroRipSpu": "",
                  "indicadorAnaliseOrgaoOrigem": "NAO",
                  "motivoExtincaoInscricao": "",
                  "indicadorProtImpedAjuiz": "",
                  "numeroAgrupamento": "",
                  "numeroInscricaoOriginal": "00 0 00 000000-00",
                  "numeroInscricaoDerivada1": "00 0 00 000000-00",
                  "numeroInscricaoDerivada2": "00 0 00 000000-00",
                  "numeroInscricaoDerivada3": "00 0 00 000000-00",
                  "numeroInscricaoDerivada4": "00 0 00 000000-00",
                  "numeroInscricaoDerivada5": "00 0 00 000000-00",
                  "numeroInscricaoDerivada6": "00 0 00 000000-00",
                  "numeroInscricaoDerivada7": "00 0 00 000000-00",
                  "dcomp": "",
                  "descricaoNaoCalculado": "",
                  "codigoMunicipioSPU": 0,
                  "codigoSistemaOrigem": "M",
                  "descricaoSistemaOrigem": "Manual"
                }
              ]
        #### <br>Chaves para retornos diferentes
            (200) numeroInscricao: 9061700096419
            (200) numeroInscricao: 4483300091135
            (404) numeroInscricao: qualquer outro número            
      operationId: consultaInscricao
      parameters:
        - name: numeroInscricao
          in: path
          description: Número de inscrição
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Retorna objeto json com o resultado da consulta
        '400':
          description: Número de Inscrição inválido.
        '404':
          description: Inscrição não encontrada.
        '500':
          description: Erro interno do servidor
  '/v1/devedor/{numeroInscricaoDevedor}':
    get:
      tags:
        - Dívida Ativa
      summary: 'Consulta dados do devedor, seja pessoa física ou jurídica'
      description: |-
        ## Exemplo
        #### Chamada
              [GET] https://apigateway.serpro.gov.br/consulta-divida-ativa-trial/api/v1/devedor/09781911768
        #### <br> Retorno
                [
                  {
                    "numeroInscricao": "10 5 03 003880-14",
                    "numeroProcesso": "10166 677771/2014-12",
                    "situacaoInscricao": "121105",
                    "situacaoDescricao": "ATIVA NAO PRIORIZADA PARA AJUIZAMENTO",
                    "nomeDevedor": "DEVEDOR DA SILVA",
                    "tipoDevedor": "PRINCIPAL",
                    "valorTotalConsolidadoMoeda": "4.457,56",
                    "cpfCnpj": "097.819.117-68",
                    "codigoSida": "1000",
                    "nomeUnidade": "PROCURADORIA REGIONAL DA FAZENDA NACIONAL DA 1A REGIAO",
                    "codigoComprot": "1101951",
                    "codigoUorg": "0005786"
                  }
                ]
        <br/>      
        #### Chaves para retornos diferentes
            (200) numeroInscricaoDevedor: 09781911768 (CPF)
            (200) numeroInscricaoDevedor: 01415666000181 (CNPJ)
            (404) numeroInscricaoDevedor: qualquer outro número
      operationId: consultaDevedorCPF
      parameters:
        - name: numeroInscricaoDevedor
          in: path
          description: Número de inscrição (cpf ou cnpj) do devedor
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Retorna objeto json com o resultado da consulta
        '400':
          description: 'O valor do parâmetro ''numeroInscricaoDevedor'' inválido: {numeroInscricaoDevedor}'
        '404':
          description: Inscrição não encontrada.
        '500':
          description: Erro interno do servidor
  '/status':
    get:
      tags:
        - Status
      summary: Verifica status da API
      responses:
        '200':
          description: Serviço disponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00"
        '500':
          description: Serviço indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00" 
components:
  schemas:
    Status:
      type: object
      properties:
        lastUpdateAt:
          type: string
          format: date-time   

  securitySchemes:
    APIKEY:
      type: apiKey
      name: x-jwt-assertion
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://apigateway.serpro.gov.br/token'
    Authorization:
      type: http
      description: Autenticação para ambiente trial
      scheme: bearer
