{
    "swagger": "2.0",
    "info": {
        "description": "O Lince Verificador permite agilizar e automatizar o processo de autenticação de documentos compatíveis.",
        "version": "1.0",
        "title": "Lince Verificador"
    },
    "security": [{
        "Bearer": []
    }],
    "securityDefinitions": {
        "Bearer": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },
    "host": "apigateway.serpro.gov.br/lincever-trial",
    "tags": [{
            "name": "1 Introdução"
        },
        {
            "name": "2 Integrando o Lince Verificador"
        },
        {
            "name": "3 Referência da API"
        }
    ],
    "basePath": "/v1",
    "paths": {
        "O que é o Lince": {
            "head": {
                "tags": [
                    "1 Introdução"
                ],
                "summary": "O que é o Lince",
                "description": "O Lince é um sistema de certificação de autenticidade de documentos de identificação. Documentos compatíveis portam o QR Code Lince, um QR Code que replica os dados contidos no documento utilizando encriptação forte para garantir a autenticidade dos dados. Além disso QR Codes Lince são encriptados na fonte a partir de informações fornecidas pela própria entidade emissora do documento, garantindo o não-repúdio.\n\nO sistema Lince é composto por 3 partes:\n\n* API REST para criação de QR Codes Lince: API utilizada por entidades emissoras para solicitar a encriptação dos dados fornecidos e geração do QR Code Lince\n* API REST para verificação de QR Codes Lince: Integrada a qualquer entidade que deseje verificar e validar QR Codes Lince de forma automatizada\n* Aplicativos Lince para Android e iOS: Disponíveis gratuitamente nas respectivas lojas online, esses aplicativos são capazes de verificar e validar QR Codes Lince offline em situações onde a automação não seja necessária",
                "responses": {}
            }
        },
        "O que é o serviço de verificação": {
            "head": {
                "tags": [
                    "1 Introdução"
                ],
                "summary": "O que é o serviço de verificação",
                "description": "O serviço de verificação Lince Verificador é uma API REST robusta e altamente disponível, que pode ser integrada a qualquer sistema com acesso à Internet para verificar QR Codes Lince.\n\nPara mera conferência da autenticidade do documento pode-se utilizar o aplicativo Lince, disponível gratuitamente nas lojas Android e iOS. Se a sua necessidade é integrar a leitura do QR Code Lince com os seus sistemas automatizados em balcões de atendimento, quiosques ou recepções utilizando pistolas convencionais para leitura de códigos de barras bidimensionais, esta API REST foi feita para você.",
                "responses": {}
            }
        },
        "Integrando com pistolas de leitura": {
            "head": {
                "tags": [
                    "2 Integrando o Lince Verificador"
                ],
                "summary": "Integrando com pistolas de leitura",
                "description": "A API de verificação precisa dos dados extraídos de QR Codes Lince sem nenhuma modificação, isso significa que pistolas que lêem códigos de barra diretamente em campos de texto ou que interpretam os dados do QR Code como texto não são compatíveis. Isso acontece porque o QR Code Lince armazena as informações em formato binário e tentar ler esses dados como texto pode resultar na leitura de diversos caracteres inválidos.\n\nEntão para integrar a API de verificação com pistolas de leitura é necessário utilizar o driver fornecido pelo fabricante para se comunicar com a pistola e obter os dados binários, sem modificação, lidos do QR Code Lince. Também é necessário remover qualquer metadado presente no QR Code (a especificação do QR Code usa esses metadados para conter informações de tamanho do QR Code e nível de recuperação de dados corrompidos) obtendo assim apenas os dados binários relativos ao documento protegido pelo QR Code.\n\nDe posse desses dados basta então chamar a API de verificação informando esses dados como corpo da mensagem.",
                "responses": {}
            }
        },
        "/qrcode/verify": {
            "post": {
                "tags": [
                    "3 Referência da API"
                ],
                "summary": "Verificar dados do QR Code Lince",
                "description": "Verifica uma sequência de bytes que foi extraída de um QR Code Lince.",
                "operationId": "verifyQRCode",
                "consumes": [
                    "application/octet-stream"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [{
                    "in": "body",
                    "name": "qrCodeContent",
                    "description": "Dados lidos do QR Code Lince, expressos como uma sequência crua de bytes",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "byte"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Sucesso, retorna informações do documento",
                        "schema": {
                            "$ref": "#/definitions/Documento"
                        }
                    },
                    "422": {
                        "description": "Dados do QR Code não puderam ser processados, corpo de retorno contém o motivo",
                        "schema": {
                            "$ref": "#/definitions/Documento"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Documento": {
            "type": "object",
            "properties": {
                "template": {
                    "$ref": "#/definitions/Modelo"
                },
                "data": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "image": {
                    "$ref": "#/definitions/Imagem"
                },
                "created_at": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "Modelo": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "fields": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Campo"
                    }
                }
            }
        },
        "Imagem": {
            "type": "object",
            "properties": {
                "type": {
                    "type": "string"
                },
                "base64": {
                    "type": "string"
                }
            }
        },
        "Campo": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "label": {
                    "type": "string"
                },
                "hidden": {
                    "type": "boolean"
                }
            }
        }
    }
}