openapi: 3.0.1
info:
  title: Consulta Massiva CPF
  version: v1
  description: |- 
    O serviço &nbsp; *Consulta Massiva CPF* &nbsp; é disponibilizado através do &nbsp; *HTTP REST* &nbsp; oferencendo operação de consulta às informações cadastrais de Pessoas Físicas no Brasil.
    ### API Serpro - Plataforma de Habilitação  
    O contratante terá acesso a todas as informações relacionadas ao modelo de sustentação comercial e técnica dos serviços API por meio do portal de relacionamento com o cliente Minha Conta, onde as principais funcionalidades são detalhadas no tutorial Área do Cliente.
    
    Para informações de como se autenticar antes de consumir a API, por favor, consulte a documentação em [Autenticação](http://devserpro.github.io/apis/)    
    ### Códigos de Retorno não Bilhetados 
    | Código de retorno | Resumido | Explicação |
    | ------------- |:--------------------|:-----------------------------------------------------------------------------|
    | 400           | Requisição inválida | O Número de Inscrição do CPF informado não é válido. |
    | 500           | Erro no servidor    | Ocorreu algum erro interno.      |     
    ### Solicitando assinatura com Carimbo de Tempo
      Caso deseje que sua solicitação venha com uma assinatura de Carimbo de Tempo, basta incluir, no cabeçalho de sua requisição, a informação: &nbsp; *x-signature:1*. &nbsp; A assinatura será retornada no cabeçalho da resposta, com o nome: &nbsp; *stamp* .
    ### Verificando assinatura com Carimbo de Tempo
      Para verificar assinatura de carimbo de tempo, siga as instruções da documentação abaixo:     
    [Documentação - Verificação de Carimbo de Tempo](https://rawgit.com/devserpro/apis/master/_layouts/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://rawgit.com/devserpro/apis/master/_layouts/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)
servers:
  - url: 'https://apigateway.serpro.gov.br/consulta-cpf-trial/v1'
    description: Trial
  - url: 'https://apigateway.serpro.gov.br/consulta-cpf/api/v1'
    description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []   
externalDocs:
  description: "Detalhamento da Situação Cadastral do CPF"
  url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/Informacoes-CPF.pdf
paths:
  '/cpf/{ni}':
    get:
      summary: Consulta o CPF pelo Número de Inscrição
      description: |-
        Retorna os dados do Cadastro de Pessoa Física (CPF)       
      parameters:
        - name: ni
          in: path
          description: Número de Inscrição do CPF
          required: true
          schema:
            type: number
        - name: x-signature
          in: header
          required: false
          description: 'Solicitação de assinatura de carimbo de tempo. Informe 1 para assinar, ou deixe em branco para não assinar.'
          schema:
            type: integer
      responses:
        '200':
          description: Retorna os dados da Pessoa Física.
          headers:
            stamp:
              description: Carimbo de Tempo. Só aparecerá se o cabeçalho x-signature for igual a 1
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CPF'
              example:
                ni: "40442820135"
                nome: "Nome do CPF 404.428.201-35"
                situacao:
                  codigo: "0"
                  descricao: "Regular"
        '206':
          description: Partial content, as informações foram retornadas, mas não completamente. Algum campo não pôde ser retornado.
          headers:
            stamp:
              description: Carimbo de Tempo. Só aparecerá se o cabeçalho x-signature for igual a 1
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CPF'
        '400':
          description: O número de CPF informado não é válido.
        '404':
          description: Não existe CPF com o número de inscrição informado.
        '500':
          description: Erro interno do servidor.
      operationId: https://apigateway.serpro.gov.br/consulta-cpf-trial/v1/cpf/40442820135
      externalDocs:
        description: "CPFs para degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/CPF-Degustacao.pdf
  /status:
    get:
      tags:
        - Status
      summary: Verifica status da API
      responses:
        '200':
          description: Serviço disponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00"
        '500':
          description: Serviço indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00"          
components:
  schemas:
    CPF:
      type: object
      properties:
        ni:
          type: string
          pattern: '^\d{11}$'
        nome:
          type: string
        situacao:
          type: object
          properties:
            codigo:
              type: string
              enum:
                - '0'
                - '2'
                - '3'
                - '4'
                - '5'
                - '8'
                - '9'
            descricao:
              type: string
              enum:
                - Regular
                - Suspensa
                - Titular Falecido
                - Pendente de Regularização
                - Cancelada por Multiplicidade
                - Nula
                - Cancelada de Ofício
    Status:
      type: object
      properties:
        lastUpdateAt:
          type: string
          format: date-time
  securitySchemes:
    APIKEY:
      type: apiKey
      name: x-jwt-assertion
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://apigateway.serpro.gov.br/token'
    Authorization:
      type: http
      description: Autenticação para ambiente trial
      scheme: bearer
