openapi: 3.0.1
info:
  title: Datavalid
  version: "4.0"
servers:
- url: https://apigateway.serpro.gov.br/datavalid-trial
  description: trial
- url: https://apigateway.serpro.gov.br/datavalid
  description: produção
- url: https://apigateway.serpro.gov.br/datavalid/biometria
  description: produção-biometria
- url: https://apigateway.serpro.gov.br/datavalid/basico
  description: produção-basico
security:
- OAuth2: []
  Authorization: []
paths:
  /vbeta1/validate/pf-digitais:
    post:
      tags:
      - Individual
      - Biometria
      summary: Validação das informações básicas de uma pessoa física e a biometria
        das impressões digitais correspondentes
      description: |-
        Permite a validação entre as fotos das impressões digitais de uma pessoa física (objeto <code>key</code>) e as fotos das impressões digitais dessa pessoa armazenada nas bases de dados do governo. Esse recurso denominado pode ser utilizado para validar remotamente a identidade de uma pessoa.

        Para realizar a Biometria Digital, utiliza-se o atributo <code>digitais</code> dentro do objeto <code>answer</code> uma String com uma ou mais fotos das impressões digitais codificadas com <a href='https://pt.wikipedia.org/wiki/Base64' target='_blank'>Base64</a>.

        As imagens das digitais enviadas devem corresponder aos dedos das de acordo com o seguinte índice:

        <table><thead><tr><th><b>Posição</b></th><th><b>Dedo correspondente</b></th></tr></thead><tbody><tr><td>0</td><td>polegar da mão direita</td></tr><tr><td>1</td><td>indicador da mão direita</td></tr><tr><td>2</td><td>dedo médio da mão direita</td></tr><tr><td>3</td><td>dedo anelar da mão direita</td></tr><tr><td>4</td><td>dedo mínimo da mão direita</td></tr><tr><td>5</td><td>polegar da mão esquerda</td></tr><tr><td>6</td><td>indicador da mão esquerda</td></tr><tr><td>7</td><td>dedo médio da mão esquerda</td></tr><tr><td>8</td><td>dedo anelar da mão esquerda</td></tr><tr><td>9</td><td>dedo mínimo da mão esquerda</td></tr></tbody></table>

        A biometria não é um recurso determinístico (não indica se a impressão digital da pessoa é ou não dela mesma), então cabe ao usuário utilizador do serviço utilizar os valores retornados na resposta para decidir sobre a autenticidade da impressão digital enviada pela pessoa. De qualquer forma é importante citar que em testes realizados, em aproximadamente 99% das validações que retornaram alta ou altíssima probabilidade, o par de impressões digitais comparados eram da mesma pessoa.

        Para os dados do tipo texto, também são retornados o percentual de similaridade entre o dado enviado e o dado oficial disponível nas bases do governo.
      operationId: pfDigitais
      parameters:
      - name: x-request-trace-id
        in: header
        description: Este atributo pode ser usado para que o cliente possa rastrear
          suas requisições, incluindo neste um número de identificação (UUID) para
          a operação. Ao utilizar este parâmetro, o cabeçalho da resposta vem com
          o campo x-request-trace-id com o mesmo número enviado na requisição.
        schema:
          type: string
      - name: x-signature
        in: header
        description: Este atributo pode ser usado caso deseje que a solicitação venha
          com uma assinatura de carimbo de tempo, informe <code>1</code> para assinar.
          A assinatura será retornada no cabeçalho da resposta, com o nome <code>stamp</code>
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PFBiometriaValidateInput'
            example:
              key:
                cpf: "32580422846"
              answer:
                nome: João
                sexo: M
                data_nascimento: 2000-10-10
                situacao_cpf: regular
                filiacao:
                  nome_mae: Mãe do João
                  nome_pai: Pai do João
                nacionalidade: 1
                documento:
                  tipo: 1
                  numero: "000001"
                  orgao_expedidor: SSP
                  uf_expedidor: MG
                cnh:
                  numero_registro: "0000001"
                  categoria: AB
                  registro_nacional_estrangeiro: "123456"
                  data_primeira_habilitacao: 2000-10-10
                  data_validade: 2000-10-10
                endereco:
                  logradouro: Nome do Logradouro
                  numero: "0007"
                  complemento: APTO 2015
                  bairro: Nome do Bairro
                  cep: "0000001"
                  municipio: Nome do municipio
                  uf: DF
                digitais:
                - posicao: 0
                  formato: WSQ
                  imagem: /6D/qAB7TklTVF9DT00gOQpQSVhfV0lEVEggMzIwClBJWF9IRUlHSFQgNDgwClBJWF9ERVBUSCA4ClBQSSA1MDAKTE9TU1kgMQpDT0xPUlNQQUNFIEdSQVkKQ09NUFJFU1NJT04gV1NRCldTUV9CSVRSQVRFIDIuMjUwMDAwCv+kADoJBwAJMtMmNwAK4PMbDAEKQe/xzAELjidlRgAL4XmkbwAJLv9V8AEK+TPRbAEL8ocfwQAKJnfaGv+lAYUCACwDOJUDQ+YDOJUDQ+YDOJUDQ+YDOJUDQ+YDO+wDR+cDOUgDRL0DNFIDPskDPW0DSbYDP9QDTJgDNfMDQL0DOFoDQ58DOMYDRCEDM/ADPlMDNAYDPm0DNJ8DPyUDNNADP2ADORQDRH4DOgEDRZoDO7oDR6wDQzoDUKwDTfYDXY4DPcsDSicDR5MDVeQDSWkDWBcDVPQDZfEDSmEDWUEDTtkDXp4DQ6YDUS4DRyYDVWEDP00DS/YDQcsDTvQDRHcDUigDTCcDW2EDRPoDUsYDR1QDVZgDOacDRS4DPNcDSQIDQdkDTwUDP7kDTHgDQoUDT9MDQF4DTT4DQicDT2IDQmQDT6sDQZkDTrgDPM0DSPYDQ5QDURgDQtoDUDkDQ1cDUM8DQWYDTnsDR0wDVY8DRqgDVMkDSsEDWbQDRNEDUpQDaGUDfUcDQc8DTvgDZy4De9EDPTgDSXcDP6cDTGIDVG4DZVEDWocDbKIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/ogARAP8B4AFAAkAGBCWBAiep/6YAtgAAAAAFCQoOEREUHREZAAAAAbKztbaur7Cxt7i5ursCqaqrrK28vb6/A2Vmo6SlpqeowMHCxMUEBZydnp+goaLDxsfIycrLzgYHCAmPkpaYmZqbzM3P0NHSDomKjY6QkZOUlZfT1NXW19nc3+AKDA0PI36AgYKFhoiLjNja293e4eLj5Obp6uzu8wsQERITIXl9f4OH5eft7/D7HiQzNjdrbG1ucHFyc3d4eoTo6/Hy9PX2/v+jAAMAw5+HOw5mHFw5WHLw4+HKw5+HPw52HNw5GHUwzWGNw2+HOw5mHPw5mHJw1fp0Ykvewr+HPw5mHAw5Hs4mDE14m3FF4lLCwYc/DkYXnEv4oXFYYp7FNYk+OHBw7HViecVJin8VRimMTl7uGcw6m9ihMWTiwMVrigMT3+HDAYbTEp4ozFdYsvFdYqfFAf8ADC4YX/E3YprFc4rTFT4qfE+f8cK7hdMTBioMVXiysVdiqMU1iUsLLhUsUfik8VrisMWJiyMUr/twwv8AliV8TRibMVzigMVPibMuGxwwGJM/oxQGKlxOWKExN3/nDlYb7kxLeJqxSmJfxKW/hucOPhysMj8zs38P34bHDk4c0CmExPAZ2hY5hgR5PkV+Lh5lBR8dS5aX5PRVD7kPKE6M15fn/AEmsi3ed+eB5q2bEy/LfPnFdnUeT6Pg03xq8FV2T/15NtGSzNRHL/d7N42cHNXqydfu7d/x0Iy7Pn71bWWuPj9FFudW1lXRbUFnGD/fVk7VTSrZgNn0/wC/7M+2swcOjPl4uLa1sRpvU86jG6ynPU1KWMlljx9cNdy2xesUquA00z7K/NtbCPKObHsr0HYLlVT8ICPyyaDseXRCcUt69Ui4hqFrC33xkWOBRrokPKPOZhz4VnCxYV7zYVAd0hATwPfZU7VOgHf5PNdV8d+g2M1pppvO0GZr4VY3OrBchbavx3hFtvK99e89TK7aF2KK5y42AeV/Nc04yATipd7+ZzEex9BlCga9h3uWegadVuXhrUdyp0cXBBwN1rr6tXQ4v8xn6xBBzkRP4mvrz8GnygoW9xcRfmLj5c4RQu0Oyt05HtkbkbWW4SeOqy+1lSzXORbBwN1Nzm2UjuGqV9QtmI8d0oxW+SjhMcLSAZMizLBwXEJAtwPaDNpK9A1wB1Dni0DAgbbUBRXPDKAwFFOpiLHwss0L41mwUsG9zbmnvgNJjw26NgPakppNeyyR57aqa9pAxaxrsZpTSlPOpVrbVuqBlzLmORSOdXIQYu8pY2N1LhmNi6s5HypBDO553rKy7UDU2RK4grUtBkyunVfPp1idyHqEwNmlj6zN85sU1GFGDbGQHfltouOomQuq0VT3KqIKs9V9kWoUknPXCQahmkTY3aLteaALi9k8iCGaDb+LXBhKOh1dVrZuXOKPQm6573aREkKZ2+KgXeS+NnCK6YjgJ+OrlgVT+sM7m9okPwG4tIDTtrtHtnUD62wteQF/OS1Ka36rRsjd8AWAXdZsdRZ1r1avvXM7bXu4Co128v5c8CLdHTX+PQzgLk4rYyqq3R2zuhdS9J98uLryPwEHGLufJ0rvRKK+d7ymI8/lqvZCzTPzwdxBWgEmW0+Nj61os4NtbGYn5hg5pyWzMl1XPVbOYj5LcboEzrZDMy1TzmGCOMaCCyUIwZWDXA3qXYIMpYJ5s50I8GgdDVLO2yhvPszDneFhAZrGC8+Za8pY8nUOeLDASiy8bnc9TvN6qtOOkTsNgacwoNkDa3SuEQS8lLOnYhpcdWPbBzGmSgZfmfGF2cRaqM7iDf8ALLW87I77tV0ZaVkpCrBNQqrc6B2vNwtW8LeLQpdCV3WNcLNKmAYOaEWFU+FMMdxaGQiUz89N9pxspcKroUEMwuzujRHU1Nha9A1jgRTvStM+nVl1Q05FV9qfzvaPj4H/AA6LlNHtHYa4z/h0ZKMu1p7pCwLL9b/N2WLZ9g0L6whsui6xEPuHVtz5d7yFf69lR9o6W/8Ay2jWx1kD4wPdb83+X7fxVcuqynzq2+Id0v3/AKvj+ng5wdeWnk4tW41P0/lbzjm1tk+/4PKbcDYfo+nH68G3tNIWwnsmKyf8f+BeHfrYLRe/LrwFpPX8o6OCkKDczRzjyPAbP2fj5Yan0BolKNe3JahDzfw9UHaTnp5s8lJnzRMG/q+njptavjY7HeU6dHnkNn7dOjRm8R1eCmixg8/T6pCS2PYRhpqMr4fhv8/osEtKlSyz5tJOUrJ9rw9OyRbPVr8Vet+ZeQek9O/5NXNaWznj73EVQnEOWDPId73k1oZ4AQW0yp0T0p51kHtcOWdaRJ9ldKg5uj4uWbN9EWlVWcM8eiDeX0X7Zrv/AN1eO1gSbVtx+P7vJ2eeBBD/AMbPHnM0aCuT1+/xee1sz/jZ4bB1OZyUeP19/wA3PuNq3vt8mwzsk7g9rlKssCT+D256lcvnr2AujP2j8Wrm0ZHyz8cbM4n2l03hooKF9D6D7ZkbZOqpEyT/AEGT3CZfVJqQlxtSpO6JdRpe4WGh9yKMpWjGNZSB7psUxNkFTvR8ErbujeNrREng0RCO422DViYtKJg862zFaxshKAnU1rRGT8DK6YwpIDiYnaY7hhcxcYKekEY4WsKbfpJaWLK15HESjS02wVJtd7VPETc1oOIGLvHQt+cXBlghuLBZa1YPqakLGCswIiCrPB8pFWHXXQFr3PwG9DsYsrZkUts44GRa0pCuI0xJZxN5gonhBRT2T+k52NYAtM2KAQGny0dKtoUgNUzR0WTuYyoaT0RcgQwI/RG+dF567NLgjIZoLXFY2jXCL1MgCNmIyuakG2BoNhvMjmsS1qnVQe4CByCe7SuMSW4zrNiu0glW9hWJO4HD2ik8WnTeLBYPcFizUsWLA/8ASguID+qRPNS2kfdJIkJyJEB3cMTXWSOWhknaLTPGdqxW4nE5C3CjAoVuQYGSG08BRcj6YDXEiNYGhATs8lGDTaRmZI0DmF69dNiOM0wOBMBDZEDY4RJJhIkmrre2tzHAwkaJtIwG4HVa5mk1EAQIUBt7Bz3rA3qRCRgGISAdJVyauhwILluKZbzcx67EuMkeyKnEBZjurBlwFBhvBrGzCQvfsUhUKdS4XKYINpijAUx5G1IMkbXkbSk5Y08dnLqAntBrQkAvpBtrti63tqRrjmZBH25k9VVmut7XE4gNkQcil55QEEATkQOcF3BYyl05oDmk4poVkLtCVLixGuF49pFvmEQaYEe6bvKiKQWvUMxbpExQWKipqwgXccxToNF4n/nL65t2WLcKF9QcjzYU7mEnbNWS/arK4DsbeXaS5Oz4jNCILRJNw302yU1jiYkDrHcP3TX5NEQa1goDgOY2Tzzrx0oTKxKGkmzDq+b4vDnf1weIMVBxYB2fKle3m1JCxgE05MwIfkhehNa9p2nVormTNV71VtDdAScYDXv6Jraff3ovkaLhcxc+aidpw20si31QYLDaxsQaw3+UOrR5OgscQ0Ff081y1ndr4vk1UwlrQnLC/n1tUfn0d78icN6qWhacubzW41J8jP6trm0tgPJ+IU8vO7wgfOv3ysgVeyRSKHy9VfG8ODv+fe5VXMUuTQ9OpVM5h4PYy+rySuBY3t4uPj5MlBhV2fa+bKaLX5cm8Kp9/wAImGi33PF2UWrv505+a6idSTF8H3MfPHGU8urpLPRamBvFxps0kGfJRUyp8N2JZwk+MVzsmPdOvRSrTW4agOB9zRkY/PnhyCUk7hnAXhIIF/qhRrE0+qxDa+KBET7ZQfC2LRdJbXdx1iqUnk2C3oO6mnTRrdYCoo5gDuHTqoucYE1wzGTZjJ+Rqm6ScRmIEBkAvfwwFj1wYROa2BTDBRvXU1HLMCRoIUxm+TTeTwJJAwQIHKtVKux0msEHClZiEsgcvID3srOt4NeZOB2uWrf9NVjKYqgFQrKJPi6u9+PK5y5A1xg2JW8XXxdlfD3uXTFQObEStLmyXUjxZufn+G1dq1QrjEuze1XZ/D0xiOatGMGuys+jj07O/wCavQEXwZpYVfLQdM/Z7d3q6LXH1MptSAEwOJNf3v0/18MM3n+/8cr7BCwTEvB5vYjVp5fi712hwOIpp1L0+z/9+crv+/j6ii9pMMCukHB+OrxS6DSI6QHAKBCroIye5yyKJ7haG2VmpwxJJUluGwdG1bokXKByLtGVq1nKsWrcR904ixwVfyGafxkxc6fWIrq6u/8Ag4hTujpfJnV+79H8N4ln26Neoejv9/Ely6OOxu6adEC4+H4Z9Xr/AJO/2cT9wbcrm/g/LyfR+n9f9Hlz1EUx1dAY3MToy+HZsD2PVnQCdj1x4Dt0AOnf2wka0IUpNpvBttYlkr8u/wBSjEOOQnHQi8vN43a/f68kASqwlFbXXDlHsz2Oy+KJGs8+pRQshCnxy5Lp4NBGtjRfKPG6G0pOZEwJVlC6YHVC03s3gbpqcUH6dKzg6E9rfn6hvWZFYkGg60Xg5ODjE7XPJw1xKJzppSVPDCmwHBe5Io9Gm4BdqAUeQReLTrkVFiyKIoCTcldBi9R0yAQcVIDEORU5BXPYoJHM5aYM+3OeQIsasCbEXPGbR2VPIGzsrcpd7p9ijBmucjv2Xrc8BdvaqzmN9l3Jqns7KOpXn4PkyS3H7LPAKvs4/T9q2e2vaO7odXb8vw+H3K5clhj2kYBeTN9O/wCHa6k+4YNSNAJU531y/lSECIvqGbehaq9sYn3DrvZ5KVVN2pOnbLvp/fr97bTR9Ht7NHaQc2n4n3GgcHZ4+HSWA6FdfD2afX2nqZR9z+9w4D97L8Xu/b/T1UJVZT2O9l0xWcXua/7vd9l7p1s06vufNpIB2f8AvUqv0ejKVR6qN78tPAgDD6Oiv4fh6C0JDL06rPZ+R5H4mOkDNNuN0/Pvej4OlyjPg3ve/sqVn8lXMpt/fL8fqkLlcGTzPVLmRaNp9X7ey4QqR+za7zy352VaebyTqJZx1AcqReYcNdXscDaZ2ns6kPmkMNEMfRmfQWM2HAKQsa+sd9nT6eFoNjNzw8WZ4E1AYHRPTmXc4peCcNLlBa97QbXlLW4t73ksYx5ILVCTgheQeHI/SLhc80lLXs6fS4g4LHVWBG0BfLNl7Pp63TcXDv8AuOoRk/h73e+Dk/YreObP9z7PgKvhziGTgp/dV7O4nY6C+bo6Orn/AFN+bRj7N1/L+W378crcmVr/AAdat0vgx/D89IVDy3G4e3GvG/jfdZWDYd17iRpogGXrGafxkRNP65y1S4JwPuk4PFL/AA1WbKVj2yBig8ntKD2ncsu26yXL730+LL878/NS491x35un2P3UfBl2ckAHdetTna+9+f8ANycuuivdhzT7RyGmb3838P6baazmOm5nI+sh9z8/67tAbBTA6Irrrvv4unw/9P15VjMJYyY+5yTw/wBnj/V9uBxYYG2LhV1VL835v7f+WxwNsIBdGu4K3FrT/n5eLnaiAzUujShXsscHPzCpwtCFFpgTRdJGHm5LgrQK2jOw1sjXdLLv7QWwwtouhBbhXJb4+mt7SIwY9K0C6BMTLkrgTGgtrgFILASjehEi5l1OJqVks3IoDlBCCuwEJyZ3Ajw0sATMGIZgpYMeQrelglNa7ScXXNQkCkGlWvBSxfRKOpIQoepLBwFqufnj5PaNt1PRVy805zOx1cHLVV7ffhUpU4+08pidrjWv/FP8XD+b/X+9dhbteoPwy/J7f+6/+z0fCXbMgXnp6MtMHD9ci/kNE+seBVFFqH9QXF/1pSHlPKw+2ToJ6OG+IK4dbe0bxYn3fL7m2A2d/oduivK/R0e38wNL3euqvdbTzdHHxfCGyur5MqnbidFvJva9PF9vqZGqGjVApnZK9l6m+Ou7Ny+z+7T3kwEAnpl4vB+quzLr9xvZCYnXiGRur9nxcitvJZbjzmBASem5tGjjtGnnx+jymwzB74aHko/xM+D6PP41NmpqzMKmetUvl8UPteGlHGF/NCmvO6yXH+Dvefo1o9xBOxb8pWPEtt+yWgbWza4hosJgV1AymElkjpiiV0oGWkJPvXM0wqwGFbTabILeETwPobBAraLEM4IwTBcIOgqp6Ej6RfJDmrGDCIQpEiJznqwQRQGBMFlNOiGvOs5jzNKA1Vw1dlz2b3ocUw9PXKkNMt7vcfgfn8vf3H+T3q/n833erp6W/op+Xv7CwFL5/c/D7yz1ZD8T817e1m29nM9L9gOtV3EJRrg9zJj/AJ3mz1jOqNz5LFvdOvgtFgHolJO2lPvZOi9zXJZFybpnwcfgxi8wPOss7d3NP4Paz9Irha6FbIYDZm48mmnLrNzWMpkvAV/V4cktfKuFrmK1V0DMXXy+59/q/P8AK1Yk5vCGx+Cf3P6efzZ+FUGEK2upqEw932PFX49BxkQCyyVaIBe/3snxyyZ9gvMTyZznYYfAP9qZPm21tSK6iu6ucCx6Vejw/GG9Pz2my+/z+nahdGSdpOZRpzsWHh70enYZc33eeL0tqn26bmY/FPy63Ez2fR08SzfrRKxLRPqhNb7OrmmuBgSKvLU/mIQPL8ewBKCI04Vlp2sEH3c9LiZqZBSJCWnUhAxkms1qCOPW0VFY0Zqvf4OvPYymLPRknzM1xbNm/wC2f8i6HQHR8auHjt895TaJ+X9efX4ufw/e/q7/ABqup3Ifk/P5m719vZ030UXFVuHx5sfTebZQeg6HnuEbuRjq2AkVE4u0ZyYZWZ0QxHuGBbjmH9g2oBl60DcpkQLukwSeLVXmnbNsFNeoQRBsLtGcGZ3gYvqsVMW42YX1g6YSWjTmMnLfwjbU8Qc7AMwune1Y0yQiB1ovGYZJe5J3uMnOaxrWTGNaXUWNQiIWsYYIBslBWlCvSDCaTBcMw06q8r6VrsF5NvEXkD0un82a+h6zajlqNCz8890nqftysgDSAokG3j+X+v5bw4BtnsMSdACDU91B9bNHvc3Oo4g7QjAYTydVmaRdbnUmDiMH8xr28GNpkY5muFAcBXM5aGNW44sdbLPFk1xq6N+R6H6XkLOo4CYRb05rliRgvro5Ma4PIEqjj08AMhyT+k5OFcCChvNTPAIfJxktTQetxBWBOz5vVJ9FoosmNwJWAo6gwu0NaQIOAxQ9AOa1RRbMe4QLtMCuYLxgw+4Z1uU1boCfdHARo4vrl/MYF6xmKykhEXdMa73Y52WFLujJdNZ2mldLT7bmvCTMwgl1dBbrH49QLFIxkTUiW4bLm3BoSEE17FMwFJ8Fo3Ui6nIYtiW5oW64s9DK2guiGdZgT6ZbZxn3gE2jCtIFM67Nwy2N0bCUi265UoAxdt6OFvZ2OBDvSwuUgMdlOjSOehRXhW4CZMV/kuvHkfz83lC6ueLRmdwbVOvk3ed1rrTVBpmFFiiyEJwp0VNQGkZBe46bVQJ1yCzPBptEGMbZS8VPYKHUxkDIG2oAqiBOjWlwGhzDVEwJ5mD3rMVpgiBGt4o6ZyjA3YCi0GNgbdxKIkUzmANlgoKo6VunfuL0sBUVQXVHHFwU7iULTPQHLXZ5dlxWO3DgXZ59NbdL6NCaWN3YjoVOJOdII1AfajRla0Q0tmd3UGZGAgF9gj/lk0BT+IiIpOsKZO4URse1ynsEi7bzDke0LVmjQLdIj0VWUXAp7QKtNw7LdqNuGAC4UWUxJS4F2tW+IMi1BcQGEmdQajklKPXAigQE7OqfTyNEZmIDhB0xy2ctBA6KIaMdlsWZWatS0thjjURQRrlRIw2W1uaPOBNa2ymkyAqNuMGS2MloPTnTjsvmdtza80aRyax0vUIOsmrUZPzuG6mS3hzapOQLXk2mK11jUxbikEHA14Pa0zcUGiUpzZMaVNc8DgZhWEJzZMxjxkihYjUmpsvKZ1DDaKApzhYoUqOaG2LKAWDWxJ3OGMUmti4RsNBUTbH888MCrk49dAw5NS6gsps3HMZJXNWL5xv6RYB7jX6dQLi2w4ojQLATmEy4Bg1cCLu1V0vrR1ijYf1GoRCRl2//pgCjAQACAQIDBAQECwkPFwscDA+ztQGytgKxtwMEsLgFrq+5BgetuggJCgsMDausu7y9Dg8QERITqr6/FBUWFxgZGhsdp6ipwMHCHB4fICEiIyQlJicoKSs3aqSlpsPExccqLC0uLzAyNKPGyTEzNTY4OTo7PD0+P0FCRUZKTJ6foKGiyMrLzM5AR05TmZqbnc3Q0dJDSEtpjY+TlpeYnNPV2OX/owADAf8AOP06rngv13QecrLZ6Ht1zKKacnj37+4OMzXBmPSy891727X4debffaQXscdL1HQcpgt2czTmoIGANipydZnFylQheeNXrvTU1ZVQl9Vs7kbIgbZsNVLmcnGo4ZrOermVxyaGeTTOddb98z512SU83GasKfLnv5Bc1qWQdd9XzfHfg1HsjPOOs6/POPu/wuc8I45zZfy/V/5T3V9plt0TRb39/wDZ+v8A7p8u3u1LM7E8/LXw/wD7Hr8tDHWKms6P9n7PtrVa1eqrD37zg/P3455i8TW14rWaoHCPTrU993Uyy30PWE1Zzg8aJwQO0av06c9E/wB1PqbwvrZw2ZuZ9AvCWWQ16PPjzEhd3HoM1WXcB6Xp2uoo34rQ20RWOzlmhcMIeCReaiKahsDi25cSnW93ezK6EDGcEI3CXQOzzi7Kbgw5NrpWZjhtmkxdY7NYdJDSO1NYr4Xk0Nm3LWoTt2yYpN9Rmq6119/HVhGtuKt8/d+f7czyZTe6Y4evI8lLDGqK1K/SHOZUNzate/MyKwNryZmasMVoN3LdmZynDK8GueLu5xd+mm9i6pT0DcX/AIbrQ17Ca5eOeIeg+HHHnKRi+L5zrzhqVg6PN5C5dkprc+L2i1zK04XY7374c8adnN3tz56nfy5lbN9Dk558+cuqplsdgnGazqAjgMXOdZznmmzJNVi5rmNGpxLopDHP2fqz8rvmoRNVtzL9/wAP7yfHXv1xObra8/H39+5/2f1TXUowOHz+z4d/z/o/R8f72rqzbuecv/s47/bf/n1ur1lzPjzP7ev+r9H2Z/TOrM9+IxvP3f8AZ/rz9nnx1+1593PGmV1/v/T93X+7v7vl+n+v5ajwY8zPbv8A/wAf9r/d/r5/7s/GUdmaF/1WfZ/q/unWF3pwVK/r+P8As+z3nm2W3tXNXl0SmZZrd65Zcs/R5TPfweMznnVmB5PBPjzmpXe3j1Ahh/oNcfQeeeWm/VSawkbPR2puEutEPDTpJdSiI71rPXKJDFjvWczJoNrOhpria10Hoa7neOLcEXc0bGbcaBMHaUQKIXKzTi+1ahcCGCBtmmpzqBo0ZDF97O05JlzL75dnPw0nGGBp5rZ97ye+81fYLnxrbnrPPgcuuOJcSmarPynPf31ri2M7OEvg+GTvf6/Lv5ShxVPvxkOefLNNRwTr+vPYy35dlsL2z7/t8ppnOeebo6NWd6MW3UTameczczSEeiaqFjeS/F4smim6014uWObDD66lH/G/Oxz2ml9Tqs8bXfpOfjWdgHxPLroWOLt8MlqRYYHonLkMOL8CyiFQhsuzKSt2EemeCqjWCWGDFZqBkobCGzTqoMrdjsNyiFM4ElbVfdhKw7Zy7GdQNWHbh7vjUvNrmsMIEtZq268pcY7kUO9cPl27Sg2Emue/y/Zf9dl4XFEW57nV5ohHfjLn3T5Sm7JbtaN54rFR8LzGq1Cqije+k1zlXFt3423Au5R6CWS+eUH0VCsXrWR9Juv/AFjhw+u4ZwsfQPGLpih43LqMIbHQ5rZ2cB4BDZ2PF41EWOHxbVwPqBGZcDgR6HztWISrw+JCXuwTDsSpUI4IR3CMto3MK4ZYTt3twkvZIQgnOBibMauU62NnZhCcgTXFYMVCcEPu4t54CPQTN8IqptmUUn3S0qVHbTecKjGPjTRsxlr0bpog0Q9BcUxftCBtZ7U2f91u8HsblVir9XJ2t2H0nNwN9Q8c3zeHVgh0zz5tNYKKejw3RlgEt6Drnio4DY6PfQ2xcEN2XpuGFiBtYTiNGCEo2KMKw2oOhcDlmdrYsyy5xk0S6q7vTjmr51y8s1C29O3WsnyJoAq7vDrNEb58tfDKW0Q4qLXlLdNt3s5qnnB9z73TAwQ7/d8Svh8pxrrUDZzLryrmkmYlb8dr7e6uaWyO9Ges563RbnLfTtxmc7lFB0qs0lX5wt9FdEVfTnBUrB8wEP8AfFfYZw3H13M2bMr0BOAljE8XtkqBuPQZWiPgdDQLGJBhu3TfiYNxqx2Oh0uNWPQ6LRGF9K6MLjcMWD4ZIMFowsIXhBuWrDwtZWiVpR6U6rzvi9VCHMcNFnOY8uTFhi4Qmf0zrnN0pHcxnBn4Fsre5rOeJ3mX3qa21DXGu2fgtU7XhTUry8mEQN6JUqdcGBj0OjGAeBtnZ5JSeKRwawvpTcl+wg/yD9DcuqH1593NRhR6COaYy8x8DvmmcmLlyujRPh2O8u7rk6XV1czdQ0V0eJUzpyiaxe16nwv4ca8aN+K4zLzUGuMBDU+FX1mbu7pqG3My/KcVNA5bah8fLvmnF5mpbUZn3z8/nrZrWpZxLnn2+PD+u6/P512Y1Zcz5ny9x59+Pdoq83DmZYeeu2Zny70axWOO/WXyE5nu+3rKGp1eO/WrSWPPF6SGOffM56fq57S8chzc86v9Xv7+Xy+CbXPtnOdcT9n2fLt5F78UY/Tx9l/2z4Xd1oxXlVfL+pz9t54e5ybVrvTK1xklEOmp8eNQo1mr9BrvBKwnqMrCD6iP8yfWwh7K7pLleqvekrWGnxCZKuicRp6M7ZUvRLj0Gi6qyGz0vnyx3FHFw311y8sFiYvfMr7jKdOMGKznmqUwyrmdjjOuc3nnBisZYZvlK0MZeLCZPPPleT4LFvCTv9nJ8uMyoQrPmpM+/vM2NXzisaama12L1hnuaosxmd9XfPfg+4st1nGbu7MytPPl250m3evfVvemZ470WY0fd8v1981268du/idc9u3ftXGi75bzscXzd6zo89iVtV/Bz24a4yQuO1aTtGBmN+BxeyXDZ8RvMSoPpJqXEPqX/fsh7TrzNTWqPSytUyqfTz5y+tGc0FnQ+Hf7tXhnZL8OL/u9+ut7mZnw4+Vd/lWS6aJe19flo+Nkc7UbHPl+vg/P7+K1VzSWb817/umposLpYc66vOfN1SVp1Tt7/j8f09u0biXfAQL+Fd/9U874zmq7e7jD5nx47Z/X5fHXaPW/hnHM+Bz9uPN1WPs4tJ28/s+znrbnznnj+z9Os4+xnx+zXfz4yfL9U+zyvtjnjr+zjM44pnZ/7/l3plZ88l3dsdZ+Xx7Uzy96Qqpq88Vn844ulNSnJr4/H7cm3neXOnWX4P8A2/14rfPX5fDz667fp8vf+lcuzqfL7Ofhn4X58fE4enHPGpWs3klFdLy0Ws4Lr09rq+XWnk9dbo/7tX9Aah3q/XfC8mdeos06K5y1KenErtVi8kL6OSmEumxl+OZdkJTGG2vfxr4cdowYU7HPHf3Ld8Cca1K317qWZVqrjsV3J9nf4XZcdU3u8X93arDHbFbEb+HDZYaIcGGue1fLz4vnvi+uuNr8/P8Awvzj59e8ynCY65/2cN6merqU0be/P6vzzPGfJ18epCnB2v8ARfnwcr1NUGsOf0fD4deTPaame/BeHy65JUyXzC4G3cKjrP6f6+AqOxfu5rLr7ff7ut1ybueaj2zfv70NQ6ZMeUynLR4It6znXEtz0IxZXfRqn0apeabuHrYxh/E/Vqpeoet4MOH0lnaEtZn0U4sSHBR4d9dhgMGPQWkpswPhcIoYPTrXac6I0rL6VxOXOTCoBjy7EqFw2zq3esxgsBhHbh7/AA5tlVeLdWyjOes1lI7Xd4dUvwz2OBKrNRjx1qPPnWuTFPNsKjx+rzme1+dTPZjDtXPw7fnedd8NVeth6/YuueZQxhijv8v/ABnxnd/v4vNR2rM78eV815d/Liyuhx19/epeoS3nThOxz9hf2HBmqL6VYzLWchUNqqa885eb5JZ4ZnfWglVT6AzGNJmvSSxla1H5lh/GfTZYw9mYhCHqqJvdnoKI7GF8DHMss2PFeRMKHoqjCmCD0aNVhMDDoSytmEdnBEjhweh3bEjiyOxjOYgEIQhsMJbhlwY5S9U6ysDoxLtrOmESOAC+fLz73ecZuBDDxw9et/FahBhjqTiuGqJrDjLE+zyaOuZ2uDgqrrz5ol+9oAxbeAz8s1fc8CVYc9tWyox2dm5d1A2dhHCEcD4saIRxfoSBhBPSyzCJ9L/vNRfmqEq5fqdVDBKPQ8WVMmM14j3lZiTVA9Nd5bzhhgrdzZWpWzWzuQ58zcbemTjjy7cFxh7xdi6rFKRPEu8Zq0wTT4Z7ddSltWZNs9fdxL51qxsuOF+V19nE499QjmVjOa65M+67gVVWkevV+HP2NcUEO8MX9me+vLvydffxLIGO0PsrlnbV12O7K2PP+2VQeQ831visc+f2e945Xt7vhPLy787F/H9XyIB+vz+zJmOL1d9aNfLr5/LmZt2rjHPDxTmNy3ZLvL5xWWnQStVTC3Z6VR2MW7V6EpSMYepwDf8AvJZ9CXbb7O7uB6GWGNYPS4cASj0cHkw3EDerq2rqAyyt3Vva7N6V2Lxm6wmxh2Luy8OzrwpgAOKUhhcsFcVKQ3pnF4W7PBJ5R5b4sWuAwYqdfhX6dUF2U3iuaJrt2+79Fxj2vDd58+Z3s95elDBydj+uaeJ3sL34KvPwqVSS+eLMUjTyxOe1OHDjznbia57duJnFY8zGdfC/L7e1edWm1YX4/Zfu+W9JsthebaqCLujxHGeMah4XbhRq08XMJdYMvrdz6l+kK+dPu+P+HXt7HP8AV/h8df8Aw/8AAD03zc/w/wDr/wDY1/q+J4Xz+f4a/Z/4fZ/X3/R92b8brXnf7P6/2fHz954E6nb3Zf8A0+Pv/P8AdyVvXnnipf8AX/8A4/8A6fr/AGduyYe3PMPOtf2/F/8AT/UfHOsGis9a68//AC//AO/+/wD4fd+rt32b4vq1n7f09vz/AK5x+ytgucQz5f2//r/9P0On3Zw9348MOflxr9Ezzyyvj7s8du3dzr9Hw/8AE7Tipb5e7g1d6/Uf/f8A10ublcPYmYc9uP7edStZl8OY66w4nW7RvGXydZhzHv8ACubrtOO074zTCeRCOpXxNYsui7xXcqHJXFZ66i3L7PmzXONcZx2121Oe3NYeC+vnxK5PhOXUNs8l3U17nmGc87Z+33ztWvu11nwr49f8OHc4/wC/8/6P7vs8v2fZ9vX++Oyf3Tv8D7P0f7P7P/P/AFf/AB+R4+fP6v8Az/8ASZK/+f6D1XfNd6z/AALg9jjy7TPNr6S+f0XXbrx/Zn0Pf3+7n7vh27j/AOR6M1fPW37P0V3+Hhr5Vk9x+fvf6ePuM9M9p9v99556/n+HH9XWO18rVPw91z7P/Kf3dza+HPwx+n+vk1f6vfPlt2H4VM//AL/Z91+fW+G9r7599c37/wDz/XX2c9+fzrg86vVfH++utf2/p615e/ZuqSuOOOfz/wCv7LNuKI6rr8fP/wBfP4159b5xzTK65fff2/oa63fJMubl1n4X1/P/AG/Y+c8scypmklNcf+N5msML48inLn7SEq52WZsyd8OKNEy8GavTC5Wa5jjsVl84wl+cu3F0kouHGr1qcbcvL7v0y64qrn3dl271fPXJ5/b3zHr8jbtfnP0Z/V/4e8/P9l/Z1+y9l+z9XP8Ahz3/AD/Z7v2fo44vp5XfXPkd+K/X/V9vHgzr+krr7/z57ZfSpDFp9C/TXHk/Nd9/d5+eT1E54zrn9n+vnzz6OvxdBc8v7izw1c+7t8P0/wBv/wDvW5rxoMvv+X/d/wDD+3/u179G46u+O5zU+Xfq07LwccY+R+z357553o4XiXnn5cduw7HntwXfx/8AGs/s/RKvBTL1XL7v1nx/TfDmJq6nb5cdvKfCng8HOMnxz7urfPeMq+2Xnk+HbtP7eznIyy+ZwmOTPwygw/Vq5bVduZqytLjiZdS+t5Pt+HGdZZZrKZLvbvUQjzVy46jeiF1hy4rDmZlN9M3kclGURdn4C5MJnWTyaxXIctFXnniXWtr7JUGDm4Q3b57Tnt8O015Tn4PTM+0n9eX3V5fq+D4C55/Z/b/Zzzz2z4tDcz8O3bT7GpWKP3ruNB6krPv+3vHT6cvf3Dz5V28nxvin439vf7uvvs8K4Jrt/rr4/b/s/wDq6vwznqf3+/v8P7Pf8Zrt061xny/r1r5c+6r4mtn4+Xbu1Rd9f7v6/wBPx3vz1xXf5cz3Tz1z/hnO3Wu1c0cB379cn2+e1cR7eXNd77/r7e7rfbCeUfhx73vx3fN+Pn3cFMtuZ7fo93y/XM1U445nbtqV93n779/u7QJrjtCqeaZ7uflqgmfshatHNfp+yyttQ5hDjMr/AMvfy97xzFu+2pYZ1nPYw1GMysXs40xqpxw3mhmgK2u4tYtZWE27EslOcFa5jjt7+BlFZ9/B38+K2124vvPz1z933fb8fuO7v5/r57Z/Z+gTz/2dftemfLnm7+H59a+U+QdL19k5j5V5+UPQ60asnnoPURwV/C/UeWbq/YT9ny9/x1zWvTZ1vyrbX2cHgPl5n6q7Y8tCbszb3+2y/hH7eL6Vd+evz86rqX7/AA1fn+rP2efw89aH4Z07Lz2Mnm5la+V8cbceXn24zfL357+Wb53q+3Hy+H6Pz1VRu7ztXfg7c6tDV1q62bxyJ1xx9sLMXmc8vbzz3j7j9McsPc8678cP6re/mZ7uM971x3o8/c9fhNRWXPPi5zOGvPnMp2M+fEc1UY/HgEmanEs1ZNNWXv5ZZXdqwxTkwX0LUKl96xqZjrlKuFmjbVhxZVc5nHynBtp1n4a4LpfP7Lt27Z7V+jnjR2J2+XFbuvPXu1zL7/Dv3t8K999/hy4zOOHxrr5VfNzir9S9D+N+hzz2R9jw3xxdafQ5+M5vamHjfnz18st18HOr8Pj9vy+Q5nV5rJ0Pj+rj+u1dLzNOz1ft9/8AaTPfrO/U1W+Xj4579YkYqYOPunb7P6uM98cFZvfV91+HwtrOtbGM9pT2Rqd89fP3aNvd8ft4me3nC7fL7fhjWfi9j8/bz1kun4fDvUP70c359raa/Zz7nBFl858+tSr+F8Qjry605YV9uuP8Oe9baiTv8JxNfGfccXeK8vtpe0t1V+Zxv2vrz2zzrNpM1esGaIZxWOYfKaJquZVS6+EqPvu9n4eWWpVzyr9n+Hb7edu9Z8+5Zx8Pj93/AK/n88m3Hw+Hx91XRr3+f6cvfpWfd8eLq+EnPB0c6TtZDz4vL4jrLjnK+wqXf8Dpj8xx2bq7PVw67jVK+nq+V11nP2/q5z4Z1rrx+jyK8vO/fR0NZPh8f0Zjx/Vr5XuXnj/X/X8fdxyM69Wtn9XHH5/1uvtlW5/Ze72ry/UE+HwC9fHs7cduP1+6D8Knx+R+fOts39nZ758vjbr7fhimLPP4ZnfuXqvP4+XdMX8e9SniXddtd3TM/GZ41nt8J5HMvtqM1xzXdl1wd3XHaaxWZzmabvPHJXDvmy6q243ZYYuW3lji67RXYjZUI1Sy4RtIOjZI1t3y4eatuPnE2qoyi8aqZnNmKxbzjtns9s/q7dO/wuuPed/LOZ9v2Vuy+PK8z4H3du/6Kenvmb+R5+73+/t16vgmc8a4sqpfodajkmfYEf5WrE9t9iZt9nPHW+rZH08X171RdVE6GjvXeZLs50+Gea+Hl5xmq+GddNeevurn7LtleXfjk2vntzn+2Wsziuic3r+zmwtvjub8nl1fuznsvYnfN4ov4n6e1dmXXnm+SNXx8Lv3fLv2rWvPn7C8L391zvlDvn8/OoStBq7+XHec5P6+KlS682aJ1+XlUZzvXLOO81xq+teVx2rbzONGS++ZkXHPGDVWGuP1Mdq0NF83cZaSmavUK0iJUUx3KGUTiXXVo2y3iuSdtT4AN4blEJz5Z90/V1+G5epz1669/vPPXF8OzddZ9vH2z5fD7u5M+Hm9vulnnnVQfDXlfe5rJSPoMVjnv9F/ylV9F3j4Q9ZKvn86SvT2z9nlz+f/AFf/ANc1rjxvt58cd+Hjn4XDw55+EzxV/s0Nvg/HTa/L4+f2X15zuEfO/jV/L+/jXHn2d+96t7Z65578Zjs3RDjro/2f2WzV7ONWeTr9f/rrtfYy4K5lpXn3+P6+JwUYsu7rmWfd3nw4wYdeVW2a18L883LYdZ5N3LnDV9ucw2uipT3T+vtw0bct1yGLs7iwwDUbKhNGDA1mN6mhElGAV06W1WgY8Vd3UC6ZdDg4jGARu74du3PDGoY7TOs6cVdTnNclGTJL3Na48/f5fGqyAG5rn3dX/v8A1RvRdeC1x9n9XPbsrz4mM8T5Pm6r1lXi9P8AAv0Hc4OK9lHy/X+jvx2PS9Ty/T9v3WzPbxIcfHr+f49/t4984ej9xb5f2f8Ax/Wvftk6P7NPn3/R+fv/APL7eevnl2OvN+Wer36/2fqf19TvtfnLzL4/w/t8v7f+/wB/lRtrz71NcnPw+3/v/wD2P1Stn4lV8PiV/d+v/wDn/wCb58a2O5xPhquvyr/VPeS9tHTUT/6fq9+tO3yzLQqs9r/Rm72Ptt0KZq/s/R7xjHzHMLlnP9TRq8HBxomb4L98qm3CcTnzQuiZuzFTvhbHZq7vGeMy9EVwlrgqWSgY1WsODSBRFZV638g8s01MgeXHLtxnPaZqZ4OONfF6Z4D5fL7X7e/w+Hf7jdmb45/t/T8P7fP4fLsX0rtcX3/s119+ea8Sm18/PUb9mTAfxH1avl+fjv8AprOr9RfGO/xvU59Nur8/f15vma8azk7s8/0TtKPHiXVS83fN+BS3kP8AB/t/RmdrNq6m/Hw9/lTlN1upl5z/ALP7jnvDYZVy5rWiLoNgwLz8vgX8ePPdjCkb8vLmqsdxmZV3x8O92u2davgjo4luxM2VOI4Hz88upcLXYtnE41gI2YZbqyXcTBVA0URq/KoErNcQdxHLvq6ug2alqYzUaMxbwtLjmXcvFVjMGzAtAQckLo6Xj4VGrlLx4Zrvxfac6aex4ZwnHnetQDwcD1maNd/YmmZf6CqPmvy89Qr11YuPOq9NPacVxdcc6fB73CjNzN9r8A0Defs9zi3pVicz+xqv/s1K3vvrPauOvx851rSdB0RnDP1cut8w1wM7Z5eJnsdNWxZ5cawXe112LlPX9HH6ff8AFju6ForPHwmap24MU7X7+dc83WOG3i2X3pOLqjFGaZRoL/18moYVhL1rbSFuCDNTIJZhMUS5mAYawb3G6j0UtwOxcKIutXtq82VhgS84cVrlXIMbCO5UNa7RCcXfTLHj7JrDxxk6J2O/M6yvPPd8CDrgrnVw9Ji2Xd/0czz0X66mmjrl9Rm/j5e665rWvErgfL312+H2/q88+C31nu6+87c/d778K65JdfbfHu+HGbNqxxojX6OvD+jt3rZmfK/PP29qnP8A45133uZebzNTnUZk2OOPgvGs5+1qh6Vw99HXz7vu9/wKrDWOW1SfH7POzp2u4srz+X267+a7Xw0zNeT8TRymLq5lsa48+otO2c62LuVfVl1heLjxXLWw3tXGXDbCXUUxnN3fDrdMG3A4zQRKIG1dRyNM0w1Ts5yiSy3v276NuDOGqhRqaOlnnz8X9Hw7d+uv16N74z8r49/6Xv3vn5HhnYzO55/KZfRwMs1Woew2T+E+lzfnx3p9etdTnjPI+nQe7moV53fjb257HblznWjwM9vj18+Oe+uvnm+leV+Xw93939fw6+fGrrWxrgu7/VnPfVZ4rk21jl769/OXX9Ws3s3E83/Vz5nYe987Pe9Z7+f+v7KKnNfF3q+OL5+B9hn4/p7d0jWtPxb+HPOp2Kd71k7ufgZ68/o/v55rCa8vgHHnP16vnXbjOLll0cS+fOcy8pivPi4XL11OM3CsdueMVdMIU6ohd8CVcuLqm8GkpqmK3LdYNNTPAXwvI04PPMq8PnNXkKcabqueZrRw9dZDGeGe7m2f2cda+QdKyds619n/AGn9VzXO720X5c8XNeV1z4E15dZ3nbz7ctejWbZniA+pxlMv+/pj7GeTqZPYvwS+/m+g2OXiq5a8bsW+O7kb14VC8vZqfHnQ9C9Fnv1qdrRdnUCF+6pnspvRsTr/AHfK86gOxqMNce5umXp2YG+reOt63cU6Gu3f48/LrHampSa4Ovd7Nw3vM0Y1k875w44lURSXnzgRxWkAqE1V4N6mVGGHNgbXBwrGFm+YQgXgdh3QZZuPhXQhEcnTmEvGRqzPS8xzu1DWk382avMvZj0qxYazKl6vwUdV2HJNV4BbrW1dj1EWDX+8WlnsZqd8rXqWZjqs36Wua7tjXnWfBhjKYsz2OhGuKrtXJxnXZ3ec/Dz1fx6/HPMq63Jnqz7ddw1nzXYSXV+79EaV69t0yQfP3d7aay7upXHHGo3w9nCXRVnMqtXy6GU8S61Ot126vCQwXzWxVfLDSE4ODVBm6zxFlYNjAmr880EY3mglErHncbIscXUMFwizJCVuYdPTisc1HBGshtoyoyoXuYctNWxmbrQbXCtVROK0XnWt+NZB4ri+2e153O/MZxPf55Ne/jwJWa86up1uaPHKGb1WqPUMsb/pAvgxSx/6SalMNbVcYW/8ZGnazQ0Yuv8AgcNXm8d6NGxHF4a/zlcxrCxzohTnUKlWkt/zVxrWbw3LzdViysBALiP87Wq55urqVWFInQixpcJ/MdnWmnI4y9hwzSDhRLZX+IMhhS6uJg2uNW4qAUH8ugzO6RgcwQd3Ds5cymNR/iqsUyjNObeNq6GDYdrSBE/doxbOW+FpTuiAVu8aMONUSls/dHU7WzmnHbNQggRHVI3ULeLxZdWfmM8meRJzK11b7QazHVMejWLrm6wFKflOcmNaOZqu+/OEGPDuJshmVQck5/avDllW85bmZajVkr0ackZUcuKWn8eitc2570DZLyWSo1UK2Ta+DnKtEpgflDUYzkqysssrmyMXBcYdKbpMaiWfiGqszebzeb4xeCXlt6FxqZXF0xl1oJf4TXBnFnmw5yxWxj0cJvksxcYOLq/wmkrhsusZuVqiJ59nCSwbowjtoeI4vB+DUy8OhD48OUsuaI1qa3IxI5JcoQWXAv761eHsS9Uo5POsPnW1xlyro3TDOZS7194JzCPFxOeI1LJdc4L6MppztXgajKZZ9bRcumzGWVqF0TK8xoxdHQ3Gi8MrFNP18JK4tnDLrXZezxcbjmG9c04cxcXGCXKRPpJedVnV3lqeebJw3fELmshCwd0IxZnUHVYF+t7MC8kqO3fjSca484nNbsY7ESOEEHNsfoOat45Yw7PFN9ntr36PLmu5hxTgwwHDnmkESyH0abK5p1WY5b8uvPF1o6rVhZ0Y70rhYEEQfnV7TXbVt83n4a7dub4VumZ70MIJcrYGXjqngCfRritZ03b3da68czrL026Za1efUYYOergwXK+hqa41w5rm9Za12y21rjvV4QI3DCVBiTOjAhLyj819rz34NeWs83Za6nx7Xnky6qPaVrZwMq6pCLccAMD21qayPbniari9caz3WnnjkvtopmtqLpw1aS8MtwiPtzKt7X2la5441z5PXvLct8X175uVqVsF2SsGzVVHBtT7WcXk7c13quy+/ni9V59VLM6i52HwGXBxWL2LJUfbnUri6eI1z5a1275xS575111xFgOKundLuU1lrkYj81VXZxmxuH28JTKTPLrLK1l8AWEYEzGkxQfQTOjXW3kO3w27MuUW1rwIDmJimtcbORtYC/PrJydtHKXxryZWNdrj25zlxmN1sOzFJouUuyYv23xL1xZc48+NcGq4dZcwnPbXGjbkvOzhEsLZUoS5Xz1Odca7czi+L7cd5w9yc9bjw68nHcRqJqt6RwWYy1oE9l97zdc1271O3bRw946rfj4dmFjUN2McAtW1qmotR9mqy1znt54e2uCc5iVtn5Zld8ytZ8K2Y8OC6utC3AfZWbzp69xvq0zUdHXvg7szNVGFmvBxfbv2bzri3dK9dl3w669112us6hLfLm8XM98zXW8IsYxoll1rBZbLjA9KWVE7XGcztz267deV4+N9VO5g31U4JWoHftdefEvLLHLD1PEcgW6nWa7eTy8d7dV3yar4OK57YuZL4rHOW+2sapeNVLKv1NSpyTmZzXxvrWueOGPfy5OznTXJqXWZdJu8UIjnF8QlR9d5nNTnLzr4w+Gq6xzO/XT5VnvfHwOPPjknCVEWk7XTVtVd5sQ9Zk7Tv2PM75z8nNVGzreesGu3ndfKZvNmWMGZ75c3Crg3eZSHre18092uK+M65boKlVDD3Ot6zlPPq5s0LtcvF5u22ZF9XaVHic12Hmu16I3mVpnaNdTOilhPLUYOGub4uqvOcC5o9TwzNvHbz5nZ89du1HaK8lvXyK1x2y+TDWpyVeCXU4eLXLWEh6C2pzx2ObzWr7TV6Obg1kq+ZrjhnVsjkYYTvTl4alMvi1PS4tquazXnfbhseIMWrvHlVzVZrvLjUyhDXHJdOUrGoWL6tYvU4t4ne6mavTVSiuJxd828S7xWXz7OKSZihl0Fxor1Xk0x1xWkwTveQ1h50pnMzOZnOcujBhoabuqDWSGA9JOb7claajTg4eb4zbrOG3HHBjVmKE6WS1jEqZtlelOJ21fBcbpCcUYyEMchWm9csHyd6l5t4luo6thUfSVdVdSzs5p4rDKjpZd8rWpxxXWXfHXUHa82vDiyrJfrNaLU5zeh1V65xfJM4cVVa6t3rSccacrpsvi3cYOH1N1Ml3nWmqeWVRcvTXQIlSs5eW5xeLzC88y7pqIteviDOI5nBdcFYvNFYHa5e3BeCZLtxnVo5g06plX7Ll1rNX2u860SpRfNDHDCNYWMe7KNnN3OSVs8e1mS9cTXHNnMCc2BXi7gBDATzgVHrLOSwIGSvSVcPLnXHmN1emuJp2uALFleKPc24tlU8KipbH0OKrm885mXVcKoVTDuBKMOGDMw4cNzUdcPEYru+q5q5rq6q5eCU3BNjAJ6rZRVQGaxVOAA9ZCjh+UzjKVmVW5FsbwYEhqGOSU44syzmpRax9Ots5ty9274lwq8OtBKHZAZUroBguLlLELq/UZZVzOr4zxd1UW4R7YMsZcp53SOLJolZxq5Rl2PQjc4c6ur51i22UJGXhwyjUqNysGNEqDKMji8L6R1WU+NPILcDF1s3cqlqOjesOGEDvA0yoNuH1ELli5vQXLjekHGRw73mKZwNyssrOKZV7KesWqvYrYIwl8FYSFlwqMommBxGqjZLw8M1T7NXmc3BZko8CCykhBmrpbmSiacMMu1xyxPWAcrmql3csMy3sx2VwNwCuxd7UyyXKSEtK17WaHinWs1jKtVFoN0JVN4dOaiwzjXGyQaaH264e05TTGNRTji9WG2lODjtx3vjN3DLPO+c3m8XLosr5s3TzDWeGE1h574K3uBNa89c8cOuvba77Mc80EbTT8zEc8K3mmcUk41VUuGtq47ZPPXFXyTrLmUxrJebvLZ7dFVrtO7dvdypVqR8Sr5bvyOdFK8cN5NRrfUo+jhnHOm9u3F6hDC78Vl1OM1OT3vxYWmZY3GnVKnzNQz286uszg0ZEIUSsfBt4q9W9eb6i6zdtU9tZl1Zmw+a8XxytZO3nrRlucxYMqs9a0krs9tXhustxLTm6cv0hqpm+MvXkmeIVnPUzCDfLx7s3NX5PbzzBviXM6eJzRG7+qsvfNHbWdcJxc5u1lzR1PPv34zrF9rvk54u+vI7NXm86fqDnPGuNVcq61pvPYlkrXfPU76laddbqWzI0ltSrxUT6TvrJXJZxKus0TvHqarjnznVvPfr3l9ddbrWSrvt3w1GnP1q0VquFe+c1NfDjOdefF1obrnN0p3667d+vPuKd86iffp1leSrmqV41Bb6t3O2rvtrt36851czXJeVl4rRKPv3CXrtDnqcXnmxhLaurZzY1fENEzgiYYwy/gAq4cd6ZV2abxbnHbmtdfOnjWTSXjRblhgfxDXaa4uPdzZrjnLCV3zs5y03cutcRaIQhcv8dYNVqGusaTepdl0yloZoWk0Ea1Bwfjutbq6NZ54ujA4Y0IuCWIo81eb/MNlVtVwzqtAA7EsxWbXhswQjD9zTL0zhXiy6MEYSsEWJzcuhjHAfmFxVjpmYpDZIDRNYbPSyv3Eayxl1Oa0PEY1AwM7m+pm44Yfv1tpqzFaN7I7VKIwRwTnY/jozh4JQ4bjmxQEQYo4R/jI8WQI4IMzTghjWzV0o/z1vUqVbgI7MYRIGM/6EsvAbs1Uzo1Rh/42HqP6QEX/AP+jAAMB/pAz9I3E/wCnStQtw9H/AJTwtM7sv/eB3YVRs7mAqFf6DLgKqUpKqIeh/wAzrDsUBSesr/Re2RKIy4YfQ4bhGH+OqJYuLYkcMqG7cP53CG4R1qPhcPANm3+SpbxFmaVh0CPgyhxUv+O48wbhL8FXa4x3WX4n7xGhqsBghA3DC+1T98qrZnZxetg3XF7HRw4MP7dhi4JKfG/UuxHF7oftuwNEvclbEDDuYZe7g6L+RxUZRm47EsMIQXxs6KbH5lKp20QZfRY9GFHQ8DZ/M7Cy3BuG4bO1L4mDc/ablRi1ijF27p7TAeJgPxoQInOHcw9H6HBs4X8ZHapdEPAOj63dT0H4RNnOBAp8b9rGIR6UbP371sFXgN68K+++Bsp98BscVFhh3cLsviQwxwRYQj99YAbOxsVHZ9Z4mDC7L94OjHobux6j0EdqD0H1BeLaSX4PoML850Yp+NalZfBhtfreh7Xd/BcFww2cMcAx6HzP7lFMLjpxeDoQ6PiYXxPE2D59Xs3sS7lRXD7D0Oz4Oxh+pvDUMJWCtzAdHZ9bsdHc+shvcthHC+h3eh7CH4jBi0JVdHBsH3wXYPwBCVsrHZ5cEDa30LDxYdGP1uDpVYNnBg2PnXZ2MMJf1mLRQTD0o+d9CvQlbH13ZsbuTcyGxEdg8XYNgCUeL8wPp03ijYj9B0zHoO6BH5wwFYDY3NskD5ncD5l9oR8R2MN9L2I7EfWRdivvEqMdYCV6mXghhfA6HgOz9bhwmyDB0w3T1KD4qGA2eh62BEMGzUQh0IeB6nBuegh8xijYvRusIGG9r2PQbsHB0PrtNyZq+SaIVHcgeD6V2PQeL6cyoVuKeIGFDo+JL2YHqIw9o9FuLKjiq8XBG2BuRYeOYfWRVQmadBLvPQxQYtw9HchuSqdmOx63GoUPOkl4LsgPg2So4cEYbN4ZWHZhD2EOiEYqRvFRmeJbFXYYx2IGC1fvK6TBGyBRRtcMXZDHG1mDwNzd2faEUlBAJbM6vZIYKtixsheHdwQcX4vrF3DAXqUVUqa2u/DNHQ3Y9HbJsQ+a7cmxGs0ugw4Mi4qmiG50A8Uj9Dphis3qVHMvOYts02ZrY4UZbHoHoHBD2XYdA3vCtBkyBHDbuDHZ2cKFVsxfaVBaEIwYC3GWpVSoF75PDMN2W9D1lRjompVoEzGpe2aqXysoMMOj0HYPU+owYJZit6iyr612rOSppt1CoeghsZJRhh6huEMVTcQj3eva+8u9a7zTKooww9JgwU4d30sImyrCXM8S3jiLRVZ4FdXqZ3eg9FNzB6hBxqVtcuZgzm4u3aaazXao3F2bwRw7V4r4qgwCChenvbkJdN4Ujht7cQejDoGNNHtrCypcuDeOOsS9gwtcPw154ZfpWoGGMrDD1kZWDcqOtXKqW7hCa15oEzWzg8WGDZj6AjuQjFayRjft+GO3D53HdjDxcMD0tlYDe2szVlYZkqqOJzYTTHi7lcu5ihl4Nj2MWDsVRd1w6dGe2YL24nN+Ds7myEXZtX2lYdYTMzmWFVnLzffXKs0+gp273VdAhDBGV6kxdxp513S7uL3tfgatVwSuI3XXd3SoYXazB6SsVaROM8QrguOq7VWY8ZjM8VQ1UzgizjLLw7MYYfTfQSN6crjjjPXM7szCoym3mcS9Tt2h3b0ADbG9iPoJZuRKInbHLTzquKhcdTVr26vm4z23Sou13APbd4QYLKWi/Od757cZriub21K3q8NxjHlBiV9JsW0MthTfHEzngwdu2DicrL5a4vTGVEqtyWxfmDBi8U6vNTV9cs1rzOvF97sw+czTzfezDs2rtWy+ww7OctsvQ3C++vPXwrrl733gzMbOM9uFIMNiGx9DDZucRRucTmFXz8Tr2iwJmoZlhgXDtW798wU24OM3drOXXLXXt24drRtqX52zMXoQj9ALgl1WB1MvLbxLuZ4ridarJHBbM5W1NjBhj8zCDcWC8A1ScVzpbKF1bc4ziq3PQ4MC361N7hEqMuawXzzer5Na7zPBmalS2IxjHatn6nDgIbKPFYuuueL+DEjzrmZiyqMLg2Ch2PnroBGLQ6eO3HBVWVx2dTjih2u3o+Fbv0MdlgRgXYt3evgxvWjJrl2YdGPQrD98DDuRRMZ7UF3ki3Gou14IQCIQg/UGHASsUYvWnzucZvm0oJVpDYI+BD8RA3IxSVmoNztUqXAjUdS3YI7q/hN1wmKomrUjKIkFCAQdyHoIv31DA4cjyVXBL2IyhgsMBs9BN3672Ki73AoXD0BTxYyqhuQCP4jAsIsuIPgYDYjsQjssI/kY+FxzDo4ej0XdwuKNiq/G7oZwZvAbGxg3BN7vd/bVwRtYoRhgI+BW1oOAzXQj+JgGHDh5v0viZ6UuCgwH76jcq79dwhKqGCAEHYP20pdQojDDsYb2BUjsbsP3iEL8K8WHQ3XZLh/CuAwS8OD1MTZ9I1H95w+BFw7q9KMEIuCP8ZQbBhwwjubETwcH8r0SXpiYICSjAOA/zNHqcEXpXoAf8pi22AO4Q3If7p6hjHxP+Z/pBBQ/6x9J/wBB4if8qP3z+h9LHavE/wBKYcDuR+g/of8Aqf8AqT0h/wA67OE9Tg+Y/wDzeXDs+L+N/hcEDobvQ9p0P33BuYdnZ+sP5Tch6n7z/GQ8HD6xPQJufxkMP4HB/mf8r+2eBsP/AFMfyv8Ajf8AE/xkPwvzB/GR8D2v+hh0T8r4ODd3P5GH4n91Y7H8Z/GQ/Af6SGx4H3z+Z2MHgek/oHwPSbHzn+Q2cJsOzu/iP2nBuYY4fYf+8/xviYR9Lh/G/wAidD+J/CEPnP3iH7ps+D+8/jPqR8T8j+F9aOH+Eh++/Q+A+x8X/cfvHQ/KfQYcP4TofwP4XD+I9Ymz4ESOHwP30+t6U+h6G5seL7T8zuRjh9j/AAHqNn0OD0n4n952H0vtMHiep3frUcMcOx6T2HqNnxfrI+0fWbn1D+Qweo9Jfi/UfvEp2dnD0H8p+A8EfB8Hdw/5XwPQ9Hc8GH4D8Du4dggvoPvHRNjd+Yhuww9Aw1hwO6YfrPxvRPQ+L635jZMHzscOHwfQ7GGJHZ9p+4+sh4Hpd3/E+L6gRH1PzvR+hh4PqHZE2S6PB+cT61w7HQ8XY2V9D6n8j870TZwYMFj7X8qeph9bEB9gxh0fvnoN2HgRN3A7vR2IfuOHYRj4Ozi6PnR6H3z1Md69jcIQ/jPSYRegiQTZMMrD4Ox+Rg9E2NxNjFHg7nof3H1okcGxA8FjDYj+6jH0ES4OEgeJCWekf3E2djAjDCl7GobHqYj+E8X0lkE6PraRI7sfvj6XoYcUkNGCCkNzc3HwPrMG74u7jQwB2TDith3NnY/C7G7E2TwIxHBDFwwYdnxPxm9QwYIm1ER2I7PgYeiQ/GdBhDcY1V4ehs1Z/tCQSEWujh8B9Zgf3hwx3aIIYej6HobH8RdYGImwx+s/fGOHa4RNnwL2fY+g/EdBImLppiGB8XwY/mNkd3Y6Uwwexj/M+kiQdqRwR9AmHA4T+FHcfEww8HZ2TwIflcHqcMF/C/ldzxYMNw8XY+k/nYMRjufU/vP7T4PifwO5s9B9Lg2PQ/uv+k2Pyp7X0Js+k/znoNmGHcTd9r++f+96HzIni/zmw+s6Pg/7R6T2OHwT+R+c9Tsw/wB9w+03cA/yP4n0vi4T+U/A+D/7Td/0mx6TcR//ACfWiQ/zPofBwwwf9D/SCCJWH/pBaqs6sjAgf8gKQ2IuF/4nCrgh0U3X/aKrFuGBvdjHAXct/wAoUMIlFRlDqDubH+YTpWY4X23CIf5S0i72bGC/BgYP5howxw6w+BKl4fAj/KsYRxdUlxvZ8EDBvcP4hKg3goFYS3Y9CmGH8ZQRWVVbvQDwN3wY/vZgERXQGEN243hydGGEP3BCNtjMuLdlwhseBhKjDD+YziohbRsrCBg9JDbUYmH9pQIBGEuGA8DDuHgmGET8jbOIZYmah4OzhMLgWO70f3QgtTWnDAcGxCa0/MuH8i4KjeAwS/BYGzHBs7BgrD+QU4lXyt3hTBs+D0NwwUQQ/FRYVjUrwXa3a9g8XYPBWP4LsYQKy4oOg7vixcMdrYL+V3tqEoJy07JsYfUbG5g2fvGRhEi3bE9NQwRh6Qlp4P4DZawW4pYqkdG4+liRiPgH3jAxYYU2cDeG/E6EdnZ6EfqJqUF6uGLYQI0YMHtMOGOy/jKiWxRxWzqoRlfMRcBg8H62kwUxSLd7DykcGD0nQCB+K0M4oSpmpQwl2YPU+LguPpPptlGCASmVLwRvB4OzB9Jh2PvKVG4tN1HLe1VuRhhPWGLhh6P1VKu3VZjglVFrc2TBsxehgZUehA9q4yoRZeoVkjDNPiQ6OzDxXdh9DQ3QQMXNEoxWYRw7ux4mG93Y+pxWxVE5jGURcWwhsrsPrPUnz3AMU6onmwzjTHCQ8D0LH1H1ktI3q8GHnC3tkjuGDYdzYMH4iWwoI3cLXWw2LDAHibB6TA/fMBGWkcO1YvD6aYbMWOyGDd+i1drZTGjfna4QwsOhuYXBGMMLAPZbi2N3LUzvroFXcMBF9gBgw7B7CEuxtl2oag+DDTsbjKX0nQhEPat4G80xHF6xz0yu19CJh8XYhtRUfWNramBo4qtXNXsZllRh6HoGysAIYPbQxmR2sznO9VsYK6VUNrfBw9F6HquBcTYjKeWLmsEWOHZwepfBwuH2LKbQl8Epb2MIBgMXhibpHD4Lhjh9SlA3h1DI4YYIJmFO1xjDYGGxAgjh2fS6ZlxcqVmccXeNR1HvcyS3ZY7mCErarsDFwPntq22alZO9mZXN3cCGRrWFwAbszsLDwD1ktIDrUy7EqcpdwUxQtxmSHRdnUNj6aQtw6vDxio1U44N7sG8VrFQVwsXWCtiBS+kwYNXXBpOJqM1M5xQ86lLi4zPEfAiROgYPWDstDq8NUaabhTBI3HWxWyE5cEWGwEX1kqpcNsvOpxmBGcvBWbYYtDZ9K3q4QhD5ralUavepzbdsq4E7rjMQjL7i7m62yiUfRa4AbmQtyjrF0VmuHV8kztq5bvRM7XB0gQwem2Majm+XFD3aymHltvUTV8yqi9BjYLcy9F+YWlamTDdpzfSrqaF4444b3HpcqNs50nzqYTGoR2FgaSFjkrh7vO9Vh2CMBlSqX2g1UTI4zDBDiOS0SL3eM5gMPRdYDfOAwerTbMsysM1aRMXst0Dd4eTgiGDCwdQoZWA9LG2abxd3fMttRhLvWCVVJO2dUIbjsHQ8H0FUYS7hTgrZhSGcNu7tTjMdm8MYD9TuyoUVSzMcyw8So4W+cONdEixlpsUepYQqtqUl2LHxXZwLguEWZiEJbeDBH0mNWVBWq0lNUwjhXFRxbHDGOwsolbMXC+lhKJV3Lwttd2KSqzsu5sQ8CFRtcGGB7GDBTezDLmQbw1E8TxJwSo5jGBsvrHAw3FtCkU3cWmBhitnW6pYXeBfa7UOrw3VUrCFWbOHZMUvorpaShge29qcMSFNZSwcAZNyrS3cjBlAIYtdn1BGBhJeKLhAJfjcFlAETAPTSbBu+kCEHFtZtaoehcYwIGcUXvmEV2PB2PWVUbVMI7WMRwy3DE2ZWKgSmETZvBh9hUYBHVYZZl2KlQ8WawKYolwim6Gx7WGySkuI3ClwYNqik4zcMN6wWzLu4SPsXezYrNsodAuHZhNQIzJTU47S72RDC4PmtWsyiahUylVnZibNZzp1THYmr2ZcQDAfMwyG5k4w4WBAlmKOdQ4pqG2pTeTDWx9KAMoZyOxubGGG9PcrV4SkzEqWw2FfqsarMKg3p3fUZcjda0m96wS8EYB9N3V97zmWVxgbjggMaSWTN6aLWVgwMMNp87UsLu1U1yxLqoBNZRwvF25q7ovnDeCXGC/SKS9SrSqjrBNNouAqZol+cYFRiu5uvzuxrXN0NtxzLe7FIcHGbu5dOLQIbmx+LTK0Uxb0Oo4GiMfN54zUSt6JbhBhhhH6QMXWG2w4MzKlkGZzNal3WwBRs4EIbP0gRqhu4Fas1dUXaPLxwuFNjDhjhwbn37SpepWdrOMuy3G8DLiq2rCGAwv4W1sVlEujMXjLpxW1qtpcY7HhQ4PvEWjAZlpCXKipgzVmLjKbgDHZ2fx2lQMkQmaPBlQjgIFRZUTY3fyi4XZAjsbURzEIRdwN02fwlQNrNm2ETA4FDdxpwYrdB/G0BtcIph3qOHoQ2Xa0jWDD+47rdmGHRjDxFlRYhX7YQIYMPSvBXa72ajAju/uJVbBGlu03YJubLAw9F/fImEwt+COxs3gwYY/wXDYYQFj4O67EyFYWP8BhwLg2PWwrwDDH+aiOEYGFfBhXifzkQhHc2YwacHSq3P6FQ6JVR2IsP8wbEfUGLh/SCUbE/6zB/7n/2sPmfSf8AM4PQ/wBDumz9B/xPpPQP+Q6Edn5zBsfzuHoPi/Mf5Hc3cH4D/IYN02IfSf4kw7npeh7X+RcPibH4z/OH5U/xntd30n+4QwntP847sfofAh/kTBsuH2PoPnf3DdjE/Gel/fcJ7H0H338guGMH8Z6n9w+d+hh7H0n7QxPA9L7DxP5jZ2PB+Z2E3P8AQQ/A/tp0HB4D/wAhg9adD94/EOx0EPA/4hjseD/KfjfB/mf3zdr0H/CnsH2J+0/MeJDB6RPS/W/lcJsSkfBw7v3n9twyzZ3Y/ePUngfiaieL+0J4P7ZD2H5n/IQh+JPBhH992PqPqcP5joPpIOD+hweB6z6j+Afwn1sY/vu6MPpP53+A9r0Oh+JIx8D6z6H8TsbOD+BPzPqfwvoI/QfkHYTB4OE9r7SP0nzMI+pw/SdGP4HwL6O5hHAx3f8ASxOhspsMRI/gfrdzcidGOGOyRw/MeL9Z0dzD0YniR9B/tvQ2cOCGB/E/uJ0dkiGH1v8ACeBu9EjDD4GEhK+p/CjEjsMNyPiel+g+t8XBs4PVTWz999Q+l6EcHgJE6ENlEfmHwT6Tc9hsm1Q2GXHYfW4HD9DhwbjB2Y9BpPBjB+t+t6Oxu7nqRET+N8DCbiQw7Dg6XGHibO7+Jwm4xMEYQ6J9R4EIYfyHR3PQ9Dd+pfwuzuMPUeL4pseB+0xGCYNnZwQwes+k++myRFibCMPnPW/jI7DhhtRfi4fWbjgR9DD6yO4SzAOzs9H0nQ/M7DEwbHQwx3fE9Buni4fpSMcHQ8X0srd2WH5D0EcEehhDB4EYxw4awj+R2GGwQGJ4PibD6DxPxEMOKlJuG9YCHpdh2f2zoQhhTZh0Ohs3hwOBwOx+U2cL4Gx0MEY3F2HDs7pg/EQQPB9BsIjBwHqfymzsbnqHCPQfwP3xEYiQdiO47IkMLudHxPwDh2Yxwelw4dnDDZ9p949B0fSRwJsfUfjOjCMPSSxw7mD1PgfhNxxTCDgibWMXe8O7DZNn+Bq4w2RN0fafzmzLwMR3IfQ9D8x0TpZgiRwQdn1P7T0NzAxwMcCbGz6U3MP7T4jTipYngw+o/cHxeg+g/wCZh86YT6z+F8H6D+h9Z4P+27I7PofF/wDxdyMdiJ/M/QdD5j+d9KbGx62Hgf6Do/O+B/untNnd/wAz6D77g/4n7x/7j/SPoPS/9D0PB/53/nf6QRsvlsjrWiH/ALGnz7d705vLVZJ2p/4GHPy41dh3MrKYah/uWuM8657VxLGr1rVzWuSOv84ZO/HN1p47dm43Lc5lCM1/laOHtzO711iu/fqXqrsAYaz/AJR4pZddpRpj7+O1Tn4ec69fN7EyBz/iIELLG8l6XVanJXDep2ou9F/y33p5yJqtaozOMeevhYzjM51FpM8X/JbcpzS8VLrXbNTz1yzWjt145Jm64vPX+Picd9S6QvOpw3x5ZOOEnA4usN4rYP3jBzWtXLsccXrXXOeKhct7ZwL3uquEr924YaxU0sH31hmfIrWueXrxzrqM7O1WX+2vOdVs8XdspdcFvfjUrr5VNSznHE1niFi/tspC7u++cNXXwqr582Fty2+SX1lvYgwf2u3Fa2IXEmY8DKmvj34vnnnXM7dw67Gmm5f7Vzji5ZBsKvIll2cW5rMM7vDrtmMCiP5bjSWHbklEIX5td8N60Y51zl2upzs6L0P47hdwQvLsdpw3UvnJetOra51Z26xpqGjl1H8NclbLm+EazUMDnU058vLt2hjVHcqMZkuVB/E0y444qIcRvjvS1xrny69uvXznlkheu05NXqtVcT77ojrTll9rrjujnzF45zw8vEW519+ub93Xjm5U1TGB+GnvgWryQnNEYaptfl193bm/Ltm5y57HOrvOb1Gqz991ghh02s7Szm+Fx5t3fbtc6+Xv7/L5dym2sy6paQ+8CMvtWZm8VwLes3M3qa7857OPf17cauHOjJNUvFxj9TDrFjVlpz04tc009vPWjr558vf5a781xfOXUqJLp++EByRb75shoS8vFAfH4efUsXGr4l3m0uy2n8TmgGAuAb4MeYmZY+Xbr5/q+3vPLrw3Vd44WZsYfSYq6F4hDxGXfv5y3x8r8u05nLnr2srs6EWtZvNn01LhDYcZhcrls4zDXGtcckvr5GWXa58ueMXgcMo+it3arnHJEhcrXEri+zq+PL4d+vbr7+2e/wADrm9FKLeXAfRZ6GqTZYLg7R7d+ffbmqyN65r35SO14Gmj6BhC6ZZKb42yw1WmPXU8uvwz7vdm/PS9rj1v5c6vnhwQ+hucVUeGIkMGqsvF6q9Tvw3Zeu+jPad5UqXdc1ZeX6CcmYwvVpsLcaiVnXXmLxDu+fnbxVzXF6xzUsJerEv2Axw7JXTVMqIy+NHXRxfOpzkvHbi7u6rRVRisPoc7ZhKuhzqXzlw04L7a55nl269aZeey3TG+YuKgfVXg5e14uuboY13zfFs+Gu3unUrlzxaccd2pcrWUSN/Nk2SVzQ8jhl8o1ovHfySXrTNUnCODhqVqqix+ZzTnnDKs7jDZ1gwmC81X2/D4d+TOu/HbTL1hcO789R5MXBhcuBHKJdg8L+kmvPT1GXRbO/mYyOEj8wbOxTTLxnC55IrOeMHGdQvl7zjN9821zyxyxcPzJhckpaTROMNJMrbDXaprifL4/L4eXaLU7ZuZYwSHzhEYYvcdmMcFMYXXlMnMvR7n4dsZ1eXF0wNn2BGEMa7WkNkrcTmJ59ru0le+mX2mbuEISmL9AJmDCc8x2YVhlkacB8fMwceWpxd8XSmDBsHqbMGDak2rBDDWO9OquE7Jn3zWjnjPe0yxqXsQIem2nUoQL7mLMNjxoJQuLWup5ZL7V3W86pHQy8C+0GNRwKwmrpwmBwbMMZ8vljr1633ziheRh0E9JV3KtJmJGFQjhpvLGsN75vHbNt8Ysz3xZCZYewi8NTMIuCLKNjXGxirnfLR565vz1m46LsiMUh7HjOMwpz3Rl27scOKgTVXxfY1PL33fHNXQ4roJ7eY03tboUuMqJcvBjVRxebnD28vLjHnTguC7uH0gFudFWWMLu4VEhcR2SrjmFmuJpsuDY7184EYVhcGxvWLIbszTd1D4Z7eXZyRN9YcMJfpYQiI4cEswpUdqcoQFby3xTKTZ6apPob2vOt2c7riiGw1faUxZ2aY8Nd4pUVl7HsGtiuidCOLSFjlHBZMy+WtOKxdMGBFh6iF+qsMHZ0jHZibMRU1uRjDbWH13s56GDFIwlt7MCOzKwc/Hv+rXXhIpDo+0hNBi8G5gjh2TejNjCUOG+Nc04qUGxLh7M4u9dyVeF2GGK2bXFelrTu4thWzuei1ahCitku9lIyo4FHZhh89fIzgDF4IyiMPQ9FYuNYcad2NkIhAwR2cauwGr1GVKGPpNnBuDuEC8JtenZ8Kxnfuo5Iw2tw+lL2VgQpmWrs14EMMIbkC5qN4LqiFu56hwx6MNnD6K2HDAjgzDnYwrAhGo+wbBwekw4CG5u4DDDwYxSsMPWXxvSXcdnYMVM7BH1rtnwAPBD2kGXpPAjFqiOzf1obFVha9hL0ZJeG7gRGWsIuHoPpI3hZwSvE9dVXYwgsIXuwj4VhLwGzuKm6NAkPVWoRolMUuEAElGHDKhhwYXF9LIbGYQPQwwy8gruGdxCujHYeh4JjUTZfa6ly5lOlypUoU3uGzXoQwS28LERMHqSUOGMfTr47EW+hXgsyxIMphYRT23hd6GO5isOdqtWDCGAcGDB22UlUkPYajAjcL3YcOBgStghbhHpcIRVrFj7HwrYrolZOM4YkrZFwYPFWruJNH1IRjKIMuEy5hh6Xzli+DBlYPFYx+dpiwwSsDNOSAehtKs2CFy5ReC3FfPUuOkhHGdr1KejDA7XMjgpimFvFVBPmoGCN04va+8tcHQuL4qIyiWaS4RifMxodiEs74NW7D4JCDFmhzgixMrg+hnGSwclYrBsNQxcdw2YuHatVebZZuvzFZJqm9kEBiMcOKgeDxrF5ZbjPnnhiYfnzWDpboYhKxnYMGCMF3MUxmZrre7H6FugzKbtYdsUAQcGG7VjmxCNW2Bm2apPpamS9i4uTPI41sQlKWM77Nw2aYVRebqV9LUqkY7Xtzi8mL6VhhWmWMUeLyuWr63A+9WSFwLTchOZ3+HUuqnOeeHh9CXXer0VB+tKAaiYrF4q25zrWQc3HcZqklVLwRerl+9UbqVElVjOZqduedXm01UIXENMAanJrGeU/AHOENizNRvita1OPhnUBzcCVdS+7DlbvrWu9fhqLdMc2BUR4JyN51VwjVysE587meeHD2y/iHDSNc4IXUO3fzq6tA66zw3d1zxU0ZtqzTn8ZdS60Rl2RxXJce9PFZIhM6Hv1uuc9r888muX8jGMqc4L7PF8TWa50kTjOHXHLE5vjmOs60fmW9Eee5V1ctzqrlCd3Jd3nN88XZyZ88rWD82Yy75vKXguVrv31Znmu1d0qqxXN9u7UdTX7aRBuZ0qXKeZzzy12vTuzy5uNlZc8V+4spGJGc1pnOG6xb35yVHWc885zzfFR/gJeLJqMszx2ripQ3rXETjnXGbc3ffjP8AEwwOKeZTjOby5zng2y6qd3PHFn8hKgRYmZcDTK4wNQebL056/wA7cYODi7jGwqsLfHNlUMr/AD3uOzpWa1fLc55xX/HUtf6QQOBqMuI//hcKhS4NEuN/8Ri2AnODF1LF/wBJhuiFXLqODYIuE/zlSzVRYFmLqWCRlMP8rMwaHDvcTCRwsRv/AB5IRjrOALpmRSyLi7q6uv5mgyuYhHLpwuOL3G80kP5jisF6ojHA2KOB2tljB/kUvm7CVrBlxexg2SaJV5H+J1Uum1gSxBhdLsYIazaGQh+8cMaLeawdkIU7WNBehxlol4R/dElYLvAYpYTMISo4uEsxdysJ+3bcCDcrTL1DDC5W7gLszLJnFQP2i7hGVpq7JW9RuGUSaarAaKhYX+ZIGAq2pVObbCajQ7CVlGObzZV3n8pjOg04zmqzYBeqas0mEwwoxZm86Zn8pDtbRC+CkJd1ghcrC1B3a0ZtLPzE04osvVGFvUHAPSnN0XoMXdQbxT+FlYySkJq2nWdmvBgb3hrmOTQkY/i1LIDhyS1dmyy2DhusVBwaLvCH4rOaMXSZxU42ZmazzVLARjdIFtsJUHD99qXsGGtZ1Tm6McwezcCGA6LFwCy/wORLSBNXs8M1dRq+2BijkY52LzcqU4r8GYblEJkq44vHciTLYnhTCWjKZUX60hqVFzGJs6us+eY+ezA0YRjGECxc3UPvM7RY3AUlTMb7F3lzzvY7DCDlmi4JVw+vUrI24eNjUqXTOrd8Xg3EMERamdUkbr6lu4FS6WUSlGPKhcq3KbJDDmDdmKsJV/UlGMlyjDWdLd2QWr4vYjgiWY1UK5plXl+l1ZkcOxlamgjZc4tvBEaHOEVRly4RpPpWgWGZeDMNigmiG1rCGCMGZYLM6q8D9BlqNzNRtllS3Mq8ytdlARIMa3pi0MzZF+e9ruqYCsonDZnhq+14cMY4cAZsjKiU2XY/MytQlM42NA5llLmMYpLcWRDF3DVQRwXUfbkM2ZwE10427k1pBWpTCKQzrYRhe5EX566UxZbp7GZrAefEqXLEhizoLsVsO9/MxhG7jnV35xgmK7a1hqEJTM3xcIkWGybj847lLrjF6jnY7y5qEOE3GNpOTDL2F2Qfm5lgYu7znC4WozKbAVexog4OLgjdNJtftVqaxeKccU1hvGoNQjQsMDDVXOO96xZcYBfzW1NXG0lrmLNRMwc6lMvhbfAEsi1Us2C/p1aLWlmTnpp2uuXGe4MykGC00wGGG2L8yqusy2922Xe9OpcDWYx6VZLmpbUYq4T2rG7odis55YtbVLO13M3NDsYslMpqEXZI/MRiVYpXErF4zgJozdGKy56XKiyrIx6BH1OzHNYMNYYsIRZzqc62AqJtcZmHepYEqEB9VxuFhCXRORxZLzmVmZ5wwObzihJWCWjglQrB69ai4siwByqbcSwOHChxdpFlUIaqU7mC4elbIS7Y0QJplw065ZxUu4mu4Z1RsDouVqqLtIx9qxzht0VUtoJdzUInGbOQ1NTOhwMJzLgzm8NQj7GNwxcqJEMXG12J2LC20jgU4u4Eu2CLYeplVjSoLwA7BiiKzrGpxejKkI0XVZw3COF9dYoZeiormXFE4xROXdmqXOZqhQuVGpYRjCHrojGAssmqpWXsYYPI926ctcqbg1iww2yiHpSmwwktgEJeLDCW5llXhZWCNFBmo4dXGHsVlNylh0cOGsNUS0rjbmKOBtIFb2mCPqbVwq4JRGXGFMoi6VYuNXvzBvFeFmA9S9AFgSo7Xvax2LlyoRxT0oYGKrc9btWK8Da2F3U14ErFFJjN5jnfLgMUYzg9QeCyoPoNytyo3s546JLBxWF+iokvIxaxW9DskunWnDvdbMYVra9hhjXqLbRZmouKNmDsoxRdjFG9jiruJF2Ir6haY4PEjE3SO5jIsZRHtqNacPgYX0NwjccFN9GDCGdmMdiOEluL42uXimUS/mqUzLKaHcnezxWo7ri2LgSKU7hB9mVpFwHg4Y9F2DYwYFmbZVu9bKQ9RFmZSwF9JCEYYOjDDFl2YvY8Ah6EUwOLxeHZTpca9JsOKWXsdAi+0hFhzZs4I9EMB7HYi7BtWzAfW4y3RCXGOxDCsroYp9aRgxwYYexlYzNMdhj4LhAqKYJUHcxYwxfQT2W4Et3tgOxgjhjFfS9EwRvYgHqYEIk1DDAXBhwYYwweh9Rs7MfU9KjHdowIMJdguBOhGGLiBgjhX5yo1s7sMMNGGOCGErwuFwIYYWbOx8yG4jFwmYS7w4Ho7Kegb3uMMHsSoWMrYcBhFqOztXQlOHcYGzsntLXAbF+C1b4rgMEfUEKjHAfSmCAmAMGmBDDsXsvsJXg7D81hlwqYDarbCEI7MoLaFxWLVuMZeLT5yXUDFOzqLcdHR2ZeMjUMU1ipfLmMRT5llRowUQI3rOxsGwG6QNrwG5G7ow/Rls1eMlkpCXuRwYIxMLiuhsR8D57Rouc3VlEurejigjcGGajhZmrmSxLmdSvoaXLy2rkrBvfQjexsVL3vDg1wJk0187c1G+Wicmne9gISlwwXBUThucYI964jYfS7XKblq1VhsR0bhM5jHVcyymEsNHE0NfVeZbUF1e9RKIsqpq5WqpnPMtt2W4N03Ua+pNXmo3qZKbCGAYFTWszMqh4UzMy8MaiVr8DoqaWiMJWGcVot65mssHKGayDcG9mtCferXNVLgZ1cF5vOVuXRqcVmqCWM0tatxxGUy/v1d1hrjLe1VczUuIXoZcQq8vF3G6VloHP4COasMpoKrM1skq0zc1lzNcy83jVRy1TEfx5HROSxKOMVVFmrYziacpnOznF01owfizKpuXLxd3bcNniwMHeXCEcUXlrnLg/GMo27aHllXS1AbpgxjQzJGti6pR/KFWiA1heTCRqJrFQIONRmbBfzBdVe7cErN1plSrgVV51Lhs4RP3iVgwaw8ynBCF3gj0qNRESP5hjAlXW1RuODZGW7XDDETFfustJdJTCxwXSbJK2XMGWIw/fMU5mqxSGDDhcJgawNXhy/xWSs6IbJFuDiiWxoTnon8qmF6GGGHCruJhf8zggRYwwQlQYP+8Q8DYw0uCP/ACOD+kEEFwbv/SYCFtJsH/LV0TRV3Vbj/wAJqNbMuHStn/cym1uCtZDVZOKxZs/6QuNIVsiEf6EQhSQNMKGXZmmDUCP89kLg7GSkgznYjHBWiv5mDGiGxqMKuhXBLN8/zIjgYyo3G+brjiPFaTZNmH8dQwNmKTDCpTGOxKDVbV/K3bgwxGoSr5dFvfmAxE8X91hK2dljdW7FErjjtHmJHAVB/eHCxRYQhDFSzBFJTGvBYfuECEAqnZKLwQnLGU3EhcDd/cEhDZCDLGBmJxxxnjBgIwv98t2TDsuDBbKvZYwQLhDBET8mY6iGBj0tjnF45sYPQmtqiMfyJB8COxHARnJWZRjWwQrC1KPyBCOzhcCQhd5vY8HNK7rUf2rtwQYuC4+gy6hnS1ESmDi2sP4gFWXKvCwQQMWWUEpNMTBZHMXA/gGDkwwEYmtzBMnLCFEy3xd5wbDGP3gxZaRGEEIiYAuZobdTSwcaww2Pw3sFSlGKRzWhDOKqu+DOXwAiLWCH3kI4sjEUwQ2cFloS/PvOYwyasxdKR/CmB2DQ7mLgMDOeeahQ5mpoKVGBD75BvDAwYERcBgl6yF3ahVlmywTD98g4CnoxqzARMNX8Jm6ecmiU0mDF/fNzBLDDHZ3bCVKSG4YebwLGP4GDHoRN0SXYRdi1oukpCUkJWDCfSkIOGL0SGxq0KNU2BQvCcmB2ImH75uQYQ3TF1Cc1Mx1rWuZVWGGXsbn1pFwmHYvYEhBhLJbQ2a7lxgqRvZh9JfOzGG6K9BalCSq5mewERcENl2fnVlYTdY9C+hog4OOJm7e4YaAcMDJD6K9juxPALvZwQxWpzR00tkcP1X6C9iZhvcLhDPBVUWMIOsBAY4E+g9LDAyoGxxgYKVcTMpOi4U8B+a9whcHY2M4HokMZzLTRoeg14D84wjH2uzswlavmVxNVrgDCVshEYfMOHxcGxKw4NnmOajlw5vmkw6RhcPqYphwwwxw4va4bl8uds4KwWQwjsfSeJHo4MODZ3QJfOUq1YXLwrg6Ptd2VskU9LDBgiYcEFbJTdQwYfrqDuQ8bfAdkphhlpsmC/wAqc1Fw4caluzDBDbTcrADsWCQw/W3AwQwfNZHZgQuZywhZDDitl+iiWO6Qji9zBG96GVWLQTcwbP1FOww6GF9i9MuGVUS9zD0PpGFeDhwSr3HBskYDLmqIQ3JWGHzkTDLi1srtXSsODZGXmmZh0IxrY+dZeBMUw6GxuYUdkCa583Gr3MDgw/OQow7vR6VhjgNjclEQ3Y4dj2ERlw9YkTDHDFBW9qrGa6O5gPnY4N2MSGzH0oQpIxqsXsBh6A+0wRNz0mE2o2sluDFOiGKw9D6RUw14EdiGHBvdvjd1xsx3Tc++el9QYMGzvZFxXgbkY+12oT1lO5svQ8bY3seklH1kfUeFxlGCEMO92lWEI+kh7XAjsl7GxghhJcsfBwsuXseo+pYJBI4I7EqUuDYjgdUGCGKwBD2mzhJXjZDcj4DDwJcs2Yw9h6GmBDYhUYYMGBfQ+B4AbhswU9RDccOGsGG5R4PsejFiuBhH5g2NiODc9V/QVM7UYdj6XZw7sPEroHzm9wNq2foUwm97PiMaPpo2MMLNz6BJeCJXqcWmyw+d2AiQ3fnvBWHC7mwpDc+hhsVuIYPmIetwEYMIwXwPQ+Bs2GH53AQPE3CHpBj6Telg7Gz62+gQHwNhivoNjY9KwwbHtOiOHwC3BD1EcMdjoxxljCFvttxVmDoYJl6PoX0PibIQYQ+ch9FxIRN79Z6gTe4/PWFWX0cDsw8HDE8HxdnCQ9j4O54geLHYY9F+cxb8xLhgwx6Lcdjoe16GHZOh+F6G1rHwJRubG7hUjs4PoMEIYN7NnGsG6Q3JY+Ds4Zro/O4JW6eF7Zww3fADYhhIyytn6DwcKoG1FOHo+KbLDYvdcMYnznROhhWHqGEfSG5spHD8wMd3o3uxjg3MJueKbUjX3m9hxlj0YQPF3I7OYRIOZcbPxuH0kXoeh2TdhoRlGqRh9RC4vgYVwsfBAYYdlcVgjljsfSqeDBI1g3N3GtmjA7MWJEhGP378KYvS9rSJjNw2SGwohh2p+/Yx9DskYzWLN0iMcFm+oIfguMBg7MbJmVM5wQMENyoxikY3i/wGBTox5wNnanZjhtwQwsIXOMEz+0MIwlEvBNEBqHRixnHEbIRdSvyHRS1uEdPGYbXUMGGO9wi4ov8AGxdyAGVwiawYNjXMBZqDgWL++jWNb5xrNS77sNqtuENtVWTD+2m5ghhs8GGo7BUdEJwmsH7h4Nu9McNkzKR2a05vCZmY/uPoKMCudstpYbospMuv4Q2YRhAwy9mML8Cli6qq/gdzBCOHwKhCagx1Uo4mv4iG5izAGDDNTQsZwji9V/K7sDwImxmgwECqtP8AO+BsCt86YxY3KP8AMFbHi7VRggMP+WgwsdnY/wCM/pBBMiG7s/8AKwtibLgEf+FIjCD4n/AAGxgwxdgY4P8AbV2YEGAVEw4P9ocBhBwng+kD/PRHYfAgRwxZcUf5QjGV0ZcTdhGPjT/K4VqKKKODZqOCCSqgf4mLCXKsNqIehsixw/xkUFhBxZdMSgW12RIYWH77COGUwpxWDa4wR3YQ/iTFq7NYOi1HBu2NQMuLw/mK6EGX0JYylY4IwZocUDCP5mMFgYMJKTYibWEXYwuH8zZ0A2NlixBh4ksvdY7H5HcmcVtSmyRGDseNXKgQYfmoI7V4hqMEwmLpGLB6X+2pTsbm7sZejuQukTZ2Y/tviwlhg2ILtfglnRMP4yXu4cFu+mMovwaMXDxSL+S2Uw2cGY4UxeKhLuugmAHdxcfwGyYJUBiVFl4ORw0apUhuMI/lfBa1cLqhlR2TFlbmAjuMBwQ/Gmxgs6JLwywwCQXYuoYYLB+8EMMrZWBHGmLRveb3RLqIynYX8SOGo9HZGVFPE3BosG9hPvp0EYbkdGKxkMCuAshZi4wwAv3iEYpR4MuoGMu6erLV7N4K/G+lhgu4TXTJvovcdr3yJCvrPA2XZgYLZl6MrwNqZWw7FofhNk2PS2habEd3poBhHZfvGEPBMG5QSja/BrFWkNrwOz+JZfRYxjEoi0wgkHBLBYbMMGD2sIR2d3BCUygtl7ZhghS3hS8LC3c+YXYwuwRX0OM3Yeg2Y4YRaPwUbkWDH01CLC6NqqO1JHCRcMIfOeKMaOjsQXZcGAw2JgvDD8bM7VRDxFhHcwRju7XsKMHd+gfFY+B0B2VlMbNkTRLhUYRwfOQ2HCQOjs4YXsVi8FjjMIy/SfS7sQZYMcJgoo2LascVe1BsXHdjD8NdHobrusIeAmCJCOw/URgYMKPrSFGKa9V0RrwPyODA4fUy7wMGtxow3HBHBsfWZi+gIm7mGa2bTpcrVQhgA6HzOCOCMIuyG4YHoxwqQ2fE2YexhBjubh6WDsEsIsVi7EN36iMYpHwXBAwQgOKKbrLuDtW70YfO4MODcwLu70YbhWGJa4B6Oxhh7GGCEFIO5ghshsUu7EvCVS0x8H2COxB8EXZ8bwbpAlmCsOxsYPYYIwjHZ6BHD4EMIxidDxcMPmMEDBCMIgCHRjFZeBwERwsI+g9t7ODejYXZPFvFyujuPgbnR+lYYYFbm74oR2YomCMdx2fvO7u7D6DB7SzxIuH6H5n0MN3wNiO9+D0dlfmYbGHcwp7B8RsT1n1ng4DZdnZPF2DYdjQ+Js/QdCHSvYbODBue0wdD6joYVdnxTDu+k6JgcMfodmHsPA8H0GFgu1G6YX2AwBdjDHYw4dyG4+oA2Y7H0KVuw8QwPtPAPE2TYcP1sPUep9A7GDAnpNjB7HDDwfS9D512rAbG5HB7Fgel9Ls+xxWCMcBHBGMD1rBcJ7SMcP03HdjDD9N7nzMYfgCVgow/edlfqV3SPieh9r8xuRPF2X2PzEV8SHzI9GOzD0r0NnY9TDokUfYQhtUYEMPSt0OjCPRY7Dh3I/OCRwnqY7v4V6BFTD8wQ2Y+o2fQG56ToRPA9oxcMI+tj6WHgdDxUh9D0o6HofB8TwQ9b4v4CX0MEC8PqH6XdwnzJA6O6xIwjs4Stjd2DD4Gz9JF6GzDcDc8FwpDowA2T8L6FDclu7DcMOCOKrdgEcK/fdhYb2Hqdz0G7DCyn8BA9a4Y+p2YSn016WHzAS8MqGHA4fB8Ho4OibgMD6SICCJuxI9CBHogYYYd2BhfrIQYRhHatnDu7qRXoQ3Jf7bhN2XswwblXDoQcODoQ+8bvgYHZ2fBlG64YEBwVK/IeIeNGCMPS7ENnwrd++4bhsmFY4KYguHa3CsDZjvcPrIgAuKMJvTvVbMNzMAYU4pB/JexgxeAuwg2xY1T0yrDFYMP4zwZUI2xcC4GFEDYgMoRBj+YIbAYKw1eKjLjs3srhlEYRh+IgKjioRjM7MDxHYmoYTAn8KqJQJgZQwMEshUTwR/M4YO7LilRNwYjgWJWC4YP3mGF2IQdkYkYbkveyW/vuGEI7kNjwA2d63f4T0n0mxCPgR/fehGLCMPQ4GPRwQ/jPaekNiMHFxP8r0N32i4H/wBhs9D/AIH2rH/of6QEh/+h
                - posicao: 1
                  formato: JPG
                  imagem: /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAQCAwMDAgQDAwMEBAQEBQkGBQUFBQsICAYJDQsNDQ0LDAwOEBQRDg8TDwwMEhgSExUWFxcXDhEZGxkWGhQWFxb/2wBDAQQEBAUFBQoGBgoWDwwPFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhb/wgARCAEwAPoDAREAAhEBAxEB/8QAHAABAAIDAQEBAAAAAAAAAAAAAAUGAwQHAQII/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEAMQAAAA/fwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPD0AAAAAAAAAAAAAAHwfRjPT6Po+T6AAAAAAAAAAAANY0CTPkGEznp9H2AAAAAAAAAAfJCmsZTKZjSMJrGQliSMoAAAAAAAABjNI+TSMJGlaNImz4JwyEsSRmMgAAAAAAAPCDIE2iDPSgl3NQgzfLuaxmJg3yQAAAAAAAAI0iyNPConJDqxJHHjoZGEoWc0i+k4ZAAAAAAACDMpUjmwN82ysFjI8p56WItpJFjLASQAAAAAABAHOymkMTJgJgjDWPTUOTlwNg6idAPS8AAAAAAAHNznRCGQ0zw9NMuBBkMTJQj0uJ0Y6IWg9AAAAAANY4icUJQ6UYilFtNQpJbjUK8RpOHpajqB0QzgAAAAAEOcIIAppOEKbJKEKb5LkKSwIEtpNFwOjkyAAAAAAUo4QahEnyfJMlILCSBAm6SJGGqDcOkHSS/AAAAAA8OXlCObGoSxumofRNm8VQkiqm2VQ3DIXM7adSAAAAABjOQEGVEgStFlI8+yeLCbZSCINcwkWS5YzpR2okAAAAADRPy0QxZiOIA9MB6TBIGkS5rFMI4wEuV0/SR2YkAAAAAD4OWFLKwVUnyTJUpRjMZtGMiCZKWbJpkwWY/TJaQAAAADGQBRyJKObhWzIUMshtFZJI2yCNMlTXIEux+jDpgAAAABDlbIwgCpFKJsrhSC8nwbZVD7MJNmgZj0tZ2g6sAAAAAahTyJIgoZuFNM56aRLGc5qaJfCKMRLFOLed9OrgAAAAGoUk0ytleMxFldNE+jeMRRiNLcW45aenwbx3474AAAAAYjg5bislLMh6c0LYZjZObkoa5bSxHEDeKuZj9ZncD0AAAAHhxUshy8qBpGI1TCbBkPgnyYN8gDj5UjIbR+kT9PGwAAAAAc/IQ4iYzCaZFGmXQlSdKofBbSjH5+JcvJRj9jHdj6AAAAAORHLjwrhZSLMZz06ccxO1FfNcxFJKWQxiOwn6OOxgAAAAAgD8uEuVovxHFPI8gSdLKb5rlONcqheStnQz9Uk0egAAAAA/MxlNsrxFnpWiTJA+CGPSmkESBfC1FtO9m2AAAAAAVI50YyLOZlsNYiifLCRpxIkC4GQsZ0Iv5LGyAAAAAAfBQyommRZjIM1CVN4ljQOPF2OglsJ4tZ9HoAAAAAANYrBKnFzWJU1zEQxYyIMZDl0OlEsTB6AAAAAAADVIkiiJNo2jQNQ0CDL4SB9FmMRuHoAAAAAAAANcrBKnyfBJmqCOJgwkmfQAAAAAAAAABiMBsnyZAfJ8HpkPQAAAAAAAAAAAAAeHoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB/8QAMBAAAgMBAQAABAUDAwQDAAAABAUCAwYBBxESExQAFRYhMAgXQCIxQRAjJGAyQnH/2gAIAQEAARIA/wDTO9+HP8+z4/J3kZfL3v8At3n7fiEZ8vlP6vxr7GPI1wthL/b9+/N2Pfx8efN8P+nzc539+/5USO9PkN0a/wCEYcny60ZJw28idsa7Zl0yvlXznJylGUv9fed7zlvxrnOEZ9+X4/t2XeQ79SM/9/27bE2UqPtiIdhznxt7dOEefG3vecj3nOd7KUe8+HPm5+3O/iuXJc/xu95z/nnP+e/h+ewsFMCRGK4tvt+WhwzF+ujlgJv14PXVlH/mxDJ0Uo8uMRhxhO+XZwsbqltkKyuWgylX3sY0lUHrIHCsqCA7e9s7YM8OubHidzTOPQLYQ5e40maDvpHbGTUXk/sP3ro4WjjADs9Kh+SyUrszNSyG4zyTGucJx+rOgUyyyfKToxFulH41TG+MaYR7Ptnec5z5v8O22uv4fPPnOylznPwKRUYLIxd/8iO/CFsR2fSiLbDOwqsnGNVJIXTs99hbozZzn9L6hjRXRWxmd+euR5X1wqqg4v1nKoH5K9Vo1kYQ7aEu5mU7gynO58fH6aZcujQV7VWv9H6x2OYeZZnwGVMyfzn0qjaEgH5VZosjbVy8BusDwJo9iYShjlZr7Pp9HRrEx9Mrs9AChfVTXaAetO0isOAbQa11TTCUuskf0J02WgE3mcKtlbd2PZwtl2yfe8/4jTbXZ2zkJ8l2uXyz5/gs33Q9QLn6FTG60sW0jhgIe+MXxgfplsI978s7VjRBUtjSFazdj0ThRGWg2lABxCZnkmzYAWPSjjdVtAZlGAgEJFB41/BiYAJjnt9NtGcqyc538mC4ZheloEZUQCgdhDtMOUcP9GR5ZauG9ER/p8G6PQqvx+jTO58M7wTfUrAYzsv4qP8ASz87ynvrWK/KqquU2Etak2X0Y5rXPXjxNNo5T1mgbTgfTU6GpJKHH5UQesKz7ta5AUXrmpVkZdjBne1WhwLh2VtNI8YRGGarpdjVwmmucr+jQh/g1WG3V39IrqG789kKPw1drssiqKZ2lF9hZAXkhjjgJ39GzNCkcg6M+kt9DqR+r6Bc1w6yV8ayjPWdWWlzF9+x81WNQvta62/Up/hRShypT49iAfyECb6cNk0k132/mnonRa19nOWVEufQVTS9c/wsTklkrSOEYdB4btzL2flmnKxpyaVnAmAeu9Vw0ID6lXRqk1vy0iO84sD1i6neeSWzQkwthAlOi9EIO05SZ/miss6sJs+LCzJGTOo0yoVNY3Dhd+wFSaVMy8ycxwmiPK+zoqVHldoAq062kdl2yz4Th9TnZfNKPefHnw/wNhrc5l6OzeOQgpyrnOmki24ES8s0keFQ85Wdt2GrSJgC2K6pkXDkOXFcu2XR6eCaVDnE6e6cbQmajbZsFaaVT7Ho76CKKa6yVj5cAWRJb7fyuXCJ850fUahWGUUItB2RfyWQm4veeF6E+0loEYgbVM/rWAq79tJQFzzr0JboZwp7KdH1puLZh7/xIoJhMXo9ptG68ux6d7nPN/X2aVgOd901juUx7W536F4L6D94xprpq0qbAe03vdqFlvSkcFTaPzGg1pl79A30TUx0yYQWCVkc/GE9EFOEmFrxpoWH3FkI2IK2yXLMr2N/NIFCywgHmcJWmL6i1ZHLBzIcKr7/AD6+5aPOBN41JB1XPlojrbnytlU8c0VsguU/Qshz0ebrS1m+XQftloUqKRr05Gsu2UmhpuTyww3bqWjTXOnTBqTXl/f0VVNAfJ1iil7HiFO4P2GWPm3Gn9YxXm9tmNGWxU47DU/Zz7ZWR6ntrkoXQt1l3lnKroEubmYvkW5/eBZWIYzgT9EblPqGbvhMj3vPAyKq5Me5y29NlnentPOcB7CpKvnAu/7XwXSapoRoUG5wGgGKtIoDoQajfAAk7qgfYhDF9Yw1HkzjVIBNFfldJRsMmtuv4Wv/AKet/lt/QzVu8pUmPWPzQ4gLVRWcS2NcqFcXK/4/MtzPAXztfpD0bfPOhY2Vwo/n0ezm0auVuavivkltiO0dTng4GC+jg2uHgR1MQlILIz05RqBCWc8v5Mi4LZSHPWZDFNmQzotbsj4tJcuk4n3ypb2SxLzLnqONOC9p7Vim+pZho/G/TEfF9XDOQvSIKs9UnvwPqeM/Juchx/e0jyjpaL3mgMaozhUKUtO11H3gmiyyTQLrIQqm1t0WMQ9boL9S0SCqr6azlGtNzd3J6trlD0kOB8CC2dFu+lgW6lMQk9eRz4LHoOZ1HhfXrlLm9i+8qKoJhE8P0e3WZ6nSL9JlBdYvNpALAaKQPMtzjc3mZslpWl59QiQvlZ5+TvG82a61XRo6AKZ1A5w7WhqkYukVUHH31/TaGx/mZk1BrSC7uT7VRVKyfGm2oO86XP7ciVTNlZbfl8ql1e5UXN9hfu0wp78moTmpCa9SN6jipmZxqd2mNOrOBoXVNdMal6LCmq6FrFJqbT3V1VWv1TY6hjAVgMfDUNN5Hv8AZf1MuUCqqfvylOnAFtJqxPpa02Z11Q/NCoby0/en+d7Ls4c7dSQBLCVb2X5iu0mebACwphckeOjc9LPIPWB3xttdYPEZeLfK/QwWg/kKQdv3tMfvN45oc6LSAQf6XGtm1Ivc2nhp0IezYpPc/PEe8mJTQR15ksBqVuwF9O8L11+oxsYdF6gb/wBu/XCugN1svN/Qs1deGMur44E1aYr0VSY6iKpmPaPlRzr+EOcB6FW9EjKwf8tDsttq+NtEqZ8+HJR/l2x7BZmiTFSy1ibD5eUDiR2QGvapi5h7Pbvhq4HEaV3nbtJrtD501TrJqKIQcb/zwURQqlvQGkMxBwdVyfoOaEJg6P0+Gx7jTk3xnTdv323vNgeDpv6kHTNt2E5/Zo0eRK/8+eK9rbzMp+YkQTAPOpOhZH+nkCA8SumcmEvQdZ3Xg5vFp2UYyvjfl2nLM5y1tok41Rl0qICvtEhmggBpIHmVOwe8ktzdJqrMri6Igi584qmgVa0cnVCUJ3d8x43S+54he5sWW8q2LNoamf8AHFHYBND/ADcj0p3Vh9U7wGuyPOF9SnVAa9mQq9GyVxdoueFHD2uWZeh5cA9cA9A2SJVGH2vSGmJNadt2SaebaCnVzHc437mlZ1ae3vamgT7TeZ/L6u90AkwkeYUFFnHy524nomWo84ND4/8AoYcthD9SPtXR14XnBb84QeaWDRfl/N0CCZu/KY0FqPRdQlql0/RAUUeh7qUId0fq+kD5QbT3b628QwsY33NCgHA/fqlJnGhyBS/iX69o6GRULeNCyPJnZxo2hhrnxnB+9GgtJznzlqUCP1xRwMeNJFaDTQsOtGC3+/C4TRDtcCnCqezkCG386YwTxHjwj8jzSNZ3Tcx5ebTU952WpzcIFGHtqAUHoKJxGfCywZJHOE1Nue0qDZwrlR9VBdBRv3y3A6PZkgGBdrtzTdbotspawwO1f04/0JJCP0G+Erp76g3mzmf5ftGRVPQQ1m8d0u7s16PjadLzlNbEijxeAtiwY7I6aLHGEC9+wB/l9Mp0RmrKten0Z7CgUQjd0yFDdvnGZiIQUkoasrL594cD+nWrpby9TnXh/Vx73VDKl2eXKtGBf0sKH5iL5d6g1NNPVuvUvQzMBnqvm4DkMQsthnLtZllCryTMk1UQr0ICtZoxoNMxh9V6exmJGcG3HH6NGLG77Qow44tFv2aini4UYkllrvVmvwvspONBY6qAHKM+49dHv5Kcbi2r5rndQTB+mfBJ6odtk/zXTGkIOEAADuXa+zmZMr5NGyp/VSzNPLL6p1aQ8h6qfU3e2hC5Y4iHC1fo7bQ5J8guq2fl/Ssryu0tJrTdToZILVfsRg2u81FPrAbQNzfoIQBeEVoivRscTCiObd4+9MHqKKMk8PAESFBREW+X6HPvNhK4szLEP6q7altn8l1kaq+zl/tz8euaLNBaO9zsD2Mg8xKv5FuxSpHGAg1eXtSXD6QEzl3pWPcofRlBYiqen15hE6UdCXFfmKn9LIS4agm6nllhOha5FXqAF2NyovpnqP39UZlWngc20Gz/AIz9P1rG4WkVTe9cbPTXgbfS935V4vftcHjdC1FKtXKtJ5Z5DPl99FoSPS5dwFEpv/U5szJ0c4Vzttid3pYzXesYrXmA22DFxc51mvMPcM85rM103nfrHnqFDv4Z+bfMb++qPLShHEOniiYKe7ttOol223Lolp6zh+cXAlecMmMu/PkQKdSMJo8lkwClbVTRb0zy5OgvaKzm/iWwbF6ZJ3lDjAYFWMLef6Qj37/FsyD+TPEmg0J19GlPmrzun6Ibzt9+r6IlAH9XyNpqcoOVJOizTdY+SDtUx9JoRMOSqv8A43sbZrba6bJU9nz5fr6oN1kti0KYk0caQnaSsIy+qtgeL6qIgdN9duvpKsUErLgUNqcCh1kpwGp6f6Fu+GAN8EQdbAvA+c0nwsVr2lLq++dELQfPvMJ0TrqqyZOpHwHZ5Q8PyzCE2zhxxoZzPwN8NcOeAiaS+f8AOfPcXdC5oXm80uJzbJdTAUvj9yuLtyRu/wAIvtZV9ohJ26XHugJVbHHaxlOUOyuRD6DPinaG5a5HvCqt+2dMdYRrsVQs3lWF0pJ/frdC4/U565FlOt71XI33E9xD/NTjb3D8QchaXMgorzmbYcLBmyPM07nKrjOc4ec2M2rJU1eaCZh9FFs896WgaO9ScsJdUU4Tdxl3q7c6GDvMgEpihH/md9PTqT13mHdMeIRoPPtKiNGnSLKhPnuxsA7f+WyXW3WSnfR/Hb8/0pfJ8Pm+H7fh6mT7MmfdT8JqApzYEUabKuGbrs8+BNa90fIgr/w1mhEylHYsb4+eY6dVplzpiddv6nmrwpV+15QNHMLSE6ZDtutWzOW29SYGQpF/GPRAC78m6iA3pHpMJ1XnF5EJWMxJ06ppDf67543MnzJUu126tvAy2q9S0ybsL7bxNH9I4mpluvOM5ITtttq2BFLrhsz9qfovhbXEqlk8yU3f6+Poy1ZdMSLTunvG4n2n5252fEspzMsrCjbnFAuaEgmRrDqfpSTM9EuNS3IoZU59lb53Dsh7zUx+4zRQB07YG1X/AKf2WMQFpNjBmCnADp6nop2uE+1Az2aCQby8zZeRaMztIDoZt6Og2yfy/VbA1HrVoMKMud4bzDudkUAQI68w2ae/4zWeV37TucoE3da+1tXX81h38d/Zcr72vnOz/wBo/jTsxhFDO84e/o6uHLLO7MVzaHegIr6y0ejj2u4mknP0QD0KwCiKpNXarzguzOtQbhmmW6YDu9dzumUUua3JhGmYwc+BJFtNf6g2Jx6QzEKwywi1mMNu7RksdTxlAlZldMuhJxAfkk3m2tKJf0UqHLGBopbMwSrL8ZNcu0qBgfnvOO0dtkSAnPNb5ptLul9OeLAQBxujaw/eU57kwb97TcV2IUV2z0MBtiTyjNpmrcALjULT3kDzOlfqagprAlMGhxuiaP1KtG9ALha3uBjTQ0nVNoMSTVQWNn6CpqNVlscGSpoG7mNQEY0S1/Xyl+c0IIQZuoywUHGLP+jH0HCztTZjHGLNgs7uvGbpxtW6JcFUiT57+4QE/QsYuIgwQbjwVU7VhQL5qr9JnW4dZI3f491Q4LyR4WfM+zaFDypEKP0wwnO2VSjePC6wSFbmm2d9uvSjCWu2M/sAbdPqUsr7dLQ34VQFOYqANvnxpphVzaHYTCthzXtb8OZJ721OVRVn8rVFm7EJaNyU9m1v0kUyBaJbe6cUBM2eckjiJQEt+w6ygut8ymMWHuCn5C4UDvL7WJQFOXw1faif0qLQBYVFZbm1zMW+p4Alua3003X25nOX/awGQZraqVV95C+69umC9F0tF5faXAFQ986rEeleWoT8gdpGo58GYFSraZVy2x+oLTOEwqxPVAj9RZ1x+ZjnX2rlQxMBAeUUzgEydquIxxipzN0A16k4DT6NJpCdKaqY6BnTExZrs/nu8Reh9Bx+vLXTeLrCsSL/AE9iAV780fCFX5lmVPs9V5r4ODmm/IbDHGHKJTnId6i5/G26fEGfVtY9hP7fJFyRGKe++Y3B6hbbIdWa0xp8Y8E7M+PORHsKHKWzTjuZRqYWUz5RlFy6dwKV5UAZMClIwiu6fs1ADai6Zw0Gycu+ioRCuopDcNZmBD6FicfQFWd92F1TwYIyT6oA+RrMzS0EUNOcv6OhLFjVG9iCiKc+eWQ0hzkFWdQSeWuBVsRy4UVDmAdIqsXhL9XlbZasZpR5Vfw+YFdpDGfT4bkpq1+fR9FsnYAF0s/Q4wjrKZmnlWLZCu7oxRmToVKbwq9oovmFWC8cIMtaBA80ricc6ZVIgTVUOXRMkiDD78q3Maq7SG7TPgLdi0fGLWYFHcpo2ICsAtKsUekwoV4ra2ztEb1VOdLuqcDt7bc37bkqJW5rXeOaLP7LVnfACxRtsrXSM5G5/G3+v+XWRGHjfZPnIfIziijFWcBCJ5Eye0rzcxQsmsWqKxomDhA8hZfvKWwjsoxBRfxjfXWlRGDXjRqUZrP/AGtQHKiwldop9AQSGQi2oMxhTYInK1aRz1sMfwG1SOcstEFdPYK1J4z8nSQyHIh9vBXCQIMEEqlmhPrLzbpBK5z1v5kuehrqNM042ifU5F0WjlnpEzVzZFikDkBok2GAzmqAkdhPseCU3VLz9iIM7vWFKnTdrqmbUc3nTbbVYaokBJRoIirBi2y0ATmez02qgdS1XWMPvqyNeK86tEemgLWLI8eQJ/4y2SyTLYIs2GWa0zelSmrRp7V/OANOjWz/ADfZ4/P8B2AOanlFmCLxukYs5+QbenhSMstdvN6GD5C21MO+mecQm4yTn+nLWE+r4XO+uZgTgbOH1g2oH8ZMPqUTr5Z2uU4d5yWYjHQNpEJEOmVj21VLVnEnHk4sKKqIrrHUPqU9Y9Ia8ooCAYUsGkorgqhiDL2Y9OW5QWt1MLQRjz2/X7MCcOVJlridlC2jaGHUKWxGstvqGYy/ONVTap1qcG8w2kS94bwbvU2IeWnX0Wnvwm6C+FgcSdjRmlXlHaD76LyfqxvvOAneRkI6SU1wXL6LuKVLgOtjpxWTcsBdxUNYMCaai092rDJy4DkR32k4/ujAHfpOX6DzDgTp1UJUt3vJ4MB/vy88zmsKB5cLcrI9Gy4bs1/CAJ1RX3BAMmJrgAwCk9i5ZLklGqRkGAQY35p1leQQ0fqjP26nMWzwDbzpXh70TWB7XB+hZ0l2CFgEWF23nI2cyXrB4noXnEizsWd5CRkGWFz/AKTmYGSYiDUiuIQ7yUed53ned/j+P4derNTnm6FEmKuTZW+lVWyJeaFgpD4oZ2iXlXTHoq3+1FBvaPTYTKWWj3BUXblj17w4AQJkmmb8crWEntXXfdlNKGoq0oKti2Wt9JNrBZ1/RPrM+y/d6AAgyAq6JtGjotPGAoNGNRqc+x1UIQAGMQXPvycKx9tnBBbiYgQgo9Of427aC706psVQ6mboQklXUvadONv1qinW30ATU8eGWRSdSauZKvMhq71VC7l7BVPy4VO0zctTG0Ud/wAL5N6KCHQsHW/PO3U5ibO68Ap45w7Uk1WtbTcLXVVv6gbe8hWsqNysW0X0rU+KWuBeNy3HANbfDnCreoM/v117i21W93dGbh+XGZxau9IyLJB3grJH6EkVFJr1mqXuEbHyZ+NnvfdZqEALcbNMtXPNO1oFHBho0R7L5Yd78n8nsapYMom9sEH7Sq7e4sD41zVYczy6ma0lYphVeeXX58U9+ddbf2uYtcJmtOK+JBacpnm65t3H/GuLF27zt6j7Ikctq1bmmQl6ndQx7pmqlHQsZHHIkMb2jHv93XG1hpLYBh7KcxRCmKDPaehF9/AV5lM9XnwDUyyILjnDJ9gMY/yqdv3KNLSSlT0JfUtvIOLMo6tFWaU+edf6YYBRTyusaOL7tGolSNw/tVBL7oOQmrJdeW9HfwEWRYGD3SaCYXHTR9FNz/5aikf8RnI3q7XTJs020Lw/EKlbUVuDAfpytRgNHpkFwkB5Z1XlaJJaFCsDdVFw7OCLyeAFsU6i/wDu7DAqhYXsZ+AXqJ3pk2pY/wBMWaMPC4Qo0mQJQUT8qxCW8naDQaWn03ehjuIxrhGPO8jznPj3vf5P6rRS55MwvunglWUJb+E9PcwWQ2V2hnTzlzJvdf3VY1KM6PX2GhTszgQS8wnRXzJG6a8B6SUUk4PUKzg1vZDw6B9pZM3NhUG5X7Bzrc0fo4CgxL1jzUd4m1lB16bH5O0hnHumLNfM9KWCTzTuVFpYhrc1mdYLbeQtatWvLYOJLNOnc08ognGCQ/8Ad4KUXYSS17gGYyp8MzXLlty7Ud7yvhanYBvD1nS4NLIj9Jh1xQi7ka95QwEJmCT36KsSGFpaZ/NKagRz2zfsaI+stclqMHB6pTNzug0XCde+d0iBbHJQZilwy2Rpv1RYM8Yfu3SRN3lP6l9if3aIsbNBNGrPZbZASxSgFNo5ZdR5OuWtoea5y1bUAjzEGT3R3f0nCmLsdKb2ikd1oWhb1pz+T0xMtf4BuocK6WgRAk/rA+iBjKGPpLG5vfY4GfcrX0+h1w5q9SJdAZYyo1CS80pbmEdhJQ2RAawXB0QXKvxnCaB9lVafaGMfcXmeFz4MEoRY60CcHaLg76BE33VjvKjZJ2s45hzLsrARS2TzTICS7kSo61p95yVYwOnczOGyJh3OXBkKDL1q9yVsZaguABzJzKDvlOQdJuZe5c8SuzQzDvmXRNpZu5k2wMNXmARvnfDCNADBqM+a+DW8h2kKaHTA+wZoC/MUYBnqMRC/lwYfol/puz25D7S+EuryM6LZIUUBol0aZnkidJzSil0QZ+m771OrXcwej9C7jyaGm3G/SeNChhVOO9HxqJX0EqeDDna/H/pfo0NWNdUb63goBBoKlMky0wDxpHQql0mdkbSI85/L76oEW+0aQBsAbNBr8x1lyq9vnNMA46JZfKehyA7mVUHM3Gq45NSkUrvytez7byXACu8+uWQ2Q2X9Mtv0+aUtOOUM1J9qfUXrlENUTaj8n4qOqCkyTNi6SPw7o0tGV7+nrzOnBqeBF2IQkjGlarwz09bVAvkQrp6FrxGMe7V09dCkWv1pbrqRuBBrA52PnG07iKTJqLc3BuscZWbrSVQ+jDuxrqUqKCw0ErxlfbgOHnk4/Mui1OH98eZ3jQGPYOWss8dS5hpPV7dQuJvrIKWs6mcGyK9HlA01X5fY9Bo8oY/Pep3TLr1ytUR4Dglt+exYIrtEqt7nFdRwbnYNYokXdKg1JaL6z4UmtYiTKpclTPv/ANuz+Mu/y+xZxy/yU5ZU8RbpQZ8vUHWxEAd3KaGNJ9A1pLAD8K8OoAGVQGP7cKZEtVURER11HDvdLDP3ciWshYeisXKlproSQBgoc0k1G2UulDVaxdEmflRk/n03QGgVOi0vzzPS0iSD+5Mvz9oQjq7ZX1pKuBm9YUYo5uHO8A+FwNCEqNZ5uIVVh53RBiZOk51TbRBwi9hyRSrOToAtGMTrYR4K42+wqSbKo8baW59mAVyJrzOFHBTMn9fwXfFAWVwkz6n1ptIzHz7xbyrOOoShAYo8DS7dQXcod0b3pjajjpmgwLSlnB+N2YrFqTKx36Hlodq85hI/AFQCvt+1Cy35GJLtt9EKfv5T59YtWIOABUGLVyummPIwj/LZDk65Ql8fhLnw7+C/O4CLnH5WdbcU4KiWVDypXyDEmIzE42FS7gcDHGeI1NrYY/NCyC1HLBCx0VQZSAkfXLAilrEQ5e9/CO9c8zR8+PiGotw1dJNeGg1U6wjUam45t8nb1pI9/wAU25Pxbu4BiaIl+xLrbBCFUwAOiLprzoR+TmHGR06IWGhGvC4n5Bao0Hp7ypaazi1yehzdo10iBdOe7hsFdrxA5wWsqAvqruWbu6a5o4AMxfhY/wAnJ8q54AJ52OtG04XmicXtE595pOJY27yA7pxl3S75qr8pi6BVOtbUOj2ZrNeBdP43pVrK1UV2x6znI4y/tl8fj39/h8Od/wCPj+/87QOk9aQCTHsqiK+wnySk9TUENSdbfVyNXWZa8kNhT2iFofO1/TsnDb80ZuyKoKFrHK7yyw0XCJnP5aS4z8Bq3h5N1k6d6ts/S9BrE9d+a0FFzVnX5pG3+rqhNASksTEkFwuCwDGCJsmFAoYL1d0+0qSsNt6bb/u8wm16ksCFZPPLcDswkLmYVxiTr4GiXFguAeiC0Sn595u/GhdO82m7AaHMfmR+PAqGpus5arDRUoR/RASaTlPX1tg3XMJ5N/nQNFrM/YFkOkg8OP0OdAFvtI6WISeWHCFUmqpl0uZi8PpFtwcI/E3nP8EwAMosYkgeuy8KcrBrYIKQWfC168X/ALAd1Y/eq1ruqhiv70iEbrZRP0K75gKwRySxYxnCwZ8lA+g/sv4NRWSePGBEYJvyed/YV/fX9pnUIOAmAEYgwFgQRUIJyFoTnE8NsFvhY0uLlVdHhijNMlB91G71U9UNGdFym3+32KYqZuxMB5y4TM53TYlp0o6gulVXhUvIE2WcZsO2uACpkfMDED6XaRxs2AtqhOX5XOkYm/l191Py2yj3/eUY87yQAdo5pRFhpF/COx+WuP8AhnRI6JZwKdNV/ef6JnipVL+Z0RBx2bSyquy1XT2ppfVX2UZx78bp6BcU1pKCu+2kJZV2HalK2ulzAjjadlXB4wgB0SuXLZWRjb239pfgBfMM8ioQuNIs4QnAc0aYpMWXTWNn0q+Qto5mE5nCAWCLhIsuQt+MK+/c/wCi+35Yx/01DKxwxhB1y0Eake/5+VQ//f8AGKopJolSRTC6uXPhKA4FA/7DfUpjGuFcK4R+E5S/0/v8Pxbzn7d+l8/efv8AiMec+P47+Oc+WvvOfN34c/FcOxu5Lny958vy9lCufLO9+p35Pk5HkO/5vw+PP/Tv/8QAOhAAAwABAwMDAgQEBQIGAwAAAQIDBAUREgATIQYiMRRBIzAyYUBCUXEHFSRDkVKBFiBgYmOhcrHx/9oACAEBABM/AP8A1bx/SQTud/33H/HQ8+f40qO2SSwKg777jbf4+GHS5LJysoUTDAN9wV9p8NuNweiSQP7D7dFCN9iR46A36ou7N/TYDYeehuASdxt0Pt/EZBNFbcHiXRWDBGZSOX7HrCP4SuB4I5N/yu7AE8QzAcymQTRJDYo59p5PtsCn2K+GI2Jop4KqKxIG26gBUY7D7DqXF51l5BG5JGw+5HT8Vjkq4J5yJPu22AI+2/WYHiCQw8BiQp8hd13/APo+cIJau4oiKkuLficNqFv7fJYbHuMpUuCw7kz5Ds3klxyHnpfl/ncgEeNvb8+f26YAFv3/AIQnbc9ODs4Ukbfsvg7f3J6QKVmqt+rfZW3YfIJIGw2/fEdJOxXi7BSq7KrhTv8AcB22I8EI7NCATnudguw5cgGLHzwTYg/OTUd5ypHtjUELuR53oTsw/fxnJTFwtXoxG5DoOFfLsNti4bcgcSGPF8jT6vzRWAKj+Xw4cKEKEljyX26fnTWqurjZLycgA/LBk5AcR5DfGBZ8LgiT2KzMiOMQCQAAo3HgA9aRnE0uXU78wqkEEBNmJctux8bbmboLUZdyAUCKnMn9lX9+snJc0gHJ2Co36VGwAUcRsCfJ+R8AbnyT0Psfnb/gj+CTFZsWIRgOL0HgOeW6r99usLHKMpTIbm/MhlB7YRRPbwwfd2HUuWS09nVQrbHmeDEEs+7DyS3g7PgquLKRbcKqAtzdRs3FgGPyvI+BrkpsuTNG8hGWwA8NRVFNvL/sQdA9SYx7i0s78GQV8qzK7maNxJQ+WI2Gpsshj0X9dKFd2ZSo5KBybdtvA6NBXDqSyEHtHyF8LsCCyElegwpjZMeIBnFWUmLLvIhiGG58jqcxfES3kK6MC4QBlZSHYEbg7kMAcdJ0tN159py7AsTPuUCDlsA7DqThjOiz5WTICgLui9tvsDzAUeCTjyOKKzDF0UUG/NVahPNNwOY+58mbUrWpYBQ7IGI+y8lBA5Ox3AGztw51Clyib7cjxUnx9gf4JLFy6D9L78RxZvnYBtv6nrGx65VqVICqOKhmG+wJJIAPk9QdAcrk7c3ZHE/eQoYkliFJ6+oE8eMW5DvhlZiVOwOxA49b91HFBPwfw32UPyG7E7mY6y5XbFwu1QsZo+MTdEJq+zlGCHYsngIY1W3Zr3K0WOQGYO0z3NkUoCVTcs3WktN3qoYB5vIkD38mYsfDgtuEYgAxsYRZpMLw2ttMyUMfE6owJf44o3WlFshKFl8NZFDVTdnA8BwQPDDl0brWF/8AoKyhQrEEVojOyhiB5A4g9YuyVcJxpL2MD3S6BA4IAA8/2fHeS6jYqoalUDDtuDPYMC4IcfsRrEqVhkVWlWVDF34OHCuQEZKcdvK9Y6NWAdSVV1cj2l0JYKfIBYEnYkgEbfwFrqtLBVLHgpILHYfbpvwlSf2Hufb4HyWA/b7DTpfjTBICMqsRsCaAE7BfD8m9jDr1XntnWatQAaRnZVpdmRthOagbsBzO5AHpduGKBQAt5gFCb1IKHwo3CgbEDW8AJkUmCWaZrZTy4lXI4IoGzePDE6G8q3Yz33irSg4NFB4/iqoYpxA3bx393yTOYkfwn5cERNgVCpx4eP3zpqt1IcEJUs4Jps3EqZSLAHZ59aCgfsqWps4Kkqo5vRgXO3y3JgetVg+a9doPjnsO68PLyWnJSV6x8UxyrViqkrjT2UJZuPMxI3clQGAK9akq41pTpS00LhXZWHb/AJR8jmW2AU078cfGzI1LhrEsTM0VIlgpE5A0KgDfkL5SdtUDlE2puFYnwTwNEBYe4fAi4rd8fiPYXcgUc7MwO4HvCDwoJBPuV/dyAPkAk/wBR3qiMGLmQRWbmUShAUAsV47jp9Qng6bpyTYB71yDzZHanFBBORP3ZuPii0xNMq7BBMVcq18x3Fg45Oi7BNh5cs+n6dL6M7Ubg2TVrk1mV3aPJgAPc0yOJkuFOeoZKe5oJVLKQXVlDMvEqTyB+yYPpldQx3qskBXLz4oySfajAN2yKbnYAKd9Lke+9rnikyKupj4IRjx/oVG26isBmYiDhsjKDjWkC2xVUR5kuSNwC5GTxwoJZk37lArmVq7puAKpyQv9w/WpZJyse+NzKrRDWSq1ApTwj7OQ36d9xoZlezY7urqgATyAZhvKHcqnSPGscF3k4r+EyAhkZGIRgX4RmY/0XQ65K3xMNFZWmoWAYuwAoJlgSroyOznc6nBI5WZOqFMRWNWHNH8r9ufEMoIcFsxA7xo9i1V8lmUuae74QhuKgp02QI4xUFmDogDqjH/49lYuSV+NrXYTslkBZHCMZudpoxDDmjJ/AXkrLjHgKe1XIV1AqASSdiSFR9iRi6evPVvx+NEjJXmFgP1EOsph2FGLnr/Mnysjgzq/CWGzmNbhWJZxAn7c+s22Jp+Nlcd8gPOuWe7EBVLkS4chMtsenzNQ1LO7xZW7SovBQQ9QvJ32APJnPkHBgZwy3NT2w0iKTTtuC6IPBRf0FdkOnJNRMqlbUo7QKvUbu5G02QcE8J16t004ioFIYWnXNldXcMHPcVR5B8gL1g3eVdVCz4hxmYTkIQ7cSokmycm69TYDalixmQRTsyHJmBYBhV5ru7+Gbd+v8OtWpk4+m4tSCXrIMhnsqhWHDnsXIHWouaZ0IDy4urKlzuyV7YoaOSVJYgORrGrVysfPvN2s3eD2Z5FRjvNySoIcD5CEaZAwxsycJq8zOkEajqte8zEndR5/SxAbJb6l8rsTegmbTCtRigqVoFAchyH88r4taQkXQJMJcpNKkcGHCfb3+wQNxXS3Bx8aoA93F+LsjN9wvj7gfnopZiqgk7AeSenqEyNTcpyWmSngq/N9nVuWzP8Ac7OdX0znh4nbHnF0jCiXOUyDw1QWQFQg5ebH1Tmpl6xrttuAbF0lWqEUkFkLoQEYjmh69c6mZLcjvPZhFUezz94VU7hTgoCgcBy9L+lZ4WJGihBWQaqd8pzvNzQu2wBPwtNtU9SsiFY5C0NOPaZAH8bMCDtyAKdYPrHGsLRoF3ogpQFAvBQqGRIHTaLpOow5MjLzZ5LOrMvlipcFuRG7Fzw9O6PPG+mdmLNzmtrUo47jk0iUABIA8Hb1fpYAuvLdqNC6ra6EOvMpZwASF8oF69L66ul0uCnbs5xbczaXJP50U9okHmC3WQ50tEdQQ2KMxDR8beiu3xOflVYfqQwwsTNrhYLSPba2Uigu7OiDdipB2ABDK7ZWo0RcPDl4XTXk7A7wLVCI4BQVdSOnqsSgqUZKMFDBhy2YL5TYeSAQwGNzDxQsGpRQp3pxspQFvP2PMlRqFkpjiyFhx7iKXkVI/SoA2Hx0SCN/2P3H501DEszBeRUsvIICXIDAkKQPPV0E9J9OYgR+SVKsruxV6eEC/rHwWd31rFa2PpMgAgwdPTwJhQoKou5cudvLhz6+xhl6zqlynCh03EVmEgF5T5Es3Akl26/xO1cxwOJqpATHbjyhySRkVBO/XozQs2iEhXBniXkZRchnQcmH6xMdaroKIFk1S5hYyxXr8rsJs7Dh1ruuZTKlKJsxCUTHcBSkiy+QRuF6x/S/qMXjuU4Tec2R8ao5vy8t5IAHUPVGs6VeCKd+SPlV7J7bbLt2tvaCxJBB1/ATXZZkUqVmoysMNlNvWqHkQ2xZSAACTbUjr3p7DKuqtSWZjIMjENEUsqtyQEkv9wnrt1zsOrcl2+h1QKjjiBN+WxkpJPPbrU9YTBubI4EYYeYUVb4dS7TaSKjMr/fkGKMXwMvJUM1OGAZtyQB7ljuDEDuGXWIO5m0bJI45MmRFQqrMCrEK6beOZc7ToFqicVcK1Nip4qWJZ3mHHlXBB2VV7bO0y0yuXNAntW7oC3/u8k9Ww/pzckB1YAAI2yUQFk3UsCPDAgfmo4jLBxwwV7NVlZFI334nyQG4gnrDhNLeqsoIkRgwUHdQ5CqQquSFcvQPzLPiUTC0buTLnJ1Zz4egYOGUkHb9nc9eo3WPpj0nxl5hFJj3nlugIACA+ASleteR8T09pJCE7zgEiL+X+KCSOFT7od/Q+gi180r3HbG+pkZiDAIoKd8khCSQOtT1WGkYUfulGg4e4UlVAco6EbOX4knpPUeBqMkzRSlLSlks0mf2MjBUbZ0eqqCJnhpGupWemXKUZDZ/qVAqyBCrOy+NgD16k0BtTggIQ94yvat+Dms1V02Qk7KW6r6Ty3+vnwWknoum1M+IU+VpKYOyrsw8j0Bqo+lAsEmGbGS3eknkcZToxHMbJ1pA3GjhhMQvm6c1pNMSVFVlQCvAV61H/Mhg6ZU2UvXH7hFIr+hnZacI+WYhD1qLmOq6bKsEIfH1BEpLUY08KWZ5mhlujldiuq5MKYHq2AYjFx7kqQ3liUoQWQAqQH+IW20rLKHal48VZHm5QOQ/hwxAO7lzpmEuc8mI3HbgCTZFHaIdFPEOqnrJgTkYDhgokjkqyyQKymVFZ1bwGCgIPzccJbM1+rBW7ZBU8IqO6hQgs+5Phes/zgenMKMu6+pZM1CibAt2wD9zP7jZIIw1b15crzqmOGI+llV2b3L42mORfbtH02lMbGgFmrGmoWHN3cqACKq1W3XiqB+sPBRK5iMN9q4zBoqBJKhWu1VJDlVUp1qg72q5uL5AYNV1IDEj9DoQjuULkoRr2r2w8FSZ8kLkseYG4BStmdOvSnpiWTBbghq1MsUMpX7AUo7blizA9YuXhYavcTSikVWyiShXBn5CIHIXY9ano+Pr2M9AxJDgU/p4KpwA60HSsnSajIRiZjMxe/OGTDy/MBOBLgFt9wfRFm0TWU+0mytNvWU6sycCyPMDYkKG6ztJPpLNw38EDKjRkhlgoaBmk6uCCWR0ZUHpyQLWp2V3FlxkZMj9LbUPbcDiAAHO2l6XTScSua+IbRAWtMhMSVk7G67cGrtzmQhB1GGMNa9MO9CkzULu5LoOa0lyDo6FH+z4eeZ5uBjul6o4cIyTPASPBzs7S5kA2QDU9FyNQy9JumE6NSsFoGEyXCt8fI4lQEY6Vk1hk5eKhmtS+NRVKhS0dwGovlfIKgn82EZPi3e54JN1YBnuU5sEDe2Z5H5IOlhMXVdVilmSGI3FlCQFa+5gF4ouzEkFusR0lL0npy+Vr2dmn3FACRR9oq4LkswJYipxMihvkUpe+YyEVxkt3OBCqK0mrhkKgHSkZcLAM7So6xSgoHVDUqMgrNUlzE3lwITFz2ydM0q0w1Ct2grzDq5feckMhxQ0I35j0hl1xdIgoQuPr8me6JIeZlgbLzCk0C9DPXVNcIVG81DF3KipDKCyFpJ8AfGm6dk6fBw3ImjSHKrTJog8MEUoV617UTiVxgyMwWBiS5PiO4BABR2A5HxoGtV1kYoJYAPjTkHrIUUuQQxAIXwpZFzMcenNYTwyCkD+HyUtVyO4Kjn1/jFpC5nfNF5Tmufsrr8oAgonuPg7AofVmEmZ6c9TOkhZlS90Jm2/25HxIqtGA3T1Cwz9J1nyMlxp9GIcP7+YQAP71K0ITr1Rjwy9RhgoWL4+G+XLuUjyJQBkBZXJYFwqF4XycvSr5rlvoczGcmX0kqmJnYSLbX2dOtFbHXTPUTx4ieoB8d++g7V+bkpsFB3KEAHAo+WNLPDvGWU0gKR+FXuD5btf3Em5Kw//AGD9iD5B/MXgTj//ACAPupK/I3B61QnIx/SWiTRkvq1mVSMjNyHVmAfc77KDxRUOt5Bc4GNFOyc+oVCEam6kgISzhyCEYkZLtWV8hCqWxseIJBUqjzdUKcQCoIfpceC5XqMq1XdjCqbVNHZQIH8BETkdx4TTrvk6pr6TjRCyeWeyIgRVevCEtz4cKjnLPf1bWtliYvJwwNwU5r+CYxkARN3kgJ9daoMOWV7AHphaZg++pHgjmaJs5IZ0IL6xoOJh4UMguq04Y1lgattLdKBn80buI+4A0fTkzsvC5Uczx2nLHmjEUtFVEpc9wCxPDmde9MpCyCb82BdcUrNeMwGDhCApYOnXorWb55swyLUpC2HkXtHtc1LAs6OSCpChiDr96enMnAWToOy9E+oQu1TJkIogbnuAwHj/ABG0tM6eancLA4+pKWSSBEqZULOnyadettXtm4+qyT5OkZ4AfGyHNnRSvip+7hWJygMf1H/h7dG7tEd3VTSQrJAF8SLDtNwYIh0SzRe+MhDfS5EpCZZ3TkG4IuTjsyeKgOzDTDk6d6rBl2/pcwmSB1pNYnuL4IQAhW4ocaB/8La/IJY1rCrqRimisnE82mqjfinTktFYJNE7dH/XGrhabFQUJC/ZCGZVBNN9mYlfDb7bhvuPzD04rM55gQoai+zaSOH4o6sreHG7EkGAj/kGiRBRwrp3FlWoNER02ISrsvuGxwx2Mj1JqpbtpxKg7xXkh/YcSQ5Klfovq9Lx4msmMSisSoQFZhEVQXQO3B+ZniimTPEurOSOAPad5C1uKvwhISViFcEtkNFsPQVBdSA5JM3VHIA8INz20PBk61cfT4Wiw2Ba091UiZWdO23I/cpshYHVc2+JpGnu4DrOEmZU4MOKlHJOyEtxI86J6ehqd8UqiMA1HDKzinyVem5X5BD8X9JTo91PFyGpg8m7QqOIh3ASZDfdU2Zs7K0TKys5GRNqd4cFQ8QqTYMSU7i8SSB6w0vD1jTc1FYI001GEbZE0FQjrUIAC6eE8A3d9R9L63ikrQCGSpDwvsgI77UdRTcGahCPUbsk9LzIMWfHLVJscoOgMqNNndH8mhm4Rb8QupTJJ0jW1VX2VZFJ8zy2m2/4uO7IibNp3bfY9/FsnnghPObF6HHWwormT0CWD8/TOYsiGCIzh4lK95mm26PJVdS55g5VRkel/U2CgYKuXIt+ty7TFQAQO0GXpLzkuKDwUmKqpXslp24igIfuA8iX86YrpjZQLvxInTZ5uECFlYbBiQCfzD8b9B2XvsV5BQf+nyATvsPv4B6hjmOPg4TVAMufHkE4eGHlj9/sQRxXIy6FWNBIkAciNy3IMQ3E+SQCEjPSJEEkLYKO7kBGANNj2p7AIGKB8vCIqMdMVFQSV1ZXcHiJxCbOp4gKNnppvjO9TsoXjfICpsm7ozD9YKj2KCgZvRJNsLSKyojpkZ9kdOBFAGLl1+4VzuQ2jOmRjYGRNqDFlVoPPHM7Vm16BJiv8r2QEh8DFTV9SxXKAtTIqBR0LhogcqIQCFCEKHGl4X0r25WaaJjpUFLL8s25bZVdflfHq/SU1FdSuzL/ALthRV2Kh2US+B4cEhT6A1OktSlyt2EkUWNUtS1w3cATtkOC46lpP0mfzk47d8vFDCF8eTBObQctzQq1UDCT6VeOEc7TJtQNF1QyERLhjAOZ45HBJZCnpGx4PiHv0rHPkrgriWlYORN2KSunamHjkoTMwfK9QYRFKNhGbgMzhLsZoQH3NoM5BVxgoLppNGIQZuKgfcSZkDqVcGJVASqAcNGg8tQ9KNamwDN/IQZFaAAyd0QeDuh0zFAq6zi6DFzFLO3FBWwHNl3II5KQoORktkPgZAAV0StAtGkxDEBgChG2w/M3A+ndgQKAlHG6/qAKkEjogIJCHJsnIYAMSFKgBdv6bDyD1bcvGPcK1qinjy/lG6jyqqxLjYHJw6xRs6au9btuo7r/ACef6GLSUcX3LTJfUct7MKxwkLf7tXOOK0nwHNVC7KhCZGs2npr6uK0Imx95oIqxenFg9Sh8jnuWxVp6h15VqB3sMAErjVYylIbKAh2cP4VdC1OuE0hRnq+o67lW4Fk7VRQRdd2/oAylsdDJ86itzquLjsk6lAVfc5FggV4NTgAUGLpprq+Vw+e7cJRMZmCrciboU2JKU/WdU9VLk0ynoNqKY41GohQ0jFAhLsqcWYq4I9HZWTLHXZ47vXGpxo5oo9rM7cFJAHWDijRc9bQRnyqSjRZpRyXKsF+5Zu+g3D6ti8Gzw8IkpU1UrEv21kKOGSwdo2Lgm5wYqksiAvXDGp4cmJKrSi9t4VPhSJsClUdMrU3GD6t0gSlE0bdTIkCkkKD3lDEdwUw3B1F0bUdD1WVkDSyyCrEMtUdXm4VyhpvJi6hcIvDIcWA7+RJfw8cVxe6tSQUJlO/F+ZI1IrXQ/UsqMDTTstCxVM2RcY4AOxAk3Dcjnr4XExMVuCM9sCUvMkLDkPLuAwJHFvJZOx3xy3DSQma0BKEWieFECleSOD+ZehRD587kKx+N/t1NQTSxYtLkqMQAVZnYKQzEj/vkPN44JDOci7FdgvaVjNiPsQNydwc1Va1cnZ+GQysw2rzW55bry8kEAKetJRj/AKvI4PY4pfc1vSzRhNipE5gU8k+V3th6xrBLvbIZ5hqunlUoG4q/AAlUqwN6pQ6vrPcJKrxCt9Lg8xMKgRX5gHZKezTqvXI1Ku9Kuy1dycubVa0saZGymL2YEQ2KcnwPTwFGYQwYnYPmbGvFuK9rZ2JLK5nmsE1PNxp1ajdsOO4Ic+NWoZKD90vVwx9Cwb62MTQUrW2oOvdUqz038v5diACOsX1C066Nk0WqMFsIHgyhP1zM0LOzE892Oo8MHV8edSK4uQMhS5EuHCSsTafLKcMEd2B13AnqYgiZiLfEORLepvNuKvR2dbIZH7gCuHTUJ67phm82RasDzZ4YlUFG2dk3gQHEmGqFJrAVyHxdS09QG2bJxzkxokyoRj3KbKKIwcbLLJjW88LUMWVWBdkkcpmoFZ7HFdfmhL4sHvkGT0lI6myAhiyMFkzkOXKYlFISgA0xpQh6X1yVO2MrGpIlEjabwDAFEDFlIR1K9CSDH19SA6RZ+DChCCQPgt126ySsbLvNzsFS6ESbgwLBGQhSV8v+WzbDYnYnz87Ak7ffbbrEmtv9SyGdcmjEjdZqpLAuf0AfKDp5Ni5T2qRxUoq+J1BDkKRxCjkOkx1KvkVBLWJXbjGcwArb8FdtuLFOi5e81kW+t1IRDEMeR4LM7svCgDAgIXslLaPpM5ju1NkQcbUCWfjRvBFiG3HDqyUtL0xo0Sr2bJrRh+Pef9yWSoDslOY2dk0jSXuiXybKjqRe8mgskALmoag5uQZvcSIyaNfa71E+zSlZNVqTSchMCSOVVlSaG+ZHNokqRRq4QA50KMuzTYJNphkCJsD6eyBh4EkSD72a7SdbQLqo51kyKyqq2p1o2bTFe96sj7Sa+Pj86l6kI6ZKsUR/IXwM7BnPWsZZXBxxPbZKsZxo6BSEd1o/eru6NgqmHXPxw1rNBljB1xkgDjeOE2d1I4klCmqW/wAsGHdTBKI4aTPGhfjUh/ID1K1AcMUBYyz8Ru7eiRmgBa2LK1WRmLUcQQhlRSLZjVhombj5DF0ioQNQwaOE3cYDcPuVYWbhbCH+WerfTp4tQI5agsIyeBavh3kxfYFPGRzfK9NZ4yHV1krS3esLrRaKCSU4OQQ/UGft+ptMdBwMLkgCoAkRYByOBBHJGJu4A1XFZuJYvw8VV0DqQOPMWT+cuPyx8r+/WZLtSxcGVFpa/BiW50YgNyBZtiD45dBeU9NwU4QmARxUsR3Kf1C7D7Dq6NG2Fp2xR70x2bZ1DF1BdFYhrHrLd0TE0TFRUtZ+bA8XrWbM6cSzCrA7uD1HIGOdM0XDeDZDlGAVaE0UPxJKjmo8+C6d98bTp8Ejp06od1arnku7B1Wiv4IYh8VIGufYFdLx6u6NNsXBgaWPJm2feb8JBQUyaQOKuOIyys3JRSKPXNv3po55mRSMiCXqBjZM6ZBAcu2Q7qQS8YrBSAPDEyQcW2GAFcZOWci7uBjiYHf4xgEdgEklG/mbmc7ApCCXnkPUYt8khPgNjOXoBDZSoZdgCLGsMPGOO8Zos670DhaV5SeQ901dSu3EalmUWqXk4o7s6/ZmWjxog/RuhkVQKjatSiIIK8yGm4RXLTisXCzAB7VGLqoC4kO1bTM5G+pnnByJx3dAh7m+wrWijxy3B+gTEwdSxC7yUqWcErJYtb2PsAFIDOz3yHeOpXhJqYEFUFQVobGaqF8oOAYICDhoMjL0TXcR2SksMOzF3HIMndPlHQOX6ONVKZmMSbuokC7lQieFRn2JdhzDcR6agk45obYVZsbxN5d0GgeY5gKwU/rQ/mICbZmfQS5xiG9vNC7qoOwLcSxVN2N5I9SkqrM3oQpCsXVVIPgCzeCVHUdUezTwpbte6gKQqmcKK7Fg3NuO57gItWVo4EcdBfLy3DcaVQGgnQHcdqrUK/yHLehGk+mMSj1hBpurk5OTVGDz5/2ADpvgA3+rxpFp6dEK7srTrZRMIgJYPMkgnc6swli5udrxbtO1YyNAxinin+2YOCSH3OnYj5c8PS9OxVtc1LSp30yOEaKw3Bo52Pks8CVtmvnmUacYxDUZwTksjUVPM0YHhNiyRvjZo1C7o9YMyrZchAZArUq26ykjgk7uv1CDIwTR1qgE3CsiwkiiTLtTZm8lSR9c630hFlSssMo6mdXk5V0cNus2KAcUVzJaQrlk40i2NFP5ZUv9NkRo4Yg14EK3k5MgM/QDeMWGDySf4NX7rATsqoylVenN0B17Ds2PHIUIcN2YgybtyjlKzoOAKbOV6UKr2lK8YIbhD+IJIt3VQBxdSS+wAFIOgV1WUrMTUqHRfq8v+oYSU9CCgwuUxbZEANtnl285kCEFQMZB06JSb6LqRstMRghBdI5QeQDEeHI2XpMA2XD1KLpJKowqxSNO8bs3BB7z0WLHj+5P5iHtNn5Uo/hsxUjltxAJYjxsD46Ru4+MrYz2duTDkWXn9xvyPgfq6hpxuITZw9t608ISjZKjlshAkQjAsXysvC0yWE2pZRQzyYu4QlkCeNj/ACBRz8pGjNj5OPhShCIM/aQ9shQSx8M0W22bgRqJZ4DMPYNYTUgArNsCCB+TuHLAAN04CI2NpuHdIyX2qisHqzbs+5So8AklsSrY7fW3dcnPeFVd57omRRH8OyvwYmhYEZKUfEMBgFnWA4B1WlSEY1Yr1CkiM2jFGPOQsG3W+MFClhyHNiAPjGJDZDvGbGN3dWYKOLNyDr7u6pLbEKadrUa46LJGfcHgeIdwoLEuCQS6kB8uQOGEXzaVB3SMmVlpSiIArS4SG4ElK5+rNk0rht7hLHrdGjZA9UCm0loFBHyWL4cdOB1jFvG6xnIxZ7WrR2kx9yICru426W7/AE8L5dGzboCFZnEkjeJJ2IBRgCH8Zqoezm5WPjpKMi7M5YXtdACFIHPY9Y8nDIa4zWVyR8+6sk6S5+ryck6+2TIKo8N2hF33fgqByGYEqDBXq+LdJYyPGlFCg8KxqDsTxA2bf7/mczB2f6vCdXF1R3Twjp4GxNQT1apCGBztPxVLbcygAZkI4eQpYoQQS2EHuTXFniLSKgfCuKN+oMWV0IA4k5IbI4NjaZn1nz5uHNHWUmZgD55+EJBOLZWfM5oMu85SRk4EWXuMGcKw5sCxJRkrZZKcWiOjVZioZkMcsFFBVNw37vqcJ9pZATS1mZVkGvM1G6z+CSGBHWchSZuM3SJzJpwICoIurLQkEtQGgBLdYuer4gxFaiZLRUNuixa7oTu3OibAbqQuC7Utj5sPq8a5kTMIbP7aO9SW3x12opCAQUoNPZ57rjW4hVCi1mmFVF/2XJCk7ZKv9TLCG8XxTtE7DtDIoqhmYhACquoL6j281YOlRRqoagNejgKrLJ92dwBzLLxzYZWDp+ascilMZVjjd2MsuBCMxqiFxE8vuU9R3jLSdDPNIskoyR6ZbBBRkhQu5WQXapHE5yb5LYU1RPqayXwpzQUnKB/kEgzOjB3dKKNJwuWQqO44qRyeuXkD7GUJ9IjUzbxqiIYBYhj4wsdmcKfL9hF6y4PFlhjZtCWUQYrxW8Suyt88fLhigkxVBfLrSiQX7UZIqpP7FWAIO4/MuT28nj7gjbeeJKjfo13xezXIlnKSyrsu9cUpRf1uJlASwQA4k8idXOZlWxqU+/bYGGOCwUo/B+tTKs2RXIxcqEg5ueSMlAhLKPbyMyo4kGaF3yshosCh9omm3FwHBIIHBVVhucQ0a2UzJmhwoALN3GYDmpUAgsW8gGjswrU5edjhhwLuXmG3cgMyb8lHJQQHTKrJa4mPaQM1elC9Dp2Tuqsx7gCAsCQzyxsZ1xalKaVWohui2GWQh5EMIu/hC/UMm9TBmMJ6nFeLhCprgJ2+RIKYtw3l0Je4bK7e3KhW0wEE34tIkiez47IQG+Eyfpc3LxcZDGyd5Wpc5PvU1YKgYMCpRlL0Go3xMYWRKF1lmoadtw7IrIOCMVDKEdmUNgY+VXLil+a3jk4zvkNcWLOHYeUPPYO3n1Lq0k9N6QEiu+RKTzlEjcbk2tTq5eos62YSwMIMUFAGXaXytHIYIJyKjBwBe2i6CoKm7Mqgh7BwqqHXw6dC6K1dVzaTaMm4uAQmXTCmqe8BQ526jiwxMbGxMZUOWhxqEFYC7pKxJbmwIPhyTkIBXHoZgibD+RlRwOPyAf3JP5sIIY5WfgnuUUKCrPY40W8EkEN1ksyK88culPuD3A+PxZUZR7w/QwRNq3lYJSbSIZwJM1nCMv60PFgQT0WocK4xtUzK48O13DM0qk6qrEgq/wBMrbkqvSCeTGWLqypVcirNUNJioyl2JLU47eAQRDCDVwMXJkl8oyJoyPOUMjLR2JIcIGK8yNlamWBlaNS7Jj90sywtRW5K68uQbwiOZ9XJacMiwplYN1QsJ1Kdq3JgJ0UKZklJlRjITO8B766a9qyCyos0BaIcFkQlflAcd2xH07IsUNJ57KzOpejyWihCAOzZeY7hDnEF9Zhc1GU2VjqwVHnOgUNKhBDzZVCeTDRaT/yWYUI2Pd1ssa7z4hXsU5JYeKL4OraHldlBaaM84Lw2jQzRWLzWXJXigfdDz9KaJkrk6wNkNMilc2qzV3MYtQfiBHfiq7bg5gbJw9ExRJ1bWdTyHJXJoWQFN08hAoQqZK+TUjL1vUbNWtdTpimgVlrYlwSSEJRN17Lt1iZeXSeZah4uuNVWJVxRwswP10Z3CAoCcZUZNLxu8/HJsjtzoqUAY0DcXqs28eCisWUn9m++w2G/9QfzsrFSyScEc5sGBISqcpvx2PFzt1wTsvpWywzMIW2PCs2FXG2zni6kjd2OJjq4rjZXLKg5CAgqnKr8mA8ksSQDyIKNHJ5II1YkIGYpOBZgreEq3hWYCirFZWmirPLnBHWNVs30zKj1AR7EAgwJGMJYqYucdora+9iJC/elaqHnNERWIYAl82o/0NWAph3Spcqk02MrJx4d3FdnJWbqcGKV0yDvV7G8nCguFY4eRPfZAEypkIxsXhJMSemOnZbwm4q2LRZjcFmKdtOKMMZmKSlju4RqKbwogGxZOaqoCkMpafGZUHTtOWmq6OJ5BskWCgzacgwVY0VFK8t3Q+H9LZnMb2RVW2dotSGcn7zlQogQcN+ADXyIaTn3dG8ggLBS3NpFW8jYlS7MCWOZp2QYFSOQZ1LE1RE3bZCQjhgSQUOs55loejb0ogXEw6si5X/5svaZShSTlmTrVcURvHHRjOWDp0GM2jJgFiKL2+QPJEIoCmSsDfJkCOF8pWIQUPB34fYbBQSvmkBu5CFPI2+OPtIUr9wCOh+cDt1llVlahkJXUFV3h31HueQBDHkOtY05I/WY4ciK34TVWpGwvF13R1CISvv3NkcJPOgWRabciAnhuRUEnmze5ZktebnnkYdLs4ZGUMrV99gCQSMg8SQiHq+FubciVTNqnEEuKoS4HHmnMkAUjMUxUdrYFrA4l5OFnOwRpdtiVYM1SQzLkbk3hi5+q4QmVnQu9djSXdO1dk/UCSorUjBxpyPqDS5szfTwAIYWgFmqiboVZCx+KdxZtEY6Ky0ONmfihpeZz7ZPwE2FGBBOiODjZOwqJ2yCKTVwUcjg7ly5PhdkY+s8EYd9LrUOiyerq7CtLABdwAEUKofcOYeo3xLTSo4szyjdfmcvhCvhOs7UcrA0aq5PcWqYJzXelSEAQntoh5FRsvWm4302NEy7Np1dySneVd3QFF5D4KqCAmQJaVes7WWcjjFmNHmzE89gH4zYFvAGdJI0ki8kVZIEAEwVDAEAsDyJ87H+AB2IB+4P2I+xHQT/AFmTWaogvsFYU5qgSi7fDAqVK+ceqv8AhkEyrsu/FW4bqW+w6xt6kibqMTU5EoAzBAUqqOrKnMqGJG0vbKGSETukOAHrh5CoGWm5K07TAs5cl8Rq4s5u7lY1Z2CrXyyv7gOIqpKqw617FNKaUWPdoGZmHLHdWtzRmIAcDdGDgvdMlMcV24iPPlae0tjxLsjI+wB2CAPVcueO7BnmmTEoH2ojVBHcru5YAHYPqQx8/FlZUIYPQjuOlFYKyvMvurE0frR9WthY7J29pK+MdosQfCO4bgEDAFuvTOjaJpyp3E4uI5djZlbcqj0ZByKKF6F6eqtbi3feUUW1T2MZAXYM6qT5cAAJuNeBzNRzAqhneqg9vG4oKbqs28hOtRxwUyAH7o7S7k7I+32X3KPkqCLY5WFaMOXFT45bAoTx8e7YHkGC/wACy7tFmRkJU/bdWYdGrq6tRw7S+4EmKqQP5CPA6JAyMFkqQ0F9vIoG7iFCRxHJRup2Gm48wZc7cnRnGxDPRSG4IV4sQ/jpQBhasqpRU4LyIlTyxJAYFAASdlK51FVgK0NKRhkEblQo2VGHjgnkDc9Zbj63EivgtMBSzp7uLryb5HDj5V8DPbDyMOLB2gzzLDmy8RMF1d9wPIAcHXdAU4+Flp3vxQ6t4YpyU8tvPAqQXAZ1tlNZQS3FNpOacbIG5f8AAB8mGJLGxfxfe/BGZnryKgMPjrTMF73Sg3ZeTAqvDgCeJUe5gN/IB1Vy9cmzOSpCsx4kOzAIdgu4VVHwCpA2P9P+P69UPtkFG3tA8AnyT/CVmXTf91BBI/79WcwFZlwhUOQ02YBiwn/MR8fcCLTDEkMPbt233DEFh58dVgmRG4Yee9FgCQOIACuN+XkdWkgWDAABpAjuJuAd1JP/AG281mrclBJCnYDcDzsOlgSyvzYu7UYnlyGw22G237+JEFagE7tw28N9/bsSBt56z6nIV6MzO5CuTxYEg8h/7QD7BtNR2wRuv6tv/onpZALPlyLMoA2DEkkn92/h6IGU/wBwekc9tFX9IVN+K/8AYdBegB/5CPcdj/8A3rYbDyfP/qz/xAAUEQEAAAAAAAAAAAAAAAAAAACg/9oACAECAQE/ABgf/8QAFBEBAAAAAAAAAAAAAAAAAAAAoP/aAAgBAwEBPwAYH//Z
        required: true
      responses:
        400:
          description: Requisição inválida - A requisição não foi aceita pois existe
            alguma iconsistência em algum campo da requisição. Confira se as propriedades
            do corpo da requisição estão de acordo com a propriedades esperadas pelo
            método e se corpo da requisição está codificado em UTF-8.
        401:
          description: Não autenticado - Problemas durante a autenticação.
        403:
          description: Não autorizado - Acesso não autorizado.
          content:
            application/xml: {}
        413:
          description: Request entity too large - A requisição tem um tamanho muito
            grande. Verifique se o limite de tamanho máximo da requisição está sendo
            atendido.
        422:
          description: |-
            Validação não processada - A validação não pode ser processada por que algum valor inválido foi enviado na requisição. Os valores inválidos são listadas na resposta.

            <table><thead><tr><td><b>code</b></td><td><b>property</b></td><td><b>message</b></td></tr></thead><tbody><tr><td>DV10</td><td>key.cpf</td><td>CPF inválido</td></tr><tr><td>DV15</td><td>key.cpf</td><td>CPF não foi encontrado</td></tr><tr><td>DV11</td><td>answer.nacionalidade</td><td>Valor inválido</td></tr><tr><td>DV12</td><td>answer.documento.tipo</td><td>Valor inválido</td></tr><tr><td>DV13</td><td>answer.sexo</td><td>Valor inválido</td></tr><tr><td>DV14</td><td>answer.situacao_cpf</td><td>Valor inválido</td></tr><tr><td>DV20</td><td>key.cnpj</td><td>CNPJ inválido</td></tr><tr><td>DV23</td><td>key.cnpj</td><td>CNPJ não foi encontrado</td></tr><tr><td>DV21</td><td>answer.situacao_cadastral.codigo</td><td>Valor inválido</td></tr><tr><td>DV22</td><td>answer.porte</td><td>Valor inválido</td></tr><tr><td>DV41</td><td>biometria_face</td><td>Não foi possível reconhecer a face na imagem</td></tr><tr><td>DV42</td><td>biometria_face</td><td>Resolução da imagem inválida</td></tr><tr><td>DV43</td><td>biometria_face</td><td>Imagem corrompida ou fora do formato JPG, JPEG ou PNG</td></tr></tbody></table>
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/422Payload'
        500:
          description: Erro no servidor - Ocorreu algum erro interno.
        503:
          description: Serviço indisponível - Algum serviço integrado ao Datavalid
            está indisponível no momento.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/503Payload'
        200:
          description: OK - Tudo funcionou como esperado e a validação dos dados foi
            realizada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PFBiometriaResult'
  /vbeta1/validate/pf-face:
    post:
      tags:
      - Individual
      - Biometria
      summary: Validação das informações básicas de uma pessoa física e a biometria
        da face correspondente
      description: |-
        Permite a validação entre a foto da face de uma pessoa física (objeto <code>key</code>) e uma foto da face dessa pessoa armazenada nas bases de dados do governo. Esse recurso pode ser utilizado para validar remotamente a identidade de uma pessoa.

        Para realizar a Biometria Facial, utiliza-se o atributo <code>biometria_face</code> dentro do objeto <code>answer</code> uma String com a foto da face codificada com <a href='https://pt.wikipedia.org/wiki/Base64' target='_blank'>Base64</a>.

        A biometria não é um recurso determinístico (não indica se a face da pessoa é ou não dela mesma), então cabe ao usuário utilizador do serviço utilizar os valores retornados na resposta para decidir sobre a autenticidade da face enviada pela pessoa. De qualquer forma é importante citar que em testes realizados, em aproximadamente 99% das validações que retornaram alta ou altíssima probabilidade, o par de faces comparados eram da mesma pessoa.

        Para os dados do tipo texto, também são retornados o percentual de similaridade entre o dado enviado e o dado oficial disponível nas bases do governo.
      operationId: pfFace
      parameters:
      - name: x-request-trace-id
        in: header
        description: Este atributo pode ser usado para que o cliente possa rastrear
          suas requisições, incluindo neste um número de identificação (UUID) para
          a operação. Ao utilizar este parâmetro, o cabeçalho da resposta vem com
          o campo x-request-trace-id com o mesmo número enviado na requisição.
        schema:
          type: string
      - name: x-signature
        in: header
        description: Este atributo pode ser usado caso deseje que a solicitação venha
          com uma assinatura de carimbo de tempo, informe <code>1</code> para assinar.
          A assinatura será retornada no cabeçalho da resposta, com o nome <code>stamp</code>
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PFBiometriaValidateInput'
            example:
              key:
                cpf: "32580422846"
              answer:
                nome: João
                sexo: M
                data_nascimento: 2000-10-10
                situacao_cpf: regular
                filiacao:
                  nome_mae: Mãe do João
                  nome_pai: Pai do João
                nacionalidade: 1
                documento:
                  tipo: 1
                  numero: "000001"
                  orgao_expedidor: SSP
                  uf_expedidor: MG
                cnh:
                  numero_registro: "0000001"
                  categoria: AB
                  registro_nacional_estrangeiro: "123456"
                  data_primeira_habilitacao: 2000-10-10
                  data_validade: 2000-10-10
                endereco:
                  logradouro: Nome do Logradouro
                  numero: "0007"
                  complemento: APTO 2015
                  bairro: Nome do Bairro
                  cep: "0000001"
                  municipio: Nome do municipio
                  uf: DF
                biometria_face: /9j/4AAQSkZJRgABAQEASABIAAD/4QC8RXhpZgAASUkqAAgAAAAGABIBAwABAAAAAQAAABoBBQABAAAAVgAAABsBBQABAAAAXgAAACgBAwABAAAAAgAAADEBAgAMAAAAZgAAAGmHBAABAAAAcgAAAAAAAABIAAAAAQAAAEgAAAABAAAAR0lNUCAyLjguMTYABQAAkAcABAAAADAyMTAAoAcABAAAADAxMDABoAMAAQAAAP//AAACoAkAAQAAAAQBAAADoAkAAQAAAFwBAAAAAAAA/+EEYGh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8APD94cGFja2V0IGJlZ2luPSfvu78nIGlkPSdXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQnPz4KPHg6eG1wbWV0YSB4bWxuczp4PSdhZG9iZTpuczptZXRhLyc+CjxyZGY6UkRGIHhtbG5zOnJkZj0naHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyc+CgogPHJkZjpEZXNjcmlwdGlvbiB4bWxuczpleGlmPSdodHRwOi8vbnMuYWRvYmUuY29tL2V4aWYvMS4wLyc+CiAgPGV4aWY6T3JpZW50YXRpb24+RXNxdWVyZGEgc3VwZXJpb3I8L2V4aWY6T3JpZW50YXRpb24+CiAgPGV4aWY6WFJlc29sdXRpb24+NzI8L2V4aWY6WFJlc29sdXRpb24+CiAgPGV4aWY6WVJlc29sdXRpb24+NzI8L2V4aWY6WVJlc29sdXRpb24+CiAgPGV4aWY6UmVzb2x1dGlvblVuaXQ+UG9sZWdhZGE8L2V4aWY6UmVzb2x1dGlvblVuaXQ+CiAgPGV4aWY6U29mdHdhcmU+U2hvdHdlbGwgMC4yMi4wPC9leGlmOlNvZnR3YXJlPgogIDxleGlmOkV4aWZWZXJzaW9uPlZlcnPDo28gZG8gRXhpZiAyLjE8L2V4aWY6RXhpZlZlcnNpb24+CiAgPGV4aWY6Rmxhc2hQaXhWZXJzaW9uPlZlcnPDo28gZG8gRmxhc2hQaXggMS4wPC9leGlmOkZsYXNoUGl4VmVyc2lvbj4KICA8ZXhpZjpDb2xvclNwYWNlPkVycm8gaW50ZXJ0byAodmFsb3IgNjU1MzUgZGVzY29uaGVjaWRvKTwvZXhpZjpDb2xvclNwYWNlPgogIDxleGlmOlBpeGVsWERpbWVuc2lvbj4yOTc8L2V4aWY6UGl4ZWxYRGltZW5zaW9uPgogIDxleGlmOlBpeGVsWURpbWVuc2lvbj4zOTc8L2V4aWY6UGl4ZWxZRGltZW5zaW9uPgogPC9yZGY6RGVzY3JpcHRpb24+CgogPHJkZjpEZXNjcmlwdGlvbiB4bWxuczp0aWZmPSdodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyc+CiAgPHRpZmY6SW1hZ2VIZWlnaHQ+Mzk3PC90aWZmOkltYWdlSGVpZ2h0PgogIDx0aWZmOkltYWdlV2lkdGg+Mjk3PC90aWZmOkltYWdlV2lkdGg+CiAgPHRpZmY6SW1hZ2VIZWlnaHQ+Mzk3PC90aWZmOkltYWdlSGVpZ2h0PgogIDx0aWZmOk9yaWVudGF0aW9uPjE8L3RpZmY6T3JpZW50YXRpb24+CiA8L3JkZjpEZXNjcmlwdGlvbj4KCjwvcmRmOlJERj4KPC94OnhtcG1ldGE+Cjw/eHBhY2tldCBlbmQ9J3InPz4K/9sAQwADAgIDAgIDAwMDBAMDBAUIBQUEBAUKBwcGCAwKDAwLCgsLDQ4SEA0OEQ4LCxAWEBETFBUVFQwPFxgWFBgSFBUU/9sAQwEDBAQFBAUJBQUJFA0LDRQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQU/8IAEQgBXAEEAwERAAIRAQMRAf/EABwAAAEFAQEBAAAAAAAAAAAAAAMBAgQFBgcACP/EABkBAAMBAQEAAAAAAAAAAAAAAAABAgMEBf/aAAwDAQACEAMQAAABncuz6RGiiI0RogPTfQRhBVoXjR9IJZcOZl52usW2NHzok05NSlTUfg8CIVng8HgQXy9wdqUNc+DzThEpPbI0rllSa1JuajWJ1zoZS3M7SLqlcyWuVyoZUyJPlvT8Cq1VeDwILwvmnh9BGeU+Ggeac15HqEuKrfN9odKPpB6iyqZzVgKfRNqbXMu4uXNyHmUkoEBwKhROVIS1nAvJ9fweErPC815D6VfqqHWKnRQ2SWzuZNKfUzUpNKYKcRMFOVW8sssrRqRalzREPAghuQhzfxfX8xWKJAURGsttOf0mnoZQSLtYqa0VqyYcTrlbhdJI85bmYq0mV2sV4lKEbRJpI2o9LyM75fo+YrFE4CJQtI5noqa0Cr1GN3WOlgm8G1Jm5bCXLKkFwG4h64i1zsUb/l3uMgbGtsENoTUekyXScXWoKxwiArnnHTniKp+G2/5d9yhabVTAYQ10RhlLmEY+5h6ZZzo56ffm0KvsnLosVFCO0EI9EakGHT82yh5ipkZUaZ8a6EPPTqnD1XaqRTe2JP0iJeYSm5rwEcyLgjmMzJ789F1cvZsK3nPpGCMOOEalDpRk6OKChoImWXzLpzw7Omc/RqefditRlBBqDWvAUfqXge0Yk1S1EWp532celrPv/LoJABgHHahOY6eUpDmn1IRwKOSWS8te056V/PuHKkdFY4ateaQCDVrzFbIBnDSBoot8cb1c/wBQ87PIEADAKE0BPBXN7SS14MDRzLPXaY7dIiq7DZmdOdGBw/ArlG3MVrwKm9D7FebHMJrmvVy9zJ32DGAWRmoTQE8Nas7mNcPS4XVVcb9A59d3ncTLX02QZAUag4SB6jzSschZZqTakZMYXPOjDoOmHZ8NBCEEdzCaAnjdCx0zg0g1Pzs7Blt0jl33OVCjQpTylDwKD2vC9YqFG1g5EB1y5SKTK6ZTerm+hMLGIIBFDYBFftLtMYDWeo+dHp7DfsfF1XMjnTGCKRNGOB4FJIxRiTishNJU+rJxJhkzdF0830nm2IGAgiNVzWQp2W2IGpNL5Tq7Tm6OwcHVZ3FDqUFAFXhKnNnSwipQip+ACddSoN8qfTKLUeqZTnU5W8z+ns2gVrnD3GC2zzpPXsOq92xr3IaXy9Wl5y9PWuLpoOjHmu007I6GjkxdzGmki7nPUqfgYFBWWW3yFSLJIclqSpa7TPrhlhqnN6QFkVNsX3HLS42xq6ziufmRdGv5Onfc+vH9s4laGztVUW5YBU7RXe5aWMiy4Sec2zg6ZkRoRWchUQHM/fGq6eWPcZwOoZ3q8nOGSavLzj0S2fMuq0nJ1arl3w9klMhZR57RZxgiZk3qM63OakxeVl4LriNrnLc27zsVNvnqDIvqee7eLP7c+eH3nG7nNiHLWjHLQYHHd50HL0X/AC74+6k2DuM1eVFdAysSqXN73C+lQjRedDmG6o9cyaZ02uMom4zu5m+lcmuY7uLIdXNn2d0xrQZ0MNPlqrXmkDmOqdy9ErHbIVWO3zj6xR1mAvW5aw52uYXR+bTSJGmlqOfK89051tEO5KpsYNvnV7i8j2ceI7uTOs7nlWlimC1cauS8TFWuBosMNEz1r3VDU5e6r6jxpNRaxV3nV3ldxcS4p1553LTO6qNoqyk5K9U7FL2TymuPNvT4M9a7fjWpimi1+WjxtJ55n6NTJqliUQJuoKyF1DslJ3UlrFBzqQFuywaY4qMdIbGWkal1Fs0YI+ZlnPLPW83P0uy5Vr8q8LZRTgRnKsPXnzjYrOx0h6oKsSYFQgVAIurlyNFftHSRzU5aDZJqHNvYoOJjwUrXJPW82grLr+em0xpRbMpUKVzbm9SGouDKxuCq/FINASXHTrVUCanXNrSMJ0EOHHKJalE+TEgRIC6pLlHreTn9c+r5Xu8aRLbaCpuT53yepSovFnIqSRTi3A9oQRTSJNMFCaGqKVZzCuHK3USiSiEEYAy6knmPp+ZmujHqOVb/ABtyXaO/nKS4rhfl+zSw5xMmK8qeUUHgFUJuIPMF4rXC4JkGg3NO53memugMpcDERIYpdLpHO/R8/K9PN0jOuhY0qO89/KGhRca8z16HOozdnhr4pRmS8mxUQQtDHhz7fCZQWac5lNdXx0sM25DEIqjQQU6baMP3+fjenn3UPfZsSPovr5m1IW8bzdvPePsoWrvl2cWo2g8JTCCGylqc3tjVzpXstg0Ir2FazXgdFMmhTUTN5DqwwnreW65C02U8B9eDk2N32OvSfN9Chl3fLuSbKNqpaSVDKkbVZSgzUidaplwnJUhvMkhWpTZYp2WjM3i+rl5p7XlJebGODwWFy9nhI2yK6F5/doPP7H56mKayJrlDvOIx83b5ayZ0GXLRWU4FRYrOIpobzJpMxFxjrIx1wvbx8+9bykqEbQPBazT9c/AlNrnU8XXtfL9B2exFUFqr0xqrmU3Oz2rW66q8VZqoCAuBEnIiOBvO8Hpcdp2OmC7uLDep5qEtBCkHbS375KjzEdWmGnQfK9GThqs1Bp5+885Si2eonPSzpvmhKzis40nKayVFmIxDqjTxRc6516XFnO/hYT5DRoO4x0NpJBGYRBIvU8fZa8+p4sBpmHmwqbNyTQbcjRKgI4rGokSWcBZmDcVt5S3L5OZ+pww9udrGi8Hg7f5noWqJiRgeN4YegM0+NvKqom3z0s4oc3XWU+s1tZxnCAYVnF3kaTJTW6jTGHpEK4xHocTKhoIxBKH0n5PdchIckacHh5mjmo5ee0aaGFnF2Jfs7hS6TSK7WA3mUDzVvldzNFcwKmo2zCTmd+an7OZG2AgIxRfSvl9ejattc0Yqfk/UvnuNWRaxZFTh2U3Nz0LFRG4d5pSGBgtJZBQKituK24Y86LbGh6cUtebahGlF2Pi6e3Y3b0i1JGg1nCb4bO2Py0UflT0Sip+d2c3Om/KQUKhG/VNcRCc12kUumWzg6JCwG8cf6svaIYla8H295XZYy1pD1yrN8qTaMQ3Q83Rl+fpguRVJUSSnxVtNTosqYKtkiJMuILmDcVzhtLo8vQqeYWud9eDtIazzPB91eX1xXJ98qbbCssghQtZjDpqOLvz15Rdc44pg3w5E3YwyK1WgxtcR7iHUjqIyVxFdRqaSs+XUZ7pxfaa14PMvuXXu1Z7C5isRjROZzSGDzPUzgUO2cOobSMmgiILFSptrGuYjI1KQyXBf47E1x6d18fz0XU6QrGsUXmXuF/TdZjqSMCPwHHiqzp/L9Wly1otJqriLco0xjQck+WgPQrDseO0l6Tm6MZtjO68O23zcys5mwDPNI1tOfXvt5FaiM8w8ihgdCo5txef6dWKpedbUxLh1p4ED0vyZUNYxzIK0+O9zz65jbCD3c+0vPtl89BRxhnPKTGdExrulyJITAMaMyWWucfWaeV7HuTph0qXSKy8w3LGkB6b0KBU5CdxGmiy2nZOFeQPU86r6p7FOF3NUrHDzTL8VigYnsEwbciJrLXLtconD6F15npRkVlKsuIdJlJqBgEUgcyXNmtDF22ehZRXNJ7XjR/Q83RZ7dL5umubq1Wkk/8QALRAAAQQCAgEEAQMEAwEAAAAAAQACAwQREgUTIQYUIjEQFSAjJDAyNAclM0H/2gAIAQEAAQUC9wu8ITBCUISIPW62QcgVsny90rMMHaGhlpjix6bYYwwWmlMlQkytllZ/t6rVarVAELLl2PXe5e6IXvSF+oOlFRzWKe9qnW3F0FkqK6cSWNnR2Co77sR3fMVjcCRCRB62WVlZWVlZWVlarVarVarRaLRaItaFK4PkcWtG+VtoWT4LLCZNlMmCbKmT4UNzVR3A9CwEJ12ruXahKu1dq7V2rtWq0Wi1Wi1Wi0U9psKmt5U8mXumyo5CUGlzmtwmJqa5MlTZ02ZR2dU14kWXISPCE70LTl7soW17te6BTroau57lotVqtFqtEGK9yHxdMGRmTtT3ZEUOUyPK60GKOIY0WixhByEibMorWhhttcsZWFhYWPwfxlYWFhYWqDVek6IXTBqsTh0gy80+HlsMZwjmJvG6L2ZRpoV02NdWUa2yNIp1ZwRy1dvmOZcZL3Q6LVYRH4P5wsLCwsL/ABXKXy+WabLqlF05o8QxirNELXDJwEWotWiEYQasLC6wVLUa4WKJYg7VcbfMMsGlqF1dGFGFGJOjRjWq1Wq1WFhcrYFWtPNk0qhtTVKQhaBhArP9gIIpzMq/U0UcurvSV4WK7mpzU5iLE6NOYtE2Bzq+CtsLsYg9i9Q2xLYk/kdwPGaxYwsoH+yED+CVK0PZagMEvpS30csUUUUU78dg/S20mln6encY5WqrqleWUvk42p22YmCKB58oIf2Qs+EVyMO8cE3trNSYT1yiiinfasf6Ib/TNzh4c1ep7+jGO88GPnt8XfaH9ofkqbyLg1n9F3DZ44opyKd9q23+gm+LX4Y+SQRjmrPuL7HYfw/xdt8T9of2gfxlFPXLt0m/4/n+RRRTk77VppdRsQF5fHIZL4k6LL/5GnC4RpDQ7wgsrZbLZZWVlZWVsjIu1CRbJy5iDsg9BO/7LKKKKd/kFT5KKjQucpZEknJunZI2FlOU/Ou3eekzSIfguXcF3Bdy7kJkJFut0ZE+ZGwu9e6whfaEOQYVMBLB6Ik15vP4KKd/mbcDDa8xcjM+GSm42bHK1wKk+S/iI+63GMANwLPJMjMnMAH9XC/V2Ico0pl7dMnTZl3LuT5lJPgT8joX8w5Hk3lC64pthyoclhcBmv6jH+KtchXpi56yhYrnP3LiJJUsTpGSvjbO59bssGqa8+O308zNpgw7mOXELZbZKfOcmZxW71HIQoLJCr2E2Vdi7E6TxbsJ+z3GIlNrhCom13pu0R4iUR81d9a1azLXqa9eRJci5OsAENmemwPmU/VHNNFVkXt6mlxms3pZm0tubqgtufLIKpKFLCNfAczC8JoaoHaqJ+UAVqVO8tE0nnZN8mtWbjEYTY2OE0HmxXDacp/gsW3VoX3p5jw/BixTi42tXPhPf8/1KBOvMc9t2By9RQNrcr6Rb5v+WPgG0cAC7IgnV5XttVHNTzqt1DL5qHYwVMsdVwL0OBKfOSopmRKPnGxqH1BXc5tyjZT/ABJ191bkqorVLR/hPiTgHZ4sn5Eoz6L3TV7iNe5iXqtzTyPpNmKlkZU3xdHC17ZObrURa9VvlUnMvlTpC9D7AweJr5UQw3XZX6uW2KmpOXOswtbBooa/ZNJVEZ48vUDfjzIIrznNZ5/k9NuzxZPyWAtGrRq62r1xx7engouni7CtjRW5pZhFVZK2WDqWiLD7dlFxdFUL31YhE1n01WGfHkK2r5KoT4mI0IcQ0+pQ13BUoB14wud+pv8AVef5PTBzxZ+yUPzNOIl6rn7ONrR9NV8eVJWaVchaU6thzqgLmawqMPlUVRV63UY/uNM+7CsxiRvVqpKrZE7jTkcfZVTiZHKODRr24XNtzWk/03/+npV3/WOPkr/5+PUdl1W9yr/cwBYyHMVqp2CXirC/R7JUXDiNRU8JsIYCmFQ/UanT115XQuhRsKYcInKeVyozUf8A6kh+fpJ2eOd9k+QsoffqHNrlrNXSZrvLPrVGNGNOjyukLQBSHwSovJaNWtdhT/Tvtv3ha/jbC3TnK4doZP8AVf8Afo8/0L/s/f4CeM8hWmdNaid5a9di3W34Kc5Su8AbKABi7soPCedhrlOGqa5A/grZOcrJ+Ev+s4+fRrv6aQonyvKAKseFROJR9h62ysrK2T34RKkK3DA+yM+6Tbhyy6Me8au7dNTXLKJRKKtH4Tf+Mn36Nd/DIUSpIwx2zU1zVZbmct9tJG/KytkJFuspzl9qb6sXNFY5iVksHIiVnuk/kNAOTsSy8W985DV9LKKej9XT4teE9ejnKV/gyhS+Dug5cq32nM8pjetJ5z+PtAouX3+HNyuTplylgky2AhYKMRIp8a+aSpVEEeFhEfh6mdqLZHZyrmusvY5eknGOSWUamUFOu1iveUwjfqg89HVvTcvGA2EkHb8NKPlDym+Pw5WXJ7GyqRpYcuzXjLjF/Aq1ouXau5dmUXolP8rln6xNk8ulXcu5y7imzvXa5F5XB8iaF65yjJoIJDlp8Byyt0JfHuUbeF7gOdYPaY6uq9v4fD8oapextbCc7RzZio7uULOULGV2bIyLn3/0rXnUvW63XYU0+MrP4LnKhKHV43/HOE12QXKSxhGynTFQpjFvDEPfRuQijKscmyAR80zItwzKcap0pYfcFMncoZU4r1A7+nafGfxn8D9vDy/CIfAnyD8Zn+HSDEsgKhmXuWQqXlnOTpnyJpwhdkDNspzmruDU3lXNVjlmuUVzY1pNjAcB7l6ich+0ft41+k0Mnhz/AAwqZTqaRwd7meNd0kqipWJkeBvL9FusH6ddCZxckii4OBHiqDGy0IXCPjowpOPbG6P+N1d+Q6ULm5u2z+0NchHIUK8pXsrBX6fZUVG1FJXd885TXeZzgSZe819zFS2Hs2xpxdEm8q4D9UKfyDno2TkTuJblxjGBhSxpzPlHMpHtAsyds2f2srtKjqhCqF7YL24Xt2rlIBUtNkXYQHS4btvK0Jn09SEKUAJz9QLmo94Sm2VDYUTiQnfUhBQJaeQmEcH7oqzEyGMIMYg1iw1fFc9VFipDIh5UjjhgOzJQ5RPRflSs2DwnhdeUK+UysCoIAE1n4kd8NgifjyE+7v3Vsyvq0Jp3ng7QX6PaX6NZX6LOpOAkfHyMBqTMdlNdlb5AflsZOA0Z6k6psv04kmlhezKiqaFseCcKR6nduHuGWtNh97h7dQ5Q+z+yp6gdWt8VZPJUhC9qHYFvKnSJ11jF6ha2S+w9RDsOcfIeGtbKS33Bx7jVrJW6Oetk3yh4TnBqfLlF2yllwHTbO9NRh8/W0DnK1R0Q+z+yGlXrj8OfqpbKmsFXbrwZgZGyM87kjdAhy7iAyRCQYacx74Bmye7y6Y6+4wx9jIJOs0uBCzB4ECOKafx6htl7W/tN6gxfrFAvmstxJMnyJ2S/kazoYI5PdKWHxMCFkPTXYPZlbqObBFldhTX4Rk+XYCuz4ulU02GQM2ULcu4jj+3jrMxjXLy7OH7e6Ry9KcOynTlnWd0dQs+SwhRQdU07FOzCkjwiQ5D4ISArsIXahMQhP47F2KSfwHrrLyCq8WF+rT8JyE0Fb1PR5WJ8Fz9sMZmnkf0sHlNYj9x4y57A2+XOhP8AK2wxSM8PiW2pIDlqV5W7gt3r5laPchEvg1B2VWiOYmrkn72uG5SXhbdziOO9V1uR/wCPbVZT15Kkn4wuEh7eXfH8vARLgvJfEpSyMXXhrWS9MtrOC3LJW4EjNlnRCRZCy1eB+A7VHz+IGEuhi1LW4HK1xHbfX63eluSNC4Tlclx9Xk4+Z9HS0w5rmFemonu5eTA/BGVINWwlzmmDZvLQNbWmHfFXf2MdEnxhwljwnsRjwsLyslAlY8poyqsYUUeEGrk4eyoa7pq0kXjg73vaDxlPlfXL69Pkmz+ieLkkDum5O4hbFf4guKB/k+zYjD4K/gs/jttOU9qcMmdoBLQi1ahEL/6z6a0JjAHVmhBNU4zV3LKWPj6YkLbuU4fGH4WgNh//xAAgEQADAAICAwEBAQAAAAAAAAAAARECEBIgAyEwMUFA/9oACAEDAQE/AYQhPq9U5FKUvSEITcIQhCEIQ47fR9FuiyORyORyORSl+TH3hCfClKcjkcvhSj3CEIQhCE3DiQhDiTUJ9EiEIcTicSEJtahCEIQhO717FiLESIQhCEOJwHgPCaTF8J2e1iJE1CEIQm2NGWA8YIW4T45CMUL7QzxGL40pdNmIhfdoyXx/o90glpfRk3kifF7QhCF9np+zJT45aohCEL7PeaF8G9NCEJaX+HNfBj2jEW79GxspRj/e1H0RgMpSnM5lE9Tq2UvR/otUeRy0x7RgPV1CaQtwhkNHE4kOJDLVKQWJBjGIRgMgsTicYTa6vrBoyQ+zIQmsNTV+C09tnITKNHk7Qm4YCEMpyORSC7MaGjiQxQzNfPHbIQWIkLuyDRNLXk2u2ONMsYY7hCCW19fItrqzw41HlQlqi1O0H8JrIy/fh4vWJ5H73BfDkMXxZ5P3S6r9MPwyQ+q7QaF8WZ/ululKeP2jPc6rrB6XWaZ5P3S3kysT9nhfozYu01dZMTKUon3Z5F1y1fZ4H6MhC7PVhkxFKUT75HkfXLUPDlBlE/g3pLUJ8PIZP2UpS6pTx5ezmIW0Pd1BIhBonVa8w+sJvmYZUxe/weQ2UgsRLUIPT3TF68w+rXSHjMdIe0JnI5CZS9HvEZ5+iINdcDF6TH1hBbhxOJxHiMQ2eZ9o2cGcDgcDHERRdEjiib9Ho5HIumMTGzN9lv0ej1pMW10o8jkcivd09Zsfxe6JlLpdINEILSGUozN96NnI5nM5FF0pRMumQnS6o2MneDxOBxQ5rDdKUTEy/B7g0TrNMeQ8tUwJ0pRMve9n25GWR76eNn8H2pRMo3qj3l6Exj6tjZejMX7MfaGiE7UpeqR5Fq9mPt/TxP1uE+aQjyHCn4+z7+jx+T2Y+xr5wSMUQ8qFl/DPD+/VmLmR4srqDRCEITpBIRTyexvizyeZQxf0evA/qt5Hn/TNnjYun//EACMRAAICAwADAQEAAwEAAAAAAAABAhEQEiADITAxEwQyQEH/2gAIAQIBAT8Bssssv4UJFYRQ4mpRRXzssssssssssQhCystDRRRRRWK+8UJZXNljHxRqampqampr8KEhLixSLL7sRZZZZeb7QlhY2NjYUjY2NixPLKPwsTLLLLLL7SwjZIfkHM2LNiyzY3P6G4pXholiyyyy8X1RFFEpUOdizZZfKFIXkFKxokWWIsXVlkcSZJ2VxXd4shIsnyi8UUUampFDJPNll/NMiyQ/gspH4SYyXK+cJF2iXaEissliX/BZBkvhHmeH/wAPjZLtCwiQyfwor4s8bGPqIsIkSG/peaKKNLEqF+D4o1ELCGeTCQompqamo1m8ojE1xR+EkVQ8aigalCFhDPIf+iFiyyxj5QpGxsKZsbH6aiiViyxCyyYizY2NhPL4sQuLExSF7zJmxeEyzY/TyixeKKy8sTIiKNRwHEqizxvMubLIv0eV5qzUUSh4Y2WSYhSEJiY2WSaos8TzPtP0TeY4ssZZJjeWIi8WWNjGeB5l1dCkSwizYsvDY3lDwpFl5Yzwv2LEupCHh5sssb4Q8LhYZ4/0jiXUsofTwkUIea5ZD9IfmJdS/eL+CL7viP6RESzRRRJe/pXFfBEBEsxXoopUeT9EP5JGpqamo1zeInjESzEoo80aZEkh9oQuXyyyKPGhDRRRHCPLGyKokP4JcXmiuGeL2QgUampqJFFHkha9H82NEuaKwhyLLNjYsvFDiS9Y8C9i5vho8i9kspCRWbxWEjXKzJY/x17FymLjyoksoWWhQNDU1KxqalZkUeBdIXHkJrKysXyyyzYvDKPCuk0bo3R/VH9US8iZIoorFmxuKRsWWX3Rr7PGvXVll/FlFYWKKKHwliKIr7PtMTLLGPFCQsQQumqIxs/mfzP5n8xRGiistDRXF8rMZCfTLoXkZ/QU2eymS5oaKH8Fh4jIT52wiMbFAopE+KKy8IYsUVi8oQuKFEUDWuJjdCfNFFZoorDGxFCELjUS6kif6Jl8UUUUUVwyRAortdV6PIvYsJll9Xwxs8ZYvqjyw9D9Fl/KyyTGeJ5sssXxRJWjyxossTLLLL5ssk8R/SPsjAlEWLL+CEedZXyeV/seMiT5/8QANhAAAQMDAQUGBAYCAwEAAAAAAQACEQMhMRASIEFRYQQiMDIzcRNAgZEjQlJicqEUNEOSsYL/2gAIAQEABj8C0z4OwMKFJNlbSC66F/lMrOuF5URsFvurul3Nd2/VZ1BlC6ys/MATAQg5UDwcrPyccVm6JUctL+DYrKzvZXNTtR4Ba2ynLipwrK/iX+QMeYolymZUKQFB8Xr410f6UFSAhtC6t4llCb7oVGcfFJKvMrCHj7bcaPpHzNO8dPjCNna2VhYKyvMtgGzVAyviO+QIKPJMHB/dO8dNg8akpp2iJXqkL1E6oXiydxLkBlBvyM8Uyp+kqm8GZG6dGdXFMtwWENlqbRm/FE8/lSw/8ZjdOlDq5yoAt2u6m2e0KRtj3TyDN4+W7TT9jv8AZoE3cqFzThuYTGuqWzKd+IHJ85ldSpPye3xaqg/bv021G7RJMJootbB6L4b2d49FVkOFSCj7oID5DKzo+OIUdDvQ6q0H3VAe/wD6mbGdlBzqrafuqpNek+xx7L66AKUQDrlWPg2WVlZWw490pjRxJ1/Fqtb0RHZ6ZqfuOEZqbA5MVyqUBEVEwmNnjZVojCdHNEoL4bD9Vm6zrffgbltex1qlm80fhMNUhHv/AAmHg1S4lx5nSFIpPIVOHbLeaJL9qf2r1S32ppw+M82/Qngc06U8jKnTC8qwsaDwJMn6LiPoraUn/oKcmloklZj2VOpWqOO1wXdpBYTb2C86kV2hvJerTVZrCC3akQqrk4aXUBpqO5NuvS2B1U2+ivvFHSdO82VbuHogJ2m8CnsPEJpBnabdU0VS1v2cv67S/wBN3/Zf6lT7r/Vqf0pDNgFvFVH83a7dd8N4NUU23VmK4XeEBW0DtSjKjyhSMq1kGSvw5J6JrXNPudGt5SqaKp64WFhYVDtDREHZcqf7r6SsPa1EbXe6qJuoF0ymGSQF+lBqAG5tRZTshbJELu7UqW5V3K40+ip6N996OKc08SIVJnJo0uFhS1S5rVgBchpJzuBQo4LC7rlZAvP0UaB3JM0/+t6k5vLC7OODnt3DCMELvOgK91jx6gTdD/JDdZTF7wqDchpnxB4bx0X10qfyQ3alY/lwnlxsB4R8Up/vpV90N146p/h5WVnWN8qp/JBVh11bbgvSXpqszk5HwirNlqkZ0vdThvJXx4Ff+SCrjVvf2bL1F6qq7R7hOVTcDIIUeDLVdqtqEI36c4ldp2MTwXlKq7XdtxR7w+68wQ/EZheoxepTHuQqb6b2utDwCmOa2GMsgefguRiJVrhSp4KUJP03ynnqsrK8y8x+687vuvMfusn7oOcT8Nw2T0TmyCOm9OpErZVlhWXJEysRCzpfcd4VnFMdxhRu2hSjfKAV3KBC2iQoaoLdCWmyhZXNRoOp8NzN3N1YoA4V1DF3isqNtX0s+FBO0FAaZXVXOtMeG7qEV10OllhYMrugD3Qu1T3CsNaoqVfsu++Vxc5dxiu1SFMKVdQMAb3lK8h+y9N32XpOXouTX/CNiiDjOpV8LCuFhWUXtpnW53dlSnu6o7uN7aFmvXvpm+mNbrCwvKsayd117nQ7+FhYWFttF2KD/ekZUrulXR3Ma41N0ZWUGjA0O65jCHPbkLYx7r8v3WAuCu5OBfYotPAwrFHnpaxQ0tvzKPJckOCDGCXFEvpyP1N0O7VrUaDalWrmAmVX03dmqcWr16n/AGVqrl6v9K7yV5j91Uc3ykyo/tdNL4QQ573Td2U9xy0cVfCe80Q1/BwtvRSosYP2jcssogTtI7WdIPDcB5qNSoXVZ1iVKqf+6EfTevWWy1+2TwC7ojXCNSjgeYovFpbcKMKy5LOt9LOR0OsKXLonVKZG3OE7asRw371HfdDtNTvVqgkTwGvNcoRLSI4hdpeBs0nVNkayFfXpvQF1UlAcU1fHomWHuvpnBX+R2VwbVjHLonU6jS1zeG9SpjLnAJlMflGzpK6I2kSnxYqPy7UgBSNLqQoO9hQuenVCUER+lNq0/IfO3gQqVcjvkWqMyEXdlrNr/sNnI06zHU3jIcNzso/fKBdoOSjgvqnTdNAOcItPlOES2/iSrasqcH2Ki8HC/wAZ7opVMdCrLZ7XSFTgHcQjW7HPaKHL8wUOBB66UTsnZHFC3RWVuC6qDYyi0ovA8hlSM8NzHhY1J4tum1AJIH2C2pumk+o3uuXRF7D9FFehTe7qLouDqtIfpaVTpU2tYzk0aFGNIT+ieDgot4BycBg38QblT2VFosHC/XSpTHlLZhHSylf/xAAoEAADAAICAgICAgIDAQAAAAAAAREhMUFREGFxgSChkbHB0TDw8eH/2gAIAQEAAT8hScpi7oN8DtCHz40glE+FRngn6TyySHGmUJV8CnI6iICEFFeslFtCk2JXyLxX8J/wbss0UCXyErTYl+EltP4YkOz2w9xM2gqVdvCCUra4RNNCKJNfY3IBGlDRIWXJSl8kJoe3w0Ev/DAPH8vLxL1EGYYALZg3XschH2R3MWjBhwyLLJFkm8MZzHXnDJGniF9iXsSYyJX4Pn5GXn5l+AqhDEMjGrPoaQS9GNyEB5RYtgs8bQ1DVs9xTkpT2ZyD+SWm8MQYntC6RnKEgjFOGm6Nl8AwvUXqfA+J8BObpbHdriXJzPLWMbjGM24NzYmRisIRqCNPZhpFJLHggPRhNaxOk8bEiWHx8jDND2X20fDxXjRSLSyXEO1VvDfYnRZrKRNTPwZ48bMkxkDwJGIQmCaErBl0P4C2hLofaikWzZCTdRjYYYgNCDX45ZmJUlwRKXMwL55lCIxK1PYcUvBljvgi4EsjwEoSUS0aWRswhw3qM6mQrSp+0LlBCHBPgd0MQwZBvfwCgVjTI5hdjqMzcC57ZFPMizjJaLfD0IXimTHQ1QpWmsGoewxDW1kmSrp68WHy9TMgzVLpTPJDn9DTZAuaPkf4jm08CXswMgdO45Ggflc+V4yIaeK1FELSwzvw8FQeMNPOvjuYNCMwwJxIux28fYGHzH/kYKFkZEa7yKwpjxW8jfghILzTAQNzXglnARbDW6iLAt3zLPFASMXCSuVMMOhxkKZdG7oylGvcfIWrmRVvket4XIkTxtEF+DCZRhbp8iHrg20w/H4BRCRD3gZMhGmF8IT2UqiLsM+g6CHJvoXBOzZCP5Ysg1CEz4hJ4yZ/CAmoNBjJMYlzDVHu7GBGX4LeJCaai1KmXN/SDQr5q1DHlGopwMhDpo0VspL2H4qdZH4ZCX+AgZQj5iXyZocpIuR/BGmWp9+Rqcjd8GoxAyIl7H5SLmzG0qOF9Luav2WycsmS9iEfCNYaySWyGz3CR8iw8VGJDTwIRm2bjTwElptfyXJU9FJtS+RYDYwlE/Qduv2h8SQVdGywM5STVKvgnpbsYC7D1rhE4MiwIaNobMlzvH+0BUF9M7RF+5HkzlhUjo6tPnzLKzXD5Hs1tF6PQgD4GW0Wk1cqy4ZxhDDL8Qg1rW3zS0b/APSOicUoo5xPAbs20/gk+Nnsf6o1gZs7TFwKFoZOWC9g/wAmMZRrmSqRZ8/AY1Y1GjlDmFeRoZGU6GpqLbYQSO3pCmF1N8+Rx98tF8bQ8Vn1kUe3koIFVysxFCglaY1TSi2mZG6iVEVaxSK3gO1JYPG1ZvTay8gf3CjwVeAeQmMgKWGGhoIdg+MdP5QxUmxOMFOWY/TF/QIU/qkg39GI/VZF3I7aIuEiXSHKjJiGncfKE1ELZCBp1Mw4jWPIx9JQwEQCahtrrBFTLPuJn/CGtEhtgwE2PQkORWKC8XQ0qDlNvsV4bZ+1ZEaH3tDErgS4lpfsZjdzoQ3sYb8jV8TKO/gqBvf+AN21fQfKRAeUY3K11GYPToWerLIaNOhk8SPdPTFqbewS8qGoYyxC0IjCjYc1FBqh2IgbLUJntBu5dweFCWuBjpVwSUqGE4yXHpEj3LlmIPYnIeieiNvElfd7k9ETJJRtMeza/R6os0ScrSwhtb5wVtJbMf2gGIL26JBvbMI+DSZMVAvkI9jIYTZRnBnyGpDPljHIl0nsaRJxlYFhKw4eI+b0jN+D73HxMhoXxkj1sNyMiuHeRKLS36LbwaEYvyLUFjTK0n2ZUe9CKJMHYxn2IGYqZYog1DgG+ZUJIwrpejUyQwx3oJUiIz3ZaY1B580VRdMTUbItBaM2DiMRexP8tv2JEl6GT+U4YLMN0PVfQZy3PUF3Mj58WFGyY/YqaILRvBaeBDGhaIgwIyfzENq7KV6JHoP4o3kIk9ASua+gw0NkMNGIopcCkPUdAQm8+b7QqB6Hy6HoV+OhIw8GMjZYOWNq6fw3R1/gfseJPBRuTrMabplmmEht3ZNDXsVckstGUOIzPHUKSiHfkTMzDXT8KH8jEo+BiNpqGCOn/skhh+l/o/a8RVI+BA8Mf5Qpe8D7IgRyOOfGjp0ebxDpPEE1wFMg1kxs00SoZooaHsM4+H7PkoZpe039jB9Sf0S/kzDKWDXCQp9+4Mt55xow5KqfZPd5Iqng1E+yGHhmS2J4WKEgdJklIeexVoujG/ZkWcaSP/kFF14LySQsDLYtFaaZOhJEvgXBxTHyPjMCV9ywf0hg4FNjecnaL/fIi5WZm+KnsJ+EJmx5kiFLkQOVHJ5yL0G9qkVyVqJXInI+jQRgPwciLkmOBRHSJ2T+AQuB+jxxZL9xkzPZi3P5EY4p/wBWxx2wo6uNGnhPwcYm30REWsYtjtF4F2HnkhV0jwnsQyTl7Ghp8AtV9Dgz+xgSpNnYFURq5EqJy0hDzRLIaPRScqRm6Z50iKTw30KG7+xJ5A2v8gbDMf7hdiVX9GWRCwElT0sl1+Bd2ZcmGyWDAstiGyyQ0uSomuzBbN9j2MQwRorGog3YY7HKrw4E7vFUQZaXGeyDgLheKLnYmljqSOY5Hdia7E3Z7DE8jyhRKCexqc4MFXF8hu0Qq24YvRuWTgw/4FYqHyZgYr2xYMx2PO77PkgYzScekXsAR4d+WIOGdtPkxxOxBrk/Y55bKZ5RJL3QyPkeRfCjdFhfDGJJup3PXg4vRB4NcG7+wykHS8VD4bOTqszuXofzkBaaybLrE+UhMWz5F0IMaHoVtoZz6B0Hs1IxA0Q2UvjXxfM1eKCtmkdn4HBBWPfDMU3oW9j2hu5YP2SCNsL9jrK/I03UCCgvgV5vuLzS+YYCJlCNM/50JDIujK1EVNNTMWkLT+R/g+tn0aQ2jcFofxlAwk6DE4y/YyOvKFuhkConFDOKRcql2FOfQTL+QzmE0GqTGyMUl8CNWy5HLBJL9h42a9jXvIX7CmivxAWH0TcCwhXWLVBLdtCmmm2nkqL2HBu2pCbQIxgMksQ65ImhQaR03zs0F/JkOUNw9Ffnxg20MvmUo/s4w0MZfGG6LYb8URSnMiDQn4IusRQ5qdE2h8dsPAds84ZlgyVxLgit2HHSu18Iy6QzQ2bGmAQ+MDDJEQg5MDUW5DqDROWyRrZcCMmRnxz4XyyZImp6XAook82x2oJXL8M+B9iooIQWg1gx4Z8IwqjPY0pGhScWPLEIa3S67sby5D80ijTSh9BErwxEkvsmlgJ2MYlHDGLVDRaWRnd/sRtGmn+QSJglbkYlGMiafo1E+h/npJmHLv6Igtb7MzRjhkToR7OhS4ZlVevs68OkwbSapyKjcKxOqZFEvPZZYeOEh9kItmhKax9hIuUy3GkPRtNRFB7G5zjEqYKwGwfFpntPaDN4zcvikuV0oUSxjwgN02BzCr0eisSIdyF0lxyUMXL2K3GxrGjRr4O07rodRPsXGxiau4LmomcHkQyx0Ma0vZaWqYyxLnswyuh6GzzR0Jcr5GgixsBoMnn/AH6JbqpMpsH5j81lXNUw+VwmjJdost4JMFBHY5Mrq5Ht/wDY7eSG8YUcPgbNpXE2OvoWg34wHJUWr9jxTyYQ3cim8MmbYEt1cDZhjXJnY7k8ayGvd8ZRiyQcDpC98wfxjZ0abhm1sNWzWj+ysRNnJp3Z6e2v2K2tiK5U0X1yha+XRbdro1mIJh5oQxO2T0yOxrkyNjNKQioz10UhubrHQstitMiFuA227G2czivRKQS8aG0/YjF0lJ8FIk1syZRaRnHYXYBtHH+zISVecbVoyS6pmSSGVX8C2gWAZ7MhPtEljRuLgidwJocCSrCIYbbexaGp8CUatYceqzo1npHY9DYm3QVEJ/TF7FCvTcSTqbyJBR+WceGPrJV5enRpGMsxzfgbg4nYju5pj4MAO2R+n9VFNUysMysU21kqNYgrIpca6MEE55NA+DLEqvXgtkxKoJUGF2yZnJwhvuKM7TdoyRLB6CS/ozB69H4mP1X3t849qrhDAl+Wqr0JmNJgyLCtJOGT9C7GuddZg55HYwdztjgc0BPFlW9ia8vDQ6OKImeR9LQyQ4jo26FD0JD1Bp9CZ03hZEvYr+hjJfY+6WaO3iBqKljRv4yupov6C6UGNGnIEDaz/wAoZyXaX7NpDWAOUk9DckGwLu6W6qhf0BlnwNHs8SGbfNAYmRWWKbTGRoQkYLBBchLHsuEMls6wkXgqj/uFy5GRDLct57DZwLb8i/A7FWbZ/9oADAMBAAIAAwAAABDU2+u28fVG9WUIUkisNTGPbvlTII0w0JLexrYm/sAvsGVTKCVcxcO6qx18bZ7EIOtLvmmUM9r+XApsb0zPye2xxWNleKC9WA+J+KZdUGquQutX5fYWsSUnSosbT4n5lhsM03y3Wyj2IvVmXTCWkyXmt98Zz8rtyKXMGmP40UeLeMpj3bSTeNl0RClWCS2nmwoRGubGhPQijfFsOtRKMvxZjSoOJolARsyw2zdbQZ1yueFHohFZaisbn3usXQVunWqRyojmJAv1ySlcSuZdDpByYD2Tae7+ekYkQmJvWGf6PATPbTZdzzOLyzHpd4IUL9gGk+PxX/vIP9v4js5su+3W1FqUBpevNH+6N+5Cqq3AqPOZ7WHTx14jP0GkVajugj8Vg6ABrEfoQ48hjModMCvRZuz9tTx/Z6tvDQjKQuHfsb4uiJvSf/jvflVcWwZ01xa9LcRJKYJ3iEwDweMl8kvpLUO1S9vMDADUlxkyKFQ2errVrLsigir+g+3HH8g03pe/1Smxy7nVENGfCpKb11J3yoFIIRwKp3ty8x9YmbaPt9eMADJ67vTjeI6O0j2Qf9LTN9vB9NKTmSLUf7wK8gTOmmIJZTYlW7
[...]
