{
  "swagger": "2.0",
  "info": {
    "version": "api",
    "title": "API Consulta Divida Ativa DF",
    "description": "Para informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em: http://devserpro.github.io/apis/ \n\n    \nA api `consulta-divida-ativa` viabiliza a consulta de débitos na dívida ativa da união via serviço `HTTP REST`. \n <br>\n\n## Horário de Funcionamento \n O horário de funcionamento da API Consulta Dívida Ativa pode ser consultado no site da PGFN no seguinte endereço: https://www.regularize.pgfn.gov.br/ \n<br><br>\n Fora do horário padrão a API retornará o código 403, indicando que a API está fora do horário de funcionamento. \n<br>\n ## Códigos de Retorno não Tarifados \n|  Código de retorno |  Resumido |  Explicação |\n| ------------- |:--------------------|:----------------------------------------------------------------------------- | \n |400           | Requisição inválida    | O número de inscrição informado não é válido.       |\n|&nbsp;           | &nbsp;    | &nbsp;       |\n| 403           | Api Indisponível    | Api fora do horário de funcionamento  |\n|&nbsp;           | &nbsp;    | &nbsp;       |\n| 404           | Not found    | O número de inscrição informado não foi encontrado.  |\n|&nbsp;           | &nbsp;    | &nbsp;       |\n| 500           | Erro no Servidor | Ocorreu algum erro no servidor.      | \n<br>\n ## Campo cabeçalho da requisição (X-Request-Tag)\n\n  Este campo é opcional na utilização das chamadas às APIs / Datavalid e serve como identificador de requisições. Caso uma empresa necessite, por exemplo, agrupar a quantidade de requisições realizadas por cada departamento, poderá utilizar este campo de forma a identificar no faturamento a quantidade de requisições de cada item agrupador. \n<br><br>\n O campo é de texto livre (string até 32 caracteres) e não possui validação de seu conteúdo. Cabe, portanto, ao cliente manter o controle das informações que são enviadas para esse campo de forma que o relatório de faturamento faça o agrupamento adequado. \n<br><br>\n Este atributo pode ser usado pela entidade de classe e/ou grupo econômico na modalidade global com ônus entidade para fins de identificação do associado que realiza a requisição. No caso de entidades de classe ou grupos econômicos que realizem a contratação com ônus para o associado não é necessário realizar o agrupamento pois cada associado irá possuir sua própria chave de consumo.\n<br>\n## Produção \n ### Endereço Base de Produção\n\n  https://gateway.apiserpro.serpro.gov.br/consulta-divida-ativa-df/api \n<br>\n ## Degustação \n ### Endereço Base de Degustação\n\n  https://gateway.apiserpro.serpro.gov.br/consulta-divida-ativa-df-trial/api"
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "host": "gateway.apiserpro.serpro.gov.br",
  "basePath": "/consulta-divida-ativa-df/api",
  "paths": {
    "/v1/inscricao/{numeroInscricao}": {
      "get": {
        "tags": [
          "Dívida Ativa DF"
        ],
        "summary": "Consulta dados de inscrição",
        "description": "## Exemplo\n#### Chamada\n      [GET] https://gateway.apiserpro.serpro.gov.br/consulta-divida-ativa-df/api/v1/inscricao/9061700096419\n\n#### Retorno\n      [\n        {\n          \"inscricao\": \"90 6 17 000964-19\",\n          \"processoAdministrativo\": \"46206 099222/99-01\",\n          \"situacao\": \"ATIVA NAO PRIORIZADA PARA AJUIZAMENTO\",\n          \"dataInscricao\": \"16/12/2003\",\n          \"numeroPFNResponsavel\": \"1000\",\n          \"nomePFNResponsavel\": \"PRIMEIRA REGIAO\",\n          \"numeroPFNInscricao\": \"1000\",\n          \"nomePFNInscricao\": \"PRIMEIRA REGIAO\",\n          \"numeroProcessoJudicial\": \"\",\n          \"numeroProcessoJudicialNovo\": \"\",\n          \"orgaoOrigem\": \"DRT/DF\",\n          \"codigoNaturezaReceita\": \"0002\",\n          \"nomeNaturezaReceita\": \"NAO TRIBUTARIA\",\n          \"codigoReceitaPrincipal\": \"3623\",\n          \"nomeReceita\": \"DIV.ATIVA-CLT\",\n          \"codigoSerie\": \"5\",\n          \"nomeSerie\": \"CONSOLIDACAO DAS LEIS TRABALHISTAS\",\n          \"codigoOrgaoJustica\": \"100030\",\n          \"nomeOrgaoJustica\": \"VARA DO TRABALHO - BRASILIA\",\n          \"numeroJuizo\": \"000000\",\n          \"descricaoJuizo\": \"Número da Vara Desconhecido\",\n          \"dataProtocoloJudExecucao\": \"\",\n          \"dataDistribuicaoJudicial\": \"\",\n          \"indicadorMoedaTotalInscrito\": \"R$\",\n          \"valorTotalInscritoMoeda\": \"805,06\",\n          \"valorTotalInscritoIndex\": \"756,56\",\n          \"indicadorMoedaTotalConsolidado\": \"R$\",\n          \"valorTotalConsolidadoMoeda\": \"2.403,59\",\n          \"indicadorMoedaTotalRemanescente\": \"R$\",\n          \"valorRemanescenteMoeda\": \"805,06\",\n          \"valorRemanescenteIndex\": \"756,56\",\n          \"dataDevolucaoProcesso\": \"\",\n          \"numeroAutoInfracao\": \"\",\n          \"indicadorPrescricaoSV8\": \"NAO\",\n          \"dataDecretacaoFalencia\": \"\",\n          \"dataFimProcurador\": \"\",\n          \"numeroImovelITR\": \"\",\n          \"dataExtincaoInscricao\": \"\",\n          \"motivoSuspensaoExigilidade\": \"\",\n          \"numeroRipSpu\": \"\",\n          \"indicadorAnaliseOrgaoOrigem\": \"NAO\",\n          \"motivoExtincaoInscricao\": \"\",\n          \"indicadorProtImpedAjuiz\": \"\",\n          \"numeroAgrupamento\": \"\",\n          \"numeroInscricaoOriginal\": \"00 0 00 000000-00\",\n          \"numeroInscricaoDerivada1\": \"00 0 00 000000-00\",\n          \"numeroInscricaoDerivada2\": \"00 0 00 000000-00\",\n          \"numeroInscricaoDerivada3\": \"00 0 00 000000-00\",\n          \"numeroInscricaoDerivada4\": \"00 0 00 000000-00\",\n          \"numeroInscricaoDerivada5\": \"00 0 00 000000-00\",\n          \"numeroInscricaoDerivada6\": \"00 0 00 000000-00\",\n          \"numeroInscricaoDerivada7\": \"00 0 00 000000-00\",\n          \"dcomp\": \"\",\n          \"descricaoNaoCalculado\": \"\",\n          \"codigoMunicipioSPU\": 0,\n          \"codigoSistemaOrigem\": \"M\",\n          \"descricaoSistemaOrigem\": \"Manual\"\n        }\n      ]\n<br/>      \n#### Chaves para retornos diferentes\n\n    (200) numeroInscricao: 9061700096419\n    (200) numeroInscricao: 4483300091135\n    (404) numeroInscricao: qualquer outro número            \n    ",
        "operationId": "consultaInscricao",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "numeroInscricao",
            "in": "path",
            "description": "Número de inscrição",
            "required": true,
            "type": "string",
            "pattern": "^\\d{1,13}$"
          },
          {
            "description": "Campo opcional para identificar requisições. O conteúdo é um texto livre para que o cliente possa identificar a origem da requisição, não há validação do seu conteúdo pela API. Máximo 32 caracteres",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna objeto json com o resultado da consulta"
          },
          "400": {
            "description": "Número de Inscrição inválido."
          },
          "404": {
            "description": "Inscrição não encontrada."
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v1/devedor/{numeroInscricaoDevedor}": {
      "get": {
        "tags": [
          "Dívida Ativa DF"
        ],
        "summary": "Consulta dados do devedor, seja pessoa física ou jurídica",
        "description": "\n## Exemplo\n#### Chamada\n      [GET] https://gateway.apiserpro.serpro.gov.br/consulta-divida-ativa-df/api/v1/devedor/09781911768\n\n#### Retorno\n        [\n          {\n            \"numeroInscricao\": \"10 5 03 003880-14\",\n            \"numeroProcesso\": \"10166 677771/2014-12\",\n            \"situacaoInscricao\": \"121105\",\n            \"situacaoDescricao\": \"ATIVA NAO PRIORIZADA PARA AJUIZAMENTO\",\n            \"nomeDevedor\": \"DEVEDOR DA SILVA\",\n            \"tipoDevedor\": \"PRINCIPAL\",\n            \"valorTotalConsolidadoMoeda\": \"4.457,56\",\n            \"cpfCnpj\": \"097.819.117-68\",\n            \"codigoSida\": \"1000\",\n            \"nomeUnidade\": \"PROCURADORIA REGIONAL DA FAZENDA NACIONAL DA 1A REGIAO\",\n            \"codigoComprot\": \"1101951\",\n            \"codigoUorg\": \"0005786\"\n          }\n        ]\n<br/>      \n#### Chaves para retornos diferentes\n\n    (200) numeroInscricaoDevedor: 09781911768 (CPF)\n    (200) numeroInscricaoDevedor: 01415666000181 (CNPJ)\n    (404) numeroInscricaoDevedor: qualquer outro número",
        "operationId": "consultaDevedorCPF",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "numeroInscricaoDevedor",
            "in": "path",
            "description": "Número de inscrição (CPF ou CNPJ) do devedor",
            "required": true,
            "type": "string",
            "pattern": "^\\d{11,14}$"
          },
          {
            "description": "Campo opcional para identificar requisições. O conteúdo é um texto livre para que o cliente possa identificar a origem da requisição, não há validação do seu conteúdo pela API. Máximo 32 caracteres",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna objeto json com o resultado da consulta"
          },
          "400": {
            "description": "O valor do parâmetro 'numeroInscricaoDevedor' inválido: {numeroInscricaoDevedor}"
          },
          "404": {
            "description": "Inscrição não encontrada."
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Verifica status da API",
        "responses": {
          "200": {
            "description": "Serviço disponível",
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "examples": {
              "lastUpdateAt": "2019-02-18T11:27:06-03:00"
            }
          },
          "500": {
            "description": "Serviço indisponível",
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "examples": {
              "lastUpdateAt": "2019-02-18T11:27:06-03:00"
            }
          }
        }
      }
    }
  },
  "consumes": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "definitions": {
    "Status": {
      "type": "object",
      "properties": {
        "lastUpdateAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    }
  }
}
