{
    "swagger": "2.0",
    "info": {
        "description": "O Vio Decodificador permite agilizar e automatizar o processo de autenticação de documentos compatíveis.",
        "version": "1.0",
        "title": "Vio Decodificador"
    },
    "security": [{
        "Bearer": []
    }],
    "securityDefinitions": {
        "Bearer": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },
    "host": "apigateway.serpro.gov.br/viodec",
    "tags": [{
            "name": "1 Introdução"
        },
        {
            "name": "2 Integrando com o Vio Decodificador"
        },
        {
            "name": "3 Referência da API"
        }
    ],
    "basePath": "/v1",
    "paths": {
        "O que é o Vio": {
            "head": {
                "tags": [
                    "1 Introdução"
                ],
                "summary": "O que é o Vio",
                "description": "O Vio é um sistema de certificação de autenticidade de documentos de identificação. Documentos compatíveis portam o QR Code Vio, um QR Code que replica os dados contidos no documento utilizando encriptação forte para garantir a autenticidade dos dados. Além disso QR Codes Vio são encriptados na fonte a partir de informações fornecidas pela própria entidade emissora do documento, garantindo o não-repúdio.\n\nO sistema Vio é composto por 3 partes:\n\n* API REST para criação de QR Codes Vio: API utilizada por entidades emissoras para solicitar a encriptação dos dados fornecidos e geração do QR Code Vio\n* API REST para decodificação de QR Codes Vio: Integrada a qualquer entidade que deseje decodificar e validar QR Codes Vio de forma automatizada.\n* Aplicativos Vio para Android e iOS: Disponíveis gratuitamente nas respectivas lojas online, esses aplicativos são capazes de decodificar e validar QR Codes Vio offline em situações onde a automação não seja necessária.",
                "responses": {}
            }
        },
        "O que é o serviço de decodificação": {
            "head": {
                "tags": [
                    "1 Introdução"
                ],
                "summary": "O que é o serviço de decodificação",
                "description": "O serviço de decodificação Vio Decodificador é uma API REST robusta e altamente disponível, capaz de decodificar QR Codes especiais encontrados em documentos de identificação (QR Codes Vio), atestar sua autenticidade e entregar as informações obtidas de forma estruturada. A API pode então ser integrada a qualquer sistema que deseje automatizar a verificação de autenticidade e preenchimento de formulários baseado nos dados obtidos do documento. Usos indicados dessa API incluem: Integração com sistemas de quiosque, balcões de atendimento, automação comercial e outras aplicações que se utilizem de pistolas de leitura ou captura de imagem para verificação de documentos. Além da verificação de autenticidade baseada em QR Codes, o Vio suporta, para documentos selecionados, a consulta online da situação do documento (para documentos que podem ser revogados ou renovados) e foto de alta qualidade. No momento essa funcionalidade está disponível para a Carteira Nacional de Habilitação (CNH).",
                "responses": {}
            }
        },
        "Integrando com pistolas de leitura": {
            "head": {
                "tags": [
                    "2 Integrando com o Vio Decodificador"
                ],
                "summary": "Integrando com pistolas de leitura",
                "description": "A API de decodificação precisa dos dados extraídos de QR Codes Vio sem nenhuma modificação. Pistolas que lêem códigos de barra diretamente em campos de texto ou que interpretam os dados do QR Code como texto não são compatíveis. Isso acontece porque o QR Code Vio armazena as informações em formato binário e tentar ler esses dados como texto pode resultar na leitura de diversos caracteres inválidos.\n\nEntão, para integrar a API de decodificação com pistolas de leitura é necessário utilizar o driver fornecido pelo fabricante para se comunicar com a pistola e obter os dados binários, sem modificação, lidos do QR Code Vio. Também é necessário remover qualquer metadado presente no QR Code (a especificação do QR Code usa esses metadados para conter informações de tamanho do QR Code e nível de recuperação de dados corrompidos) obtendo assim apenas os dados binários relativos ao documento contido no QR Code.\n\nDe posse desses dados basta então chamar a API de decodificação passando-os no corpo da mensagem.",
                "responses": {}
            }
        },
        "/decode": {
            "post": {
                "tags": [
                    "3 Referência da API"
                ],
                "summary": "Decodificar dados do QR Code Vio",
                "description": "Decodifica uma sequência de bytes que foi extraída de um QR Code Vio e, caso o documento lido suporte, verifica online sua situação. Se não for possível realizar essa consulta online, o resultado da decodificação é retornado normalmente, sem esse dado.",
                "operationId": "decode",
                "consumes": [
                    "application/octet-stream"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "qrCodeContent",
                        "description": "Dados lidos do QR Code Vio, expressos como uma sequência crua de bytes",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "byte"
                        }
                    },
                    {
                        "in": "query",
                        "name": "online_image",
                        "description": "Indica que além da decodificação dos bytes e verificação da situação do documento, o serviço deve retornar também a foto contida no QR Code Vio com maior qualidade, obtida diretamente da entidade emissora do documento, caso o documento suporte tal consulta. Se não for possível obter essa foto, a decodificação não será realizada e um código de erro será retornado. Caso queira utilizar esse recurso é importante atentar que esse é o único queryparam aceito pelo serviço, e seu valor deverá ser true.",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sucesso. Retorna informações do documento com status, se disponível, e foto de maior qualidade, se solicitado na requisição",
                        "schema": {
                            "$ref": "#/definitions/Documento"
                        }
                    },
                    "400": {
                        "description": "Requisição com erro, com queryparam diferente de 'online_image=true', por exemplo",
                        "schema": {
                            "$ref": "#/definitions/Documento"
                        }
                    },
                    "403": {
                        "description": "Tentativa de obter foto de maior qualidade (passou queryparam 'online_image=true' na requisição) de um documento que não suporta tal consulta",
                        "schema": {
                            "$ref": "#/definitions/Documento"
                        }
                    },
                    "422": {
                        "description": "Dados do QR Code não puderam ser processados, corpo de retorno contém o motivo",
                        "schema": {
                            "$ref": "#/definitions/Documento"
                        }
                    },
                    "502":{
                        "description": "Erro em consulta por situação do documento ou por sua foto de maior qualidade, na conexão com a entidade emissora do documento. Note que esse erro só poderá ocorrer caso o documento disponibilize tais consultas",
                        "schema": {
                            "$ref": "#/definitions/Documento"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Documento": {
            "type": "object",
            "properties": {
                "template": {
                    "$ref": "#/definitions/Modelo",
                    "required": "true"
                },
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Campo"
                    },
                    "required": "true"
                },
                "image": {
                    "$ref": "#/definitions/Imagem",
                    "required": "true"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "Modelo": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "owner": {
                     "type": "object",
                     "properties": {
                        "name": {
                            "type": "string"
                        }   
                    }
                }
            }
        },
        "Imagem": {
            "type": "object",
            "properties": {
                "base64": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "Campo": {
            "type": "object",
            "properties": {
                "label": {
                    "type": "string"
                }
            }
        }
    }
}
