{
  "host": "apimock.estaleiro.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1",
    "title": "API Consulta SIAPE",
    "description": "A API `Consulta SIAPE` é disponibilizada através de serviço `HTTP REST`. O objetivo da API Consulta SIAPE é disponibilizar os dados atuais dos servidores e pensionistas, que recebem seus pagamentos pelo SIAPE."
  },
  "basePath": "/api",
  "paths": {
    "/consulta/dados-funcionais/{cpf}": {
      "get": {
        "tags": [
          "Consultar SIAPE"
        ],
        "summary": "Consulta SIAPE",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "Apresenta os dados dos servidores ou pensionista que recebem através do SIAPE\n## CPFs para Degustação\n| Cpf  | Retorno | Observações |\n| ---------------------- | ---------------------- | :------------------------------------------------------------- |\n| 88323471800 | true |          |\n| 72033893243 | true |          |\n| 42441048520 | true |          |\n| 33391083409 | true |          |\n| 13537040334 | true |          |\n| 11297843479 | true |          |\n| 00710688300 | true |          |\n| 99632795202 | true |          |\n| 47345461777 | true |          |\n| 66429629902 | true |          |\n| 48224856410 | true |          |\n| 70763873870 | true |          |\n| 45391982626 | true |          |\n| 50836008383 | true |          |\n| 10635333090 | true |          |\n| 16779982296 | true |          |\n--------------------------        \n## Exemplo\n\n  #### Chamada\n  \n    https://apimock.estaleiro.serpro.gov.br/api/consulta/dados-funcionais/72033893243\n    \n  #### Retorno\n  \n    {\n      \"codAtivFun:\":\"{ }\",\n      \"codCargo:\":\"313014\",\n      \"codClasse:\":\"1\",\n      \"codFuncao:\":\"{ }\",\n      \"codJornada:\":\"40\",\n      \"codNovaFuncao:\":\"{ }\",\n      \"codOcorrAposentadoria:\":\"{ }\",\n      \"codOcorrExclusao:\":\"{ }\",\n      \"codOcorrIngressoOrgao:\":\"01001\",\n      \"codOcorrIngressoServPublico:\":\"{ }\",\n      \"codOcorrIsencaoIR:\":\"{ }\",\n      \"codOcorrPSS:\":\"{ }\",\n      \"codOrgao:\":\"25207\",\n      \"codPadrao:\":\"22\",\n      \"codSitFuncional:\":\"23\",\n      \"codUorgExercicio:\":\"{ }\",\n      \"codUorgLotacao:\":\"096025004\",\n      \"codUpag:\":\"23207073005009\",\n      \"codValeTransporte:\":\"{ }\",\n      \"codigoOrgaoOrigem:\":\"00000\",\n      \"cpfChefiaImediata:\":\"68715935412\",\n      \"dataExercicioNoOrgao:\":\"03082008\",\n      \"dataFimOcorrIsencaoIR:\":\"{ }\",\n      \"dataFimOcorrPSS:\":\"{ }\",\n      \"dataFimValeAR:\":\"{ }\",\n      \"dataIngressoFuncao:\":\"{ }\",\n      \"dataIngressoNovaFuncao:\":\"{ }\",\n      \"dataInicioOcorrIsencaoIR:\":\"{ }\",\n      \"dataInicioOcorrPSS:\":\"{ }\",\n      \"dataIniValeAR:\":\"{ }\",\n      \"dataOcorrAposentadoria:\":\"{ }\",\n      \"dataOcorrExclusao:\":\"{ }\",\n      \"dataOcorrIngressoOrgao:\":\"01072009\",\n      \"dataOcorrIngressoServPublico:\":\"{ }\",\n      \"emailChefiaImediata:\":\"chefe25@gmail.com\",\n      \"emailServidor:\":\"servidor@gmail.com\",\n      \"identUnica:\":\"015599321\",\n      \"matriculaSiape:\":\"01559932\",\n      \"nomeAtivFun:\":\"{ }\",\n      \"nomeCargo:\":\"Tecnico\",\n      \"nomeChefeUorg:\":\"{ }\",\n      \"nomeClasse:\":\"1.Classe/1.Cate\",\n      \"nomeFuncao:\":\"{ }\",\n      \"nomeJornada:\":\"20 horas semanais\",\n      \"nomeNovaFuncao:\":\"{ }\",\n      \"nomeOcorrAposentadoria:\":\"{ }\",\n      \"nomeOcorrExclusao:\":\"{ }\",\n      \"nomeOcorrIngressoOrgao:\":\"Admissao por Concurso Publico\",\n      \"nomeOcorrIngressoServPublico:\":\"{ }\",\n      \"nomeOcorrIsencaoIR:\":\"{ }\",\n      \"nomeOcorrPSS:\":\"{ }\",\n      \"nomeOrgao:\":\"Servico Federal de Mineracao\",\n      \"nomeRegimeJuridico:\":\"Consolidacao das Leis do Trabalho\",\n      \"nomeSitFuncional:\":\"celetista/Empregado\",\n      \"nomeUorgExercicio:\":\"{ }\",\n      \"nomeUorgLotacao:\":\"SUPXP/SSGXṔ/SSXX\",\n      \"nomeUpag:\":\"SUPXP/GPAXP/GPBXP\",\n      \"percentualTX:\":\"29,00\",\n      \"pontuacaoDesempenho:\":\"{ }\",\n      \"siglaNivelCargo:\":\"NS\",\n      \"siglaOrgao\":\"DNIXP\",\n      \"siglaOrgaoOrigem:\":\"{ }\",\n      \"siglaRegimeJuridico:\":\"CLT\",\n      \"siglaUorgExercicio:\":\"{ }\",\n      \"siglaUorgLotacao:\":\"SUPXP\",\n      \"siglaUpag:\":\"SUPXP\",\n      \"tipoValeAR:\":\"{ }\",\n      \"valorValeTransporte:\":\"{ }\"    \n    } \n\n ",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "description": "Número do CPF",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados do servidor",
            "schema": {
              "$ref": "#/definitions/ConsultaSiape"
            }
          },
          "400": {
            "description": "Para quaisquer erros do cliente."
          },
          "404": {
            "description": "Não existe BPC com o número do NIT informado."
          },
          "500": {
            "description": "Erros do backend e/ou dos servidores de dados"
          }
        }
      }
    }
  },
  "consumes": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "definitions": {
    "ConsultaSiape": {
      "type": "object",
      "properties": {
        "codAtivFun": {
          "type": "string"
        },
        "codCargo": {
          "type": "string"
        },
        "codClasse": {
          "type": "string"
        },
        "codFuncao": {
          "type": "string"
        },
        "codJornada": {
          "type": "string"
        },
        "codNovaFuncao": {
          "type": "string"
        },
        "codOcorrAposentadoria": {
          "type": "string"
        },
        "codOcorrExclusao": {
          "type": "string"
        },
        "codOcorrIngressoOrgao": {
          "type": "string"
        },
        "codOcorrIngressoServPublico": {
          "type": "string"
        },
        "codOcorrIsencaoIR": {
          "type": "string"
        },
        "codOcorrPSS": {
          "type": "string"
        },
        "codOrgao": {
          "type": "string"
        },
        "codPadrao": {
          "type": "string"
        },
        "codSitFuncional": {
          "type": "string"
        },
        "codUorgExercicio": {
          "type": "string"
        },
        "codUorgLotacao": {
          "type": "string"
        },
        "codUpag": {
          "type": "string"
        },
        "codValeTransporte": {
          "type": "string"
        },
        "codigoOrgaoOrigem": {
          "type": "string"
        },
        "cpfChefiaImediata": {
          "type": "string"
        },
        "dataExercicioNoOrgao": {
          "type": "string"
        },
        "dataFimOcorrIsencaoIR": {
          "type": "string"
        },
        "dataFimOcorrPSS": {
          "type": "string"
        },
        "dataFimValeAR": {
          "type": "string"
        },
        "dataIngressoFuncao": {
          "type": "string"
        },
        "dataIngressoNovaFuncao": {
          "type": "string"
        },
        "dataIniOcorrIsencaoIR": {
          "type": "string"
        },
        "dataIniOcorrPSS": {
          "type": "string"
        },
        "dataIniValeAR": {
          "type": "string"
        },
        "dataOcorrAposentadoria": {
          "type": "string"
        },
        "dataOcorrExclusao": {
          "type": "string"
        },
        "dataOcorrIngressoOrgao": {
          "type": "string"
        },
        "dataOcorrIngressoServPublico": {
          "type": "string"
        },
        "emailChefiaImediata": {
          "type": "string"
        },
        "emailServidor": {
          "type": "string"
        },
        "identUnica": {
          "type": "string"
        },
        "matriculaSiape": {
          "type": "string"
        },
        "nomeAtivFun": {
          "type": "string"
        },
        "nomeCargo": {
          "type": "string"
        },
        "nomeChefeUorg": {
          "type": "string"
        },
        "nomeClasse": {
          "type": "string"
        },
        "nomeFuncao": {
          "type": "string"
        },
        "nomeJornada": {
          "type": "string"
        },
        "nomeNovaFuncao": {
          "type": "string"
        },
        "nomeOcorrAposentadoria": {
          "type": "string"
        },
        "nomeOcorrExclusao": {
          "type": "string"
        },
        "nomeOcorrIngressoOrgao": {
          "type": "string"
        },
        "nomeOcorrIngressoServPublico": {
          "type": "string"
        },
        "nomeOcorrIsencaoIR": {
          "type": "string"
        },
        "nomeOcorrPSS": {
          "type": "string"
        },
        "nomeOrgao": {
          "type": "string"
        },
        "nomeRegimeJuridico": {
          "type": "string"
        },
        "nomeSitFuncional": {
          "type": "string"
        },
        "nomeUorgExercicio": {
          "type": "string"
        },
        "nomeUorgLotacao": {
          "type": "string"
        },
        "nomeUpag": {
          "type": "string"
        },
        "percentualTS": {
          "type": "string"
        },
        "pontuacaoDesempenho": {
          "type": "string"
        },
        "siglaNivelCargo": {
          "type": "string"
        },
        "siglaOrgao": {
          "type": "string"
        },
        "siglaOrgaoOrigem": {
          "type": "string"
        },
        "siglaRegimeJuridico": {
          "type": "string"
        },
        "siglaUorgExercicio": {
          "type": "string"
        },
        "siglaUorgLotacao": {
          "type": "string"
        },
        "siglaUpag": {
          "type": "string"
        },
        "tipoValeAR": {
          "type": "string"
        },
        "valorValeTransporte": {
          "type": "string"
        }
      }
    }
  }
}