{
  "host": "gateway.apiserpo.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Consulta Massiva CPF DF (consulta-cpf)",
    "description": "\nPara informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em: http://devserpro.github.io/apis/ \n\nO serviço `Consulta Massiva CPF` é disponibilizado através do `HTTP REST` oferencendo operação de consulta às informações cadastrais de Pessoas Físicas no Brasil.\n<br>\n ## Códigos de Retorno não Bilhetados \n| Código de retorno | Resumido | Explicação |\n| ------------- |:--------------------|:-----------------------------------------------------------------------------|\n| 400           | Requisição inválida | O Número de Inscrição do CPF informado não é válido. |\n| 500           | Erro no servidor    | Ocorreu algum erro interno.      |\n<br>\n## Tipos de Campos Retornados\n\n| Tipos de campos | Valor de retorno |\n| ---------------------- | :------------------------------------------------------------- |\n| NI        | Número de Inscrição no Cadastro de Pessoa Física, no formato 99999999999 |\n| Nome     | Nome da Pessoa Física  |\n| Situação | Situação Cadastral da Pessoa Física, formada por dois campos: Código e Descrição.|\n| Situação/Código | Código da Situação Cadastral da Pessoa Física |\n| Situação/Descrição | Descrição da Situação Cadastral da Pessoa Física |\n<br>\n ## Tipos de Situação Cadastral Retornados\n\n\n| Código | Descrição |\n| ---------------------- | :------------------------------------------------------------- |\n| 0 | Regular |\n| 2 | Suspensa  |\n| 3 | Titular Falecido  |\n| 4 | Pendente de Regularização |\n| 5 | Cancelada por Multiplicidade |\n| 8 | Nula |\n| 9 | Cancelada de Ofício |\n<br>\n## Solicitando assinatura com Carimbo de Tempo\n\n  Caso deseje que sua solicitação venha com uma assinatura de Carimbo de Tempo, basta incluir, no cabeçalho de sua requisição, a informação `x-signature: 1`.\n  \n  A assinatura será retornada no cabeçalho da resposta, com o nome `stamp`.\n<br>\n## Verificando assinatura com Carimbo de Tempo\n  Para verificar assinatura de carimbo de tempo, siga as instruções da documentação abaixo:\n  \n[Documentação - Verificação Carimbo de Tempo](https://rawgit.com/devserpro/apis/master/_layouts/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://rawgit.com/devserpro/apis/master/_layouts/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)\n<br>\n## Campo cabeçalho da requisição (X-Request-Tag)\n\n  Este campo é opcional na utilização das chamadas às APIs / Datavalid e serve como identificador de requisições. Caso uma empresa necessite, por exemplo, agrupar a quantidade de requisições realizadas por cada departamento, poderá utilizar este campo de forma a identificar no faturamento a quantidade de requisições de cada item agrupador. \n<br><br>\n O campo é de texto livre (string até 32 caracteres) e não possui validação de seu conteúdo. Cabe, portanto, ao cliente manter o controle das informações que são enviadas para esse campo de forma que o relatório de faturamento faça o agrupamento adequado. \n<br><br>\n Este atributo pode ser usado pela entidade de classe e/ou grupo econômico na modalidade global com ônus entidade para fins de identificação do associado que realiza a requisição. No caso de entidades de classe ou grupos econômicos que realizem a contratação com ônus para o associado não é necessário realizar o agrupamento pois cada associado irá possuir sua própria chave de consumo.\n<br>\n## Produção\n### Endereço Base de Produção\n \n    https://gateway.apiserpro.serpro.gov.br/consulta-cpf-df/v1/\n    \n## Degustação\n\n    \n\n### Endereço Base de Degustação\n\n    https://gateway.apiserpro.serpro.gov.br/consulta-cpf-df-trial/v1/\n    "
  },
  "basePath": "/consulta-cpf-df/v1",
  "paths": {
    "/cpf/{ni}": {
      "get": {
        "tags": [
          "Consulta CPF DF"
        ],
        "summary": "Consulta o CPF DF",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "Retorna os dados do Cadastro de Pessoa Física (CPF)\n### CPF's Disponíveis para Degustação\n| CPF | Situação Cadastral |\n| ---------------------- | :------------------------------------------------------------- |\n| 40442820135 | CPF Regular |\n| 63017285995 | CPF Regular |\n| 91708635203 | CPF Regular  |\n| 58136053391 | CPF Regular |    \n| 40532176871 | Suspensa |\n| 47123586964 | Suspensa |\n| 07691852312 | Pendente de Regularização |\n| 10975384600 | Pendente de Regularização |\n| 01648527949 | Cancelada por Multiplicidade |\n| 47893062592 | Cancelada por Multiplicidade |\n| 98302514705 | Nula |    \n| 18025346790 | Nula |\n| 64913872591 | Cancelada de Ofício |\n| 52389071686 | Cancelada de Ofício |\n| 05137518743 | Titular Falecido |\n| 08849979878 | Titular Falecido |\n\n --------------------------     \n\n## Exemplo\n\n  #### Chamada\n  \n    https://gateway.apiserpro.serpro.gov.br/consulta-cpf-df/v1/cpf/40442820135\n    \n  #### Retorno\n  \n    {\n      \"ni\":\"40442820135\",\n      \"nome\":\"Nome do CPF 404.428.201-35\",\n      \"situacao\":\n      {\n        \"codigo\":\"0\",\n        \"descricao\":\"Regular\"\n      }\n    }        ",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Número de inscrição no CPF",
            "name": "ni",
            "type": "string",
            "required": true,
            "in": "path"
          },
          {
            "description": "Solicitação de assinatura de carimbo de tempo. Informe 1 para assinar, ou deixe em branco para não assinar.",
            "name": "x-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Campo opcional para identificar requisições. O conteúdo é um texto livre para que o cliente possa identificar a origem da requisição, não há validação do seu conteúdo pela API. Máximo 32 caracteres.",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados da Pessoa Física",
            "headers": {
              "stamp": {
                "type": "string",
                "description": "Carimbo de Tempo"
              }
            },
            "schema": {
              "$ref": "#/definitions/CPF"
            }
          },
          "206": {
            "description": "Partial content, as informações foram retornadas, mas não completamente."
          },
          "400": {
            "description": "O número de CPF informado não é válido."
          },
          "404": {
            "description": "Não existe CPF com o número de inscrição informado."
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Verifica status da API",
        "responses": {
          "200": {
            "description": "Serviço disponível"
          },
          "500": {
            "description": "Serviço indisponível"
          }
        }
      }
    }
  },
  "consumes": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "definitions": {
    "CPF": {
      "type": "object",
      "properties": {
        "ni": {
          "type": "string",
          "description": "Ex: 99999999999"
        },
        "nome": {
          "type": "string",
          "description": "Ex: PESSOA FISICA DA SILVA"
        },
        "situacao": {
          "properties": {
            "codigo": {
              "type": "string",
              "description": "Ex: 0"
            },
            "descricao": {
              "type": "string",
              "description": "Ex: REGULAR"
            }
          }
        }
      }
    }
  }
}
