{
  "swagger": "2.0",
  "info": {
    "version": "api",
    "title": "Registra Autorização de Consignação",
    "description": "\nPara informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em: http://devserpro.github.io/apis/ \n\n    \nA api `Registra Autorização de Consignação` permite realizar o registro da autorização do servidor/pensionista para consignação da entidade financeira solicitante, por meio da tecnologia `HTTP Rest`.\n## Endereço Base de Produção\n\n  https://apigateway.serpro.gov.br/registra-autorizacao-consignacao/api\n\n## Endereço Base de Degustação\n\n  https://apigateway.serpro.gov.br/registra-autorizacao-consignacao-trial/api"
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "host": "apigateway.serpro.gov.br",
  "basePath": "/registra-autorizacao-consignacao-trial/api",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "paths": {
    "/v1/vinculo/{ni}": {
      "get": {
        "tags": [
          "v1"
        ],
        "description": "Retorna os vínculos relacionados ao CPF.\n### Exemplo\n    [GET] https://apigateway.serpro.gov.br/registra-autorizacao-consignacao-trial/v1/vinculo/11111111111\n\n<br/>\n### Retorno\n\n    [\n      {\n        \"codigoOrgao\": \"00001\",\n        \"sigaOrgao\": \"ORG\",\n        \"matricula\": \"123456789012\",\n        \"nomeServidor\": \"Servidor da Silva\",\n        \"nomeBeneficiario\":\"Beneficiario da Silva\"\n      }\n    ]\n\n<br/>   \n#### Exemplos para retornos diferentes\n\n  Use os seguintes valores para obter códigos de retorno diferentes\n\n    (200) ni: 11111111111\n    (400) ni: 1111111111\n    (404) ni: 22222222222",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ni",
            "in": "path",
            "description": "Número de inscrição no CPF.",
            "required": true,
            "type": "number"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os vínculos relacionados ao CPF.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Vinculo"
              }
            }
          },
          "400": {
            "description": "O número de inscrição informado não é válido."
          },
          "404": {
            "description": "O número de inscrição não consta na base do SIAPE."
          }
        }
      }
    },
    "/v1/autorizacao": {
      "post": {
        "tags": [
          "v1"
        ],
        "description": "Registra a autorização de consignação dada pelo servidor.\n### Exemplo\n    [POST] https://apigateway.serpro.gov.br/registra-autorizacao-consignacao-trial/v1/autorizacao\n    \n    \n    {\n      \"matricula\": \"123456789012\",\n      \"canalAutorizacao\": \"20\",\n      \"tipoConsignacao\" : 1\n    }\n    \n<br/>   \n#### Exemplos para retornos diferentes\n\n  Use os seguintes valores para obter códigos de retorno diferentes\n\n    (201) matricula: 123456789012, canalAutorizacao: 20, tipoConsignacao: 1\n    (409) matricula: 123456789012, canalAutorizacao: 25, tipoConsignacao: 1\n    (422) matricula: 123456789012, canalAutorizacao: 20, tipoConsignacao: 2\n    (500) matricula: 223456789012, canalAutorizacao: 20, tipoConsignacao: 1\n\n<br/> Em caso de sucesso, a API retornará o código 201",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vinculo",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AutorizacaoData"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Registro de autorização de consignação efetuado com sucesso."
          },
          "409": {
            "description": "Registro de autorização de consignação já existente para o servidor"
          },
          "422": {
            "description": "Erro de validação. Algum campo possui informações inválidas"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Verifica status da API",
        "responses": {
          "200": {
            "description": "Serviço disponível"
          },
          "500": {
            "description": "Serviço indisponível"
          }
        }
      }
    }
  },
  "definitions": {
    "Vinculo": {
      "type": "object",
      "properties": {
        "codigoOrgao": {
          "type": "string",
          "description": "Código do órgão"
        },
        "siglaOrgao": {
          "type": "string",
          "description": "Sigla do órgão"
        },
        "matricula": {
          "type": "string",
          "description": "Matrícula"
        },
        "nomeServidor": {
          "type": "string",
          "description": "Nome do servidor"
        },
        "nomeBeneficiario": {
          "type": "string",
          "description": "Nome do beneficiário"
        }
      }
    },
    "AutorizacaoData": {
      "type": "object",
      "properties": {
        "matricula": {
          "type": "string"
        },
        "canalAutorizacao": {
          "type": "string"
        },
        "tipoConsignacao": {
          "type": "integer"
        }
      }
    }
  }
}
